<% unless objeto.tar_tarifa.blank? %>
	<%= render partial: 'tarifas/partials/encabezado_cuantia', locals: {objeto: objeto} unless uf_del_dia.blank? %>
<!--/br-->
	<%= render partial: 'tarifas/partials/comentarios', locals: {objeto: objeto, pago: pago} unless uf_del_dia.blank? %>

	Detalle Cuantía
	<table class='table table-sm table-borderless'>
		<tbody>
			<% objeto.valores_cuantia.each do |vc| %>
				<tr>
					<td><small><%= vc.detalle %></small></td>
					<td align="right"><small><%= "#{vc.moneda == 'Pesos' ? number_to_currency(vc.valor, locale: :en, precision: 0) : number_to_currency(vc.valor, unit: 'UF', precision: 2)}" %></small></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
