<p><small>
<i class="bi bi-coin"></i> UF cálculo del día <%= dma(facturacion.fecha_uf) %> | <%= "#{facturacion.uf_calculo.blank? ? 'No encontrada' : s_pesos2(facturacion.uf_calculo)}" %>
</small>
</p>

