<p><small>
<i class="bi bi-coin"></i> UF <%= objeto.fecha_uf.blank? ? "(del día) : " : '(asignada) : ' %>

<%= "#{dma(objeto.fecha_calculo)} | #{objeto.uf_calculo.blank? ? 'No encontrada' : s_pesos2(objeto.uf_calculo)}" %>
</small></br>
Cuantía : <%= s_pesos(objeto.cuantia_pesos) %> | <%= s_uf(objeto.cuantia_uf) %>
</p>

