<p><small>
<i class="bi bi-coin"></i> UF del día <%= uf_del_dia.blank? ? 'No encontrada' :  dma(uf_del_dia.fecha) %> | <%= "#{uf_del_dia.blank? ? 'No encontrada' : s_pesos2(uf_del_dia.valor)}" %>
</small>
</p>

