<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'coin', text: 'Valores', clr: app_color[:app]} %></h5>
<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'tar_valores', a: 'index'} %>
<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: objeto, c: 'tar_valores', a: 'index', gly: 'plus-circle'} %>
