<div class='row'>
	<div class='col-lg-4'>
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :tar_detalle_cuantia_id, colection: TarDetalleCuantia.all.order(:tar_detalle_cuantia).collect { |dc| [dc.tar_detalle_cuantia, dc.id] }, display_field: 'tar_detalle_cuantia', prompt: 'Cuantía', label: 'Cuantía' } %>
	</div>
	<div class='col-lg-4'>
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :tar_formula_cuantia, label: 'Fórmula de la tarifa' } %>
	</div>
	<div class='col-lg-4'>
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :porcentaje_base, label: 'Tarifa variable ( % base )' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :tar_tarifa_id } %>
