<div class='row gx-1'>
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :lgl_tramo_empresa, label: 'Tramo de empresa' } %>
	</div>
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/number', locals: { form: form, token: :min, label: 'Mínimo' } %>
	</div>
	<div class="col-lg-3">
		<%= render partial: '0p/lbld_inpts/number', locals: { form: form, token: :max, label: 'Máximo' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :orden } %>