<div id="<%= dom_id lgl_tramo_empresa %>">
  <p>
    <strong>Lgl tramo empresa:</strong>
    <%= lgl_tramo_empresa.lgl_tramo_empresa %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= lgl_tramo_empresa.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= lgl_tramo_empresa.max %>
  </p>

</div>
