<div class="dropdown">
    <a class="btn btn-link btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <b><i class="bi bi-caret-right text-secondary"></i> <%= @tbs[@indx] %></b>
    </a>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @tbs.each_with_index do |tb, indx| %>
            <% unless indx == @indx %>
                <li style="font-size: 12px; line-height: 1.2;">
                    <a class="dropdown-item text-dark app_lnk" href="/krn_denuncias/<%=@objeto.id%>_<%=indx%>"><%=tb%></a>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>