<div class="d-flex justify-content-end">

	<%= render layout: '0p/mdl/link', locals: {cdg: 'Detalle'} do %>
		<i class="bi bi-file-earmark-text fs-4">
		</i><span style="font-size: 14px;"> Resumen</span>
	<% end %> 

	<div class="ms-1">
	</div>

</div>
