<div class="d-flex justify-content-end">

	<%= render layout: '0p/mdl/link', locals: {cdg: 'Detalle'} do %>
		<i class="bi bi-file-earmark-text fs-4"></i>
	<% end %>

	<%= render partial: '0p/tbl/lnk_new', locals: {source: 'notas', ownr: objeto, gly: 'chat-left-text', gly_clss: 'fs-4'} %>

</div>
