<div class="d-flex justify-content-end">

	<%= render layout: '0p/mdl/link', locals: {cdg: 'Detalle'} do %>
		<i class="bi bi-file-earmark-ppt fs-4"></i>
	<% end %> 

	<div class="ms-1">
	</div>

</div>
