<% muted ||= false %>
<div class="row mt-1 mx-3" style="font-size: 12px; line-height: 1.2;">
	<div class="col app_lnk">
		<% if objt.responsables.any? %>
			<i class="bi bi-caret-right"></i> 
			<% objt.responsables.each do |usr| %>
				<i class="bi bi-dot"></i> 
				<span class="mt-1 border border-secondary-subtle rounded-pill p-1">
					<%= usr.surname %>
					<% unless muted %>
						<%= render layout: '0p/tltp_lnk', locals: {lnk: "/#{cntrllr(objt)}/#{objt.id}/dssgn_usr?oid=#{usr.id}", tltp: "Elimina participante", data: {turbo_method: :post}} do %>
							<i class="bi bi-x-circle"></i>
						<% end %>
					<% end %>
				</span>
			<% end %>
		<% else %>
			<div class="text-danger"><i class="bi bi-exclamation-diamond"></i> Nota sin participantes</div>
		<% end %>
	</div>
	<div class="col text-end">
	</div>
</div>