<div id="<%= dom_id producto %>">
  <p>
    <strong>Producto:</strong>
    <%= producto.producto %>
  </p>

  <p>
    <strong>Code descripcion:</strong>
    <%= producto.code_descripcion %>
  </p>

</div>
