<p style="color: green"><%= notice %></p>

<h1>Lgl datos</h1>

<div id="lgl_datos">
  <% @lgl_datos.each do |lgl_dato| %>
    <%= render lgl_dato %>
    <p>
      <%= link_to "Show this lgl dato", lgl_dato %>
    </p>
  <% end %>
</div>

<%= link_to "New lgl dato", new_lgl_dato_path %>
