<% content_for :title, "Editing hlp nota" %>

<h1>Editing hlp nota</h1>

<%= render "form", hlp_nota: @hlp_nota %>

<br>

<div>
  <%= link_to "Show this hlp nota", @hlp_nota %> |
  <%= link_to "Back to hlp notas", hlp_notas_path %>
</div>
