<h1>Editing tipo denunciado</h1>

<%= render "form", tipo_denunciado: @tipo_denunciado %>

<br>

<div>
  <%= link_to "Show this tipo denunciado", @tipo_denunciado %> |
  <%= link_to "Back to tipo denunciados", tipo_denunciados_path %>
</div>
