<p style="color: green"><%= notice %></p>

<h1>Tipo denunciados</h1>

<div id="tipo_denunciados">
  <% @tipo_denunciados.each do |tipo_denunciado| %>
    <%= render tipo_denunciado %>
    <p>
      <%= link_to "Show this tipo denunciado", tipo_denunciado %>
    </p>
  <% end %>
</div>

<%= link_to "New tipo denunciado", new_tipo_denunciado_path %>
