<p id="notice"><%= notice %></p>

<p>
  <strong>M conciliacion:</strong>
  <%= @m_conciliacion.m_conciliacion %>
</p>

<%= link_to 'Edit', edit_m_conciliacion_path(@m_conciliacion) %> |
<%= link_to 'Back', m_conciliaciones_path %>
