<div class="bg-white mb-1 mt-1 p1 text-primary">

	<div class="text-center pb-1" style="font-size: 30px;line-height: 1.5;">
		<%= image_tag 'addt_sombra.png', style: 'height:100%;width:auto;' %></br>
		Abogados Derecho del Trabajo
		<div class="text-center" style="font-size: 16px;line-height: 1.5;">
			ASESORÍA · CAPACITACIÓN · SERVICIOS LEGALES
		</div>
	</div>

	<div class="text-center" style="font-size: 26px;line-height: 1.5;">
		<p>Asesoramos a empresas de distinto tamaño en la implementación de la ley 21.643 (Ley Karin).</p>
	</div>

	<div class="row", style="padding: 2rem;">
		<div class="col-lg-6 col-xs-12">
			<div class="text-wrap" style="margin-top: 4rem;margin-left: 2rem;font-size: 18px;line-height: 1.5;">
				<p>Nos especializamos en la implementación del <b>Procedimiento de Investigación y sanción</b>: ofrecemos asesoría en su implementación y capacitación para los investigadores y equipo de RRHH. Utilice nuestra plataforma especializada <b>LaborSafe</b> para el registro y control del Procedimiento de Investigación y Sanción.</p>
				<p>Ofrecemos soluciones escalables para empresas pequeñas, externalización de investigaciones y un modelo de recepción e investigación de denuncias, que <b>cubre todas las obligaciones adicionales que el reglamento impone a las empresas principales o usuarias</b>, entre otras funcionalidades.</p>
			</div>
			<div style="margin-left: 2rem;font-size: 14px;line-height: 1.5;font-weight: bold;">* Registre su empresa para tener acceso a una versión DEMO de nuestra plataforma LaborSafe y/o para recibir información comercial.</div>
		</div>
		<div class="col-lg-6">
			<div class="text-center">
				<%= image_tag 'email_head.png' %>
			</div>
			<div class="px-5">
				<%= render partial: 'empresas/registro' %>
			</div>
		</div>
	</div>
</div>

