<div class="wht_area mrgn_bttm_1rm mrgn_tp_1rm pddng_bx clr_prmry">

	<div class="row", style="padding: 2rem;">
		<div class="col-lg-6 col-xs-12">
			<div class="algn_cntr txt_hght pddng_bttm_1rm">
				<%= image_tag 'addt_sombra.png', style: 'height:100%;width:auto;' %></br>
				Abogados Derecho del Trabajo
				<div class="algn_cntr txt_smll">
					ASESORÍA · CAPACITACIÓN · SERVICIOS
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="pddng_bttm_1rm algn_cntr txt_hght">Ley 21.643</div>
			<div class="algn_lft txt_mdm">
				<i class="bi bi-dot"></i> Asesoría en la implementación de la ley</br>
				<i class="bi bi-dot"></i> Documentación obligatoria</br>
				<i class="bi bi-dot"></i> Capacitación en la ley 21.643</br>
				<i class="bi bi-dot"></i> Formación de investigadores</br>
				<i class="bi bi-dot"></i> <b><i>LaborSafe</i></b></br>
				<i class="bi bi-dot"></i> Externalización de investigaciones</br>
			</div>
		</div>
	</div>

</div>