<div class="bg-white mb-1 mt-1 p1 txt_hght text-primary">
	<%= image_tag 'laboralsafe.png', style: 'height:100%;width:auto;' %>
	</br>
	<div style="padding-left: 3rem;">
		Sistema de registro y control</br>
		<i>Procedimiento de Investigación y Sanción</i> · 
		Ley 21.643</br>
		<div class="txt_mdm p-1", style="padding-left: 3rem;">
			<i class="bi bi-dot"></i> Gestión <i>paso a paso</i> las tareas del procedimiento.</br>
			<i class="bi bi-dot"></i> Control de plazos legales, tareas y documentación obligatorias.</br>
			<i class="bi bi-dot"></i> Repositorio de documentos de la investigación.</br>
			<i class="bi bi-dot"></i> Tres versiones según las necesidades de su empresa.</br>
		</div>
	</div>

	<%= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>

</div>