<div class="bg-white mb-1 mt-1 p1 txt_hght text-primary">
	<div style="padding-left: 3rem;">

		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/paso_a_paso' %>
		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/rcrss' %>
		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/ntfccns' %>
		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/prncpl_usr' %>

	</div>



	<%#= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>

</div>