<div class="bg-white mb-1 mt-1 p1 txt_hght text-primary">
	<%= image_tag 'laboralsafe.png', style: 'height:100%;width:auto;' %>
	</br>
	<div style="padding-left: 3rem;">
		Sistema de registro y control</br>
		<i>Procedimiento de Investigación y Sanción</i> · 
		Ley 21.643</br>

		<div class="row my-4 gx-1" style="font-size: 18px; line-height: 1.5;">
			<div class="col">
				<div class="mt-4 px-5">
					<p><b>LaborSafe</b> conduce al usuario paso a paso en forma guiada y asistida. El usuario no necesita ser un experto pues la plataforma siempre le indicará que sigue a continuación, desplegará sólo lo que necesita ver basado en los datos ya ingresados y explicará cada una de las opciones desplegadas.</p>
					<p>En el ejemplo de la derecha, el usuario avanza haciendo click en una de las tres alternativas que se le proponen (en azul)</p>
				</div>
			</div>
			<div class="col">
				<div class="shadow">
					<%= image_tag 'ejemplo2.png', width: "600" %>
				</div>
			</div>
		</div>




	</div>



	<%= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>

</div>