<div class="wht_area mrgn_bttm_1rm mrgn_tp_1rm pddng_bx txt_hght clr_prmry">
	<%= image_tag 'laboralsafe.png', style: 'height:100%;width:auto;' %>
	</br>
	<div style="padding-left: 3rem;">
		Sistema de registro y control</br>
		<i>Procedimiento de Investigación y Sanción</i> · 
		Ley 21.643</br>
		<div class="txt_mdm pddng_bx", style="padding-left: 3rem;">
			<i class="bi bi-dot"></i> Gestión <i>paso a paso</i> las tareas del procedimiento.</br>
			<i class="bi bi-dot"></i> Control de plazos legales, tareas y documentación obligatorias.</br>
			<i class="bi bi-dot"></i> Repositorio de documentos de la investigación.</br>
			<i class="bi bi-dot"></i> Tres versiones según las necesidades de su empresa.</br>
		</div>
	</div>

	<%= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>
	<%= render partial: prtl_name('publicos', 'home/public_home', 'registro_empresa_cllps') %>

</div>