<div class="row no-gutters", style="padding: 3rem;">
	<div class="col-lg-4 col-xs-12">
		<div class="algn_cntr txt_mdm clr_prmry">
			<%= image_tag 'lsv_blue_100.png', style: 'height:100%;width:auto;' %></br>
			<b>BÁSICA</b>
		</div>
		<div class="txt_smll pddng_bx algn_jstfy clr_prmry">
			<ul>
				<li>Para empresas pequeñas</li>
				<li>Compra capacidad en la medida de sus necesidades</i>
				<li>Licencia anual incluye una investigación</li>
				<li>Manuales de uso</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="algn_cntr txt_mdm clr_prmry">
			<%= image_tag 'lsv_blue_100.png', style: 'height:100%;width:auto;' %></br>
			<b>ESTÁNDAR</b>
		</div>
		<div class="txt_smll pddng_bx algn_jstfy clr_prmry">
			<ul>
				<li>Licencia anual incluye 20 investigaciones</li>
				<li>Capacitación</i>
				<li>Manuales de uso</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="algn_cntr txt_mdm clr_prmry">
			<%= image_tag 'lsv_blue_100.png', style: 'height:100%;width:auto;' %></br>
			<b>EXTENDIDA</b>
		</div>
		<div class="txt_smll pddng_bx algn_jstfy clr_prmry">
			<ul>
				<li>Para empresas principales o usuarias</li>
				<li>Licencia anual incluye 20 investigaciones</li>
				<li>Consultoría de implementación</i>
				<li>Capacitación</i>
				<li>Manuales de uso</li>
			</ul>
		</div>
	</div>
</div>