<div id="dynamicCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <% @slides.each_with_index do |slide, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag slide.imagen.variant(resize_to_limit: [1200, 675]), 
                      class: "d-block w-100", 
                      alt: slide.nombre %>
        <div class="carousel-caption">
          <%#= render partial: '0p/mdl/bttn', locals: {cdg: 'RegistroEmpresa', txt: 'Solicitar demo', gly: 'cursor'} %>

          <button type="button" class="btn btn-primary mt-md-0 mt-3" data-bs-toggle="modal" data-bs-target="#RegistroEmpresa">
            <%= render partial: '0p/gly', locals: {gly: 'cursor'} %>
            Solicitar demo
          </button>

        </div>

      </div>
    <% end %>
  </div>
  
  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#dynamicCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#dynamicCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>