<div class="hm_prdct">
	<div class="p_lft">
		<div class="icn">
			<%= image_tag 'procedimiento.png', style: 'height:60%;width:auto;' %>
		</div>
		<div class="prdct_nt">
		</div>
	</div>
	<div class="p_rght">
		<div class="rgstr">
			<%= render partial: 'empresas/registro' %>
		</div>
	</div>
</div>
<div class="hm_prdct">
	<div class="p_lft">
		<div class="prdct_ttl">
		</br></br>
		Modelo de inmplementación</br>Procedimiento de</br> Investigación y Sanción.
		</div>
	</div>
	<div class="p_rght">
		<%= image_tag 'modelo.png', style: 'height:80%;width:auto;' %>
	</div>
</div>
<div class="hm_prdct">
	<div class="p_lft">
		<div class="icn">
			<%= image_tag 'sistema.png', style: 'height:60%;width:auto;' %>
		</div>
	</div>
	<div class="p_rght">
		<div class="prdct_ttl">
		</br>
		Sistema de seguimiento y registro del</br>Procedimiento de</br> Investigación y Sanción.
		</div>
	</div>
</div>
<%#= request.remote_ip %>
<%#= render partial: scp_prtl('0capitan', 'app/home', 'sign_in') if scp_prtl?('0capitan', 'app/home', 'sign_in') %>
