<div class="hm_prdct_head">
	<div class="hm_lft">
		<div class="hm_prdct_ttl">
			Gestión y registro del<br>
			Procedimiento de Investigación y Sanción<br>
		</div>
		<div class="hm_prdct_sttl">
			Ley 21.643 ( Ley Karin )<br>
		</div>
	</div>
	<div class="hm_rght">
		<div class="hm_rgstr">
			<%= render partial: 'empresas/registro' %>
		</div>
	</div>
</div>

<div class="hm_txt_bdy">
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
	<div class="hm_txt">
	</div>
</div>

<%#= request.remote_ip %>
<%#= render partial: scp_prtl('0capitan', 'app/home', 'sign_in') if scp_prtl?('0capitan', 'app/home', 'sign_in') %>
