<div class="homeBanner">
	<div class="f_lmn_lyt">
		<div class="lft" align='center'>
			<div class="homeBanLogo">
				addt
			</div>
		</div>
		<div class="rght">
			<div class="homeBanTxt">
				<div class="b_text">
					<h1>Prevención, Investigación y Sanción </br>del Acoso laboral, sexual o de violencia en el trabajo.</h1>
					<h2>Ley Nº 21.643, "Ley Karin"</h2>
				</div>

				<div class="b_box">
					<p>Producto 1</p>
				</div>
				<div class="b_box">
					<p>Producto 2</p>
				</div>
				<div class="b_box">
					<p>Producto 3</p>
				</div>
			</div>
		</div>
	</div>
</div>
		<%= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_simple'} %>
<div class="f_50_col">
	<div class="lft">
		<%#= render partial: '0p/home/txt', locals: {cdg: 'rsmn_ly21643'} %>
		<%= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_medio'} %>
	</div>
	<div class="rght">
		<%= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_simple'} %>
		<div class="homeQuestion">
			<div class="prgnt">
				Nuestra propuesta de trabajo
			</div>
			<div class="rspst">
				<ul>
					<li>Asesoría en la implementación de la ley. La cual consiste en una charla que revisa en profundidad los distintos aspectos de la ley y Una evaluación de los aspectos particulares de su negocio, que deban ser considerados en la asosoría.</li>
					<li>RIOHS, que incluye el protocolo y la politica de prevención adecuado a las características de la empresa.</li>
					<li>Capacitación en el procedimiento de investigación de casos.</li>
				</ul>
			</div>
		</div>
		<!--div class="homeText">
			<div class="h_txt">
				<div class="txt_ttl">
					Título					
				</div>
				<div class="txt_txt">
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
				</div>
			</div>
		</div-->
		<%#= image_tag "home_text.jpg" %>
	</div>
</div>
