
<!--<a href="https://www.freepik.es/search">Icono de VectorPortal</a-->
<%#= render partial: 'aplicacion/publicos/home/obligaciones' %>
<%#= render partial: 'aplicacion/publicos/home/productos_servicios' %>

<%#= render partial: 'aplicacion/publicos/home/documentacion' %>
<%#= render partial: 'aplicacion/publicos/home/capacitacion' %>
<%#= render partial: 'aplicacion/publicos/home/solucion' %>




		<%#= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_simple'} %>
<!--div class="f_50_col">
	<div class="lft">
		Asesoramos en la Implementación de la Ley 21.643 (Ley Karin), proporcionando a las empresas, servicios públicos e instituciones las herramientas y conocimientos necesarios para poner en funcionamiento los instrumentos de esta ley.
	</div>
	<div class="rght">
	</div>
</div-->
