<h3 class="mb-4">Estructura general de una denuncia.</h3>

<p>Hemos dividido el Procedimiento de Investigación y Sanción en cinco etapas:
	<ol>
		<li>Recepción de la Denuncia</li>
		<li>Investigación</li>
		<li>Informe de investigación</li>
		<li>Pronunciamiento de la Dirección del Trabajo</li>
		<li>Aplicación de medidas correctivas y sanciones</li>
	</ol>
</p>

<h4 class="mb-3">Recepción de la denuncia</h4>

<p><i>Recepción de la denuncia</i>: corresponde a todas las <i>tareas</i> que deben realizarse dentro del plazo de tres días hábiles desde que su empresa recibe una denuncia.</p>

<p>Este periodo inicial es clave, ya que marca el punto de partida del procedimiento formal y permite a la empresa tomar decisiones conforme al reglamento.</p>

<p>Según lo establecido en la normativa, al finalizar este plazo la empresa debe optar por una de las siguientes acciones:
	<ol>
		<li><b>Investigación interna</b>: debe informar a la Dirección del Trabajo el inicio del procedimiento de investigación.</li>
		<li><b>Investigación derivada</b>: envía la denuncia a la Dirección del Trabajo, para que sea este organismo el que asuma la investigación del caso.</li>
	</ol>
</p>

<p>Estas acciones deben ejecutarse y quedar debidamente registradas antes de que finalicen el plazo tres días hábiles con el fin de evitar observaciones posteriores.</p>

Revisión SOLANGE
<p>No todas las denuncias son recibidas por la empresa, pueden ser presentadas directamente en la Dirección del Trabajo o, si se trata de una empresa principal o usuaria, pueden haber sido presentadas en una empresa externa.</p>
<p>En cada uno de estos casos la <i>Recepción de la denuncia</i> tiene particularides que se deben conocer y resolver en el plazo de tres días hábiles.</p>
---------------------

<h4 class="mb-4">Investigación</h4>

<p>La investigación deberá concluirse en el plazo de treinta días contados desde la resentación de la denuncia o desde la fecha de recepción de la derivación por el empleador a la Dirección del Trabajo.</p>

<p>Las tareas que se deben realizar durante este período:
	<ol>
		<li><b>Designar al investigador</b>: Asignar formalmente a la persona que llevará adelante la investigación.</li>
		<li>Análisis de la denuncia: Si del análisis preliminar se concluye que la denuncia es inconsistente, es decir, presenta información incoherente o incompleta para iniciar una investigación, el investigador deberá:
			<ul>
				<li>Informar a la persona denunciante las observaciones detectadas.</li>
				<li>Otorgar un plazo razonable para que ésta pueda completar o aclarar los antecedentes requeridos.</li>
			</ul>
		</li>
		<li>Objeciones a la imparcialidad del investigador:  estas pueden ser presentadas por la persona denunciante o denunciada, el empleador decidirá fundadamente, pudiendo mantener o cambiar al investigador.</b></li>
	</ol>
</p>

 HASTA ACA!

<h4>Envío/recepción de informa de investigación</h4>

<p>Una vez terminada la investigación hay un plazo de dos días hábiles para cumplir una de las dos siguientes tareas, segun corresponda
	<ol>
		<li>Enviar el Informe de investigación con las correspondientes medidas correctivas y sanciones a la Dirección del Trabajo, si la investigación fue realizada por la empresa.</li>
		<li>Recibir el informe de investigación desde la Dirección del Trabajo si la denuncia fue investigada por dicho organismo.</li>
	</ol>
</p>

<h4>Pronunciamiento de la Dirección del Trabajo (Aplica sólo si la investigación fue realizada por la empresa.</h4>

<p>La dirección tendrá un plazo de 30 días hábiles para pronunciarse respecto al informe de investigación enviado por la empresa. Si este plazo se cumple sin recibir el pronunciamiento de la Dirección del Trabajo, se debe dar por aprobado el informe y aplicar las medidas correctivas y sanciones definidas en el informe.</p>

<h4>Aplicación de las medidas correctivas y sanciones</h4>

<p>El reglamento establece un plazo de <b>15 días corridos</b> contados a partir de:
	<ol>
		<li>La fecha de recepción del pronunciamiento de la Dirección del Trabajo, si se recibió el pronunciamiento.</li>
		<li>La fecha en la cual vence el plazo de 30 días hábiles para el pronunciamiento de la Dirección de Trabajo, si el pronunciamiento no se recibe dentro del plazo.</li>
	</ol>
</p>
<p>En este plazo, se deben aplicar todas la medidas y sanciones propuestas en el informe de investigación.</p>
<p>Se debe subir a la plataforma la evidencia (documentos que acrediten su aplicación) de la aplicación todas las medidas correctivas y sanciones contenidas en el informe de investigación.</p>