<h3 class="mb-4">Estructura general de la denuncia.</h3>

<p>Hemos dividido el Procedimiento de Investigación y Sanción en cinco etapas, cada una de ellas coincide con un plazo establecido por el reglamento que regula el procedimiento:
	<ol>
		<li>Recepción de la denuncia.</li>
		<li>Investigación.</li>
		<li>Informe de investigación.</li>
		<li>Pronunciamiento de la Dirección del Trabajo.</li>
		<li>Aplicación de medidas correctivas y sanciones.</li>
	</ol>
</p>

<h4 class="mb-3">Recepción de la denuncia</h4>

<p>El plazo para investigar una denuncia es de 30 días hábiles contados desde la fecha de su recepción. Nuestra etapa <i>Recepción de la denuncia</i> considera el conjunto de tareas que se deben realizar, según el reglamento, dentro de tres días hábiles contados también a partir de la recepción de la denuncia.</p>

<p>No son etapas consecutivas, la recepción de la denuncia ocupa los primeros días del plazo de investigación. Nuestro procedimiento las pone en forma consecutiva para velar por el cumplimiento de ambos plazos.</p>

<p>Las tareas que se deben realizar dentro de los primeros tres días hábiles son las siguientes:
	<ol>
		<li>Subir la denuncia e ingresar la información de los participantes</li>
		<li>Entregar la información obligatoria a las personas denunciantes</li>
		<li>Proporcionar atención sicológica temprana a las personas denucniantes</li>
		<li>Definir e implementar las medidas de resguardo</li>
		<li>Derivar la denuncia su corresponde o informar el inicio de la investigación a la Dirección del Trabajo.</li>
	</ol>
</p>

<p>El reglamento establece un plazo de tres días hábiles contados desde la recepción de la denuncia, tanto para la derivación de la denuncia a la Dirección del Trabajo como para informar a dicho organismo el inicio de la investigación.</p>

<p>Las denuncias pueden también ser presentadas directamente en la Dirección del Trabajo o, si se trata de una empresa principal o usuaria, pueden haber sido presentadas en una empresa externa.</p>

<p>En cada uno de estos casos la <i>Recepción de la denuncia</i> tiene particularidades que se deben conocer y resolver en el plazo de tres días hábiles, por ejemplo, la aplicación de las medidas de resguardo. Se trata entonces de una etapa que se debe controlar siempre.</p>

<h4 class="mb-4">Investigación</h4>

<p>El plazo para investigar es de treinta días contados desde la presentación de la denuncia, o desde la fecha de recepción de la derivación por el empleador a la Dirección del Trabajo (certificado emitido por la Dirección del Trabajo).</p>

<p>Las tareas que se deben realizar durante este período:
	<ol>
		<li><b>Designar al investigador a cargo de la investigación.</b></li>
		<li><b>Análisis de la denuncia</b>: Si del análisis preliminar se concluye que la denuncia es inconsistente, es decir, presenta información incoherente o incompleta para iniciar una investigación, el investigador deberá:
			<ul>
				<li>Informar a la persona denunciante las observaciones detectadas.</li>
				<li>Otorgar un plazo razonable para que ésta pueda completar o aclarar los antecedentes requeridos.</li>
			</ul>
		</li>
		<li><b>Objeciones a la imparcialidad del investigador</b>: pueden ser presentadas por la persona denunciante o denunciada. El empleador decidirá fundadamente, pudiendo mantener o cambiar al investigador.</b></li>
		<li>Agendamiento y toma de declaración a los participantes.</li>
		<li>Redactar el <i>informe de investigación</i> con sus correspondientes medidas correctivas y sanciones.</li>
	</ol>
</p>

<h4>Informe de investigación</h4>

<p>Una vez terminada la investigación hay un plazo de dos días hábiles para cumplir una de las dos siguientes tareas, según corresponda
	<ol>
		<li>Enviar el informe de investigación con las correspondientes medidas correctivas y sanciones a la Dirección del Trabajo, si la investigación fue realizada por la empresa.</li>
		<li>Recibir el informe de investigación desde la Dirección del Trabajo si la denuncia fue investigada por dicho organismo.</li>
	</ol>
</p>

<h4>Pronunciamiento de la Dirección del Trabajo</h4>
<p><b>NOTA</b>: aplica solo si la investigación fue realizada por la empresa.</p>

<p>La Dirección del Trabajo tendrá un plazo de 30 días hábiles para pronunciarse respecto al informe de investigación enviado por la empresa. Si este plazo se cumple sin recibir el pronunciamiento de la Dirección del Trabajo, se debe dar por aprobado el informe y aplicar las medidas correctivas y sanciones definidas en el informe.</p>

<h4>Aplicación de las medidas correctivas y sanciones</h4>

<p>El reglamento establece un plazo de 15 días corridos contados a partir de:
	<ol>
		<li>La fecha de recepción del pronunciamiento de la Dirección del Trabajo, si se recibió el pronunciamiento.</li>
		<li>La fecha en la cual vence el plazo de 30 días hábiles para el pronunciamiento de la Dirección de Trabajo, si el pronunciamiento no se recibe dentro del plazo.</li>
	</ol>
</p>
<p>En este plazo, se deben aplicar todas la medidas y sanciones propuestas en el informe de investigación.</p>
<p>Se debe subir a la plataforma la evidencia (documentos que acrediten su aplicación) de la aplicación todas las medidas correctivas y sanciones contenidas en el informe de investigación.</p>