<h3>Estructura general de una denuncia.</h3>

<p>Hemos dividido el Procedimiento de Investigación y Sanción en cinco etapas, cada una de ellas corresponde a un plazo establecido en el reglamento que lo regula, las etapas son las siguiente:
	<ol>
		<li>Recepción de la Denuncia</li>
		<li>Investigación</li>
		<li>Envío/recepción de informa de investigación</li>
		<li>Pronunciamiento de la Dirección del Trabajo</li>
		<li>Aplicación de las medidas correctivas y sanciones</li>
	</ol>
</p>

<h4>Recepción de la denuncia</h4>

<p>Hemos denominado <i>Recepción de la denuncia</i> a todas las tareas que se realizan en el transcurso de tres días hábiles contados a partir de la fecha de presentación de la denuncia.</p>
<p>El reglamento establece el plazo de tres días hábiles contados a partir de la fecha de recepción de la denuncia a dos acciones que puede realizar la empresa al finalizar la recepción de la denuncia:
	<ol>
		<li>Informar a la Dirección del Trabajo el inicio de la investigación, si ésta será realizada por la empresa.</li>
		<li>Derivar a la Dirección del Trabajo la denuncia recibida.</li>
	</ol>
</p>

<p>No todas las denuncias son recibidas por la empresa, pueden ser presentadas directamente en la Dirección del Trabajo o, si se trata de una empresa principal o usuaria, pueden haber sido presentadas en una empresa externa.</p>
<p>En cada uno de estos casos la <i>Recepción de la denuncia</i> tiene particularides que se deben conocer y resolver en el plazo de tres días hábiles.</p>

<p>El reglamento establece responsabilidades adicionales para la empresas principales o usuarias respecto a la recepción de denuncias. Los trabajadores de empresas externas, cuya empresa tenga la calidad de subcontratista o empresa de servicios transitorios, pueden presentar sus denuncias directamente en la empresa principal o usuaria. Incluso, si los participantes involucrados en los hechos pertenecen a más de una empresa, la denuncia debe ser investigada por la empresa principal.</p>

<p>El reglamento establece otras responsabilidades que deben resolverse al momento de recibir la denuncia.
	<ol>
		<li>Entregar a la persona denunciante la información establecida como obligatoria por el reglamento.</li>
		<li>Emitir un acta de la denuncia (si la denuncia se realiza en forma verbal), la cual debe ser firmada en todas sus hojas por la persona denunciante y timbrada por la empresa.</li>
		<li>Proporcionar Atención psicológica temprana al denunciante</li>
		<li>Definir y aplicar de inmediato medidas de resguardo</li>
	</ol>
</p>

<p>Nuestra plataforma, basada en la información que se va registrando en la denuncia, presenta en cada momento un estado detallado de los distintos aspectos de la denuncia, y presenta las opciones disponbles para avanzar en su gestión.</b></p>

<h4>Investigación</h4>

<p>La investigación de la denuncia es realizada por el <b>investigador</b> asignado, el cual puede pertenecer a la empresa (o representarla, si se externalizó la investigación), la Dirección del Trabajo o una empresa externa.</p>

<p>El plazo para realizar la investigación es generalmente de 30 días hábiles contados a partir de la fecha de recepción de la denuncia. La única excepción a esta regla, ocurre cuando la denuncia es derivada a la Dirección del Trabajo. En este caso, la Dirección del Trabajo emitirá un certificado que contendrá la fecha de recepción de la derivación, fecha a partir de la cual, se deben contar los 30 días hábiles de plazo para realizar la investigación.</p>

<p>Las tareas que se deben realizar durante estos 30 días hábiles son las siguientes
	<ol>
		<li>Definir el investigador asignado a la denuncia.</li>
		<li>Evaluar la denuncia buscando inconsistencia y verificando que está completa. De no ser satisfactoria la evaluación se debe devolver la denuncia a la persona denunciante con las observaciones correspondientes y fijar el plazo que debe cumplir para entregar la denuncia corregida.</li>
		<li>Recibir y procesar eventuales <b>objeciones a la imparcialidad del investigador presentadas por alguna de las personas denunciantes/denunciadas.</b></li>
		<li>Agendar y citar a cada uno de los participantes a su respectiva declaración.</li>
		<li>Tomar declaración a todos los participantes.</li>
		<li>Redactar, cumpliendo los estándares fijados por el reglamento, el Informe de investigación con sus respectivas medidas correctivas y sanciones (si corresponde).</li>
	</ol>
</p>

<h4>Envío/recepción de informa de investigación</h4>

<p>Una vez terminada la investigación hay un plazo de dos días hábiles para cumplir una de las dos siguientes tareas, segun corresponda
	<ol>
		<li>Enviar el Informe de investigación con las correspondientes medidas correctivas y sanciones a la Dirección del Trabajo, si la investigación fue realizada por la empresa.</li>
		<li>Recibir el informe de investigación desde la Dirección del Trabajo si la denuncia fue investigada por dicho organismo.</li>
	</ol>
</p>

<h4>Pronunciamiento de la Dirección del Trabajo (Aplica sólo si la investigación fue realizada por la empresa.</h4>

<p>La dirección tendrá un plazo de 30 días hábiles para pronunciarse respecto al informe de investigación enviado por la empresa. Si este plazo se cumple sin recibir el pronunciamiento de la Dirección del Trabajo, se debe dar por aprobado el informe y aplicar las medidas correctivas y sanciones definidas en el informe.</p>

<h4>Aplicación de las medidas correctivas y sanciones</h4>

<p>El reglamento establece un plazo de <b>15 días corridos</b> contados a partir de:
	<ol>
		<li>La fecha de recepción del pronunciamiento de la Dirección del Trabajo, si se recibió el pronunciamiento.</li>
		<li>La fecha en la cual vence el plazo de 30 días hábiles para el pronunciamiento de la Dirección de Trabajo, si el pronunciamiento no se recibe dentro del plazo.</li>
	</ol>
</p>
<p>En este plazo, se deben aplicar todas la medidas y sanciones propuestas en el informe de investigación.</p>
<p>Se debe subir a la plataforma la evidencia (documentos que acrediten su aplicación) de la aplicación todas las medidas correctivas y sanciones contenidas en el informe de investigación.</p>