<h3>Procedimiento de Investigación y Sanción</h3>
<h4>Guía para los participantes</h4>

<h5>¿Donde presentar su denuncia?</h5>
<p>Todas la empresas deberán informar semestralmente a sus trabajadores los <i>Canales de denuncia existentes</i> para presentar sus denuncias de acoso laboral, sexual y violencia en el trabajo ejercida por terceros.</p>
<p>La persona trabajadora podrá elegir como canal de denuncia entre las siguientes opciones:
	<ol>
		<li>Denunciar directamente en su empresa, según las indiciaciones proporcionadas por la empresa semestralmente.</li>
		<li>Denunciar directamente en la Dirección del Trabajo.</li>
		<li>Denunciar en la empresa principal o usuaria, si su empleados tiene la calidad de empresa contratista o EST de dicha empresa.</li>
	</ol>
</p>

<p><b>NOTA</b>: Si la persona denunciante desea que se la Dirección del Trabajo la institución a cargo de la investigación, no es necesario presentar la denuncia en la Dirección del Trabajo. Basta con presentar la denuncia en su empresa y manifestar su deseo de que la denuncia sea derivada a la Dirección del Trabajo.</p>

<h5>¿Quien debe presentar la denuncia?</h5>

<p>La denuncia debe ser presentada por la persona denunciante o por un representante que ella designe, el que deberá presentarse o adjuntar un poder simple que lo hbilite para tal representación.</p>
<p>Los sindicatos pueden representar a una o varias personas trabajadoras al momento de presentar una denuncia, pero no están eximidos de presentar el o los poderes que lo habiliten para su representación.</p>

<h5>¿Que información debo presentar/adjuntar a mi denuncia?</h5>

<p>Respecto a los participantes de la denuncia: parsonas denunciantes, personas denunciadas y testigos, de deben presentar los siguientes datos:
	<ol>
		<li><b>Cédula de identidad</b>, puede omitirse en el caso de las personas denunciadas.</li>
		<li><b>Nombre completo</b>, puede no estar completo en el caso de las personas denunciadas.</li>
		<li><b>Cargo</b>, puede omitirse en el caso de las personas denunciadas.</li>
		<li><b>Email personal</b>, pude omitirse en el caso de las personas denunciadas.</li>
		<li><b>Aplica el articulo 4 inciso primero del Código del Trabajo</b>, si aplica al participante.</li>
		<li><b>Aplica el artículo 516 del Código del Trabajo</b>, si aplica al participante.</li>
		<li><b>Dirección para envío de las notificaciones</b>, si aplica el artículo 516 al participante.</li>
		<li><b>Relación laboral</b>, aplica para las poersonas denunciadas.</li>
		<li><b>RUT y Razón Social de su empleador</b>, si su empleador es una epresa externa, ya sea un subcontratista o un EST.</li>
	</ol>
</p>

<p>Si tienen antecedentes que consten en documentos o archivos de algún deben ser presentados/adjuntados al momento de presentar la denuncia.</p>

<p>La denuncia puede ser presentada en forma verbal o escrita. Si se presenta por escrito debera contener los datos antes detallados y una completa relación de los hechos que se denuncian.</p>
<p>Si la denuncia es presentada verbalmente, la persona encargada de recibirla levantará un acta con toda la información porporcionada por la persona denunciante. Dicha acta se imprimira en dos copias, la cuales deberán ser firmadas por la persona denunciante en todas sus hojas y serán timbradas por la empresa que recibe la denuncia. Una de esas copias es para la empresa y la otra para la persona denunciante.</p>

<h5>¿Cuáles son los derechos de los participantes en el Procedimiento de Investigación y Sanción?</h5>

<p>Los derechos y deberes de todos los participantes y de las instituciones que participan en el Procedimiento de Investigación y Sanción están establecidos en su reglamento. Puede ver el detalle de todos ellos en el siguiente link:
<%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'drchs_rspnsbldds', dscrpcn: 'Derechos y responsabilidades de los participantes', tltp: 'Derechos y responsabilidades de los participantes'} %></p>

<h5>Atención Sicológica Temprana</h5>

<p>Una vez terminado el ingreso de la denuncia, se le deberá proporcionar Atención Sicológica Temprana a la o las personas denunciantes. Atención que será coordinada por la empresa que recibe la denuncia o por la Dirección de Trabajo.</p>

<h5>Medidas de Resguardo</h5>

<p>Con el objetivo de resguardar los derechos de los participantes, la empresa que recibe la denuncia definirá y adoptará todas las medidas de resguardo necesarias para garantizar dicho objetivo.</p>
<p>La Dirección del Trabajo podrá, corregir o complementar dichas medidas si estima necesario para garantizar el objetivo de las medidas.</p>
<p>Si las medidas adoptadas no fueran suficientes, la empresa deberá adoptar medidas complementarias que permitan subsanar dicha insuficiencia.</p>
<p>Todos los participantes tienen la obligación de acatar y cumplis las medidas de resguardo adoptadas.</p>
<p>Es obligación notificar por escrito a todos los participantes, la recepción de la denuncia y las medidas de resguardo.</p>

<h5>Derivaciones de la denuncia</h5>

<p>La denuncia podrá ser derivada a la Dirección del Trabajo u otra empresa en los siguientes casos:
	<ol>
		<li><b>Para alguno de los participantes aplica el Artículo 4 inciso primero del Código del Trabajo</b>: Esto es si alguno de los participantes tiene un cargo gerencial. En dicho caso el reglamento establece la obligatoriedad de derivar la denuncia a la Dirección del Trabajo.</li>
		<li><b>La persona denunciante manifiesta su deseo de que la denuncia sea derivada a la Dirección del Trabajo o a su epleador, si este último es una empresa externa.</b></li>
		<li>Si la empresa resuelve derivarla a la Dirección del Trabajo a pesar de que la persona denunciante manifestó su deseo de que fuera la empresa la encargada de la investigación.</li>
	</ol>
</p>

<p>En cualquiera de los casos, si la denuncia es derivada, el hecho debe ser informado por escrito a los participantes.</p>
<p>La derivación de la denuncia a la Dirección del Trabajo debe ser realizada en un plazo que no exceda los 3 días hábiles (no se cuentan sábados domingos y festivos) a contar de la presentación de la denuncia.</p>

<h5>Investigación realizada por la empresa</h5>

<p>Si la empresa decide investigar la denuncia, deberá informar a los participantes y a la Dirección del Trabajo su decición</p>
<p>El plazo para informar a la Dirección del Trabajo no debe exceder de tres días hábiles contados desde la fecha de presentación de la denuncia.</p>

<h5>¿Si la denuncia es enviada por correo electrónico durante un fin de semana, a partir de que día se calculan los plazos?</h5>

<p>En ese caso se considera como fecha de recepción de la denuncia el día hábil siguiente.</p>

<h5>¿Quien investigará la denuncia?</h5>

<p>Si la denuncia es investigada por la empresa, dicha tarea no puede ser realizada por cualquier empleado de la empresa. El reglamento dice:</p>

<p><i>"El empleador deberá designar preferentemente a una persona trabajadora que cuente con formación en materias de acoso,
género o derechos fundamentales para llevar adelante la investigación, lo que deberá ser informado por escrito a la persona denunciante."</i></p>

<p>Si la empresa no cuenta con una persona que cumpla dicho perfil deberá, derivar la denuncia a la Dirección del Trabajo o externalizar su investigación.</p>

<p>Una vez asignado el investigador, esto debe ser informado por escrito a todos los participantes.</p>

<h5>¿Es posible objetar al investigador asignado?</h5>

<p>El reglamento establece que los participantes podrán objetar el investigador asignado a la denuncia siempre y cuando dicha objeción sea relativa a su objetividad y que se cuente con antecedentes que funden la objeción, los que deben ser entregados.</p>
<p>La objeción que cumpla con estos requisitos será evaluada por la empresa, la que informará por escrito su resolución a todos los participantes.</p>
<p>Si la objeción es acogida por la empresa, el investigador deberá ser eemplazado por otro investigador. Si no es acogida el investigador asignado continuará con la investigación.</p>

<h5>¿Una denuncia puede ser declarada inadmisible por la empresa?</h5>

<p>No, el reglamento establece que todas las denuncias deben ser admitidas, más aún, la empresa deba prestar asistencia ala persona denunciante para que su denuncia esté completa y no presente inconsistencias.</p>

<p>El investigador deberá como primera tarea <i>evaluar la denuncia</i>. Dicha evaluación tiene como objetivo encontrar incosistencias y verificar de que está completa.</p>
<p>Si el investigador detecta alguno de estos problemas en la denuncia, se la devolverá a la persona denunciante con las observaciones pertinentes y le dará un plazo para que entregue una denuncia corregida.</p>

<h5>¿Cual es el plazo para realizar la investigación?</h5>

<p>El plazo para investigar la denuncia es de 30 días hábiles contados desde la fecha de presentación de la denuncia o, en el caso de la denuncia haya sido derivada a la Dirección del Trabajo, contados desde la fecha del cetificado en el que la Dirección acusa recibo de la derivación.</p>

<p>Este plazo no sufre mmodificaciones por la objeción del investigador asignado ni por la corrección de una denuncia cuya revisión no fue satisfactoria.</p>

<p>Una vez concluido el plazo de 30 días hábiles para investigar, hay un plazo de 2 días hábiles para enviar el informe de la investigación con sus medidas correctivas y sanciones a la Dirección del Trabajo. Si la investigación fue realizada por la Dirección del Trabajo, esta institución tiene el mismo plazo de 2 días hábiles para enviar su informe a la empresa.</p>

<h5>¿Las medidas correctivas y sanciones establecidas por la empresa cuando investiga una denuncia son definitivas?</h5>

<p>Si la investigación fue realiada por la empresa, la dirección cuenta con 30 días hábiles para hacer un pronunciamiento respecto del informe, sus medidas correctivas y sanciones. Si el plazo de 30 días se cumple sin recibir el pronunciamiento, se dará por aprobado el informe y se deberán aplicar sus medidas y sanciones, las que serán informadas en ese momento a los participantes.</p>
<p>Si algún participante no está conforme con las medidas y sanciones establecidas en el informe aprobado por la Dirección del Trabajo, podrá acudir a los tribunales del trabajo.</p>

<h5>¿Cuál es el plazo para la implementación de las medidas correctivas y sanciones?</h5>

<p>La empresa tiene un plazo de 30 días corridos (esta vez no son hábiles) una vez aprobado el informe de la investigación con sus medidas correctivas y sanciones para implementarlas.</p>