<h3>Empresas principales o usuarias</h3>

<p>El reglamento que regula el Procedimiento de Investigación y Sanción establece responsabilidades adicionales a las empresas principales o usuarias</p>

<ol>
	<li>La empresa principal o usuaria tiene la obligación de recibir denuncias presentadas por personas trabajadoras cuyo empleador sea una empresa contratista o EST.</li>
	<li>Si los involucrados en los hechos pertenecen a más de una empresa, la denuncia debe ser investigada por la empresa principla u usuaria.</li>
</ol>

<p>La implementación de estas adecuaciones puede parecer sencillo, pero tiene un efecto en prácticamente todas las tareas del Procedimiento de Investigación y Sanción. Revisemos las más evidentes:</p>

<h4>Recepción de denuncias</h4>

<p>En la primera tarea de la recepción el registro de la denuncia ya aparecen las primeras adecuaciones necesarias:
	<ol>
		<li>Los datos entregados por la persona denunciante pueden estar incompletos, el reglamento autoriza que así sea, pues no se le puede exigir a la persona denunciante que conozca el número de cédula de identidad de la persona denunciada, o su correo personal. Cuando se trata de un empleado propio, el érea de recursos humanos tiene la mayoría de los datos requeridos y lo faltante lo puede obtener, por ejemplo, al momento de notificar la denuncia a los participantes. La verificación y obtención de datos de los empleados de una empresa externa aparece como una primera preocupación.</li>
		<li>De la mano del punto anterior, al momento de informar a la empresa externa de la denuncia, ¿que medidas de protección de la confidencialidad del proceso debo tomar?</li>
		<li>Dado que, la responsabilidad de investigar una denuncia en la que están involucrados empleados de distintas empresas corresponde a la empresa principal o usuaria, no debemos descartar que una denuncia de estas características sea presentada por error a una empresa extetrna, por ser ésta el empleador de la persona denunciante.</li>
	</ol>
</p>

<p>Nuestra segunda preocupación, probablemente sea proporcionar <b>Atención sicológica temprana</b> a la persona denunciante. Pero treatándose de una persona cuyo empleador es una empresa externa, no podremos emitir el DIAT/DIEP que le permitirá acceder a la prestación, pues debería ser su empresa la que emitiera dicho documento.</p>
<p>En este punto, afortunadamente, la persona denunciante podrá acudir directamente a la atención de urgencias de la institución que corresponde a su empleador. Aún así, será complejo obtener la documentación que respalde adecuadamente la atención.</p>


<p>Una vez resuelto el punto anterior, seguramente nos preocuparemos de <b>evaluar posibles derivaciones de la denuncia</b>:
	<ol>
		<li>Verificar que la denuncia no deba ser obliagtoriamente derivada a la Dirección del Trabajo.</li>
		<li>Informar a la persona denunciante su derecho a decidir la derivación de la denuncia:
			<ol>
				<li>Si la denuncia debe, según el reglamento, ser investigada por la empresa externa, sus opciones son: derivar la denuncia a su empleador o derivarla a la Dirección del Trabajo.</li>
				<li>Si según el reglamento, la denuncia debe ser investigada por la empresa principal, sus opciones son: derivar la denuncia a la Dirección del Trabajo o solicitar que la denuncia sea investigada por la empresa principal o usuaria.</li>
			</ol>
		</li>
		<li>Si la persona denunciante optó por que la empresa principal o usuaria realizara la investigación informarle, que la empresa tiene el derecho a derivar la denuncia a la Dirección del Trabajo dentro del plazo de tres días hábiles. Decición que, de ser tomada, se le será informada por escrito.</li>
		<li>Si la denuncia no ha sido derivada a la Dirección del Trabajo por la persona denunciante, decidir si se derivará o no y notifificara los participantes la decisión adoptada.</li>
	</ol>
</p>

<p>Finalmente, se deberá definir y aplicar <i>inmediatamente</i> <b>Medidas de resguardo</b> aplicables a todos los participantes de la denuncia para garantizar todos los estándares que establece el reglamento para protección de todos los participantes.</p>

<p>Tratándose de medidas que afectan a personas trabajadoras pertenecientes a empresas externas, medidas como <i>Permisos sin goce de sueldo o el alejamiento físico de denunciantes y denunciados,</i> requerirán de una coordinación mínima con la empresa externa, incluso con una previa evaluación de factibilidad.</p>

<h4>Investigación</h4>

