<h3>Empresas principales o usuarias</h3>

<p>El reglamento que regula el Procedimiento de Investigación y Sanción establece responsabilidades adicionales a las empresas principales o usuarias</p>

<ol>
	<li>La empresa principal o usuaria tiene la obligación de recibir denuncias presentadas por personas trabajadoras cuyo empleador sea una empresa contratista o EST.</li>
	<li>Si los involucrados en los hechos pertenecen a más de una empresa, la denuncia debe ser investigada por la empresa principla o usuaria.</li>
</ol>

<p>La implementación de estas adecuaciones tienen un efecto práctico todas las tareas del Procedimiento de Investigación y Sanción. Revisemos las más evidentes:</p>

<h4>Recepción de denuncias</h4>

<p>Al momento de registrar la denuncia aparecen las primeras adecuaciones necesarias al procedimiento:
	<ol>
		<li>Los datos de la persona denunciada que la persona denunciante entrega al momento de denunciar pueden estar incompletos y el reglamento autoriza que así sea. La persona denunciante probablemente no conozca el número de cédula de identidad de la persona denunciada, su cargo o su correo personal. El área de recursos humanos será la encargada de revisar y completar los datos requeridos. Tratándose de una persona dependiente de otro empleador, será necesario obtener la información de dicho empleador velando en dicho trámite todos los derechos de la persona denunciante.</li>
		<li>No sólo la empresa principal o usuaria puede recibir denuncias de una empresa externa. Una empresa externa podría recibir una denuncia de uno de sus empleados y en el proceso de recepción verificar de que es la empresa principal o usuaria la que debe investigar la denuncia. Ya sea se le indique a la persona denunciante que debe dirigirse a la empresa principal o usuaria, o si la empresa externa recibe y luego deriva la denuncia a la empresa principal, debe existir la coordinación entre las empresas para garantizar el cumplimiento de los plazos establecidos.</li>
	</ol>
</p>

<p>Una vez resuelto el ingreso de los datos de la denuncia, nos preocuparemos de <b>evaluar posibles derivaciones de la denuncia</b>:
	<ol>
		<li>Verificar que la denuncia no deba ser obliagtoriamente derivada a la Dirección del Trabajo.</li>
		<li>Informar a la persona denunciante su derecho a decidir la derivación de la denuncia:
			<ol>
				<li>Si la denuncia debe, según el reglamento, ser investigada por la empresa externa, la persona denunciante deberá decidir entre derivar la denuncia a su empleador o derivarla a la Dirección del Trabajo.</li>
				<li>Si en cambio, el reglamento establece que la denuncia debe ser investigada por la empresa principal, la persona denunciante deberá decidir entre derivar la denuncia a la Dirección del Trabajo o solicitar que la denuncia sea investigada por la empresa principal o usuaria.</li>
			</ol>
		</li>
		<li>Si la persona denunciante optó por que la empresa principal o usuaria realizara la investigación, se le debe informar que la empresa tiene el derecho a derivar la denuncia a la Dirección del Trabajo dentro del plazo de tres días hábiles. Decición que, de ser tomada, se le será informada por escrito.</li>
		<li>Si la persona denunciante optó por que la empresa principal o usuaria investigue la denuncia, decidir si se derivará o no a la Dirección del Trabajo y notifificar a los participantes la decisión adoptada.</li>
	</ol>
</p>

<p>Si la denuncia fue presentada presencialmente, en este punto termina la entrevista y a continuación se debe gestionar la entrega de la <b>Atención sicológica temprana</b>.</p>

<p>Tratándose de una persona cuyo empleador es una empresa externa, no podremos emitir el DIAT/DIEP que le permitirá acceder a la prestación, pues debería ser su empresa la que emitiera dicho documento.</p>
<p>Le pediremos entonces, que acuda directamente a la atención de urgencias de la institución que corresponde a su empleador y solicite la atención requerida. La información de respaldo de dicha atención será enviada a su empleador, sólo una adecuada coordinación con la empresa externa nos permitirá acceder al documento de respaldo respectivo.</p>

<p>Finalmente, se deberá definir y aplicar <i>inmediatamente</i> <b>Medidas de resguardo</b> para garantizar todos derechos que establece el reglamento para protección de todos los participantes.</p>

<p>Tratándose de medidas que afectan a personas trabajadoras pertenecientes a empresas externas, medidas como <i>Permisos sin goce de sueldo, el alejamiento físico de denunciantes y denunciados o cualquier medida que requiera contar con una persona de respaldo para las tareas del participante,</i> requerirán de una coordinación mínima con la empresa externa y eventualmente. con una evaluación de su factibilidad.</p>

<h4>Investigación</h4>

<p>En esta etapa, obviamente se requiere una coordinación básica con la empresa externa para garantizar la asistencia de los participantes a las declaraciones, probablemente coordinar con anticipación la fecha de declaración.</p>

<p>Una vez concluidas las declaraciones, el investigador deberá redactar el informe de investigación, el cual contiene las medidas correctivas y sanciones. Para ello, el reglamento exige tener a la vista un conjunto de documentación: contratos y anexos de trabajo, reglamento interno con su respectivo protocolo de prevención, mediciones de presencia de factores de riesgo psicosociales, entre otros. Tratándose de una denuncia en la cual hay participantes de distintas empresas, deberemos obtener el mismo set de documentos de cada una de las empresas involucradas.</p>

<p>Este punto aporta mucha complejidad al proceso de redacción: dos personas pueden ser sancionadas por un mismo hecho acreditado y sin embargo recibir distinta sanción, por ejemplo.</p>

<h4>Aplicación de las medidas correctivas y sanciones</h4>

<p>En este punto la complejidad obvia, es la aplicación de medidas correctivas y sanciones en distintas empresas y obtener los respaldos correspondientes de la aplicación de todas ellas.</p>