<h3>Registro de empresa</h3>

<p>Al registrar su empresa en nuestra plataforma podra:</p>

<ol>
	<li>Contactar nuestro equipo comercial.</li>
	<li>Acceder a información detallada de nuestros productos.</li>
	<li>Obtener una licencia DEMO de nuestra aplicación <b>LaborSafe</b> o acceder a su cuenta si ya cuenta con una licencia de producto.</li>
</ol>

<h4>Paso 1: Formulario de registro</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/rgstr_emprs_1.png', width: "800" %>
</div>

<p>Llenar y enviar el formulario de Registro de empresa disponible en el home de la plataforma.</p>
<p>La mayoría de los campos solicitados no requieren explicación, salvo el campo <b>Empresa principal o usuaria</b>.</p>

<h5>Empresa principal o usuaria.</h5>

<p>El artículo 24 del reglamento que regula el Procedimiento de Investigación y Sanción de la ley 21.643, establece responsabilidades adicionales para empresas principales o usuarias.</p>
<p>El artículo citado establece lo siguiente:</p>

<ol>
	<li>La empresa principal o usuaria debe recibir denucias presentadas por personas trabajadoras dependiente de otro empleador, ya sea éste un contratista o una empresa de servicios transitorios.</li>
	<li>Cuando los involucrados en los hechos pertenezcan a la misma empresa, la denuncia debe ser derivada al empleador de la persona trabajadora o a la Dirección del Trabajo, según determine la persona denunciante.</li>
	<li>Si los involucrados en los hechos pertenecen a mas de una empresa, la denuncia debe ser investigada por la empresa principal o usuaria, a menos que, la persona denunciante manifieste su deseo de que sea derivada a la Dirección del Trabajo o empresa principal o usuaria tome la decisión de derivarla a esta institución.</li>
</ol>

<p>Estas responsabilidades adicionales, si bien parecen afectar solo un aspecto específico de la recepción de denuncias y el criterio que asigna la responsabilidad de investigar cuando más de una empresa esta involucrada, en la práctica afectan de manera significativa todo Procedimiento de Investigación y Sanción. Por ello, <b>LaborSafe</b> cuenta con dos versiones: nuestra versión estándar, para empresa que no cumplen el rol de empresa principal o usuaria, y una versión extendida, que incorpora todo el manejo que requiere este tipo de empresas.</p>

<p><b>Si su empresa requiere evaluar la versión extendida (para empresas principales o usuarias) marque la opción <b>Empresa principal o usuaria</b> en el formulario de registro.</b></p>

<h4>Paso 2: Verificación del correo electrónico de administrador.</h4>

<p>Una vez haya registrado la empresa, la plataforma enviará un email con un link, que le permitirá <b>verificar que el correo electrónico del administrador registrado en el formulario esté operativo</b>.</p>

<p>Una vez realizada esta verificación, su empresa estará registrada en nuestra plataforma. Si usted marcó la opción <b>Solicito información comercial</b>, la recibirá automáticamente en el la dirección de correo registrada. Si desea acceder a nuestra plataforma <b>LaborSafe</b>, debe completar un último paso: <b>Registrar el usuario administrador</b>.</p>

<h4>Paso 3: Registrar el usuario administrador.</h4>

<p>Finalmente, debemos registrar el primer usuario de nuestra empresa: el usuario administrador.</p>
<p><b>Importante</b>: Sólo el correo electrónico del administrador, registrado en el formulario de registro de la empresa, puede ser usado para registrar al primer usuario de la empresa.</p>

<p>Para acceder al formulario de <b>Registro de Usuario</b>, debe presionar el link <b>Registro</b> que encontrará en la esquina superior derecha del home de la plataforma.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/rgstr_emprs_2.png', width: "400" %>
</div>

<p>En el formulario se le solicitará ingresar un correo electrónico y una contraseña que deberá verificar en el campo <b>Confirmación de password</b>.</p>

<p>El correo electrónico y la contraseña elegida le permitirán ingresar a su cuenta. Para acceder al formulario de ingreso presione el link <b>Ingreso</b> que encontrará en la esquina superior del home de la plataforma.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/rgstr_emprs_2.png', width: "400" %>
</div>
