<h3>Registro de empresa</h3>

<p>Al registrar su empresa en nuestra plataforma podra:</p>

<ol>
	<li>Contactar nuestro equipo comercial.</li>
	<li>Obtener información detallada de nuestros productos.</li>
	<li>Obtener una licencia DEMO de nuestra aplicación <b>LaborSafe</b>.</li>
</ol>

<h4>Paso 1: Formulario de registro</h4>

<p>Llenar y enviar el formulario de Registro de empresa disponible en el home de la plataforma.</p>
<p>La mayoría de los campos solicitados no requieren explicación, salvo el campo <b>Empresa principal o usuaria</b>.</p>

<h5>Empresa principal o usuaria.</h5>

<p>El artículo 24 del reglamento que regula en Procedimiento de Investigación y Sanción de la ley 21.643, establece responsabilidades adicionales para empresas principales o usuarias, en relacion con las personas trabajadoras pertenecientes a empresas contratistas o EST.</p>
<p>El artículo establece lo siguiente:</p>

<ol>
	<li>La empresa principal o usuaria debe recibir denucias presentadas por personas trabajadoras dependiente de otro empleador, ya sea que un contratista o una empresa de servicios transitorios.</li>
	<li>Cuando los involucrados en los hechos pertenezcan a la misma empresa, la denuncia debe ser derivada al empleador de la persona trabajadora o a la Dirección del Trabajo, según determine la persona denunciante.</li>
	<li>Si los involucrados en los hechos pertenecen a mas de una empresa, la denuncia debe ser investigada por la empresa principal o usuaria, a menos que la persona denunciante manifieste su deseo de que sea derivada a la Dirección del Trabajo o, la empresa principal o usuaria tome la decisión de derivarla a esa institución.</li>
</ol>

<p>Estas responsabilidades adicionales, aparentemente fáciles de implementar tienen efecto en la mayoría de las etapas del Procedimiento de Investigación y Sanción. Por ello, nuestra plataforma cuenta con dos versiones: la versión estándar y una extendida que incorpora todo el manejo que requiere una empresa principal o usuaria.</p>

<p><b>Si su empresa requiere evaluar la versión extendida (para empresas principales o usuarias) marque esta opción en el formulario de registro para obtener la información y/o el DEMO de dicha versión.</b></p>

<h4>Paso 2: Verificación del correo electrónico de administrador.</h4>

<p>El correo electrónico ingresado en el formulario será verificado. La plataforma le enviará un email a dicha dirección con un link, que le permitirá completar el proceso de verificación.</p>

<p>Una vez completados los pasos 1 y 2, su empresa estará registrada en nuestra plataforma. Esto lo habilitará para recibir información del producto que haya seleccionado. Si lo que requiere es acceder a una aplicación DEMO de la plataforma, aún le queda un último paso: <b>Registrar el usuario administrador</b>.</p>

<h4>Paso 3: Registrar el usuario administrador.</h4>

<p>Cada empresa registrada cuenta con una <b>Nómina de usuarios</b> que tienen acceso a sus investigaciones. Al registrar la empresa en la plataforma se ha creado el primer usuario en dicha nómina, el administrador. Este es un punto importante: <b>Sólo el correo electrónico del administrador, ingresado en el formulario de registro de la empresa, puede ser usado para registrar al primer usuario de la empresa.</b></p>

<p>Para acceder al formulario de <b>Registro de Usuario</b>, debe presionar el link <b>Registro</b> que encontrará en la esquina superior derecha del home de la plataforma.</p>

<p>En el formulario se le solicitará ingresar un correo electrónico y una contraseña que deberá verificar en un segundo campo. <b>El correo electrónico ingreado debe ser el mismo registrado en el formulario de Registro de empresa.</b></p>

<p>El correo electrónico y la contraseña elegida le permitirán ingresar a su cuenta, la que le dará acceso a la platatorma en modalidad DEMO. Para acceder al formulario de ingreso presione el link <b>Ingreso</b> que encontrará en la esquina superior del home de la plataforma.</p>