<h3>Registro de empresa</h3>

<p>Al registrar su empresa en nuestra plataforma podrá:</p>

<ol>
	<li>Contactar nuestro equipo comercial.</li>
	<li>Acceder a información detallada de nuestros productos.</li>
	<li>Obtener una licencia DEMO de nuestra aplicación <b>LABORSAFE</b>.</li>
</ol>

<h4>Paso 1: Formulario de registro</h4>

<p>Complete y envie el formulario de Registro de empresa disponible en el home de la plataforma.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/rgstr_emprs_1.png', width: "700" %>
</div>

<p>La mayoría de los campos solicitados no requieren explicación, salvo el campo <b>Empresa principal o usuaria</b>.</p>

<div class="border-start border-secondary border-5 px-3 pt-1">
	<h5>Empresa principal o usuaria.</h5>

	<p>El artículo 24 del reglamento que regula el <i>Procedimiento de Investigación y Sanción</i> de la ley 21.643, establece responsabilidades adicionales para empresas principales o usuarias:</p>
	
	<ol>
		<li><b>La empresa principal o usuaria debe recibir denucias presentadas por personas trabajadoras dependiente de otro empleador</b>, ya sea éste un contratista o una empresa de servicios transitorios.</li>
		<li><b>Cuando los involucrados en los hechos pertenezcan a la misma empresa externa</b>, la denuncia debe ser derivada al empleador de la persona denunciante o a la Dirección del Trabajo, según determine la persona denunciante.</li>
		<li>Si <b>los involucrados en los hechos pertenecen a mas de una empresa</b>, la denuncia debe ser investigada por la empresa principal o usuaria, a menos que, la persona denunciante manifieste su deseo de que sea derivada a la Dirección del Trabajo, o la empresa principal o usuaria tome la decisión de derivarla a esta institución.</li>
	</ol>

	<p>Estas responsabilidades adicionales, si bien parecen afectar solo a un aspecto específico de la recepción de denuncias y el criterio que asigna la responsabilidad de investigar cuando más de una empresa esta involucrada, en la práctica afectan de manera significativa todo <i>Procedimiento de Investigación y Sanción</i>.</p>
	<p><b>LABORSAFE</b> cuenta con una versión estándar, para empresa que no cumplen el rol de empresa principal o usuaria, y una versión extendida, que incorpora todo el manejo que requieren las empresas principales o usuarias.</p>

	<p>Si su empresa requiere evaluar la versión extendida, marque la opción <b>Empresa principal o usuaria</b> en el formulario de registro.</p>
</div>

<h4>Paso 2: Verificación del correo electrónico de administrador.</h4>

<p>Una vez enviado el formulario de registro de empresa, <b>la plataforma enviará al correo electrónico del administrador registrado, un email con un link para verificar que esté operativo</b>. Al presionar el link enviado, habrá confirmado la dirección de correo electrónico y concluido el registro de su empresa.</p>

<p>Debe completar un último paso: <b>Registrar el usuario administrador</b>, este registro le permitirá habilitar las password de su usuario administrador.</p>

<h4>Paso 3: Registrar el usuario administrador.</h4>

<p>Finalmente, debe registrar el primer usuario de su empresa: el usuario administrador.</p>

<p>Para acceder al formulario de <b>Registro de Usuario</b>, debe presionar el link <b>Registro</b> que encontrará en la esquina superior derecha del home de la plataforma.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/rgstr_emprs_2.png', width: "400" %>
</div>

<p>En el formulario se le solicitará ingresar un correo electrónico y una contraseña que deberá verificar en el campo <b>Confirmación de password</b>.</p>
<p><b>Importante</b>: Sólo el correo electrónico del administrador, registrado en el formulario de registro de la empresa, puede ser usado para registrar al primer usuario de la empresa.</p>

<p>El correo electrónico y la contraseña elegida le permitirán ingresar a su cuenta. Para acceder al formulario de ingreso presione el link <b>Ingreso</b> que encontrará en la esquina superior del home de la plataforma.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/rgstr_emprs_2.png', width: "400" %>
</div>
