<h3>Reportes, notificaciones y documentación</h3>

<p>Al ingresar por primera vez a su cuenta de <b>LaborSafe</b>, se econtrará con una ventana de bienvenida parecida a la siguiente:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_1.png', width: "600" %>
</div>

<h4>Identificación y Menú desplegable</h4>

<p>En la parte superior encontrará la <b>razón social de la empresa</b> propietaria de la cuenta. A su derecha, si se trata de una cuenta DEMO se indicará con la leyenda DEMO entre parénstesis.</p>
<p>Inmeditamente abajo a la derecha, encontrará el correo electrónico del usuario activo.</p>
<p>A la izquierda encontrará el ícono del Menú Desplegable.</p>

<h5>Menú desplegable principal</h5>

<p>La plataforma distingue cuatro tipos de usuarios.</p>
<ul>
	<li><b>admin</b> : Administrador de la cuenta.</li>
	<li><b>recepcion</b> : Recepción de denuncias.</li>
	<li><b>investigdor</b> : Investigador.</li>
	<li><b>rrhh</b> : Recursos humanos.</li>
</ul>

<p>Dependiendo del tipo de usuario activo, la aplicació decidirá que ítems del menú desplegará y que permisos concederá para las distintas funcionalidades. Con excepción de las restricciones destinadas a resguardar la confidencialidad del procedimiento, todas las restricciones se pueden personalizar según las necesidades de la empresa.</p>

<p>Al presionar el ícono del menú, este se desplegará de la siguiente forma:</p>
