<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'file-text', text: "Reporte #{@objeto.nombre_padre} (#{@objeto.periodo})", clr: app_color[:app]} %></h4>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'registros', a: 'index'} %>
