<h1>Editing lgl recurso</h1>

<%= render "form", lgl_recurso: @lgl_recurso %>

<br>

<div>
  <%= link_to "Show this lgl recurso", @lgl_recurso %> |
  <%= link_to "Back to lgl recursos", lgl_recursos_path %>
</div>
