<p style="color: green"><%= notice %></p>

<h1>Lgl recursos</h1>

<div id="lgl_recursos">
  <% @lgl_recursos.each do |lgl_recurso| %>
    <%= render lgl_recurso %>
    <p>
      <%= link_to "Show this lgl recurso", lgl_recurso %>
    </p>
  <% end %>
</div>

<%= link_to "New lgl recurso", new_lgl_recurso_path %>
