<div class="dscrpcn">
	<% if ['Multa', 'Redacción'].include?(objeto.tipo_asesoria.tipo_asesoria) %>
		<%= link_to objeto.descripcion, objeto %>
	<% else %>
		<%= objeto.descripcion %>
	<% end %>
</div>