<div class="dscrpcn">
	<% if objeto.fecha.blank? %>
		</i> <%= dma(objeto.created_at) %>
	<% else %>
		</i> <%= dma(objeto.fecha) %>
	<% end %>
	<% unless objeto.plazo.blank? %>
		<i class="bi bi-dot"></i>
		<i class="bi bi-alarm"></i> <%= dma(objeto.plazo) %>
	<% end %>
	<%= objeto.cliente.razon_social %>
</div>