<div class="g_cllps">
	<% unless objeto.descripcion.empty? %>
		<%= objeto.descripcion %>
		<hr>
	<% end %>
	<% unless objeto.notas.empty? %>
		<% objeto.notas.order(:created_at).each do |nota| %>
			<%= render partial: 'notas/list/objeto', locals: {objeto: nota} if nota.realizado %>
		<% end %>
	<% end %>
</div>