<div class="app_bjt">
	<%= render partial: 'asesorias/list/bjt', locals: {objeto: objeto} %>
	<% unless objeto.sin_cargo? %>
		<%= render partial: 'asesorias/list/tarifa', locals: {objeto: objeto} %>
	<% end %>
	<%= render partial: 'asesorias/list/txt', locals: {objeto: objeto} %>

	<% if admin? %>
		<!-- DEPRECATED : REVISAR No hemos definido comportamiento facturación -->
		<%#= render partial: 'asesorias/list/line_aprobacion_factura', locals: {objeto: objeto} %>
		<!-- REVISAR : Botones para gestión de facturación -->
		<%#= render partial: 'asesorias/list/menu_asesoria', locals: {objeto: objeto} %>
	<% end %>

	<%= render partial: 'notas/shr/notas_pendientes', locals: {objeto: objeto} %>
</div>