<!--div class="my-1 border rounded-4"-->
<div class="rprt_bx">
	<div class="rprt_bx_ttl" style="font-size: 1rem;">Etapas concluidas</div>
	<div class="mt-2">

		<table class="table table-sm">
			<tbody>
				<tr>
					<th>Etapa</th>
					<th>Plazo</th>
					<th class="text-end">Fecha término</th>
				</tr>
				<% [:etp_rcpcn, :etp_invstgcn, :etp_infrm, :etp_prnncmnt, :etp_mdds_sncns].each do |etp| %>
					<% if objeto.plz_fecha_inicio(etp) %>
						<%= render partial: 'karin/krn_denuncias/shw/proceso/etp_rlzd_objt', locals: {objeto: objeto, tkn: etp} %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>