<% if @rprt[:dnncnt_invstgcn_local] or @rprt[:invstgcn_local_externa] or @rprt[:evlcn_ok] or @rprt[:plz_prnncmnt] %>

	<div class="rprt_bx">
		<div class="rprt_bx_ttl" style="font-size: 1rem;">Acciones específicas por etapas</div>
		<div class="mt-2">

			<% if @rprt[:dnncnt_invstgcn_local] or @rprt[:invstgcn_local_externa] %>
			<p>Recepción de la denuncia</p>
			<ul>
				<% if @rprt[:dnncnt_invstgcn_local] %>
					<li><%=@rprt[:dnncnt_invstgcn_local]%></li>
				<% end %>
				<% if @rprt[:invstgcn_local_externa] %>
					<li><%=@rprt[:invstgcn_local_externa]%></li>
				<% end %>
			</ul>
			<% end %>

			<% if @rprt[:evlcn_ok] %>
			<p>Investigación de la denuncia</p>
			<ul>
				<% if @rprt[:evlcn_ok] %>
					<li><%=@rprt[:evlcn_ok]%></li>
				<% end %>
			</ul>
			<% end %>

			<% if @rprt[:plz_prnncmnt] %>
			<p>Pronunciamiento de la Dirección del Trabajo</p>
			<ul>
				<% if @rprt[:plz_prnncmnt] %>
					<li><%=@rprt[:plz_prnncmnt]%></li>
				<% end %>
			</ul>
			<% end %>

		</div>
	</div>

<% end %>