<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Formulario base</h6>
	<p>El formulario cuenta con un único campo de selección en el cual se debe seleccionar el investigador que se asigna a la denuncia.</p>
</div>