<div class="enlaces-drpdwn">
    <span>
        <i class="bi bi-person-fill"></i>
    </span>
    <div class="enlaces-drpdwn-content">
        <% usuarios.each do |age_usuario| %>
            <% unless objeto.age_usuarios.ids.include?(age_usuario.id) %>
                <%= render layout: '0p/tltp_lnk', locals: {lnk: "/age_actividades/#{objeto.id}/asigna_usuario?uid=#{age_usuario.id}&cn=#{controller_name}", tltp: 'Agrega usuario'} do %>
                    <%= age_usuario.age_usuario %>
                <% end %>
            <% end %>
        <% end %>

    </div>
</div>