<div class="row">
	<div class="col-9">
		<small><i class="bi bi-circle-fill text-<%=objeto.text_color%>"></i></small> 
		<%= render partial: 'repositorios/app_archivos/list/obj_info', locals: {objeto: objeto.app_archivo} %>
	</div>
	<div class="col-3" align='right'>
		<%= render partial: "hecho_archivos/list/set_establece", locals: {objeto: objeto} %>
		<% unless objeto.hecho.causa.archivos_registrados %>
			<i class="bi bi-dot"></i>
			<%= render partial: 'hecho_archivos/list/obj_e', locals: {objeto: objeto} %>
		<% end %>
	</div>
</div>