<%#= render layout: '0p/collapse/display', locals: {label: 'label', objeto: nil} do %>
	<!-- ... -->
<%# end %>

<div class="collapse" id="<%=label%><%= objeto.blank? ? nil : objeto.id%>">
	<div style="padding-left: 1em;padding-right: 1em; margin-top: 1em; margin-bottom: 1em;">
		<%= yield %>
	</div>
</div>