<%#= render layout: '0p/collapse/display', locals: {label: 'label', objeto: nil} do %>
	<!-- ... -->
<%# end %>
<% id = "collapse-#{label.parameterize}-#{objeto&.id || '0'}" %>
<div class="collapse" id="<%= id %>">
	<div class="card card-body">
		<%= yield %>
	</div>
</div>