<%#= render layout: '0p/collapse/dsply', locals: {label: 'label', objeto: nil} do %>
	<!-- ... -->
<%# end %>
<% id = "collapse-#{label.parameterize}-#{objeto&.id || '0'}" %>
<div class="collapse" id="<%= id %>">
	<%= yield %>
</div>