<p class="text-info">
	<small>
		<b>Enlaces</b> 

		<%= link_to "/app_enlaces/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
			<i class="bi bi-plus-circle"></i>
		<% end %>
	</small>
</p>

<div style="padding-left: 1em">
	<% unless @coleccion['app_enlaces'].empty? %>
		<div class="row">
			<% @coleccion['app_enlaces'].each do |enlace| %>
				<%= render partial: partial_name(enlace.class.name.tableize, 'list', "lobjeto") , locals: {objeto: enlace} %></br>
			<% end %>
		</div>
	<% end %>
</div> 
</br>