<% content_for :title, "Editing com requerimiento" %>

<h1>Editing com requerimiento</h1>

<%= render "form", com_requerimiento: @com_requerimiento %>

<br>

<div>
  <%= link_to "Show this com requerimiento", @com_requerimiento %> |
  <%= link_to "Back to com requerimientos", com_requerimientos_path %>
</div>
