<p style="color: green"><%= notice %></p>

<% content_for :title, "Com requerimientos" %>

<h1>Com requerimientos</h1>

<div id="com_requerimientos">
  <% @com_requerimientos.each do |com_requerimiento| %>
    <%= render com_requerimiento %>
    <p>
      <%= link_to "Show this com requerimiento", com_requerimiento %>
    </p>
  <% end %>
</div>

<%= link_to "New com requerimiento", new_com_requerimiento_path %>
