<% content_for :title, "New com requerimiento" %>

<h1>New com requerimiento</h1>

<%= render "form", com_requerimiento: @com_requerimiento %>

<br>

<div>
  <%= link_to "Back to com requerimientos", com_requerimientos_path %>
</div>
