<div class="row gx-1 ps-1" style="font-size: 14px;">
	<div class="col-9 text-<%=fls.empty? ? 'muted' : 'dark'%> app_lnk" style="padding-left: 1rem;">
		<%= render partial: '0p/proc/dcs_objt', locals: {fls: fls, dc: dc} %>
	</div>
	<div class="col-3 app_lnk" style="text-align: right; padding-right: 1rem;">
		<%= render partial: '0p/proc/dcs_lnks', locals: {dc: dc, ownr: ownr} %>
	</div>
</div>

<% fls.each do |fl| %>
	<%= render partial: '0p/proc/dc_ln', locals: {dc: dc, fl: fl, ownr: ownr, pddn: 3} %>
<% end %>