<% align ||= 'left' %>
<tr style="font-size: 15px;">
	<td class="app_lnk" style="padding-left: 1rem;">
		<b><%= glosa %></b>
	</td>
	<td class="app_lnk" style="padding-left: 1rem;text-align: <%=align%>;">
		<%= valor %>
	</td>
	<td class="app_lnk" style="text-align: right; padding-right: 1rem;">
	</td>
</tr>