<div class="d-flex justify-content-end gap-1 text-dark">
<% if prtl?(@objeto, 'hlp', 'invstgdrs') %>
	<%= render layout: '0p/mdl/link', locals: {cdg: "hlp_invstgdrs"} do %>
		<i class="bi bi-question-circle"></i>
	<% end %>
<% end %>	
<% if @objeto.krn_investigadores.count == 0 or ( @objeto.krn_investigadores.count == 1 and @objeto.objcn_invstgdr? and @objeto.objcn_acogida ) %>
	<%= render partial: '0p/tbl/lnk_new', locals: {source: 'krn_inv_denuncias', blngs: @objeto} %>
<% end %>
</div>