<div class="objeto-box">
<div class="row">
	<div class="col-lg-9">
		<%= objeto.aut_tipo_usuario %>
	</div>
	<div class="col-lg-3" align='right'>
		<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>
	</div>
</div>
</div>