<h1>Editing krn denunciante</h1>

<%= render "form", krn_denunciante: @krn_denunciante %>

<br>

<div>
  <%= link_to "Show this krn denunciante", @krn_denunciante %> |
  <%= link_to "Back to krn denunciantes", krn_denunciantes_path %>
</div>
