<div class="ms-5">
	<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: 'Ingreso de información de los participantes', firma: false} do %>

		<p class="objt_lnk"><b>No se ha completado el ingreso mínimo de la información de los participantes necesaria para iniciar el registro del procedimiento.</b>
			<% if @indx != 1 %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_denuncias/#{@objeto.id}_1"} do %>
					<i class="bi bi-cursor"></i> Ir a Participantes
				<% end %>
			<% end %>
		</p>
		
	<% end %>
</div>