<div class="ms-5">
	<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: 'Información mínima de los participantes.', firma: false} do %>

		<p class="objt_lnk"><b>La información contenida en los registros de los participantes cumple con el estándar mínimo necesario para continuar con la recepción de la denuncia.</b>
			<% if @indx == 1 %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_denuncias/#{@objeto.id}_0"} do %>
					<i class="bi bi-cursor"></i> Ir a Proceso
				<% end %>
			<% end %>
		</p>
		
	<% end %>
</div>