<%= render layout: '0p/tltp_lnk', locals: {lnk: new_usuario_registration_path, tltp: 'Registro'} do %>
	<span class="d-inline-flex align-items-center">
	  <i class="bi bi-person-plus"></i>
	  <span class="d-none d-lg-inline ms-1">Registro</span>
	</span>
<% end %>