<%= render layout: '0p/tltp_lnk', locals: {lnk: new_usuario_session_path, tltp: 'Ingreso'} do %>
	<span class="d-inline-flex align-items-center">
	  <i class="bi bi-person"></i>
	  <span class="d-none d-lg-inline ms-1">Ingreso</span>
	</span>
<% end %>