<div class='form-row'>
	<%= render partial: '0p/frm_flds/select_id', locals: { form: form, token: :ownr_id, colection: Cliente.where(estado: 'activo').order(:razon_social).collect { |cliente| [cliente.razon_social, cliente.id] }, display_field: 'cliente', prompt: nil, label: 'Cliente' } %>

	<%= render partial: '0p/frm_flds/select_id', locals: { form: form, token: :motivo_denuncia, colection: KrnDenuncia::MOTIVOS, display_field: 'motivo_denuncia', prompt: nil, label: 'Motivo de la denuncia' } %>
	<%= render partial: '0p/frm_flds/select_id', locals: { form: form, token: :receptor_denuncia, colection: KrnDenuncia::RECEPTORES, display_field: 'receptor_denuncia', prompt: nil, label: 'Receptor de la denuncia' } %>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :ownr_type } %>
<%#= render partial: '0p/form_fields/hidden', locals: { form: form, token: :ownr_id } %>