<h1>Editing krn denuncia</h1>

<%= render "form", krn_denuncia: @krn_denuncia %>

<br>

<div>
  <%= link_to "Show this krn denuncia", @krn_denuncia %> |
  <%= link_to "Back to krn denuncias", krn_denuncias_path %>
</div>
