<% content_for :title, "Editing doc emitido" %>

<h1>Editing doc emitido</h1>

<%= render "form", doc_emitido: @doc_emitido %>

<br>

<div>
  <%= link_to "Show this doc emitido", @doc_emitido %> |
  <%= link_to "Back to doc emitidos", doc_emitidos_path %>
</div>
