<h1>Editing krn denunciado</h1>

<%= render "form", krn_denunciado: @krn_denunciado %>

<br>

<div>
  <%= link_to "Show this krn denunciado", @krn_denunciado %> |
  <%= link_to "Back to krn denunciados", krn_denunciados_path %>
</div>
