<p style="color: green"><%= notice %></p>

<h1>Krn denunciados</h1>

<div id="krn_denunciados">
  <% @krn_denunciados.each do |krn_denunciado| %>
    <%= render krn_denunciado %>
    <p>
      <%= link_to "Show this krn denunciado", krn_denunciado %>
    </p>
  <% end %>
</div>

<%= link_to "New krn denunciado", new_krn_denunciado_path %>
