<% data ||= nil %>
<div class="mb-3 form-check">
  <%= f.check_box tkn, 
        class: "form-check-input border border-2", 
        data: data %>
  <%= f.label tkn, label, class: "form-check-label" %>
</div>