<div class="row gx-1 mt-3 border rounded-4 text-secondary fs-4" style="margin-left: 3%; margin-right: 3%; background2-color: #3c6e71;">

  <div class="position-relative rounded-4" style="height: 400px; overflow: hidden;">
    <%= image_tag 'artcls/costos_resumen.png', class: 'img-fluid w-100 h-100 rounded-4', style: 'object-fit: cover;' %>
    <div class="position-absolute top-0 start-0 w-100 h-50 d-flex align-items-center justify-content-center text-white fs-3 px-3" style="border-top-left-radius: .5rem; border-top-right-radius: .5rem;">
      <div class="text-center" style="max-width: 800px;">
        Ley 21.643 "Ley Karin": El costo del incumplimiento
      </div>
    </div>
  </div>

  <div class="pt-3 px-3">
    <div class="text-center" style="font-size: 0.7rem;line-height: 1.5;">Agosto 2025 | Equipo LaborSafe</div>
  </div>

  <div class="mt-2 px-5 py-3 text-start app_lnk ubuntu-regular" style="font-size: 0.9rem;line-height: 1.5;">
    <p>A un año de la entrada en vigencia de la Ley 21.643 (Ley Karin), comienzan a conocerse las primeras evaluaciones sobre su implementación. El elevado volumen de denuncias recibidas, además de superar por mucho la capacidad de investigación de la Dirección del Trabajo, ha puesto en el centro de la discusión el <i>procedimiento de investigación y sanción</i>. Las empresas por su parte, ahora enfrentadas a denuncias reales, han transitado en estos meses desde las dudas iniciales hacia las propuestas de cambio, las que en términos generales apuntan a la flexibilización de algunas exigencias del procedimiento.</p>

    <p>Sin importar el tamaño de la empresa, o lo alineada que esté con el cambio cultural propuesto por la ley, la recepción de las primeras denuncias traerá consigo un aprendizaje importante. Aprendizaje que frecuentemente implicará adecuaciones y mejoras sobre la marcha: hay plazos que cumplir y multas que evitar. Es la hora de la verdad, el momento en el que se pone a prueba el estándar logrado en la implementación de la ley.</p>

    <p>La implementación de la Ley 21.643 es compleja en muchos sentidos. Se trata de un cambio cultural significativo, prueba de ello es el número de denuncias recibidas, pero también es exigente en términos financieros: para un número importante de empresas, la implementación de la ley en un buen estándar representa un costo que no pueden enfrentar completamente. Estas brechas pueden llegar a ser muy significativas.</p>

    <p>Origen de las principales brechas en la implementación de la ley:
      <ul>
        <li><i>Financiera</i>: la empresa no cuenta con los recursos necesarios para garantizar un buen estándar.</li>
        <li><i>Cultural</i>: la empresa no suscribe o rechaza el cambio cultural propuesto por la ley, probablemente porque considera que su cultura organizacional es suficientemente buena o simplemente no le interesa.</li>
      </ul>
    </p>

    <p>Implementar un canal de denuncias, diseñar e implementar medidas de resguardo, contar con (al menos) un investigador con las competencias necesarias, cumplir con las exigencias formales de una investigación, entre otros, son desafíos aún presentes tras un año de vigencia de la ley. Su implementación o perfeccionamiento en el tiempo, si bien tendrá estándares distintos en cada empresa, buscará siempre satisfacer una exigencia mínima: <i>evitar los costos asociados al incumplimiento de la ley</i>.
    <%= render layout: '0p/tltp_lnk', locals: {lnk: '/krn_csts', tltp: 'Ir al artículo'} do %>
        <span style="font-size: 0.9rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
      <% end %>
    </p>

  </div>
</div>