<!--div class="row gx-1 mt-3 border rounded-4 text-secondary fs-4" style="margin-left: 3%; margin-right: 3%; background2-color: #3c6e71;">

  <div class="position-relative rounded-4" style="height: 400px; overflow: hidden;">
    <%#= image_tag 'artcls/costos_resumen.png', class: 'img-fluid w-100 h-100 rounded-4', style: 'object-fit: cover;' %>
    <div class="position-absolute top-0 start-0 w-100 h-50 d-flex align-items-center justify-content-center text-white fs-3 px-3" style="border-top-left-radius: .5rem; border-top-right-radius: .5rem;">
      <div class="text-center" style="max-width: 800px;">
        Ley 21.643 "Ley Karin": El costo del incumplimiento
      </div>
    </div>
  </div>

</div-->


  <div class="row gx-1 mt-3 border rounded-4 text-secondary" style="margin: 0 3%;font-size: 0.8rem;line-height: 1.5;color: #3c6e71;">
    <div class="col-lg-6 col-xs-12">
      <%= render partial: "home/artcls/abstrct", locals: {tkn: 'costos', tema: 'Ley 21.643 (Ley Karin):',ttl: 'Los costos del incumplimiento', img: 'artcls/costos.png'} %>
    </div>
    <div class="col-lg-6">
      <%= render partial: "home/artcls/abstrct", locals: {tkn: 'externalizacion', tema: 'Ley 21.643 (Ley Karin):', ttl: 'Externalizacion de investigaciones', img: 'artcls/extrnlzcn_1000.webp'} %>
    </div>
  </div>
