<div class="row gx-1 mt-3 border rounded-4 fs-4" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">
  <div class="col-lg-6 p-3 text-center">
    Ley 21.643 "Ley Karin": El costo del incumplimiento y la importancia de una implementación efectiva
    <div class="text-end" style="font-size: 0.7rem;line-height: 1.5;">Agosto 2025</div>
    <div class="text-end" style="font-size: 0.7rem;line-height: 1.5;">Equipo LaborSafe</div>
  </div>
  <div class="col-lg-6 col-xs-12 rounded-top-end-4" style="background-image: url('<%= asset_path('artcls/costos.png') %>'); background-size: cover; background-position: center;">
  </div>

  <div class="mt-3 ps-4 text-start" style="font-size: 1.1rem;line-height: 1.5;">
    <p>Tras un año de vigencia, la implementación de la ley 21.643 (Ley Karin) presenta nuevos desafíos. Un número significativo de empresas han recibido sus primeras denuncias, y las que no, empiezan a preguntarse si están preparadas operativamente para enfrentar una investigación. Los desafíos se concentran ahora, en la implementación operativa del <i>Procedimiento de investigación y sanción</i>.</p>
    <p class="objt_lnk">No hay una única forma de cumplir la ley: para algunas empresas el desafío será lograr el cambio cultural buscado (la prevención), a otras, les bastará con cumplir con el mínimo necesario para no tener problemas. Y por problemas debemos entender los costos asociados al incumplimiento de la ley.
      <%= render layout: '0p/tltp_lnk', locals: {lnk: '/krn_csts', tltp: 'Ir al artículo'} do %>
        <span style="font-size: 1rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
      <% end %>
    </p>
  </div>
</div>