<div class="row gx-1 text-secondary" style="margin-left: 3%; margin-right: 3%;">
  <div class="col-lg-6 col-xs-12">
    <p class="mt-3 p-3  ubuntu-regular fs-2 text-center">Externalización de investigaciones</p>
    <p class="mt-3 p-3  ubuntu-regular fs-4 text-center"><i>Realizamos sus investigaciones</i>: la mejor tecnología unida al mejor equipo de investigación. Resuelva de una vez la implementación de su <i>procedimiento de investigación y sanción</i> con el mejor estándar disponible.</p>
  </div>
  <div class="col-lg-6 p-3">
    <%= image_tag 'home/extrnlzcn.webp', class: 'img-fluid mx-3 rounded-4' %>
  </div>
</div>

<div class="row gx-1">
  <div class="col-lg-4 col-xs-12">
    <%#= render partial: '0p/chart/donut', locals: {hsh: {'Empresa' => 12, 'Externalización' => 11}} %>
    <%#= render partial: '0p/chart/pie', locals: {hsh: {'Empresa' => 12, 'Externalización' => 11}} %>
  </div>
  <div class="col-lg-4 col-xs-12">
    <%#= render partial: '0p/chart/donut', locals: {hsh: {'Empresa' => 11, 'Externalización' => 9}} %>
  </div>
  <div class="col-lg-4">
    <%#= render partial: '0p/chart/donut', locals: {hsh: {'Empresa' => 13, 'Externalización' => 9}} %>
  </div>
</div>