<div class="row gx-1" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">
  <div class="col-lg-6 pt-5">
    <%#= image_tag 'logo/istp_75.png', class: 'img-fluid' %>
    <h3 class="text-center">Soluciones a la medida de sus requerimientos</h3>
    <ul class="fs-5" style="margin-left: 20%;">
      <li>Software para el registro y control del procedimiento.</li>
      <li>Auditoría de los requisitos formales.</li>
      <li>Auditoría legal.</li>
      <li>Externalización de investigaciones.</li>
      <li>Consultoría.</li>
      <li>Capacitaciones.</li>
    </ul>
  </div>
  <div class="col-lg-6 col-xs-12 p-3">
    <%= image_tag 'artcls/stack.webp', class: 'img-fluid' %>
  </div>
</div>