<div class="py-2 text-center" style="color: #3c6e71;">
  <%= image_tag 'logo/logo_blue_a300.webp', class: 'img-fluid' %>
  <div style="font-size: .7rem;">
    SERVICIOS
    <i class="bi bi-dot"></i>
    CONSULTORIA
    <i class="bi bi-dot"></i>
    CAPACITACIÓN
  </div>
  <div class="my-2 fs-2">¡Hacer las cosas bien, de la forma más simple!</div>
</div>
<div class="row gx-5" style="margin-left: 5%; margin-right: 5%; color: #3c6e71;">
  <div class="col-lg-6 pt-2">
    <div class="mx-2 py-3 zoom-box">
      <h3 class="mt-2 px-5 fs-4">Si lo que usted necesita es:</h3>
      <ul style="margin-left: 10%;margin-right: 5%;font-size: 1rem;line-height: 1.5;">
        <li>Investigar con el mejor estándar.</li>
        <li>Auditoría integral: tanto en la forma como en el contenido.</li>
        <li>Formar y preparar a su equipo de investigadores.</li>
        <li>Capacitar  a quienes se encargan administrativamente del procedimiento de investigación.</li>
        <li>Capacitar a sus trabajadores en la Ley 21.643 (Ley Karin).</li>
        <li>Asesoría legal y defensa en juicios por Ley Karin.</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12 mt-3 px-3 text-center text-white" style="font-size: 1.1rem;">
    <div class="mt-4 p-2 rounded-top zoom-box" style="background-color: #757bc8;">
      Auditoría de las exigencias formales
    </div>
    <div class="p-2 zoom-box" style="background-color: #8187dc;">
      Auditoría de los aspectos legales
    </div>
    <div class="p-2 zoom-box" style="background-color: #8e94f2;">
      Externalización de investigaciones
    </div>
    <div class="p-2 zoom-box" style="background-color: #9fa0ff;">
      Consultoría de implementación
    </div>
    <div class="p-2 zoom-box" style="background-color: #ada7ff;">
      Capacitación
    </div>
    <div class="p-2 rounded-bottom zoom-box" style="background-color: #bbadff;">
      Asesoría legal
    </div>
  </div>
</div>