<div class='row'>
	<div class="col-lg-4 col-xs-12">

			<!-- capitan.css -->
			<div class="img-text-container">
				<% unless img_banner.blank? %>
					<%= image_tag img_banner, class: 'img-fluid' %>
				<% end %>
				<div class="text-center bg-text inner">
					<h1><%= app_sigla %></h1>
				</div>
			</div>
	
	</div>
	<div class="col-lg-8 texto-banner" style="padding-left: 10%">
		<h2><%= app_nombre %></h2>
	</div>
</div>	