<div class="img-text-container">
	<% unless img_banner.blank? %>
		<%= image_tag img_banner, class: 'img-fluid' %>
	<% end %>
	<div class="text-center bg-text inner">
		<%= image_tag(cfg_navbar[:logo_navbar], class: "img-responsive", id: "navbar-logo") %>
		<h1><%#= app_sigla %></h1>
	</div>
</div>

<div class="bnnr_text">
	<h1><%= app_nombre %></h1>
</div>