<div class="w_2col">
	<div class="lft">
<div class="img-text-container">
	<% unless img_banner.blank? %>
		<%= image_tag img_banner, class: 'img-fluid' %>
	<% end %>
	<div class="text-center bg-text inner">
		<h1><%= app_sigla %></h1>
	</div>
</div>
	</div>
	<div class="rght">
<div class="bnnr_text">
	<h2><%= app_nombre %></h2>
</div>
	</div>
</div>