<div class="row gx-1">
	<div class="col">
		<%= render partial: '0p/tbl_ttl', locals: {source: 'hlp_ayudas', ownr: objeto, typ: 'tr', lnks: 'prtl'} %>
	</div>
	<div class="col">
		<%= render partial: '0p/tbl_ttl', locals: {source: 'hlp_notas', ownr: objeto, ordr: true, typ: 'tr'} %>
	</div>
</div>