<!-- REP ARCHIVOS simples / múltiples REQUERIDOS -->
<% unless objeto.rep_doc_controlados.empty? %>
	<table class="table table-sm table-borderless table-striped table-hover">
		<tbody>
			<% objeto.rep_doc_controlados.ordr.each do |dc| %>
				<% if ownr.send("fl_#{dc.codigo}?") or ownr.fl?(dc.codigo) %>
					<% if dc.multiple == true %>
						<%= render partial: '0p/proc/dcs', locals: {dc: dc, fls: ownr.fls(dc), ownr: ownr, trsh_cndtn: trsh_cndtn(objeto, ownr)} %>
					<% else %>
						<%= render partial: '0p/proc/dc', locals: {dc: dc, fl: ownr.fl(dc), ownr: ownr, trsh_cndtn: trsh_cndtn(objeto, ownr)} %>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>