<!-- Muestra TABLA de ctr_registros generados hasta ahora -->
<% if objeto.ctr_pasos.any? %>

	<% if objeto.ctr_pasos.map {|paso| ownr.send("proc_#{paso.codigo}?") unless ownr.send("#{paso.metodo}?") }.include?(true) %>

	<div class="row gx-1 border rounded mx-5 p-2">
	<% objeto.ctr_pasos.ordr.each do |paso| %>
		<% if ownr.send("proc_#{paso.codigo}?") %>
			<% unless ownr.send("#{paso.metodo}?") %>
				<%= render partial: '0p/proc/frm', locals: {tar: objeto, objeto: ownr, code: paso.codigo} %>
			<% end %>
		<% end %>
	<% end %>
	</div>

	<% end %>

<% end %>