<div class=" row gx-1 text-<%=color%>">
	<!-- ENCABEZADO de la TAREA -->
	<div class="col-8 ps-3">
		<b>
		<%= render partial: prtl_name('tareas', 'code', 'objt'), locals: {objeto: objeto, ownr: ownr} if prtl?('ctr_etapas', 'code', 'objt') %>
		</b>
	</div>
	<div class="col-4 text-end">
		<%#= render partial: prtl_name('tareas', 'code', 'lnks'), locals: {objeto: objeto, ownr: ownr} if prtl?('ctr_etapas', 'code', 'lnks') %>
	</div>
</div>