<div id="<%= dom_id menu %>">
  <p>
    <strong>Key:</strong>
    <%= menu.key %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= menu.enabled %>
  </p>

  <p>
    <strong>Items:</strong>
    <%= menu.items %>
  </p>

</div>
