<div class="d-flex justify-content-end gap-1">
	<% if prtl?(@objeto, 'hlp', 'archvs_rqrds') %>
		<%= render layout: '0p/mdl/link', locals: {cdg: "hlp_archvs_rqrds"} do %>
			<i class="bi bi-question-circle"></i>
		<% end %>
	<% end %>

	<%= render partial: '0p/tbl/lnk_new', locals: {source: 'rep_archivos', ownr: ownr} %>
</div>