<% if prtl?(@objeto, 'hlp', 'archvs_rqrds') %>
	<%= render layout: '0p/mdl/link', locals: {cdg: "hlp_archvs_rqrds"} do %>
		<div class="text-white">Archivos requeridos <i class="bi bi-info-square text-white"></i></div>
	<% end %>
<% else %>	
	Archivos requeridos
<% end %>