<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'app_documentos', ttl: 'Documento', ownr: @objeto} %>

<p><small>
<i class="bi bi-file-check"></i> <%= @objeto.doc_existencia %>
<i class="bi bi-calendar-event"></i> <%= @objeto.doc_vencimiento %>
</small></p>

<%#= render partial: '/repositorios/partials/link_owner' %>

<%= render partial: 'repositorios/app_documentos/partials/directorio' %>
