<li><b>Cédula de identidad:</b> Este campo es validado por la plataforma.</li>
<li><b>Nombre completo:</b>.</li>
<li><b>Empleado externo ( aparece sólo para empresas principales o usuarias ):</b> Se marca esta opción en el caso de que el participante pertenezca a alguna de empresa externa.</li>
<li><b>Cargo/Relación laboral:</b> El concepto relación laboral aplica cuando el participante es empleado de una empresa externa y no tiene un cargo en la empresa. Tratándose de un empleado de la empresa siempre se debe poner el cargo.</li>
<li><b>Lugar de trabajo:</b>.</li>
<li><b>Email personal:</b>. El reglamento exige que sea el email personal.</li>
<li><b>Aplica artículo 516 del Código del trabajo:</b>. El participante no usa correo electrónico.</li>