<h6>Campos condicionales</h6>
<ul>
	<li><b>Empleador ( aparece sólo para empresas principales o usuarias ):</b> Se despliega sólo si se chequeó el campo <i>Empleado externo</i> En el se debe seleccionar la empresa para la cual trabaja el participante.</li>
	<li><b>Dirección del participante:</b> Se despliega cuando se chequeó el campo <i>Aplica artículo 516 del Código del trabajo</i> Se debe registrar la dirección donde se debe enviar las notificaciones e información propia de la investigación.</li>
</ul>