<div class="lst-drpdwn_<%=id%>">
    <span>
        <i class="bi bi-plus-circle"></i>
    </span>
    <div class="lst-drpdwn-content_<%=id%>">
        <% cmplt.each do |add_rcrd| %>
            <% unless lst.include?(add_rcrd) %>
                <%= link_to "#{path}#{s_as_prms(add_rcrd)}" do %>
                    <%= add_rcrd %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>