<p style="color: green"><%= notice %></p>

<% content_for :title, "Doc transacciones" %>

<h1>Doc transacciones</h1>

<div id="doc_transacciones">
  <% @doc_transacciones.each do |doc_transaccion| %>
    <%= render doc_transaccion %>
    <p>
      <%= link_to "Show this doc transaccion", doc_transaccion %>
    </p>
  <% end %>
</div>

<%= link_to "New doc transaccion", new_doc_transaccion_path %>
