<% content_for :title, "New doc transaccion" %>

<h1>New doc transaccion</h1>

<%= render "form", doc_transaccion: @doc_transaccion %>

<br>

<div>
  <%= link_to "Back to doc transacciones", doc_transacciones_path %>
</div>
