<div class="f_200pxlft_col">
  <div class="lft">
    <%= render partial: '0p/cmenu/cmenu', locals: { c: 'tar_tarifas', tipo: tipo, estado: estado, path: path} %>
  </div>
  <div class="rght">

  	<% if tipo == 'causas' %>
  		<%= render partial: prtl_name('tar_tarifas', 'indx', 'indx'), locals: {cntrllr: 'tar_tarifas', ownr: objeto, tipo: tipo} %>
  	<% else %>
  		<%= render partial: prtl_name('tar_servicios', 'indx', 'indx'), locals: {cntrllr: 'tar_servicios', ownr: objeto, tipo: tipo} %>
  	<% end %>

  </div>

</div>