<div class="f_50lft_col">
	<div class="lft">

		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'pro_dtll_ventas', ttl: 'Productos del cliente', ownr: objeto} %>
    	<%= render partial: '0p/tabla/tabla', locals: {c: 'pro_dtll_ventas'} %>

	</div>
	<div class="rght">

	</div>
</div>

