<div class="col-lg-4">
	<small><i class="bi bi-calendar-event"></i> <%= dma(objeto.fecha) %></small>
</div>
<div class="col-lg-4">
	<small><b><%= s_pesos2(objeto.valor) %></b></small>
</div>
<div class="col-lg-4" align='right'>
	<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
</div>
