<h1>Verificación de correo electrónico</h1>

<h3>Bienvenido a LaborSafe</h3>

<p>LaborSafe es una plataforma especializada en la gestión integral del procedimiento de investigación y sanción establecido en la Ley N° 21.643 (Ley Karin).</p>

<p>¿Aún no nos conoce? Visítenos en <%= link_to 'www.laborsafe.cl', 'https://www.laborsafe.cl/' %>.</p>

<p>Hemos registrado su dirección de correo electrónico en nuestra plataforma y requerimos su verificación para confirmar que autoriza su uso.</p>

<%= link_to 'Verificar mi correo', @verification_url %>

<p><em>Este enlace tendrá validez por 24 horas.</em></p>