<h1>Verificaci칩n de correo electr칩nico</h1>

<p>Hola,</p>

<p>Por favor verifica tu direcci칩n de correo para <%= @model_name %>:</p>

<%= link_to 'Verificar mi correo', @verification_url %>

<p>El enlace expirar치 en 24 horas.</p>