<h1>Verificación de correo electrónico</h1>

<h3>Bienvenido a Laborsafe</h3>

<p>Somos una plataforma especializada en la gestión integral del procedimiento de investigación y sanción de la ley 21.643 (Ley Karin)</p>

<p>No conozco Laborsafe: visítenos en <%= link_to 'www.laborsafe.cl', 'https://www.laborsafe.cl/' %> </p>

<p>Su dirección de correo electrónico ha sido registrada en nuestra plataforma. Requerimos su verificación para acreditar que usted autoriza su uso por parte de nuestra plataforma.</p>

<%= link_to 'Verificar mi correo', @verification_url %>

<p>Este enlace expirará en 24 horas.</p>