<div class="pdt">

	<%= render partial: 'actividades/age_pendientes/list/elems/fecha_e', locals: {objeto: objeto} %>

<div class="pdt_pdt">
	<span class="text-<%=objeto.text_color %>">
		<%= objeto.age_pendiente %>

		<% if objeto.estado == 'realizado' %>
			<i class="bi bi-check2-all"></i> 
		<% end %>
	</span>
</div>

</div>