<div class="pndt_bjt">

	<%= render partial: 'actividades/age_pendientes/list/elems/fecha_e', locals: {objeto: objt} %>

	<div class="dscrpcn">
		<span class="text-<%=objt.text_color %>">
			<%= objt.age_pendiente %>

			<% if objt.estado == 'realizado' %>
				<i class="bi bi-check2-all"></i> 
			<% end %>
		</span>
	</div>

</div>