<div class="ac_bjt">

	<%= render partial: 'actividades/age_pendientes/list/elems/fecha_e', locals: {objeto: objeto} %>

	<%= render partial: 'actividades/age_pendientes/list/elems/pendiente', locals: {objeto: objeto} %>

	<%= render partial: 'actividades/age_pendientes/list/elems/control_links', locals: {objeto: objeto} %>

</div>