<div class="my-1 p-1 bg-white border shadow" id="<%=cntrllr(objeto)%>_<%=objeto.orden%>">
	<%= render partial: prtl_name('lgl_citas', 'frame', 'cntrls'), locals: {objeto: objeto} if controller_name.start_with?('lgl_') %>
	<%= render partial: prtl_name('lgl_citas', 'frame', 'cita'), locals: {objeto: objeto} %>
</div>