<div class="row">
	<div class="col-10">
		<small>
			<b><%= objeto.tar_detalle_cuantia.tar_detalle_cuantia %></b></br>
			<small class="text-muted"><%= objeto.tar_formula_cuantia %></small>
		</small>		
	</div>
	<div class="col-2" align='right'>
		<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
	</div>
</div>
