<div class="objt">
	<div class="ln">
		<%= render partial: '0p/general/objt', locals: {objeto: objeto} %>
	</div>
	<div class="dtl">
			<% unless objeto.tar_formula_cuantia.blank? %>
				Fórmula tarifa : <%= objeto.tar_formula_cuantia %>
			<% end %>
			<% unless objeto.porcentaje_base.blank? %>
				Porcentaje cuantía : <%= s_p100(objeto.porcentaje_base, 2) %>
			<% end %>
	</div>
</div>
