<p>La <i>externalización de investigaciones</i> consiste en delegar a una empresa externa la realización del proceso investigativo. Aunque solo puede aplicarse en aquellos casos que la propia empresa ha decidido investigar, esta modalidad puede ser una alternativa interesante por sus ventajas financieras y operativas.
<%= render layout: '0p/tltp_lnk', locals: {lnk: "/artcls/#{tkn}", tltp: 'Ir al artículo'} do %>
	<span style="font-size: 0.8rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
<% end %>
</p>