<p>Ley 21.643 (Ley Karin)</p>
<h3>Externalización de investigaciones</h3>

<p class="mt-5">La <i>externalización de investigaciones</i> consiste en delegar a una empresa externa la realización del proceso investigativo. Aunque solo puede aplicarse en aquellos casos que la propia empresa ha decidido investigar, esta modalidad puede ser una alternativa interesante por sus ventajas financieras y operativas.</p>

<p>Algunos contextos en los que resulta conveniente son:</p>
<ul>
  <li>Empresas con baja probabilidad de denuncias, donde el costo de afrontar una eventual  baja probabilidad de denuncias, donde el costo de afrontar una eventual denuncia es inferior a la inversión necesaria para desarrollar una capacidad interna de investigación.denuncia es inferior a la inversión necesaria para desarrollar una capacidad interna de investigación.</li>
  <li>Empresas que recurren a la externalización únicamente para gestionar denuncias complejas, especialmente aquellas que exigen un manejo legal de alto nivel.</li>
  <li>Pequeñas empresas que, por motivos financieros, no pueden implementar un equipo de investigación de calidad. En estos casos, será imprescindible evaluar previamente el impacto económico que podría suponer una denuncia. Para más detalles sobre esta evaluación, consulte nuestro artículo &quot;Los costes del incumplimiento&quot;.</li>
</ul>

<p>La utilización de esta modalidad por parte de empresas pequeñas, las que por razones financieras no pueden implementar un equipo de investigación de buen estándar, dependerá de la realización de una evaluación del impacto financiero que la denuncia les pueda generar. Para una revisión general de los aspectos a evaluar, revise nuestro artículo <i>Los costos del incumplimiento</i>.</p>

<h4>Contexto legal</h4>

<p>La ley autoriza de forma explícita la externalización de investigaciones. El dictamen 362, de 7 de junio de 2024 de la Dirección del Trabajo, aclara:</p>

<div class="mb-2 fst-italic" style="margin: 0 3%;font-size: 0.8rem;line-height: 1.5;">
  <p>"Cabe hacer presente que previamente este Servicio se ha pronunciado sobre la posibilidad de que el empleador o empleadora utilice los servicios de una empresa externa especializada en materia de acoso sexual, con la finalidad de contar con apoyo y asistencia técnica que garantice un procedimiento. imparcial y objetivo para las partes involucradas."</p>
  <p>"Es importante precisar (que) dicha intervención debe cumplir con el estándar de idoneidad exigible ante casos de la envergadura de estas denuncias, siendo, entonces, primordial que se trate de una asistencia apropiada y funcional a los fines perseguidos; y que permita cumplir a cabalidad todos los requisitos que prescribe la ley respecto estos procedimientos."</p>
  <p>... "se destaca que la participación de esta entidad externa de modo alguno modifica, excluye o aminora la responsabilidad de la empresa empleadora en el cumplimiento de los deberes que, en la materia, le impone la ley, relativa a que es el empleador el directo y exclusivo encargado de los procedimientos de acoso sexual, acoso laboral y violencia en el trabajo."</p>

  <div class="text-end" style="font-size:0.7rem;line-height: 1.5;">
    Dirección del Trabajo: Dictamen 362 del 7 de junio del 2024.<br>Fija sentido y alcance de las modificaciones introducidas por la Ley 21.643 al Código del Trabajo.
  </div>
</div>

<p>En relación a la persona responsable de la investigación, el reglamento establece:</p>

<div class="mb-2 fst-italic" style="margin: 0 3%;font-size: 0.8rem;line-height: 1.5;">
  <p>El empleador deberá designar preferentemente a una persona trabajadora que cuente con formación en materias de acoso, género o derechos fundamentales para llevar adelante la investigación...</p>
</div>

<p>Todo el procedimiento de investigación y sanción de la Ley 21.643 (Ley Karin) está regulado por el reglamento publicado por el Ministerio del Trabajo y Previsión Social en el Boletín Oficial el 3 de julio de 2024.</p>

<h4>Evaluación de las entidades proveedoras del servicio</h4>

<p>El primer paso para implementar la externalización es identificar qué entidades están capacitadas para ofrecer este servicio. Es fundamental definir los requisitos mínimos y los aspectos clave a evaluar.</p>

<p>Dado que una ejecución inadecuada del procedimiento puede acarrear importantes consecuencias legales, el principal filtro para seleccionar empresas proveedoras es que su equipo cuente con competencias legales comprobables en derecho laboral, preferiblemente con experiencia práctica. No basta con formación académica; es imprescindible una trayectoria concreta en tribunales.</p>

<p>Disponer de un <i>pronunciamiento</i> de la Dirección del Trabajo respecto del informe de investigación sin objeciones ni correcciones, no implica un pronunciamiento sobre los hechos denunciados ni sobre la calidad de la investigación realizada. Frente a una judicialización, todo se reducirá a la evidencia que podamos presentar como respaldo de la correcta ejecución del procedimiento conforme a las exigencias legales.</p>

<p>La normativa vigente estipula que el informe de investigación debe elaborarse considerando toda la documentación contextual relevante para el análisis de los hechos, incluyendo, entre otros, el protocolo de prevención, estadísticas de ausentismo, licencias médicas y otras denuncias, así como la evaluación de la presencia de factores de riesgo psicosocial. Un investigador competente deberá requerir toda la documentación necesaria para cumplir con dicho estándar, fundamentar su informe de manera adecuada a partir de los datos que de ella surjan, y consensuar con la organización los criterios que definirán las medidas correctivas y las sanciones contenidas en el informe de investigación.</p>

<p>No es una exigencia menor, ya que se requieren habilidades específicas donde la experiencia previa resulta fundamental. Afortunadamente, existe un tercer aspecto, no obligatorio pero sí deseable, que facilita significativamente la implementación del servicio: la tecnología.</p>

<p>El procedimiento de investigación y sanción implica la ejecución de entre 25 y 30 tareas, así como el control documental de aproximadamente cincuenta documentos. De estos, más de 40 pueden ser generados automáticamente y enviados por correo electrónico mediante una plataforma tecnológica. Un proveedor con un alto estándar tecnológico podrá garantizar un mayor nivel de cumplimiento, y para el cliente, una plataforma tecnológica constituye la única herramienta disponible para evaluar la calidad del trabajo recibido sin necesidad de recurrir a un segundo profesional.</p>

<p>En consecuencia, un servicio de externalización de investigaciones constituye un modelo operativo diseñado para asegurar un elevado estándar formal y legal. Además, debe incluir un proyecto de implementación y capacitación que garantice una coordinación efectiva con la empresa contratante.</p>

<h4>Integración proveedor - empresa</h4>

<p>La externalización de investigaciones abarca una parte significativa del procedimiento de investigación y sanción, pero no la totalidad. Ciertas tareas seguirán siendo responsabilidad de la empresa, como la recepción de la denuncia y la ejecución de algunas acciones dentro de los primeros tres días hábiles. Asimismo, la aplicación de medidas de resguardo, correctivas y las sanciones recaen en la empresa. El modelo operativo de la solución propuesta definirá el alcance y la coordinación necesaria para garantizar una integración efectiva.</p>

<p>La tecnología desempeña un papel crucial en este ámbito. A continuación, se detallan las características tecnológicas deseables para la recepción de denuncias:</p>
<ul>
  <li>Que el servicio incorpore el uso de su plataforma para que el equipo de recepción registre las denuncias directamente en ella.</li>
  <li>Que el servicio se integre con una solución tecnológica del canal de denuncias ya disponible para las personas denunciantes.</li>
</ul>

<p>Al evaluar un servicio de externalización de investigaciones, es crucial que el modelo de implementación propuesto contemple todos los aspectos que requieren coordinación con la empresa, así como la capacitación del personal que asumirá roles de coordinación y ejecución de tareas en el procedimiento.</p>