<% if controller_name == 'servicios' %>
	Detalle Cuantía</br>
<% end %>

<small><small>

<div class="row text-info">
	
	<div class="col-6"><div style='padding-left: 1em;'><i>Item</i></div></div>
	<div class="col-3" align='right'><i>Honorarios</i></div>
	<div class="col-3" align='right'><i>Cuantía</i></div>
</div>
<div class="row text-muted">
	<% objeto.valores_cuantia.each do |vc| %>
		<div class="col-6">
			<div style='padding-left: 1em;'>
				<% if vc.tar_detalle_cuantia.tar_detalle_cuantia == 'Otro' %>
					<i class="bi bi-asterisk"></i>
				<% end %>
				<%= @valores_cuantia[objeto.id][vc.id][:nombre] %>
				<%= render partial: '0p/tabla/links_e', locals: {objeto: vc} %>
			</div>
		</div>
		<div class="col-3" align='right'>
			<%= s_moneda( vc.moneda, @valores_cuantia[objeto.id][vc.id][:honorarios] ) %>
		</div>
		<div class="col-3" align='right'>
			<%= s_moneda( vc.moneda, @valores_cuantia[objeto.id][vc.id][:cuantia] ) %>
		</div>
	<% end %>
</div>

</small></small>