<!-- NO TIENE LLAMADOS PERO REVISAREMOS -->
<%= form_for :form_tar_facturacion, url: "/causas/#{objeto.id}/input_tar_facturacion?pid=#{pago.id}" do |form| %>

	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Fecha UF del pago', v: true } %>
	</br>
	<div class='form-inline'>

		<%= render partial: '0p/form_fields/date', locals: { form: form, token: :fecha_uf } %>

		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right icon-white"></i>
		</button>

	</div>
<% end  %>
