<% if pago.valor.blank? %>
	<% unless causa.uf_calculo_pago(pago).blank? %>
		<small class="text-info">Aplicación de tarifa</small>
		<div style='padding-left: 1em; padding-right: 1em; padding-bottom: .5em; line-height: 13px;'>

			<% unless pago.tar_comentarios.empty? %>
				<small><small>
				<% pago.tar_comentarios.order(:orden).each do |comentario| %>

					<% if comentario.formula.blank? %>
						<%= render partial: 'causas/partials/display_comentario', locals: {comentario: comentario, causa:causa, pago: pago} %>
					<% else %>
						<% if calcula2(comentario.formula.strip, causa, pago) %>
							<%= render partial: 'causas/partials/display_comentario', locals: {comentario: comentario, causa:causa, pago: pago} %>
						<% end %>
					<% end  %>
					
				<% end %>
				</small></small>
			<% end %>

		</div>
	<% end %>
<% end %>

