<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'temas', title: 'Temas', link_new: "/temas/new?cid=#{objeto.id}" } %>

<%= render partial: '0p/tabla/tabla', locals: {c: 'temas'} %>
<hr>
<%= render partial: '0capitan/general/gly_title_gly_link', locals: {gly: controller_icon['app_archivos'], title: 'Archivos requeridos', link_gly: "arrow-clockwise", link: "/causas/#{objeto.id}/traer_archivos_cuantia"} %>

<% unless @coleccion['app_archivos'].empty? %>
	<div class="shadow p-3 mb-3 bg-white rounded">
		<div class="row">
		<% @objeto.causa_archivos.order(:orden).each do |rel| %>
				<%= render partial: 'causa_archivos/list/lobjeto', locals: {objeto: rel} %>
		<% end %>
		</div>
	</div>
<% end %>