<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'temas', title: 'Temas', link_new: "/temas/new?cid=#{objeto.id}" } %>

<%= render partial: '0p/tabla/tabla', locals: {c: 'temas'} %>

<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_documentos', title: 'Documentos requeridos', link_new: nil } %>

<% unless @coleccion['app_documentos'].empty? %>
<div class="shadow p-3 mb-3 bg-white rounded">
	<small>
		<% @coleccion['app_documentos'].each do |doc| %>
			<span class='text-muted'><%= render partial: 'repositorios/app_documentos/list/lobjeto', locals: {objeto: doc} %></span></br>
		<% end %>
	</small>
</div>
<% end %>