<div class="row">
	<div class="col-lg-5 col-xs-12">

		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_repos', title: 'Documentos, archivos & enlaces', link_new: nil} %>

		<%= render partial: 'causas/partials/tab_seg_repositorio', locals: {objeto: objeto} %>

	</div>
	<div class="col-lg-7">

		<%= render partial: 'causas/partials/tab_seg_actividades', locals: {objeto: objeto} %>

	</div>
</div>
