<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'age_actividades', title: 'Actividades', link_new: nil} %>

<div class="shadow p-3 mb-3 bg-white rounded">

	<%= render partial: 'causas/actividades/display_audiencias', locals: {objeto: objeto} %>
	<%= render partial: 'causas/actividades/display_reuniones', locals: {objeto: objeto} %>
	<%= render partial: 'causas/actividades/display_tareas', locals: {objeto: objeto} %>

</div>