<div class="shadow p-3 mb-3 bg-white rounded">

	<%= render partial: 'repositorios/app_documentos/partials/display_documentos', locals: {objeto: objeto, pendientes: @docs_pendientes, coleccion: @coleccion['app_documentos']} %>
	<%= render partial: 'repositorios/app_archivos/partials/display_archivos', locals: {objeto: objeto, pendientes: @archivos_pendientes, coleccion: @coleccion['app_archivos']} %>

	<%= render partial: 'recursos/app_enlaces/partials/display_enlaces', locals: {objeto: objeto} %>

</div>