<h6>
	<i class="bi bi-coin"></i>
	UF de cálculo
	<%= link_to "/tar_uf_facturaciones/new?class_name=#{@objeto.class.name}&objeto_id=#{@objeto.id}" do %>
		<i class="bi bi-plus-circle"></i>
	<% end %>
</h6>
<% @coleccion['tar_uf_facturaciones'].each do |objeto| %>
	<%= render partial: 'tarifas/tar_uf_facturaciones/list/objeto', locals: {objeto: objeto} %>
<% end %>
<hr>
