<div class="col-9">
	<small><i class="bi bi-dot"></i> <b><%= link_to objeto.m_banco, objeto %></b></small>
</div>
<div class="col-3" aligtn='right'>
	<small>
	<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small>
	</small>	
</div>
