<div class="objt">
	<div class="ln">
		<%= render partial: '0p/general/o_objt', locals: {objeto: objeto} %>
	</div>
	<div class="lst">
		<% objeto.tareas.ordr.each do |tr| %>
			<%= render partial: prtl_name('tareas', 'list', 'objeto'), locals: {objeto: tr} %>
		<% end %>
	</div>
</div>