<div class="ln_ordr">
	<div class="ln_order">
		<%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto} %>
	</div>
	<div class="ln_nm">
		<%= truncate(objeto.hm_nota) %>
	</div>
	<div class="ln_lnks">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>