

<% if usuario_signed_in? %>

	<span><%= render partial: '0capitan/app/over/item', locals: {text: nil, link: destroy_usuario_session_path, metodo: :delete, gly: 'door-open'} %></span>

<% else %>

	<div class="mn_itm">
		<%#= render layout: '0p/layout/tooltip_link', locals: {link: '/app_mensajes/new', tooltip: nil} do %>
			<!--i class="bi bi-envelope"></i-->
		<%# end %>
	</div>
	<div class="mn_itm">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: '/usuarios/sign_in', tooltip: nil} do %>
			<i class="bi bi-person"></i>
		<% end %>
	</div>
	<div class="mn_itm">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: '/usuarios/sign_up', tooltip: nil} do %>
			<i class="bi bi-person-plus"></i>
		<% end %>
	</div>

<% end %>
