<div class="mn_itm">
	<%= render layout: '0p/layout/tooltip_link', locals: {link: '/app_mensajes/new', tooltip: nil} do %>
		<i class="bi bi-envelope icon-white"></i>
	<% end %>
</div>
<div class="mn_itm">
	<%= render layout: '0p/layout/tooltip_link', locals: {link: '/usuarios/sign_in', tooltip: nil} do %>
		<i class="bi bi-person icon-white"></i>
	<% end %>
</div>
<div class="mn_itm">
	<%= render layout: '0p/layout/tooltip_link', locals: {link: '/usuarios/sign_up', tooltip: nil} do %>
		<i class="bi bi-person-plus icon-white"></i>
	<% end %>
</div>