<h5 class="text-primary"><i class="bi bi-file-earmark-arrow-up"></i> <%= ClssPrcdmnt.act_nombre[@objeto.cdg] %></h5>

<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :fuente, label: 'Fuente' } %>

<%= render partial: '0p/lbld_inpts/act_file', locals: { form: form, token: :pdf } %>

<%= render partial: '0p/lbld_inpts/hidden_lst', locals: { form: form, hddn_lst: [:ownr_type, :ownr_id, :usuario_id, :mdl, :cdg, :chequed_at ] } %>