<h2>Conclusiones de la investigación</h2>
<h4>Ley 21.643 (Ley Karin)</h4>
<h5 style="margin-bottom: 3rem;">Ref.: Denuncia <%= @act_archivo.ownr.dnnc.identificador %></h5>
<p style="margin-bottom: 1rem;">Estimado/a participante:</p>
<p>De acuerdo con la Ley 21.643, se adjunta el documento PDF correspondiente a las conclusiones de la investigación de referencia. En su caso, se notifican, además, las medidas correctivas y sanciones aplicables.</p>
<p style="margin-bottom: 2rem;">Para cualquier consulta relacionada con el documento adjunto, contacte su canal de denuncias.</p>
<p>Atentamente,<br>Canal de denuncia<br><%= @act_archivo.ownr.emprs.razon_social %></p>