<div class="p-2 border-start border-end border-bottom" style="margin-top: -1px">
	<%= render partial: prtl_name('causas', 'shw/general', 'cuantia'), locals: {objeto: @objeto} %>
	<%= render partial: prtl_name('causas', 'shw/general', 'txt_cuantias'), locals: {objeto: @objeto} %>
	<%#= render partial: '0shr/rcss', locals: {objeto: @objeto} %>
	<%= render partial: '0shr/rcss', locals: {objeto: @objeto} %>
</div>