<div class="ttl_app">
	<div class="ttl_ttl">
		<i class="bi bi-journal-text"></i> 
		Causa : 
		<%= objeto.rit unless objeto.rit.blank? %>
		<% if controller_name == 'servicios' and action_name == 'aprobacion' %>
			<%= link_to "/causas/#{objeto.id}/?html_options[menu]=Tarifa+%26+Pagos" do %>
				<i class="bi bi-box-arrow-up-right"></i>
			<% end %>
		<% end %>
		<i class="bi bi-dot"></i>
		<%= objeto.causa %>
	</div>
	<div class="ttl_lnks">
		<% if controller_name == 'causas' %>
			<%= link_to "/clientes/#{objeto.cliente.id}?html_options[menu]=Causas" do %>
				<i class="bi bi-building"></i>
			<% end %>
		<% end %>
	</div>
</div>