<div class="cs_ttl">
	<div class="ttl_ttl">
		<i class="bi bi-journal-text"></i> 
		Causa : 
		<%= objeto.rit unless objeto.rit.blank? %>
		<% if controller_name == 'servicios' and action_name == 'aprobacion' %>
			<%= link_to "/causas/#{objeto.id}/?html_options[menu]=Tarifa+%26+Pagos" do %>
				<i class="bi bi-box-arrow-up-right"></i>
			<% end %>
		<% end %>
		<i class="bi bi-dot"></i>
		<%= objeto.causa %>
	</div>
	<div class="ttl_lnks">
		<% if dog?%>
			<i class="bi bi-dot"></i>
			<%= link_to "/servicios/organizacion?oid=#{@objeto.id}", title: 'Organización', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-diagram-3"></i>
			<% end %>
		<% end %>
	</div>
</div>