<%= render partial: 'aplicacion/home/public/ticker' %>
<div class="m-3">
	<%= render partial: 'aplicacion/home/public/public_banner' %>

	<!-- Contenedor con padding-top para compensar navbar fijo y responsive en móviles -->
	<div class="content-below-nav ubuntu_titulo" style="margin-left: 5%;font-size: 2rem; line-height: 1.2;">
		Algunas de nuestras ideas y reflexiones.
	</div>
</div>

<%= render partial: 'aplicacion/home/public/artcl' %>
<%= render partial: 'aplicacion/home/public/alianzas' %>