<div class="m-3">
  <div class="content-below-nav ubuntu_titulo responsive-heading" 
       style="margin-left: 5%; line-height: 1.2;">
    <p>Externalización de investigaciones<br>
    Ley 21.643 (Ley Karin)</p>
    <small>
      <span class="me-2 text-primary flex-shrink-0">&#10003;</span>
      Minimice el riesgo de judicialización de sus investigaciones.<br>
      <span class="me-2 text-primary flex-shrink-0">&#10003;</span>
      Optimice su costo por investigación.
    </small>
  </div>
</div>

<!-- Carousel -->
<%#= render partial: 'aplicacion/home/public/banner' %>

<%= render partial: 'aplicacion/home/extrnlzcn' %>

<%= render partial: 'aplicacion/home/public/alianzas' %>
<%= render partial: 'aplicacion/home/public/modal_errores_form' %>