<div class="my-5 px-5">
    <%= image_tag('email_head.png', alt: 'Logo de la empresa', class: 'email-logo') %>
</div>
<div class="px-5">
	<h4>¡Sólo nos falta un paso para completar tu registro!</h4>
	<p>Te hemos enviado un email con un link que nos permitirá verificar tu dirección de correo electrónico.</p>
	<p>¡Muchas Gracias!</p>
</div>

<div class="px-5">
    <%= image_tag('email_sign.png', alt: 'Logo de la empresa', class: 'email-logo') %>
</div>