<div class="col-10">
	<div style='padding-left: 1em; padding-right: 1em'>
	<small>
		<i class="bi bi-person-square text-<%=objeto.perfil.blank? ? 'danger' : 'info' %>"></i> 

		<b><%= objeto.nombre %></b></br>
		<div style='padding-left: 1em; padding-right: 1em'>
		<small>
			<%= objeto.email %> 
		</small>
		</div>
	</small>
	</div>
</div>
<div class="col-2">
	<small>
		<small>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
		</small>
	</small>
</div>