<% clccn  = @objeto.krn_inv_denuncias %>
<% rgstrs = objeto.act_referencias %>

<% ntfccns = objeto.act_referencias.where(code: 'invstgdr') %>
<% dsgncn = objeto.act_referencias.find_by(code: 'txt_dsgncn') %>

<div class="px-4 objt_lnk">
	<i class="bi bi-arrow-return-right"></i>
	<% if ntfccns.none? %>
		<i class="bi bi-cone-striped text-danger"></i>
		Investigador sin notificar
	<% else %>
		<i class="bi bi-check2-all text-primary"></i>
		Investigador notificado (<%= ntfccns.count %>)
	<% end %>

	<% if dsgncn %>
		<% archv = dsgncn.act_archivo %>
		<div class="row gx-1">
			<div class="col-8">
				<i class="bi bi-arrow-return-right"></i>
				<%= ClssPrcdmnt.act_nombre[archv.act_archivo] %>
			</div>
			<div class="col-4 text-end">
				<%= render partial: prtl('act_archivos', 'objt', 'btn_dwnld'), locals: {act_archivo: archv, mdl: ClssPrcdmnt, code: archv.act_archivo} %>

				<%# Sólo Dog puede eliminar un archivo enviado o generado %>
				<%= render partial: '0p/tbl/lnk_elmnr', locals: {objeto: archv} if current_usuario.dog? %>
				<i class="bi bi-arrow-return-left"></i>
			</div>
		</div>
	<% end %>

</div>


<% if clccn.first == objeto && objeto.objetado %>
	<div class="px-4 objt_lnk">
		<i class="bi bi-arrow-return-right"></i>
	    <% unless clccn.count == 2 or @objeto.objcn_acogida or @objeto.objcn_rechazada or @objeto.fecha_trmn? %>
			<% if objeto.objetado %>
				<i class="bi bi-ban text-danger"></i>
				Investigador objetado
			<% else %>
				Investigador sin objeción de participantes
			<% end %>
	    <% else %>
			<% if @objeto.objcn_acogida %>
				<i class="bi bi-ban text-danger"></i>
				Investigador objetado : 
				Objeción acogida
			<% elsif @objeto.objcn_rechazada %>
				Investigador objetado : 
				Objeción rechazada
			<% end %>
	    <% end %> 
	</div>
<% end %> 

