<% clccn  = @objeto.krn_inv_denuncias %>
<% rgstrs = objt.pdf_registros %>

<%# Notificación: a menos que sea el investigador objetado %>
<%# Manejo de notificaciones no se despliega en un investigador objetado %>
<% unless clccn.first == objt and clccn.count == 2 %>

  <% if rgstrs.none? %>
    <li>
      <%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_reportes/generate_and_send_report?oid=#{objt.id}&rprt=invstgdr", data: {turbo_method: :get, turbo_confirm: 'Confirmar envío de email'}, clss: 'dropdown-item'} do %>
        Notificar asignación
      <% end %>
    </li>
  <% end %>

<% end %>

<%# OBJECIÓN de Investigador %>
<% if clccn.first == objt %>

  <% unless clccn.count == 2 or @objeto.objcn_acogida or @objeto.objcn_rechazada or @objeto.fecha_trmn? %>
    <li>
      <%= render partial: '0p/swtch_lnk', locals: {objeto: objt, tkn: 'objetado', stts: ['Eliminar objeción', 'Objetar investigador'], orgn: @orgn, clss: 'dropdown-item'} %>
    </li>
  <% end %>

<% end %>

<% unless (clccn.count == 2 and objt == clccn.first) or objt.objetado or @objeto.fecha_trmn? %>
  <% if current_usuario.operacion? %>

    <!--li><hr class="dropdown-divider"></li-->
    <%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
    <%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

    <li><hr class="dropdown-divider"></li>

    <%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>

  <% end %>
<% end %>