<div class="my-2 shadow-sm bg-white border rounded-2" id="<%=cntrllr(objeto).singularize%>_<%=objeto.id%>">
	<%= render partial: prtl(objeto, 'lst', 'objt_row'), locals: {objt: objeto} %>
	<%= render partial: prtl('notas', 'shr', 'notas_pendientes'), locals: {objeto: objeto} %>
</div>