<% if current_usuario.admin? %>
    <% if objt.estado == 'activo' %>
        <li>
          <%= render layout: '0p/tltp_lnk', locals: {lnk: ejecutar_evento_cliente_path(objt, proceso: 'comercial', evento: 'up_to_inactivo'), tltp: 'Marcar como inactivo', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
            Marcar como inactivo
          <% end %>
        </li>
    <% else %>
        <li>
          <%= render layout: '0p/tltp_lnk', locals: {lnk: ejecutar_evento_cliente_path(objt, proceso: 'comercial', evento: 'dwn_to_activo'), tltp: 'Marcar como activo', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
            Marcar como activo
          <% end %>
        </li>
    <% end %>
    <li><hr class="dropdown-divider"></li>
<% end %>

<%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>
<li><hr class="dropdown-divider"></li>
<%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>