<tr>
	<td class="objt_lnk">
		<%= render layout: '0p/tltp_lnk', locals: {lnk: objt, tltp: 'Ver Cliente' } do %>
			<%= s_rut(objt.rut) %>
		<% end %>
	</td>

	<td><%= objt.razon_social %></td>

	<td class="text-end app_lnk">
		<% if operacion? %>
			<%= render partial: '0p/tbl/plldwn_lnks', locals: {objt: objt} %>
		<% end %>
	</td>
</tr>