<% ownr ||= nil %>
<ul class="app_lnk" style="font-size: 12px; line-height: 1.2;">
    <% if ownr.class.name == 'Causa' %>
        <% unless @actividades.include?(AgeActividad::PRPRTR) %>
            <li>
                <%= render partial: '0p/tbl/lnk_new', locals: {source: 'age_actividades', ownr: ownr, prms: [['k','prprtr']], txt: AgeActividad::PRPRTR} %>
            </li>
        <% end %>
        <% unless @actividades.include?(AgeActividad::D_JC) %>
            <li>
                <%= render partial: '0p/tbl/lnk_new', locals: {source: 'age_actividades', ownr: ownr, prms: [['k','d_jc']], txt: AgeActividad::D_JC} %>
            </li>
        <% end %>
        <% unless @actividades.include?(AgeActividad::UNC) %>
            <li>
                <%= render partial: '0p/tbl/lnk_new', locals: {source: 'age_actividades', ownr: ownr, prms: [['k','unc']], txt: AgeActividad::UNC} %>
            </li>
        <% end %>
    <% end %>
    <li>
        <%= render partial: '0p/tbl/lnk_new', locals: {source: 'age_actividades', ownr: ownr, prms: [['k','rnn']], txt: AgeActividad::RNN} %>
    </li>
</ul>