<% ['prprtr', 'd_jc', 'unc'].each do |clave| %>
<li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: "/age_actividades/new#{prms([['k', clave], ['orgn', @orgn]], nil)}", sgn: 'a', ownr: ownr, clss: 'dropdown-item'} do %>
      Nueva <%= ClssActvdd.actvdd[clave].downcase %>
    <% end %>
</li>
<% end %>

<li><hr class="dropdown-divider"></li>

<li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: "/age_actividades/new#{prms([['k', 'rnn'], ['orgn', @orgn]], nil)}", sgn: 'a', ownr: ownr, clss: 'dropdown-item'} do %>
      Nueva reunión
    <% end %>
</li>