<div class="objt">
	<div class="ln">
		<%= render partial: '0p/general/o_objt', locals: {objeto: objeto} %>
	</div>
	<div class="lst">
		<% objeto.rep_doc_controlados.ordr.each do |dc| %>
			<%= render partial: '0p/tabla/clss_dir_objt_oln', locals: {objeto: dc, clss: 'objt_oln', dir: 'list'} %>
		<% end %>
		<% objeto.variables.ordr.each do |var| %>
			<%= render partial: '0p/tabla/clss_dir_objt_oln', locals: {objeto: var, clss: 'objt_oln', dir: 'list'} %>
		<% end %>
	</div>
</div>