<div id="<%= dom_id doc_cierre %>">
  <p>
    <strong>Fecha inicio:</strong>
    <%= doc_cierre.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha termino:</strong>
    <%= doc_cierre.fecha_termino %>
  </p>

  <p>
    <strong>Encabezado:</strong>
    <%= doc_cierre.encabezado %>
  </p>

</div>
