  <div id="cndtnl_via_declaracion" style="display: none;">
    <%= render partial: '0p/lbld_inpts/radio', locals: { form: form, token: :formato, radio_list: ['Escrito', 'Verbal'], label: 'Formato' } %>
  </div>