<div class="titulo">
	Cambio de password
</div>
<div class="objeto-box">
	<small>
	Si desea cambiar la password acceda a 
	<%= render layout: '0p/layout/tooltip_link', locals: {link: "http://abogadosderecholaboral.cl/usuarios/password/edit?reset_password_token=#{@raw}", tooltip: 'Cambio de password'} do %>
		Cambio de password
	<% end %>
	<% if dog? %>
		</br>
		Link para en camibio de password:</br>
		<%= "http://www.abogadosderechodeltrabajo.cl/usuarios/password/edit?reset_password_token=#{@raw}" %>
	<% end %>
	</small>
</div>