<div class="titulo">
	Cambio de password
</div>
<div class="objeto-box">
	<small>
	<% if perfil_activo? %>
		</br>
		Link para en camibio de password:</br>
		<%= "http://www.laborsafe.cl/usuarios/password/edit?reset_password_token=#{@raw}" %></br>
		Se debe copiar el link y acceder fuera de la aplicación, sin una sesión activa.
	<% end %>
	</small>
</div>