<%= render partial: prtl('act_archivos', 'cntxt', 'objt_code'), locals: {code: code, mdl: mdl, ownr: ownr} %>
<div class="px-3">
	<%= render partial: prtl('act_archivos', 'cntxt', 'objt_lst'), locals: {code: code, mdl: mdl, ownr: ownr} %>
</div>