<%= render partial: 'tarifas/tar_tarifas/list/line_tarifa', locals: {objeto: objeto} %>

<small>
<div class="list-item">


	<%= render partial: 'tarifas/tar_tarifas/list/detalle_tarifa', locals: {objeto: objeto} %>

</div>
</small>