<table class="table <%= table_types_base[:borderless] %> table-sm">
  <tbody>

  	<!-- Enlaces-->
  	<% unless @coleccion['app_enlaces'].blank? %>
	  	<% @coleccion['app_enlaces'].each do |dir| %>
		  	<%= render partial: "/aplicacion/app_enlaces/partials/modelo", locals: {a: 'index', objeto: dir} %>
  		<% end  %>
  	<% end %>

  </tbody>
</table>

<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'app_enlaces', gly: 'plus-circle', clr: color('app_directorios')} %>
