<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Formulario base</h6>
	<ul>
		<li><b>Cédula de identidad:</b> Este campo es validado por la plataforma.</li>
		<li><b>Nombre completo:</b>.</li>
		<li><b>Empleado externo:</b> Se marca esta opción en el caso de que el denunciante pertenezca a alguna de empresa externa (aparece sólo para empresas principales o usuarias).</li>
		<li><b>Cargo/Relación laboral:</b> El concepto relación laboral aplica cuando se trata de un empleado de empresa externa que no desempeña un cargo específico. Tratándose de un empleado de la empresa siempre se debe poner el cargo.</li>
		<li><b>Lugar de trabajo:</b>.</li>
		<li><b>Email personal:</b>. El reglamento exige que sea el email personal.</li>
		<li><b>Aplica artículo 4 inciso primero del Código del Trabajo:</b>. El denunciante tiene un cargo de gerente.</li>
		<li><b>Aplica artículo 516 del Código del trabajo:</b>. El denunciante no usa correo electrónico.</li>
	</ul>
	<h6>Campos condicionales</h6>
	<ul>
		<li><b>Empleador:</b> Se despliega sólo si se chequeó el campo <i>Empleado externo</i> En el se debe seleccionar la empresa para la cual trabaja el denunciante (aparece sólo para empresas principales o usuarias).</li>
		<li><b>Dirección del participante:</b> Se despliega cuando se chequeó el campo <i>Aplica artículo 516 del Código del trabajo</i> Se debe registrar la dirección donde se debe enviar las notificaciones e información propia de la investigación.</li>
	</ul>
</div>