<div class="objt">
	<div class="ln">
		<%= render partial: '0p/general/o_objt', locals: {objeto: objeto} %>
	</div>
	<div class="dtl">
			<i class="bi bi-arrow-right"></i> <%= objeto.tar_formula%>
	</div>
</div>
