<div class="col-lg-2">
	<small><%= render partial: '0p/tabla/btns_orden', locals: {objeto: objeto} %></small>
</div>
<div class="col-lg-10">
	<small>
	<i class="bi bi-lightbulb"></i> 
	<b><%= link_to objeto.codigo, objeto %></b> | 
	<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></br>
	<small><i class="bi bi-dot"></i> <%= objeto.tar_formula%></small>
	</small>
</div>
