<div class="app_nt_<%=objeto.color%>">
	<%= render partial: 'notas/list/bjt', locals: {objeto: objeto} %>
	<small><%= render partial: 'actividades/age_usuarios/shr/usrs', locals: {objeto: objeto} %></small>
	<div class="nt">
		<% if objeto.color =='g' %>
			<i class="bi bi-dot text-info"></i>
		<% elsif objeto.color == 'y' %>
			<i class="bi bi-exclamation-lg text-warning"></i>
		<% elsif  objeto.color == 'r' %>
			<i class="bi bi-cone-striped text-danger"></i>
		<% end %>
		<b><%= objeto.nota %></b>
	</div>
</div>