<div class="dc_fl">
	<div class="answr">
		<i class="bi bi-calendar2-check"></i> 
		<%= dma_hm(objeto.fecha) %>
	</div>
	<div class="trsh">
		<% unless objeto.archivo? %>
			<%= render partial: '0p/tabla/link_eliminar', locals: {objeto: objeto} %>
		<% end %>
	</div>
</div>