<div class="f_50_col">
	<div class="lft">
		<%= render partial: prtl_name(objeto.class.name.tableize, prtl_dir, 'lft'), locals: {objeto: objeto} %>
	</div>
	<div class="rght">
		<%= render partial: prtl_name(objeto.class.name.tableize, prtl_dir, 'rght'), locals: {objeto: objeto} %>
	</div>
</div>