<div class="ttl_app">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon[cntrllr(cntrllr)]} %>
		<% if prtl?(cntrllr, 'indx', "objt") %>
			<%= render partial: prtl_name(cntrllr, 'indx', "objt"), locals: {ownr: ownr} %>
		<% else %>
			<%= ttl unless ttl.blank? %>
		<% end %>
	</div>
</div>
<% if prtl?(cntrllr, 'indx', "dsply") %>
	<%= render partial: prtl_name(cntrllr, 'indx', "dsply"), locals: {ownr: ownr} %>
<% end %>