<div class="cllps">
	<b>Agregar Nota</b>
	<%= form_for :form_nota, url: "/notas/agrega_nota?c=#{controller_name}&clss=#{clss}&oid=#{oid}" do |form| %>

		<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :prioridad, radio_list: ['Información', 'Advertencia', 'Urgente'] } %>

		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :nota } %>


		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right icon-white"></i>
		</button>

	<% end  %>
</div>