<h1>Editing tipo denuncia</h1>

<%= render "form", tipo_denuncia: @tipo_denuncia %>

<br>

<div>
  <%= link_to "Show this tipo denuncia", @tipo_denuncia %> |
  <%= link_to "Back to tipo denuncias", tipo_denuncias_path %>
</div>
