<small><b><%= dma(dia_semana[:dia]) %></b> <%= nombre3_dia(dia_semana[:dia]) %></small>
<% unless dia_semana[:actividades].empty? %>
<div style="padding-left: 1em;">
	<% dia_semana[:actividades].each do |actividad| %>
		<small><small>
			<b><%= hm(actividad.fecha) %></b>
			<%= actividad.age_actividad %>
		</small></small>
	<% end %>
</div>
<% end %>
