<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<p><b>El investigador asignado debe evaluar la denuncia en dos aspectos.</b></p>
	<ol>
		<li>Verificar que la denuncia está completa: cuenta con toda la infomación y entecedentes necesarios.</li>
		<li>Verificar que la denuncia no presenta inconsistencias.
		</li>
	</ol>
	<p>Si la evaluación tiene como resultado que la denuncia es deficiente en alguno de estos dos aspectos, el investigador establecerá un plazo para que la persona denunciante resuelva las observaciones producto de la evaluación.</p>
	<p>El plazo asignado será registrado en la aplicación y notificado a la persona denunciante.</p>
</div>