<h5 class='text-<%=cfg_color[:app]%>'>
	<% if actn == 'new' %>
		<i class="bi bi-plus-circle"></i> 
	<% end %>
	<% if actn == 'edit' %>
		<i class="bi bi-pencil"></i> 
	<% end %>
	<%=m_to_name(objeto.class.name)%>
</h5>