<div style="background-color:#FFFFFF; padding-left: 1em; margin-bottom: .5em;">
<small>
	<%= objeto.tipo_causa %></br>

	<small>	
	<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</small>
</small>
</div>