<p style="color: green"><%= notice %></p>

<h1>Lgl tipo entidades</h1>

<div id="lgl_tipo_entidades">
  <% @lgl_tipo_entidades.each do |lgl_tipo_entidad| %>
    <%= render lgl_tipo_entidad %>
    <p>
      <%= link_to "Show this lgl tipo entidad", lgl_tipo_entidad %>
    </p>
  <% end %>
</div>

<%= link_to "New lgl tipo entidad", new_lgl_tipo_entidad_path %>
