<div class="row">
	<div class="col-6">
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Modelo', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :st_modelo } %>
	</div>
	<div class="col-6">
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo Usuario crud', v: true } %>
		<%= render partial: '0p/form_fields/select', locals: { form: form, token: :crud, sel_list: AutTipoUsuario.all.order(:aut_tipo_usuario).map {|atu| atu.aut_tipo_usuario}, label: nil } %>
	</div>
</div>