<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Registro de las evidencias de la aplicación de las medidas correctivas y la sanciones de la invetigación.</b></h6>
	<p>Se deben subir todas las evidencias de la implementación de las medidas correctivas y sanciones de la investigación.</p>

	<h6>Finalmente se registra el cierre de la investigación.</b></h6>
</div>