<div class="row gx-1 bg_sub_tbl m-1 p-1 objt_lnk" style="font-size: 14px; line-height: 1.2;">
	<div class="col">
		<%= render partial: '0p/prtls/dsply', locals: {objeto: objeto, dir: 'list', prtl: 'nm'} %>
	</div>
	<div class="col text-end">
		<%= render partial: '0shr/objt_inf', locals: {objeto: objeto} %>
		<%= render partial: '0p/prtls/dsply', locals: {objeto: objeto, dir: 'list', prtl: 'lnks'} %>
	</div>
</div>