<% if controller_name == 'clientes' %>
	Tarifas de Causas
<% elsif controller_name == 'causas' %>
	Tarifa de la causa: 
	<% unless blngs.tar_tarifa.blank? %>
		<%= blngs.tar_tarifa.tarifa %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: blngs.tar_tarifa, tltp: 'Ver Tarifa'} do %>
			<i class="bi bi-box-arrow-up-right"></i>
		<% end %>
	<% else %>
		<p class="text-danger"><i class="bi bi-cone-striped"></i> Sin tarifa asignada</p>
	<% end %>
<% end %>