<h5>Tabla de multa : <%= @objeto.dt_tabla_multa %></h5>

<%= render partial: '0p/tabla/tabla', locals: {c: 'dt_multas'} %>
<%#= render partial: 'dt/dt_tabla_multas/list/tabla_multas', locals: {objeto: @objeto} %>
