<!-- TH -->
<div class="ln_vlr_cnt">
	<div class="ln_lft">
		<i>Item</i>
	</div>
	<div class="ln_mddl" align='right'>
		<% if controller_name == 'causas' %>
			<i>Tarifa</i>
		<% end %>
	</div>
	<div class="ln_rght">
		<i>Cuantía</i>
	</div>
</div>