<div class="ln_vlr_cnt">
	<div class="ln_lft">
		<b>Totales</b>
	</div>
	<div class="<%= controller_name == 'causas' ? 'ln_mddl' : 'ln_rght'  %>" align='right'>
		<b>
			<%= s_pesos(total_cuantia(objeto, 'tarifa')) %>
		</b>
	</div>
	<div class="<%= controller_name == 'causas' ? 'ln_rght' : 'ln_mddl'  %>">
		<% if controller_name == 'causas' %>
		<b>
			<%= s_pesos(total_cuantia(objeto, 'real')) %>
		</b>
		<% end %>
	</div>
</div>