<div class="ln_vlr_cnt">
	<div class="ln_lft">
		<b>Totales</b>
	</div>
	<div class="ln_mddl" align='right'>
		<% if controller_name == 'causas' %>
		<b>
			<%= "#{s_uf(@totales_cuantia[objeto.id][:honorarios_uf]) unless @totales_cuantia[objeto.id][:honorarios_uf] == 0}#{' + ' unless @totales_cuantia[objeto.id][:honorarios_uf]*@totales_cuantia[objeto.id][:honorarios_pesos] == 0}#{s_pesos(@totales_cuantia[objeto.id][:honorarios_pesos]) unless @totales_cuantia[objeto.id][:honorarios_pesos] == 0}" %>
		</b>
		<% end %>
	</div>
	<div class="ln_rght">
		<b>
			<%= "#{s_uf(@totales_cuantia[objeto.id][:cuantia_uf]) unless @totales_cuantia[objeto.id][:cuantia_uf] == 0}#{' + ' unless @totales_cuantia[objeto.id][:cuantia_uf]*@totales_cuantia[objeto.id][:cuantia_pesos] == 0}#{s_pesos(@totales_cuantia[objeto.id][:cuantia_pesos]) unless @totales_cuantia[objeto.id][:cuantia_pesos] == 0}" %>
		</b>
	</div>
</div>