<div class="ln_vlr_cnt">
	<div class="ln_lft">
		<b>Totales</b>
	</div>
	<div class="ln_mddl" align='right'>
		<% if controller_name == 'causas' %>
		<b>
			<%= s_pesos(total_cuantia(objeto, 'tarifa')) %>
		</b>
		<% end %>
	</div>
	<div class="ln_rght">
		<b>
			<%= s_pesos(total_cuantia(objeto, 'real')) %>
		</b>
	</div>
</div>