<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_nominas', title: 'Nómina', link_new: '/app_nominas/new'} %>
<div class="shadow p-3 mb-3 bg-white rounded">
	<%= render partial: '0p/tabla/tabla', locals: {c: 'app_nominas'} %>
</div>