<div class="actv_objt">
	<div class="a_objt">
		<%= render partial: prtl_name(objeto.class.name.tableize, 'list', 'objt'), locals: {objeto: objeto} %>
	</div>
	<div class="a_lnks">
		<% if prtl?(objeto.class.name.tableize, 'list', 'lnks') %>
			<%= render partial: prtl_name(objeto.class.name.tableize, 'list', 'lnks'), locals: {objeto: objeto} %>
		<% end %>
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>