<div class="p-3">
	<%= form_with url: "/#{objeto.class.name.tableize}/#{objeto.id}/fll_fld?k=#{code}", method: :post, local: true do |form| %>

		<div class="row gx-1 border rounded p-2">
			<div class="col-10">
				<% if prtl?(objeto.class.name.tableize, 'code/frm', code) %>
					<%= render partial: prtl_name(objeto.class.name.tableize, 'code/frm', code), locals: { objeto: objeto, code: code, accn: accn, form: form} %>
				<% end %>
			</div>
			<div class="col-2 text-end">
				<%= button_tag do %>
				  <i class="bi bi-caret-right"></i>
				<% end %>
			</div>
		</div>
	<% end %>

</div>