<%= form_with url: "/#{objeto.class.name.tableize}/#{objeto.id}/fll_optn?k=#{key}", method: :post, local: true do |form| %>
  <div class="get_dttm">
    <div class="f_search">
      <div class="lft">
          <%= render partial: '0p/frm_flds/radio', locals: {form: form, token: :option, radio_list: radio_list, label: nil} %>
      </div>
      <div class="right" align='right'>
        <button type="submit" class="btn btn-info">
          <i class="bi bi-check"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>