<% content_for :title, "Editing hlp ayuda" %>

<h1>Editing hlp ayuda</h1>

<%= render "form", hlp_ayuda: @hlp_ayuda %>

<br>

<div>
  <%= link_to "Show this hlp ayuda", @hlp_ayuda %> |
  <%= link_to "Back to hlp ayudas", hlp_ayudas_path %>
</div>
