<% if prtl?(@objeto, 'hlp', 'prtcpnts') %>
	<%= render layout: '0p/mdl/link', locals: {cdg: "hlp_prtcpnts"} do %>
		<span class="text-white">Persona(s) denunciante(s)</span> <i class="bi bi-info-square text-white"></i>
	<% end %>
<% else %>
	Persona(s) denunciante(s)
<% end %>

