<% if objt.email != objt.email_ok %>

  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: url_params("/app_nominas/#{objt.id}/reenviar_correo", {key: 'nmn'}), tltp: nil, data: { turbo_method: :post}, clss: 'dropdown-item'} do %>
      Enviar verificación de email
    <% end %>
  </li>

<% end %>

<% if current_usuario.admin? %>

  <%# Verificar si hay items de verificación visibles para decidir si mostrar divider %>
  <% hay_items_verificacion = (objt.email != objt.email_ok) %>

  <% if hay_items_verificacion %>
    <li><hr class="dropdown-divider"></li>
  <% end %>

  <%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
  <%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

  <li><hr class="dropdown-divider"></li>

  <%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>

<% end %>