<% content_for :title, "Editing doc banco" %>

<h1>Editing doc banco</h1>

<%= render "form", doc_banco: @doc_banco %>

<br>

<div>
  <%= link_to "Show this doc banco", @doc_banco %> |
  <%= link_to "Back to doc bancos", doc_bancos_path %>
</div>
