<p class="text-justify", style="font-size: 16px;">Esta tarea terminará, si es necesario, de ingresar la información general de la denuncia.
</p>
<hr>
<ol>
	<li style="font-size: 14px;"><b>Formato de la denuncia</b>: { Escrita, Verbal}, se solicita sólo si se eligió <b>Presencial</b> como <i>Canal de la denuncia</i>.</li>
	<li style="font-size: 14px;"><b>Empresa que recibió la denuncia</b>: si se especificó que el <i>Receptor de la denuncia</i> ex <b>Externa</b>, la plataforma solicitará que se individualice la empresa externa que la recibió. Para ello despliega una lista de las empresas registradas en la plataforma.</li>
	<li style="font-size: 14px;"><b>Representante</b>: se solicita sólo si se eligió <b>Representante</b> como <i>Presentada por</i>.</li>
</ol>

<p class="text-justify", style="font-size: 14px;">Una vez la plataforma cuenta con toda la información general disponible, da por terminada la tarea. Notará que esto ocurre porque bajo la lista desplegada al comienzo aparecerán las listas donde se ingresan los denunciantes y denunciados de la denuncia.
</p>