<p>La externalización de investigaciones, es la modalidad en la cual se delega a una empresa externa la realización de la investigación. Si bien, solo es posible utilizarla en los casos investigados por la propia empresa, puede ser una buena alternativa dadas sus ventajas financieras y operativas.
<%= render layout: '0p/tltp_lnk', locals: {lnk: "/artcls/#{tkn}", tltp: 'Ir al artículo'} do %>
	<span style="font-size: 0.8rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
<% end %>
</p>