<p>La externalización de investigaciones, si bien solo puede aplicarse a denuncias que son investigadas por la propia empresa, presenta ventajas relevantes en términos de costos y cumplimiento de estándares. Para aquellas organizaciones que no disponen de recursos para contar con un equipo interno de investigación, esta modalidad puede ser la única opción viable de realizar sus propias investigaciones.
<%= render layout: '0p/tltp_lnk', locals: {lnk: "/artcls/#{tkn}", tltp: 'Ir al artículo'} do %>
	<span style="font-size: 0.8rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
<% end %>
</p>