<p>Ley 21.643 (Ley Karin)</p>
<h4>Externalización de investigaciones</h4>


<p class="mt-5">La ley autoriza explícitamente la externalización de investigaciones. En su dictamen 362 del 7 de junio del 2024 (página 20), la Dirección del Trabajo declara:</p>

<div class="mb-2 fst-italic" style="margin: 0 3%;font-size: 0.8rem;line-height: 1.5;">
  <p>Cabe hacer presente que previamente este Servicio se ha pronunciado sobre la posibilidad de que el empleador o empleadora utilice los servicios de una empresa externa especializada en materia de acoso sexual, con la finalidad de contar con apoyo y asistencia técnica que garantice un procedimiento. imparcial y objetivo para las partes involucradas.</p>
  <p>...</p>
  <p>Es importante precisar (que) dicha intervención debe cumplir con el estándar de idoneidad exigible ante casos de la envergadura de estas denuncias, siendo, entonces, primordial que se trate de una asistencia apropiada y funcional a los fines perseguidos; y que permita cumplir a cabalidad todos los requisitos que prescribe la ley respecto estos procedimientos.</p>
  <p>...</p>
  <p>... se destaca que la participación de esta entidad externa de modo alguno modifica, excluye o aminora la responsabilidad de la empresa empleadora en el cumplimiento de los deberes que, en la materia, le impone la ley, relativa a que es el empleador el directo y exclusivo encargado de los procedimientos de acoso sexual, acoso laboral y violencia en el trabajo.</p>

  <div class="text-end" style="font-size:0.7rem;line-height: 1.5;">
    Dirección del Trabajo: Dictamen 362 del 7 de junio del 2024.<br>Fija sentido y alcance de las modificaciones introducidas por la Ley 21.643 al Código del Trabajo.
  </div>
</div>

<p>La externalización de investigaciones, si bien solo puede aplicarse a denuncias que son investigadas por la propia empresa, presenta ventajas relevantes en términos de costos y cumplimiento de estándares. Para aquellas organizaciones que no disponen de recursos para contar con un equipo interno de investigación, esta modalidad puede ser la única opción viable de realizar sus propias investigaciones.
<% unless action_name == 'artcls' %>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: "/home/artcls/externalizacion", tltp: 'Ir al artículo'} do %>
    <span style="font-size: 0.9rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
  <% end %>
<% end %>
</p>

<h4>Evaluación de las entidades proveedoras del servicio</h4>

<p>La primera cuestión a resolver para la implementación de esta modalidad es determinar cuáles son las entidades capacitadas para ofrecer el servicio. Es esencial definir cuáles son las exigencias mínimas que deben cumplir y cuáles son los aspectos clave a evaluar.</p>

<p>Dado que una aplicación inadecuada del procedimiento puede tener implicancias legales importantes, el filtro principal para las empresas proveedoras es que su equipo cuente con competencias legales demostrables en derecho laboral, preferiblemente con experiencia práctica en la materia. La formación académica, por sí sola, no es suficiente; se requiere experiencia concreta en el ámbito laboral.</p>

<p>Para justificar esta exigencia, basta con señalar que contar con un pronunciamiento de la Dirección del Trabajo favorable a las medidas correctivas y sanciones propuestas en un informe de investigación no garantiza, por sí solo, la admisibilidad en instancias judiciales. La verdadera garantía reside en la correcta ejecución del procedimiento, en conformidad con los estándares legales.</p>

<h4>Desarrollo organizacional y metodología</h4>

<p>El segundo aspecto relevante está en el ámbito del desarrollo organizacional. Aunque ningún documento lo declara explícitamente, la implementación de un protocolo para la prevención del abuso sexual, laboral y violencia en el trabajo requiere los estándares propios de un sistema de gestión de la calidad. El procedimiento de investigación y sanción participa de este modelo de gestión, heredando sus principios y requisitos.</p>

<p>Si bien, esta es fundamentalmente una exigencia formal, su alcance es mayor. Una buena implementación aportará en el tiempo al cambio cultural deseado, objetivo en el que el procedimiento de investigación y sanción cumple un rol específico: aportar a la mejora continua del protocolo de prevención. En consecuencia, la empresa proveedora del servicio de externalización debe tener competencias en el área de desarrollo organizacional, preferentemente, experiencia práctica en proyectos de cambio cultural.</p>

<p>Este filtro es altamente exigente, ya que requiere habilidades específicas que generalmente se desarrollan dentro de las propias organizaciones. Afortunadamente hay un tercer aspecto que favorece la factibilidad del servicio: la tecnología.</p>

<p>Desde una perspectiva organizacional, la tecnología representa también un cambio cultural: visibiliza los estándares, establece un marco ético y facilita la interacción entre usuarios no especializados y los participantes del procedimiento en todas sus etapas.</p>

<p>Un servicio de calidad debe formalizar un modelo operativo, el cual requiere coordinación adecuada con la empresa, protocolos claros para las entrevistas, un control documental riguroso y un modelo de capacitación para el equipo de recursos humanos.</p>

<h4>Integración del servicio en la empresa</h4>

<p>La externalización de investigaciones resuelve una parte importante del proceso, pero no incluye la recepción de denuncias, la implementación de medidas de resguardo ni garantiza la calidad de la documentación generada en la ejecución de estas tareas.</p>

<p>Por ello, la integración del servicio debe contar con un modelo de implementación claro y estructurado, que incluya capacitación del personal y puesta en marcha de protocolos de coordinación. Esta integración adquiere especial relevancia cuando se trata de empresas principales y/o usuarias.</p>

<p>Una ventaja significativa, es la disponibilidad de una plataforma tecnológica común, que permita la ejecución colaborativa del procedimiento y la rápida coordinación de las distintas tareas.</p>

<h4>Auditoría de casos</h4>

<p>Existe también la opción de realizar auditorías en investigaciones ya concluidas, en dos modalidades:
  <ul>
    <li>Como tarea final de la investigación, previa al envío del informe de investigación a la Dirección del Trabajo.</li>
    <li>Como auditoría independiente, sobre investigaciones previas, para verificar el cumplimiento de estándares y proponer mejoras.</li>
  </ul>
</p>

<p>Este servicio, si bien puede adecuar sus objetivos a las necesidades particulares de cada cliente, requiere definir y alinear estándares mínimos. Todos los casos deben ser medidos con la misma regla.</p>

<p>En este tipo de servicios también es recomendable el uso de una plataforma tecnológica común, imprescindible, si la modalidad elegida es <i>"como tarea final de la investigación"</i> pues debe ser ejecutada y liberada rápidamente.</p>