<% unless @coleccion['app_documentos'].empty? and pendientes.empty? %>
	
<div class="shadow p-3 mb-3 bg-white rounded">
<div class="row">
	<div class="col-lg-6">
		<% @coleccion['app_documentos'].each do |documento| %>
			<%= render partial: get_partial(documento.class.name.tableize, 'list', "lobjeto") , locals: {objeto: documento} %></br>
		<% end %>
	</div>
	<div class="col-lg-6">
		<% unless pendientes.empty? %>
				<small><p class="text-info">Control documentos</p></small>
			<% pendientes.each do |doc_pendiente| %>
				<small class="text-muted">
				<%= link_to "/#{@objeto.class.name.tableize}/#{@objeto.id}/crea_documento_controlado?indice=#{doc_pendiente}", title: 'Crea documento vacío', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
					<i class="bi bi-arrow-bar-left"></i>
				<% end %> 
				<%= doc_pendiente %></br>
				</small>
			<% end %>
		<% end %>
	</div>
</div>
</div>

<% end %>