<% unless coleccion.empty? %>
	<div class="row">
		<% coleccion.each do |documento| %>
			<%= render partial: partial_name(documento.class.name.tableize, 'list', "lobjeto") , locals: {objeto: documento} %></br>
		<% end %>
	</div>
<% end %>
