<h1>Editing krn empleado</h1>

<%= render "form", krn_empleado: @krn_empleado %>

<br>

<div>
  <%= link_to "Show this krn empleado", @krn_empleado %> |
  <%= link_to "Back to krn empleados", krn_empleados_path %>
</div>
