<p style="color: green"><%= notice %></p>

<h1>Krn empleados</h1>

<div id="krn_empleados">
  <% @krn_empleados.each do |krn_empleado| %>
    <%= render krn_empleado %>
    <p>
      <%= link_to "Show this krn empleado", krn_empleado %>
    </p>
  <% end %>
</div>

<%= link_to "New krn empleado", new_krn_empleado_path %>
