<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'archive', text: "Documentos #{@objeto.repositorio}", clr: config[:color][:app]} %></h4>

<div class='row'>
	<div class='col-md-6'>
	    <%= render partial: 'repositorios/app_directorios/partials/directorio', locals: {objeto: @objeto} %>
	</div>
	<div class='col-md-6'>
	</div>
</div>
