<div id="<%= dom_id lgl_ley %>">
  <p>
    <strong>Lgl repositorio:</strong>
    <%= lgl_ley.lgl_repositorio_id %>
  </p>

  <p>
    <strong>Cdg:</strong>
    <%= lgl_ley.cdg %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= lgl_ley.nombre %>
  </p>

</div>
