<div style="margin: 0 10%;">
	<h3>Información obligatoria para la persona denunciante – Ley 21.643 (Ley Karin)</h3>

	<p>Denuncia presentada el <%= dma_hm(dstntr[:objt].dnnc.fecha_hora) %></p>

	<p>De acuerdo con el <i>Reglamento sobre el procedimiento de investigación y sanción</i>, es obligatorio entregar la siguiente información a todas las personas denunciantes:</p>

	<p><b><i class="bi bi-chat-left-dots"></i> Derechos y deberes asociados a la denuncia</b></p>

	<ol>
	  <li class="mb-1">Usted tiene derecho a solicitar que su denuncia sea derivada a la Dirección del Trabajo al momento de presentarla. El plazo para ejercer este derecho es de tres días hábiles contados desde su presentación.</li>
	  
	  <li class="mb-1">Dentro de los tres días hábiles siguientes a la recepción de la denuncia, la empresa también podrá derivarla a la Dirección del Trabajo si lo estima pertinente. En caso de ejercer esta facultad, se le informará por escrito.</li>
	  
	  <li class="mb-1">Si los hechos denunciados pudieran constituir delito, usted puede denunciar directamente ante el Ministerio Público, Carabineros de Chile o la Policía de Investigaciones. Para ello, la empresa le brindará todas las facilidades necesarias.</li>
	  
	  <li class="mb-1">La empresa tiene la obligación de garantizar atención psicológica temprana a toda persona denunciante. Esta será gestionada y coordinada a la brevedad para que usted pueda acceder a ella oportunamente.</li>
	  
	  <li class="mb-1">La empresa debe adoptar Medidas de Resguardo destinadas a evitar que la investigación de esta denuncia genere efectos adversos para las personas involucradas. Dichas medidas serán definidas y notificadas por escrito en el menor plazo posible. La normativa vigente establece que es obligatorio para todas las partes acatar estas medidas y colaborar en el proceso investigativo.</li>
	</ol>
</div>

