<div class="row app_lnk">
	<div class="col">
		<%= render partial: '0p/prtls/dsply', locals: {objt: @objeto, dir: 'shw/icons', prtl: 'objt'} %>
	</div>
	<div class="col text-end pe-4">
		<%= render partial: '0p/prtls/dsply', locals: {objt: @objeto, dir: 'shw/icons', prtl: 'lnks'} %>
	</div>
</div>