<div class="row app_lnk">
	<div class="col">
		<%= render partial: 'cuentas/prtls/menu_drpdwn' %>
	</div>
	<div class="col text-end">
		<%= render partial: 'cuentas/prtls/cllps/cllps_lnks' %>
	</div>
</div>