<% content_for :title, "New act metadata" %>

<h1>New act metadata</h1>

<%= render "form", act_metadata: @act_metadata %>

<br>

<div>
  <%= link_to "Back to act metadatas", act_metadatas_path %>
</div>
