<h4 class="text-center">Agendamiento y toma de declaraciones.</h4>

<p class="objt_lnk"><b>Esta tarea se realiza en la página <i>Participantes</i> de la denuncia.</b>
<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_denuncias/#{@objeto.id}_1"} do %>
	<i class="bi bi-cursor"></i> Ir a Participantes
<% end %></p>

<small>
	<p><b>NOTA 1</b>: Debido a que tanto las personas denunciantes como denunciadas pueden aportar información de testigos al momento de prestar su declaración, esta tarea podría completarse en más de una tanda de declaraciones.</p>
</small>