<h4 class="text-center">Evaluación de la denuncia.</h4>

<p class="objt_lnk"><b>Una denuncia será evaluada en los siguientes aspectos.</b>
	<ol>
		<li><b>Inconsistencia</b>: la denuncia presenta inconsistencias.</li>
		<li><b>Completitud</b>: a la denuncia le falta información.</li>
	</ol>
</p>
<p>Si la denuncia no pasa satisfactoriamente la evaluación, se le devolverá a la persona denunciante con las observaciones para su corrección y se le dará un plazo para la entrega de la denuncia corregida.</p>