<h4 class="text-center">Asignación del investigador.</h4>

<p class="objt_lnk"><b>El investigador asignado podrá ser objetado por las personas denunciante o dennunciadas, pudiéndo hacerlo hasta el momento en el cual presten declaración.</b></p>