<div class="px-5 app_lnk text-center">
	<%= render layout: '0p/collapse/dsply', locals: {label: 'Usuario', objeto: nil} do %>
		<%= render partial: 'cuentas/prtls/cllps/cllps_usr' %>
	<% end %>

	<%= render layout: '0p/collapse/dsply', locals: {label: 'Ownr', objeto: nil} do %>
		<%= render partial: 'cuentas/prtls/cllps/cllps_ownr' %>
	<% end %>
</div>