<% content_for :title, "Editing doc cuenta" %>

<h1>Editing doc cuenta</h1>

<%= render "form", doc_cuenta: @doc_cuenta %>

<br>

<div>
  <%= link_to "Show this doc cuenta", @doc_cuenta %> |
  <%= link_to "Back to doc cuentas", doc_cuentas_path %>
</div>
