<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: 'Nómina de usuarios'} do %>
	<% if admin? %>
		<p>Su cuenta de empresa aún no está operable, falta información básica por completar.</p>
		<% unless @objeto.nomina? %>
			<p>Cuenta sin nómina de usuarios</p>
		<% end %>

		<% unless @objeto.investigadores? %>
			<p>Se debe ingresar al menos un investigador.</p>
		<% end %>

		<% unless @objeto.empresas_externas? %>
			<% if @objeto.principal_usuaria %>
				<p>Se debe ingresar al menos una empresa externa.</p>
			<% end %>
		<% end %>
	<% else %>
		<p>Usted no tiene permisos de administrador. No puede gestionar la lista de usuarios.</p>
	<% end %>
<% end %>