<div class="row app_lnk">
	<div class="col">
		<%= render partial: 'cuentas/prtls/menu_drpdwn' %>
	</div>
	<div class="col text-end">
		<%= render partial: 'cuentas/prtls/cllps/cllps_lnks' %>
		
		<% if @scrty_vls[:addt_usr] and admin? and controller_name == 'cuentas' %>
			<%= link_to "/#{@objeto.class.name.tableize}", title: 'Addt', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-menu-button-wide fs-2"></i>
			<% end %>
		<% end %>
		
	</div>
</div>