<% ttl   ||= 'Mensaje sin título' %>
<% firma = true if firma.nil? %>
<div class="my-2 bg-white border rounded-2 shadow">
	<div class="mx-4 mt-3">
		<%= image_tag('mssgs/email_head.png', alt: 'Logo de la empresa', class: 'email-logo') %>
	</div>
	<div class="text-center">
		<h4><%= ttl %></h4>
	</div>
	<div class="my-2 px-5">
		<%= yield %>
	</div>

	<% if firma %>
		<div class="mx-4 mt-4 mb-3 text-center">
			<%= image_tag('mssgs/email_sign.png', alt: 'Firma', class: 'email-signature') %>
		</div>
	<% end %>
</div>