<p><small><b>REGISTRO DE PAGO</b></br>Ingrese información en virtud de la cartola del banco.</small></p>
<%= form_for :set_pago, url: "/tar_facturas/#{objeto.id}/set_pago" do |form| %>
	<small>
		<% if objeto.fecha_pago.blank? %>
			<%= render partial: '0p/lbld_inpts/date', locals: {form: form, token: :fecha_pago, label: 'Fecha de pago'} %>
		<% else %>
			<label>
			  <%= form.check_box :fecha_del_dia %>
			  Usar fecha del día
			</label>
		<% end %>
		<%= render partial: '0p/lbld_inpts/text', locals: {form: form, token: :detalle_pago, label: 'Detalle transacción'} %>

		<button type="submit" class="btn btn-info">
		  <i class="bi bi-coin"></i> Registrar pago
		</button>
	</small>
<% end  %>
