<small>
<% unless objeto.m_registros.empty? %>
	Detalle de pago :
	<ul>
		<% objeto.m_reg_facts.each do |mrf| %>
			<li><%= dma(mrf.tar_factura.fecha_factura) %> | <%= s_pesos(mrf.monto) %></li>
		<% end %>
	</ul>
<% end %>
</small>