<% unless objeto.fecha_audiencia.blank? %>
	<div class="ln_app">
		<div class="ln_nm">
			<%= objeto.audiencia %>
		</div>
		<div class="ln_lnks">
			<%= dma(objeto.fecha_audiencia) %>
		</div>
	</div>
<% end %>