<div class="'dscrpcn">
	<%= objeto.causa %>
</div>
<%= render layout: '0p/collapse/display', locals: {label: 'Detalle', objeto: objeto} do %>
	<div class="cllps">
		<%= render partial: 'causas/list/display_detalle', locals: {objeto: objeto} %>
	</div>
<% end %>
