<%= form_for :monto_pagado, url: "/causas/#{objeto.id}/actualiza_pago" do |form| %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Monto acuerdo/sentencia', v: false } %>
	<div class='form-inline'>

		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :monto } %>

		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right icon-white"></i>
		</button>
	</div>
<% end  %>
