<small><small class="text-muted">
<div class="row">
	<div class="col-7">
		<b><%= link_to objeto.rit, objeto, title: 'Detalle Causa', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %> </b>
		<% if (objeto.monto_pagado.blank? or objeto.monto_pagado == 0) and objeto.estado == 'terminada' %>
			<i class="bi bi-award text-primary"></i>
		<% end %>
	</div>
	<div class="col-5" align='right'>
		<% unless objeto.facturaciones.empty? %>
			<%= render layout: '0p/collapse/link', locals: {label: 'Facturaciones', objeto: objeto, tooltip: 'Pagos'} do %>
				<i class="bi bi-currency-dollar"></i>
			<% end %>
		<% end %>
		<% if objeto.demanda.archivo.present? %>
			<%= link_to objeto.demanda.archivo.url, class: 'sb-link', target: :_blank, title: 'Archivo Demanda', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-box-arrow-up-right"></i>
			<% end %>
		<% end %>
		<% if objeto.facturaciones.any? or objeto.demanda.archivo.present? %>
			<i class="bi bi-dot"></i>
		<% end %>
		<% unless restriccion %>
			<%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %>
		<% end %>
	</div>
</div>
</small></small>