<div class="cs">
	<%= render partial: 'causas/list/actions', locals: {objeto: objeto} %>

	<%= render partial: 'causas/list/detalle', locals: {objeto: objeto} %>

	<%= render partial: 'causas/list/line_monto', locals: {objeto: objeto} %>
</div>