<div class="cs">
	<%= render partial: 'causas/list/actions', locals: {objeto: objeto} %>

	<div class="dtll">
		<%= render partial: 'causas/list/detalle', locals: {objeto: objeto} %>
	</div>

	<div class="cnts_pg">
		<%= render partial: 'causas/list/line_monto', locals: {objeto: objeto} %>
	</div>
</div>