<div class="app_bjt">
	<%= render partial: 'causas/list/bjt', locals: {objeto: objeto} %>

	<%= render partial: 'causas/list/monto_pagado', locals: {objeto: objeto} %>

	<% if objeto.tar_tarifa.blank? %>
		<%= render partial: '0p/general/nt', locals: {tipo: 'warning', nota: "Causa sin tarifa asignada" } %>
	<% end %>

	<%= render partial: 'notas/shr/notas_pendientes', locals: {objeto: objeto} %>
</div>