<%= render partial: 'capitan/objeto/estado_crud', locals: {objeto: objeto, restriccion: false} %>

<div style='line-height: 15px;'>
	<%= render partial: 'causas/list/line_demanda', locals: {objeto: objeto} %>
</div>
<div style='line-height: 13px; padding-left: 1em;'>
	<%= render partial: 'causas/list/line_info', locals: {objeto: objeto} %>
	<%= render partial: 'causas/list/line_monto', locals: {objeto: objeto} %>
</div>