<span class="ps-1 me-2 border fw-bold bg-white">
	<%= objt.estado[0].capitalize unless objt.estado.blank? %>
	<% if finanzas? %>
		<!--i class="bi bi-dot"></i-->
		<%= objt.estado_pago[0].capitalize unless objt.estado_pago.blank?%>
	<% end %>
</span>