<%= render partial: '0p/tabs/tabs', locals: {token: :menu} %>

<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'age_actividades', title: "Actividades #{@options[:menu]}", link_new: nil} %>

<div class="shadow p-3 mb-3 bg-white rounded">
  <% @coleccion['age_actividades'].each do |actividad| %>
    <%= render partial: 'age_actividades/list/lobjeto', locals: {objeto: actividad} %>
  <% end %>
</div>