<p style="color: green"><%= notice %></p>

<h1>Lgl puntos</h1>

<div id="lgl_puntos">
  <% @lgl_puntos.each do |lgl_punto| %>
    <%= render lgl_punto %>
    <p>
      <%= link_to "Show this lgl punto", lgl_punto %>
    </p>
  <% end %>
</div>

<%= link_to "New lgl punto", new_lgl_punto_path %>
