<h1>Editing App Control Documento</h1>

<%= render 'form', app_control_documento: @app_control_documento %>

<%= link_to 'Show', @app_control_documento %> |
<%= link_to 'Back', app_control_documentos_path %>
