<div class="at_bjt">
	<div class="ttl_ttl" style='padding-left: 5em;'>
		<i class="bi bi-dot"></i> <%= objeto.solicitud %>
	</div>
	<div class="ttl_lnks">
		<!-- ORDEN -->
		<% if objeto.causa.hechos_registrados %>
			<b><%= objeto.orden %></b>
		<% else %>
			<b><%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto } %></b>
		<% end %>

		<i class="bi bi-dot"></i>
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>