<p class="text-justify", style="font-size: 16px;">Esta tarea presenta las distintas opciones de deribación que, dadas las características de la denuncia, se tiene en el momento.
</p>
<hr>
<ol>
	<li style="font-size: 14px;">Recibir denuncia derivada desde una empresa externa.</li>
	<li style="font-size: 14px;">Para alguno de los participantes aplica el artículo 4 inciso primero.</li>
	<li style="font-size: 14px;">La persona denunciante solicita derivar a la Dirección del Trabajo.</li>
	<li style="font-size: 14px;">La empresa decide derivar a la Dirección del Trabajo.</li>
	<li style="font-size: 14px;">Recepción de denuncia de empresa externa.</li>
	<li style="font-size: 14px;">Recepción de denuncia de empresa externa: derivar a la empresa externa.</li>
	<li style="font-size: 14px;">Recepción de denuncia de empresa externa: derivar a la Dirección del Trabajo.</li>
</ol>

<p class="text-justify", style="font-size: 14px;">En esta tarea se puede establecer también que la denuncia será investigada por la empresa o por una empresa externa ( seguimiento ).
</p>

<p class="text-justify", style="font-size: 14px;">Si se trata de la recepción de una denuncia en forma presencial, esta es la última tarea que requiere la presencia de la persona denunciante.
</p>