<div class="col-8">
	<small><%= link_to objeto.tipo_asesoria, objeto %> </small>
</div>
<div class="col-4" align='right'>
	<small><small>
		<% if objeto.facturable %>
			<i class="bi bi-cash-stack"></i> 
		<% end %>
		<% if objeto.documento %>
			<i class="bi bi-files"></i>
		<% end %>
		<% if objeto.archivos %>
			<i class="bi bi-file"></i>
		<% end %>
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</small></small>
</div>