<div class="row">
	<div class="col-8">
		<small>
			<i class="bi bi-bookmark-check"></i> 
			<%= objeto.tipo_asesoria %>
			<% if objeto.documento or objeto.archivos %>
				</br>
				<div style="padding-left: 1em;">
				<small>
				<% if objeto.documento %>
					<i class="bi bi-check"></i> Documentos
				<% end %>
				<% if objeto.archivos %>
					<i class="bi bi-check"></i> Archivos
				<% end %>
				</small>
				</div>
			<% end %>
		</small>
	</div>
	<div class="col-2" align='right'>
		<small><small>
			<% if objeto.facturable %>
				<i class="bi bi-cash-stack"></i> 
			<% end %>
		</small></small>
	</div>
	<div class="col-2" align='right'>
		<small><small>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
		</small></small>
	</div>
</div>