aaa
<div class="homeContent">
	<div class="ttl">
		<%= image_tag 'capacitacion.png', style: 'height:25px;width:auto;' %> Capacitación
	</div>
	<div class="info">
		 <p>La ley establece distintos obligaciones en el ámbito de la capacitación</p>
		 <ol>
		 	<li><b>Capacitar acerca de la ley misma</b>. Esta capacitación es obligatoria para todos los trabajadores y trabajadoras, lo cual no significa que tod el mundo deba recibir la misma capacitaciòn. Es posible distinguir diferentes enfoques: uno estratégico orientado a los gerentes que deben velar por la implementación de la ley, otro para las jefaturas que deben liderar la implementación en sus equipos y un tercer enfoque para los trabajadores que deben conocer sus derechos y deberes, además de los conceptos necesarios para comprender y participar en la implmentación del protocolo.</li>
		 	<li><b>Capacitar respecto al protocolo, los riesgos evaluados y las medidas de prevención</b>. Obligatoria para todos los trabajadores y trabajadoras.</li>
		 	<li><b>Capacitar para garantizar las competencias mínimas</b> de quienes asumen roles específicos en la ejecución del protocolo.</li>
		 </ol>
		 <p>La ley diferencia entre <b>capacitación</b> y <b>obligaciones de informar</b>, pero exige que ambas sean programadas en un <b>Programa de Capacitación e Información</b>.<p>
	</div>
</div>