<div class="homeContent">
	<div class="cntnt_ttl">
		<%= image_tag 'capacitacion.png', style: 'height:25px;width:auto;' %> Capacitación
	</div>
	<div class="cntnt_txt">
		 <p>La ley establece distintos ámbitos de capacitación</p>
		 <ol>
		 	<li><b>Capacitar acerca de la ley misma</b>. Si bien es obligatoria para todos los trabajadores y trabajadoras. Es posible distinguir diferentes enfoques: para gerentes que deben velar por su implementación, jefaturas que deben liderar la implementación en sus equipos y trabajadores que deben conocer sus derechos y deberes, además de los conceptos necesarios para comprender y ejecutar a cabalidad el protocolo.</li>
		 	<li><b>Capacitar respecto al protocolo, los riesgos evaluados y las medidas de prevención</b>. Obligatoria para todos los trabajadores y trabajadoras.</li>
		 	<li><b>Capacitar para garantizar las competencias mínimas</b> de quienes asumen roles específicos en la ejecución del protocolo.</li>
		 </ol>
		 <p>La ley diferencia entre <b>capacitación</b> y <b>obligaciones de informar</b>, pero exige que ambas sean programadas en un <b>Programa de Capacitación e Información</b>.<p>
	</div>
</div>