<div class="homeContent">
	<div class="cntnt_ttl">
		<%= image_tag 'capacitacion.png', style: 'height:25px;width:auto;' %> Capacitación
	</div>
	<div class="cntnt_txt">
		 <p>La ley establece dos ámbitos de capacitación</p>
		 <ol>
		 	<li>La empresa debe capacitar a quienes asumen responsabilidades en la ejecución del protocolo. La ley exige <b>competencias mínimas</b> para algunos de los roles del protocolo. Esta capacitación incluye aspectos legales y operativos. </li>
		 	<li><b>Todos los empleados y empleadas</b> deben ser capacitados "<b>permanentemente</b>" en los riesgos y medidas establecidas en el protocolo, pero además, extiende dicha responsabilidad a otros ámbitos, por ejemplo, al <i>procedimiento de denuncia</i>.</li>
		 </ol>
		 <p>En el segundo caso, la ley establece la responsabilidad de contar con un Programa de Capacitación e Información que contenga la planificación de todas las capacitaciones.</p>
	</div>
</div>