<div class="homeContent">
	<div class="cntnt_ttl">
		<%= image_tag 'documento.png', style: 'height:25px;width:auto;' %> Documentación
	</div>
	<div class="cntnt_txt">
		 <p>La ley establece como <b>documentos obligatorios</b>:</p>
		 <ol>
		 	<li><b>Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo ejercida por terceros.</b> La cual incluye la política de prevención.</li>
		 	<li><b>Procedimiento de Investigación y Sanción.</b></li>
		 </ol>
		 <p>Estos documentos deben ser <i>elaborados participativamente</i>, deben <i>cumplir con contenidos mínimos</i> (los cuales deben ajustarse a la realizadad de la empresa) y deben <i>garantizar una serie de estándares obligatorios</i>.</p>

		 <p><b>Documentos requeridos</b></p>
		 <p>Se trata de documentos, que si bien la ley no los establece como obligatorios, son imprescindibles para cumplir los estándares requeridos por la ley. Por ejemplo: <b>La evaluación de los factores de riesgo</b>. La ley obliga a que los objetivos de cada medida sean medibles en el tiempo, dicha exigencia no es posible de cumplir sin contar con una evaluación inicial que cumpla con ese estándar.</p>
	</div>
</div>