<div class="homeContent">
	<div class="cntnt_ttl">
		<%= image_tag 'documento.png', style: 'height:25px;width:auto;' %> Documentación obligatoria
	</div>
	<div class="cntnt_txt">
		 <p>La ley establece como <b>documentos obligatorios los siguientes</b>:</p>
		 <ol>
		 	<li><b>Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo ejercida por terceros.</b> El cual incluye la política de prevención.</li>
		 	<li><b>Procedimiento de Investigación y Sanción.</b></li>
		 </ol>
		 <p>El primero de estos documentos debe ser <b>elaborado participativamente</b>, y ambos deben <b>cumplir con contenidos mínimos</b> (los cuales deben ajustarse a la realizadad de la empresa) y <b>garantizar una serie de estándares obligatorios</b>.</p>

		 <p><b>Documentación operativa requerida.</b></p>
		 <p>Se trata de documentos, que si bien la ley no los establece explícitamente como obligatorios, son imprescindibles para cumplir los estándares requeridos o como evidencia que demuestra el cumplimiento de la ley. Por ejemplo: el <b>Programa de Capacitación e Información</b>. La ley distingue entre Medidas de prevención, Medidas de Capacitación y Obligaciones de informar. Las primeras van en el Protocolo de prevención y las dós últimas en el Programa de Capacitación e Información.</p>
	</div>
</div>