<div class="homeContent">
	<div class="cntnt_ttl">
		<%= image_tag 'informacion.png', style: 'height:25px;width:auto;' %> Información
	</div>
	<div class="cntnt_txt">
		 <p>La ley establece que la empresa es responsable de "<b>informar periódicamente a todos los trabajadores y trabajadoras</b>" respecto de los riesgos gestionados por el protocolo, y de las medidas adoptadas para su control. Pero además establece la responsabilidad de difundir periódicamente los disitintos canales de denuncia (semestralmente), la evaluación de las medidas del protocolo, entre otros.</p>
		 <p>Para el cumplimiento de algunos de los estándares exigidos, es necesario informar acerca de algunos de estos aspectos, junto con la puesta en marcha del protocolo.</p>
	</div>
</div>