<div class="homeOblgcns">
	<div class="ttl">¿Con qué debo cumplir al 1º de agosto del 2024?</div>
	<div class="info">
		<div class="pill_1">
			<div class="pll_ttl">
				<%= image_tag 'documento.png', style: 'height:50px;width:auto;' %></br>
				Documentación
			</div>
			<div class="pll_txt">
				<ol>
					<li><b>Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo ejercida por terceros</b> ( incluye la política de prevención ).</li>
					<li><b>Procedimiento de Investigación y Sanción, para aplicar a los casos denunciados.</b></li>
					<li>Documentación operativa requerida.</li>
				</ol>
			</div>
		</div>
		<div class="pill_2">
			<div class="pll_ttl">
				<%= image_tag 'capacitacion.png', style: 'height:50px;width:auto;' %></br>
				Capacitación
			</div>
			<div class="pll_txt">
				<ol>
					<li><b>Procedimiento de Investigación y Sanción</b> ( para el investigdor ).</li>
					<li><b>Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo ejercida por terceros</b> ( para todas las personas trabajadoras ).</li>
					<li><b>Procedimiento de Investigación y Sanción</b> ( para todas las personas trabajadoras ).</li>
				</ol>
			</div>
		</div>
		<div class="pill_3">
			<div class="pll_ttl">
				<%= image_tag 'informacion.png', style: 'height:50px;width:auto;' %></br>
				Información
			</div>
			<div class="pll_txt">
				<ol>
					<li><b>Canales de denuncias</b>, tanto al interior de la empresa, como aquellos disponibles en las entidades públicas.</li>
					<li><b>Factores de riesgo detectados y las medidas de prevención asociadas</b>.</li>
					<li><b>Programa de Capacitación e Información</b>.</li>
				</ol>
			</div>
		</div>
	</div>
</div>