<div class="homePyS" id='ProductosServicios'>
	<div class="ttl">Nuestros Productos y Servicios</div>
	<div class="info">
		<div class="pill_1">
			<div class="pll_ttl">
				<%= image_tag 'asesoria.png', style: 'height:50px;width:auto;' %> Asesoría
			</div>
			<div class="pll_txt">
				<ul>
					<li><b>Adecuación del protocolo a su actividad.</b></li>
					<li><b>Generación de la documentación obligatoria personalizada.</b></li>
					<li><b>Diseño plan de capacitación para la Puesta en marcha de la ley.</b></li>
				</ul>
			</div>
		</div>
		<div class="pill_2">
			<div class="pll_ttl">
				<%= image_tag 'capacitacion.png', style: 'height:50px;width:auto;' %> Capacitación
			</div>
			<div class="pll_txt">
				<ul>
					<li><b>Explicación de la ley 21.643 con enfoque estratégico.</b></li>
					<li><b>Capacitaciones obligatorias para gestores y Personas trabajadoras.</b></li>
					<li><b>Procedimiento de Investigación y Sanción.</b></li>
				</ul>
			</div>
		</div>
		<div class="pill_3">
			<div class="pll_ttl">
				<%= image_tag 'recursos.png', style: 'height:50px;width:auto;' %> Recursos
			</div>
			<div class="pll_txt">
				<ul>
					<li><b>Externalización del Procedimiento de Investigación y Sanción.</b></li>
					<li><b>Externalización del Diagnóstico de factores de riesgo.</b>.</li>
					<li><b>Actualización RIOHS.</b></li></br>
				</ul>
			</div>
		</div>
	</div>
</div>