<div class="homePills" id='ProductosServicios'>
	<div class="ttl">Nuestros Productos y Servicios</div>
	<div class="w_info">
		<%= image_tag 'asesoria.png', style: 'height:50px;width:auto;' %> 
		Asesoría en los distintos aspectos del proceso de implementación de la ley.		
	</div>
	<div class="info">
		<div class="pill_1">
			<div class="pll_ttl">
				<%= image_tag 'documento.png', style: 'height:50px;width:auto;' %></br>Documentación obligatoria
			</div>
			<div class="pll_txt">
				<ul>
					<li><b>Protocolo de prevención</b> (incluye política de prevención).</li>
					<li><b>Procedimiento de Investigación y Sanción.</b></li>
					<li><b>Documentación operativa requerida.</b></li>
					<li><b>Actualización del RIOHS.</b></li>
				</ul>
			</div>
		</div>
		<div class="pill_2">
			<div class="pll_ttl">
				<%= image_tag 'capacitacion.png', style: 'height:50px;width:auto;' %></br>Capacitación
			</div>
			<div class="pll_txt">
				<ul>
					<li><b>Capacitación para gerentes / jefaturas: Ley 21.643, enfoque estratégico.</b></li>
					<li><b>Capacitación para el gestor del Protocolo de prevención.</b></li>
					<li><b>Capacitación para el investigador del Procedimiento de Investigación y Sanción.</b></li>
					<li><b>Capacitaciones obligatorias para personas trabajadoras: Protocolo y Procedimiento de Investigación.</b></li>
				</ul>
			</div>
		</div>
		<div class="pill_3">
			<div class="pll_ttl">
				<%= image_tag 'pyme.png', style: 'height:50px;width:auto;' %></br>Solución para empresas pequeñas
			</div>
			<div class="pll_txt">
				<ul>
					<li><b>Documentación obligatoria.</b></li>
					<li><b>Documentación operativa requerida.</b></li>
					<li><b>Externalización del Procedimiento de Investigación y Sanción.</b></li>
					<li><b>Externalización del Evaluación de factores de riesgo y medición de riesgos psicosociales.</b>.</li>
					<li><b>Externalización de la evaluación del protocolo.</b></li></br>
				</ul>
			</div>
		</div>
	</div>
</div>