<div class="homeContent" id="Solucion">
	<div class="ttl">
		<%= image_tag 'pyme.png', style: 'height:25px;width:auto;' %> Solución para empresas pequeñas
	</div>
	<div class="info">
		 <p>La ley se aplica a todas las empresas sin importar la cantidad de empleados. Solo se hace una diferencia respecto de la Evaluación de factores de riesgo psicosocial: para las empresas con menos de diez empleados no es obligatorio participar en la encuesta CEAL-SM/SUSESO cada dos años, encuesta que es reemplazada por un cuestionario que se puede aplicar tanto para la evaluación anual obligatoria, como para medir factores de riesgo periódicamente.</p>
		 <p>Para una empresa pequeña, la gestión de un protocolo de esta naturaleza representa un esfuerzo administrativo significativo. Por ello hemos diseñado una plataforma que les permitrá externalizar la gestión del protocolo, el procedimiento de investigación (investigador incluido) y la aplicación de la encuesta para evaluar factores de riesgo, para empresas con menos de 10 empleados. Disminuyendo al máximo el esfuerzo administrativo de la empresa.</p>
	</div>
</div>