<div class="homeContent">
	<div class="cntnt_ttl">
		<%= image_tag 'pyme.png', style: 'height:25px;width:auto;' %> Solución para empresas pequeñas
	</div>
	<div class="cntnt_txt">
		 <p>La ley se aplica a todas las empresas, sin importar la cantidad de empleados. Solo hace una diferencia respecto de la Evaluación de factores de riesgo psicosocial. Para las empresas con menos de diez empleados no es obligatorio participar en la encuesta CEAL-SM/SUSESO cada dos años.</p>
		 <p>Para una empresa pequeña, la gestión de un protocolo de esta naturaleza representa un esfuerzo administrativo importante. Por ello nos parece importante que puedan externalizar una buena parte del protocolo. Para que esto sea posible hemos diseñado una plataforma que les permitirá implementar todo el protocolo con el menor esfuerzo y con todas las garantías</p>
	</div>
</div>