<div class="col-lg-3">
	<%= render partial: '0p/tabla/orderer', locals: {objeto: objeto} %> 
</div>
<div class="col-lg-6">
	<small>
		<%= render partial: 'variables/list/line', locals: {objeto: objeto} %>
	</small>
</div>
<div class="col-lg-3" align='right'>
	<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
</div>