<div class="rprt_bx" style="line-height: 1.6;">
	<div class="rprt_bx_ttl" style="font-size: 1rem;">Documentos y datos de los participantes</div>
	<div class="mt-2 ms-3">

		<% objeto.krn_denunciantes.each do |dnncnt| %>
			<%= render partial: 'mailers/contexts/investigations/document/rprt_dnnc/stts', locals: {objt: dnncnt, acts: acts} %>
		<% end %>

		<!-- DENUNCIANTES OK Y MOTIVO DISTINTO DE VIOLENCIA -->
		<% if objeto.violencia? %>
			<%= render partial: 'cuentas/prtls/inline_mssg', locals: {txt: 'Denuncia de violencia en el trabajo ejercida por terceros. Las personas denunciadas (si las hay) se detallan en las declaraciones.'} %>
		<% else %>

			<% objeto.krn_denunciados.each do |dnncd| %>
				<%= render partial: 'mailers/contexts/investigations/document/rprt_dnnc/stts', locals: {objt: dnncd, acts: acts} %>
			<% end %>

		<% end %>

		<% objeto.krn_testigos.each do |tstg| %>
			<%= render partial: 'mailers/contexts/investigations/document/rprt_dnnc/stts', locals: {objt: tstg, acts: acts} %>
		<% end %>

	</div>
</div>