<div class="g_cllps">
	<% if objeto.privada %>
		<i class="bi bi-dot"></i>
		Actividad privada</br>
	<% else %>
		<% unless objeto.age_usuarios.empty? %>
			<b>Encargados / Participantes</b></br>
			<% objeto.age_usuarios.each do |age_usr| %>
				<i class="bi bi-dot"></i>
				<%= age_usr.age_usuario %>
			<% end %>
		<% else %>
			Sin encargados / participantes
		<% end %></br>
	<% end %>
	<div class="ln_nt_crd">
		<div class="ln_nm">
			<%= dma(objeto.created_at) %> <%= objeto.nombre_creador %>
		</div>
	</div>
	<%= render partial: 'notas/shr/notas_realizadas', locals: {objeto: objeto} %>
</div>