<div class="text-dark">

	<p><%= dma(objeto.created_at) %>
	<i class="bi bi-dot"></i>
	Creado por: <%= objeto.nombre_creador %></p>

	<% if objeto.privada %>
		<p><i class="bi bi-dot"></i> Actividad privada</p>
	<% end %>
	<%= render partial: prtl('notas', 'shr', 'notas_realizadas'), locals: {objeto: objeto} %>
	
</div>