<div class="lst-drpdwn">
    <span>
        <i class="bi bi-calendar4-week"></i>
    </span>
    <div class="lst-drpdwn-content">
		<%= render layout: '0p/collapse/link', locals: {label: 'CambioFecha', objeto: objeto, tooltip: 'Cambiar fecha de la actividad'} do %>
			<i class="bi bi-calendar-x"></i> Cambio de fecha
		<% end %>
		<% if objeto.estado == 'pendiente' %>
			<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/age_actividades/#{objeto.id}/sspndr", tltp: nil} do %>
				<i class="bi bi-calendar2-minus"></i> Suspender!
			<% end %>
		<% end %>
    </div>
</div>