<div class="text-dark">
	<b>Cambiar fecha de la actividad</b>
	<%= form_for :form_cambio_fecha, url: "/age_actividades/#{objeto.id}/cambio_fecha?c=#{controller_name}" do |form| %>

		<div class="row">
			<div class="col-9">
				<%= render partial: '0p/form_fields/date', locals: { form: form, token: :nueva_fecha } %>
			</div>
			<div class="col-3" align='right'>
				<button type="submit">
				  <i class="bi bi-caret-right icon-white"></i>
				</button>
			</div>
		</div>

	<% end  %>
</div>