<div class="ac_dia">
	<div class="ttl">
		<div class="lft">
			<%= dma(objeto[:dia]) %>
		</div>
		<div class="rght">
			<%= nombre_dia(objeto[:dia]) %>
		</div>
	</div>
</div>

<% objeto[:actividades].each do |actividad| %>
	<% unless actividad.privada and actividad.app_perfil_id != perfil_activo.id %>
		<%= render partial: 'actividades/age_actividades/list/objeto', locals: {objeto: actividad} %>
	<% end %>
<% end %>
