<div style="padding: .5em 1em; margin: -.5em;">

	<%= render partial: 'actividades/age_actividades/list/elems/fecha_e', locals: {objeto: objeto} %>

	<%= render partial: 'actividades/age_actividades/list/elems/actividad', locals: {objeto: objeto} %>

	<%= render partial: 'actividades/age_actividades/list/elems/control_links', locals: {objeto: objeto} %>

	<%= render partial: 'actividades/age_actividades/list/elems/cllp_display_info', locals: {objeto: objeto} %>

	<%#= render partial: 'actividades/age_actividades/list/elems/cllp_display_encargados', locals: {objeto: objeto} %>

	<%#= render partial: 'actividades/age_actividades/list/elems/cllp_display_nuevo_antecedente', locals: {objeto: objeto} %>

</div>