<% pddng ||= 2 %>
<% align ||= 'center' %>
<button 
  type="button" 
  class="btn btn-primary mt-md-0 mt-3 active" 
  style="background-color: #0d6efd !important; border-color: #0d6efd !important;"
  data-bs-toggle="modal" 
  data-bs-target="#RegistroEmpresa"
>
  <%= render partial: '0p/gly', locals: {gly: 'cursor'} %>
  Registrar empresa
</button>