<div class="objeto-box">
<div class="ln_bjt_app">
	<div class="ln_nm">
		<b><%#= objeto.dt_multa %></b>
	</div>
	<div class="ln_lnks">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>
</div>