<div class="objeto-box">
	<div class="ln_app">
		<div class="ln_nm">
				<i class="bi bi-currency-dollar"></i>
				<%= objeto.tipo_cargo %>
		</div>
		<div class="ln_lnks">
				<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
		</div>
	</div>
</div>