<div class="hm_note">
	<div class="imgn">
		<%= image_tag 'agosto_1.png', style: 'height:auto;width:100px;' %>
	</div>
	<div class="txt">
		En el contexto de la ley 21.643 (Ley Karin), a partir del 1ro de agosto del 2024 es obligatorio para todas las empresas con 10 o más empleados, contar con un <i>Procedimiento de Investigación y Sanción</i> para los casos de acoso laboral, sexual o violencia en el trabajo ejercida por terceros.
	</div>
</div>