<div class="pddng_bx">
	<div class="prdct_prc">
		<div class="icn">
			<%= image_tag 'b.png', style: 'height:auto;width:100px;' %>
		</div>
		<div class="prdct">
			<div class="vrsn">
				BÁSICO
			</div>
			<div class="vrsn_txt">
				Empresas pequeñas
			</div>
			<div class="prc">
				UF 15
			</div>
			<div class="prc_txt">
				<i class="bi bi-dot"></i>
				Licencia anual</br>
				<i class="bi bi-dot"></i>
				1 denuncia</br>
			</div>
		</div>
	</div>
</div>