<div class="prdct_box">
	<div class="ttl">Módulos de capacitación</div>
	<div class="txt">
		<p>Nuestro programa de capacitación proporciona las herramientas necesarias para formar a sus trabajadores y trabajadoras sobre la prevención del acoso y preparar a un equipo interno especializado en la conducción de investigaciones.</p>
		<p><b>Capacitación dirigida a la persona investigadora</b></p>
		<ul>
			<li>Formación en acoso sexual, laboral y violencia en el trabajo.</li>
			<li>Entrenamiento en habilidades de entrevista para obtener información precisa y relevante de personas denunciantes y denunciadas, así como de testigos que intervengan en el proceso.</li>
			<li>Revisión en profundidad del procedimiento de investigación y sanción, con foco en el cumplimiento del debido proceso, plazos legales, comunicaciones a la Dirección del Trabajo, criterios para ponderación de pruebas (testimonios, documentos, etc), formulación de indicios y razonamientos para fundar conclusiones.</li>
		</ul>

		<p><b>Capacitación a todas las personas trabajadoras</b></p>
		<ul>
			<li>Las sesiones abordan las diferentes conductas de acoso sexual, laboral y violencia en el trabajo, con ejemplos prácticos y promoviendo un entorno de trabajo inclusivo y respetuoso.</li>
			<li>Procedimiento de Investigación y Sanción y Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo ejercida por terceros.</li>
		</ul>
	</div>
</div>