<div class="prdct_box">
	<div class="ttl">Carpeta de investigación (Documentación obligatoria)</div>
	<div class="txt">
		<p>Nuestro producto está diseñado para que las empresas, corporaciones y servicios públicos cuenten con la documentación actualizada y completa para llevar a cabo las investigaciones conforme a la normativa vigente.</p>
		<p>Minimiza el riesgo de errores y omisiones en el proceso de investigación, contando con:</p>
		<ul>
			<li>Reglamento de Orden Higiene y seguridad actualizado, cumpliendo con todas las disposiciones legales.</li>
			<li>Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo, respetando las directrices de la Ley.</li>
			<li>Procedimiento para investigar los casos denunciados. Paso a paso del proceso de investigación, asegurando investigaciones efectivas de acuerdo a la nueva regulación.</li>
			<li>Solución práctica con documentación operativa: Incluye más de 30 documentos, entre formularios, instructivos, correos de notificación, formato de declaración, guías de preguntas para la interrogación de los involucrados en el proceso, Modelo de informe de investigación, entre otros.</li>
		</ul>

	</div>
</div>