<div class="pddng_bx">
	<div class="prdct_o_prc">
		<div class="icn">
			<%= image_tag 'g.png', style: 'height:auto;width:100px;' %>
		</div>
		<div class="prdct">
			<div class="vrsn">
				Módulos de capacitación
			</div>
			<div class="vrsn_txt">
				SOLICITAR COTIZACIÓN
			</div>
			<div class="prc">
			</div>
			<div class="prc_txt">
				<i class="bi bi-dot"></i>
				Capacitación en la ley 21.643</br>
				<i class="bi bi-dot"></i>
				Capacitación protocolo de prevención
			</div>
		</div>
		<div class="rnvcn">
			VER DETALLE
		</div>
	</div>
</div>