<div class="prdct_box">
	<div class="ttl">Externalización de investigaciones</div>
	<div class="txt">
		<p>Proporcionamos a las empresas, instituciones y corporaciones una solución integral para la gestión de denuncias, a cargo de profesionales altamente especializados.</p>
		<p>Nos encargamos de todo el proceso de investigación, asegurando imparcialidad, confidencialidad y cumplimiento de las normativas legales vigentes.</p>
		<p>Al finalizar cada investigación, proporcionamos un informe exhaustivo con los hallazgos y recomendaciones para la implementación de medidas correctivas.</p>
	</div>
</div>