	<div class="hm_hbox">
		<div class="row">
			<div class="col-lg-4 col-xs-12">
				<%= render partial: '0capitan/app/home/prdct', locals: {id: 'Docs', gly: 'files', ttl: 'Carpeta de investigación', txt: 'Un completo set de documentos, adecuados a la realidad de su empresa, que cumple con toda la normativa.'} %>
			</div>
			<div class="col-lg-4 col-xs-12">
				<%= render partial: '0capitan/app/home/prdct', locals: {id: 'Caps', gly: 'easel', ttl: 'Módulos de capacitación', txt: 'Cubrimos todos los aspectos necesarios para la imlementación de la ley. Incluidos los aspectos estrategicos y operativos.'} %>
			</div>
			<div class="col-lg-4">
				<%= render partial: '0capitan/app/home/prdct', locals: {id: 'Inv', gly: 'search', ttl: 'Externalización de la investigación', txt: 'Nos hacemos de todo el Procedimiento de Investigación y Sanción.'} %>
			</div>
		</div>
	</div>