<div class="hm_note">
	<div class="imgn">
		<%= image_tag 'p.png', style: 'height:auto;width:100px;' %>
	</div>
	<div class="txt">
		SafeStep para empresas sin regimen de subcontratación o usuaria.
	</div>
</div>