<div class="pddng_bx">
	<div class="prdct_prc">
		<div class="icn">
			<%= image_tag 'p_mas.png', style: 'height:auto;width:100px;' %>
		</div>
		<div class="prdct">
			<div class="vrsn">
				EXTENDIDA
			</div>
			<div class="vrsn_txt">
				Empresas principales o usuarias
			</div>
			<div class="prc">
				UF 120
			</div>
			<div class="prc_txt">
				<i class="bi bi-dot"></i>
				Licencia anual</br>
				<i class="bi bi-dot"></i>
				20 denuncias</br>
				<i class="bi bi-dot"></i>
				Capacitación</br>
				<i class="bi bi-dot"></i>
				Consultoría implementación
			</div>
		</div>
	</div>
</div>