<div class="wht_area">
	<div class="row no-gutters">
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/b' %>
		</div>
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/p' %>
		</div>
		<div class="col-lg-4">
			<%= render partial: '0capitan/app/home/p_mas' %>
		</div>
	</div>
</div>