			<div class="hm_note">
				<div class="imgn">
					<%= image_tag 'ss_bttn.png', style: 'height:auto;width:100px;' %>
				</div>
				<div class="txt">
					<b>SafeStep</b> es una plataforma que le permite gestionar y controlar el <i>Procedimiento de Investigación y Sanción</i> de la ley 21.643. Algunas de sus característica más importantes son:
					</br></br>
					<ul>
						<li>Controlar todos los plazos legales involucrados.</li>
						<li>Controlar los documentos exigidos.</li>
						<li>Guiar paso a paso la gestión de una denuncia.</li>
					</ul>
				</div>
			</div>