<div class="qstn_bx">
	<div class="qstn">
		¿Cuáles son los documentos obligatorios?
	</div>
	<div class="answ">
		Los documentos obligatorios son:
		<ul>
			<li>Protocolo de prevención del acoso sexual, laboral y de violencia en el trabajo.</li>
			<li>Procedimiento de investigación y Sanción.</li>
			<li>Programa de Capacitación e Información.</li>
			<li>Matriz de riesgos.</li>
		</ul>
		<p>Los dos primeros deben ser agregados al Reglamento interno de Orden, Higiene y Seguridad, en el caso de no ser obligatorio para la empresa se deben incorporar al Reglamento de Higiene y seguridad.</p>
		<p>Para cumplir con todos los requisitos operativos del protocolo y del procedimiento de investigación se requieren más de 30 documentos, incluidas notificaciones, informe de investigación, entre otros.</p>
	</div>
</div>