<div class="qstn_bx">
	<div class="qstn">
		¿Que debe contener el Progamama de Capacitación e Información?
	</div>
	<div class="answ">
		La ley establece diversas responsabilidades de capacitar e informar:
		<ul>
			<li>...</li>
			<li>...</li>
			<li>...</li>
			<li>...</li>
		</ul>
		<p>....</p>
		<p>....</p>
	</div>
</div>