<div class="pddng_bx">
	<div class='row justify-content-center'>
	  <div class='col-md-6'>
			<%= render layout: '0p/collapse/bttn', locals: {clss_bttn: 'btn-info', label: 'RegistroEmpresa', objeto: nil, tooltip: nil} do %>
			  Registre su empresa para obtener una licencia demo
			<% end %>
		</div>
	</div>
</div>