<div class="wht_area">
	<div class="row no-gutters">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/prdct' %>

		</div>
		<div class="col-lg-6">
			<%= render partial: '0capitan/app/home/agst' %>
		</div>
	</div>
</div>