<% if controller_name == 'servicios' %>
	<h6><b>Detalle Cuantía</b></h6>
<% end %>

<%= render partial: 'causas/shw/datos_cuantia/cuantia/th_cuantias' %>

<!-- Detalles de cuantía -->
<% objeto.valores_cuantia.each do |vc| %>
	<%= render partial: 'causas/shw/datos_cuantia/cuantia/ln2_cuantia', locals: {objeto: objeto, vc: vc, clss: clss} %>
<% end %>

<hr>

<%= render partial: 'causas/shw/datos_cuantia/cuantia/ttls2_cuantia', locals: {objeto: objeto} %>