<div class="cs_ttl">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon[c]} %>
		<%= title %>
	</div>
	<div class="ttl_lnks">
		<% unless link == 'no_link' %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: (link.blank? ? "/#{c}/new" : link), tooltip: tooltip} do %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %>
			<% end %>
		<% end %>
	</div>
</div>