<hr>
<% if tipo == 'list' %>
	<div class="shadow p-3 mb-3 bg-white rounded">
		<div class="row">
<% end %>

<% coleccion.each do |objeto| %>
	<% if tipo == 'objeto' %>
		<div class="shadow p-3 mb-1 bg-white rounded">
	<% end %>

		<%= render partial: partial_name(objeto.class.name.tableize, 'list', "#{tipo == 'list' ? 'lobjeto' : 'objeto'}") , locals: {objeto: objeto} %>

	<% if tipo == 'objeto' %>
		</div>
	<% end %>
<% end %>

<% if tipo == 'list' %>
		</div>
	</div>
<% end %>