<hr>
<% coleccion.each do |objeto| %>
	<div class="shadow p-3 mb-3 bg-white rounded">
		<%= render partial: get_partial(objeto.class.name.tableize, 'list', 'objeto') , locals: {objeto: objeto} %>
	</div>
<% end %>