<% unless @coleccion[c].empty? %>

  <%= render partial: '0p/tabla/paginate', locals: {c: c, location: 'arriba'} %>

  <% unless objt_prtl(c).blank? %>

    <% if objt_prtl(c) == 'lobjeto' %>
      <div class="tbl_bx">
        <%= render partial: "0p/tabla/list", locals: {c: c, clccn: @coleccion[c]} %>
      </div>
    <% else %>
      <%= render partial: "0p/tabla/list", locals: {c: c, clccn: @coleccion[c]} %>
    <% end %>

  <% else %>
    <h3 class="text-danger">No se encontró partial de objeto.</h3>
  <% end %>

  <%= render partial: '0p/tabla/paginate', locals: {c: c, location: 'abajo'} if @coleccion[c].count > 15 %>

<% end %>