<tr>
	<% c.classify.constantize::TABLA_FIELDS.each do |field| %>
		<% if sortable?(c, get_field_name(field)) %>
			<td><small><i><%= sortable cword(get_field_name(field).delete_prefix('d_')) %></i><small></td>
		<% else %>
			<td><i><small><%= cword(get_field_name(field).delete_prefix('d_')) %></i></small></td>
		<% end %>
	<% end %>
    <td colspan="1"></td>
</tr>
