<% color ||= 'primary' %>
<% gly ||= color == 'danger' ? 'bug' : ( color == 'primary' ? 'check2-all' : 'lightbulb' ) %>
<div class="m-1 p-1 text-<%=color%> border border-<%=color%> rounded" style="font-size: 14px;">
	<%= render partial: '0p/gly', locals: {gly: gly} %>
	<%= ntc %>
</div>