<!-- ENCABEZADO de la ETAPA -->
<div class="row gx-1 text-<%=color%>" style="font-size: 14px;">
	<div class="col-8">
		<b>
		<%= render partial: prtl_name('ctr_etapas', 'code', 'objt'), locals: {objeto: objeto, ownr: ownr} if prtl?('ctr_etapas', 'code', 'objt') %>
		</b>
	</div>
	<div class="col-4 text-end pe-2">
		<%= render partial: prtl_name('ctr_etapas', 'code', 'lnks'), locals: {objeto: objeto, ownr: ownr} if prtl?('ctr_etapas', 'code', 'lnks') %>
	</div> 
</div>