<% unless objeto.codigo == 'etp_cierre' %>
<div class="d-flex justify-content-end gap-1">
	<div class="text-<%=etp_muted(objeto.codigo, ownr) ? 'muted' : (@plz_ok[objeto.codigo] ? 'primary' : 'dark')%>">
		<% if @plz_ok[objeto.codigo] == nil %>
			<span style="font-size: 14px;">Plazo a cumplir</span> : 
		<% elsif @plz_ok[objeto.codigo] %>
			<i class="bi bi-calendar-check text-primary"></i>
		<% else %>
			<i class="bi bi-calendar-x text-danger"></i>
		<% end %>
		<!-- Funciona con @objt -->
		<%= dma(etp_plz(objeto.codigo)) %>
	</div>
</div>
<% end %>