<div class="d-flex justify-content-start gap-1 text-dark">
	<i class="bi bi-caret-right"></i> <%= objeto.ctr_etapa %>
	<%= render layout: '0p/mdl/link', locals: {cdg: objeto.codigo} do %>
		<i class="bi bi-question-circle"></i>
	<% end %>
</div>