<% if objeto.dsply?(ownr) %>
	<div class="proc_objt">
		<div class="p_objt">
			<%= render partial: prtl_name('ctr_etapas', 'code', 'objt'), locals: {objeto: objeto, ownr: ownr} if prtl?('ctr_etapas', 'code', 'objt') %>
		</div>
		<div class="p_lnks">
			<%= render partial: prtl_name('ctr_etapas', 'code', 'lnks'), locals: {objeto: objeto, ownr: ownr} if prtl?('ctr_etapas', 'code', 'lnks') %>
		</div>
		<div class="p_dtl">
			<%= render partial: prtl_name('ctr_etapas', 'code', 'dtl'), locals: {objeto: objeto, ownr: ownr, scndry: scndry} if prtl?('ctr_etapas', 'code', 'dtl') %>
		</div>
	</div>
<% end %>