<%= render prtl_name('servicios', 'shr', 'logo_org') %>

<div style="padding-left: 1em; padding-right: 1em,">
	<h3>
		Causas en tramitación al 31 de diciembre del <%= @annio %>
	</h3>

	<h5>
		<i class="bi bi-building"></i>
		<%= objeto.razon_social %> 
	</h5>
</div>