<%= render prtl_name('servicios', 'shr', 'logo_org') %>

<div style="padding-left: 1em; padding-right: 1em,">
	<h5>
		CAUSAS EN LAS QUE BANCO ESTADO CENTRO DE SERVICIOS S.A. ES ASESORADO POR TAPIA & CÍA
	</h5>

	<h6>
		<i class="bi bi-building"></i>
		<%= objeto.razon_social %> 
	</h6>
</div>