<%= form_for :rsltd, url: "/causas/#{causa.id}/rsltd" do |form| %>
	<div class="row gx-1">
		<div class="col-9">
			<%= render partial: '0p/lbld_inpts/text_area', locals: { form: form, token: :resultado, objeto: causa, label: 'Petitorio' } %>
		</div>
		<div class="col-3 text-end">
			<button type="submit" class="btn btn-primary">
			  <i class="bi bi-caret-right"></i>
			</button>
		</div>
	</div>
<% end  %>