<div>
	<%= render layout: '0p/collapse/link', locals: {label: "Estimacion", objeto: causa, tooltip: 'Ingresa/modifica Estimación'} do %>
		<b>ESTIMACIÓN SOBRE EL DERECHO QUE ASISTE AL CLIENTE</b>
	<% end %>
	<div class="ps-3">
		<div>
			<b>Rango de probabilidad:</b> <%= causa.probabilidad %>
		</div>
		<b>Observación:</b>
		<div class="ps-3">
			<i><%= causa.estimacion %></i>
		</div>
		<div>
			<b>Monto de potencial pérdida:</b> <%= s_pesos(causa.potencial_perdida) %>
		</div>
	</div>
</div>