      <h5><%= render partial: '0p/general/icon_text', locals: {gly: 'cash-coin', text: 'Tarifas Generales', clr: app_color[:app]} %></h5>
      <%= render partial: '0p/tabla/solo_tabla', locals: {c: 'tar_tarifas', a: 'index'} %>
      <%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: nil, c: 'tar_tarifas', a: 'index', gly: 'plus-circle'} %>
