<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'cash-coin', text: "Tarifa #{@objeto.tarifa	}", clr: app_color[:app]} %></h4>

<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'coin', text: "Pagos", clr: app_color[:app]} %></h5>
<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'tar_pagos', a: 'index'} %>
