<div class="row lista-icono">
	<div class="col-md-3">
		<%= image_tag objeto.imagen.thumb.url, class: "img-fluid rounded-0" unless objeto.imagen.blank? %>
	</div>
	<div class="col-md-7">
		<small><%= link_to objeto.blg_articulo, objeto %></small>
	</div>
	<div class="col-md-2">
		<small><small>
			<% if admin? %>
				<%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %>
			<% end %>
		</small></small>
	</div>
</div>
