<div class="col-9">
	<small>
	<%= objeto.tar_detalle_cuantia %>
	<% unless objeto.descripcion.blank? %>
	</br>
	<small><i class="bi bi-dot"></i> <%= objeto.descripcion %></small>
	<% end %>
	</small>
</div>
<div class="col-3" align='right'>
	<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
</div>