<%= objeto.tar_detalle_cuantia %> 
<% unless objeto.formula_cuantia.blank? %>
	<div style="line-height: 13px; padding-left: 1em;">
	<small class="text-muted"><i class="bi bi-lightbulb"></i> <%= objeto.formula_cuantia %></small>
	</div>
<% end %>