<div class="objt">

	<%= render partial: '0p/general/head_objt', locals: {clss: 'prtcpnts_objt' ,objeto: objeto, ownr: @objeto} %>

	<div class="dsply">
		<%= render partial: prtl_name('krn_denunciados', 'list', 'cllps'), locals: {objeto: objeto} %>
	</div>

	<%# @etps.each do |etp| %>
		<%#= render partial: prtl_name('ctr_etapas', 'code', 'objeto'), locals: {objeto: etp, ownr: objeto, scndry: 'KrnDenunciado'} if prtl?('ctr_etapas', 'code', 'objeto') %>
	<%# end %>

	<div class="objt">
		<%= render partial: '0p/general/indx_ttl', locals: {clss: 'prtcpnts_ttl', src: 'krn_testigos', ownr: objeto} %>
		<% objeto.krn_testigos.rut_ordr.each do |tstg| %>
			<%= render partial: prtl_name('krn_testigos', 'list', 'objeto'), locals: {objeto: tstg} %>
		<% end %>
	</div>

</div>