<div class="txt">
	<%# if ['Multa', 'Redacción'].include?(objeto.tipo_asesoria.tipo_asesoria) %>
		<%#= link_to objeto.descripcion, objeto %>
	<%# else %>
		<b><%= objeto.descripcion %></b>
	<%# end %>
</div>