<div style="margin-left: 7%;">
	<%= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_declaraciones', ownr: @objeto, fs: 6} %>
	<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_declaraciones', shdw: false, typ: 'ln', crud: 'lnks'} %>
</div>