<div class="f_250rght_col">
	<div class="lft">
    	<%= render partial: '0capitan/general/app_ttl', locals: {c: 'dt_materias', title: "Materias", link: '/dt_materias/new', tooltip: 'Agregar materia' } %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'dt_materias'} %>
	</div>
	<div class="rght">
    	<%= render partial: '0capitan/general/app_ttl', locals: {c: 'dt_tabla_multas', title: "Tablas de multas", link: '/dt_tabla_multas/new', tooltip: 'Agregar tabla de multa' } %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'dt_tabla_multas'} %>
	</div>
</div>