<h1>Reporte #<%= @objeto.id %></h1>

<p>Fecha de generación: <%= Time.current.strftime("%d/%m/%Y %H:%M") %></p>

<table>
  <thead>
    <tr>
      <th>Campo</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>

<%#= render partial: '0p/ttl_shw', locals: {objt: @objeto, dir: 'shw', bck_path: dt_materias_path } %>

<%#= render partial: '0p/tbl/tbl', locals: {source: 'dt_infracciones', typ: 'ln'} %>

  </tbody>
</table>