<h5>Capítulo <%= @objeto.capitulo %>: 
<%= @objeto.dt_materia %></h5>

<%= render partial: '0p/general/gly_title_size', locals: {gly: 'exclamation-diamond', title: 'Infracciones', size: 6} %>

<%= render partial: '0p/tabla/tabla', locals: {c: 'dt_infracciones'} %>