<h4 class="text-center">Registro de evidencias de la aplicación de las medidas correctivas y sanciones</h4>

<p>El reglamento establece un plazo de 15 días corridos para la aplicación de las medidas correctivas y sanciones contenidas en el informe de investigación.</p>
<p>Suba la evidencias de la aplicación de medidas correctivas y sanciones. Finalmente registre la fecha de la última de las evidencias.</p>

<% unless @objt['fl_prnncmnt?'] and @objeto.fl_last_date('dnnc_mdds_sncns') %>
	<p>Archivos pendientes de subir:
	<ol>
		<% unless @objt['fl_prnncmnt?'] %>
			<li><i class="bi bi-cone-striped text-danger"></i> No se ha subido el pronunciamiento de la Dirección del Trabajo.</li>
		<% end %>
		<% unless @objeto.fl_last_date('dnnc_mdds_sncns') %>
			<li><i class="bi bi-cone-striped text-danger"></i> Hasta el momento no se han subido evidencias.</li>
		<% end %>
	</ol>
	</p>
<% end %>