<p>
<% if @objeto.owner.present? %>
	<%= link_to @objeto.owner, class: 'sb-link' do %>
		<i class="bi bi-arrow-up-short"></i>
		<%= "#{to_name(@objeto.owner.class.name)} : #{nombre(@objeto.owner)}" %>
	<% end %>
<% end %>
</p>
