<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo causa:</strong>
  <%= @tipo_causa.tipo_causa %>
</p>

<%= link_to 'Edit', edit_tipo_causa_path(@tipo_causa) %> |
<%= link_to 'Back', tipo_causas_path %>
