<%= render partial: '0capitan/general/app_ttl', locals: {c: 'tar_valor_cuantias', title: "Cuantía", link: "/tar_valor_cuantias/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}", tooltip: 'Agregar item de cuantía' } %>

<% unless objeto.valores_cuantia.empty? %>
	<div class="objeto-box">
		<%= render partial: 'causas/partials/datos_cuantia/detalle_cuantia', locals: {objeto: objeto, porcentaje_cuantia: false, valores_cuantia: valores_cuantia} %>
	</div>
	
	<div class="objeto-box">
		<div class="row">
			<div class="col-6">
				<b>Total Cuantia</b>
			</div>
			<div class="col-6" align='right'>
				<b>
					<%= "#{s_uf(@totales_cuantia[objeto.id][:cuantia_uf]) unless @totales_cuantia[objeto.id][:cuantia_uf] == 0}#{' + ' unless @totales_cuantia[objeto.id][:cuantia_uf]*@totales_cuantia[objeto.id][:cuantia_pesos] == 0}#{s_pesos(@totales_cuantia[objeto.id][:cuantia_pesos]) unless @totales_cuantia[objeto.id][:cuantia_pesos] == 0}" %>
				</b>
			</div>
		</div>
	</div>

	<% if @cuantia_tarifa %>
		<div class="objeto-box">
			<div class="row">
				<div class="col-6">
					<b>Total Cuantia tarifa</b>
				</div>
				<div class="col-6" align='right'>
					<b>
						<%= "#{s_uf(@totales_cuantia[objeto.id][:honorarios_uf]) unless @totales_cuantia[objeto.id][:honorarios_uf] == 0}#{' + ' unless @totales_cuantia[objeto.id][:honorarios_uf]*@totales_cuantia[objeto.id][:honorarios_pesos] == 0}#{s_pesos(@totales_cuantia[objeto.id][:honorarios_pesos]) unless @totales_cuantia[objeto.id][:honorarios_pesos] == 0}" %>
					</b>
				</div>
			</div>
		</div>
	<% end %>
<% end %>