<%= render partial: 'home/box/blg_navbar' %>

<div class="row gx-1 mt-3 border rounded-4 fs-3 text-white" style="margin-left: 3%; margin-right: 3%;">

	<div class="text-center" style="padding-top: 3rem;padding-bottom: 20rem;background-image: url('<%= asset_path('artcls/lentes.png') %>'); background-size: cover; background-position: top;">
	    Ley 21.643 "Ley Karin": <br>El costo del incumplimiento
	    <div class="text-end2" style="font-size: 0.7rem;line-height: 1.5;">Agosto 2025</div>
	    <div class="text-end2" style="font-size: 0.7rem;line-height: 1.5;">Equipo LaborSafe</div>
	</div>


	<div class="mt-4 px-5 text-start text-secondary" style="font-size: 1rem;line-height: 1.5;color: #3c6e71;">
	    <p>A un año de la entrada en vigencia de la Ley 21.643 (Ley Karin), comienzan a conocerse las primeras evaluaciones sobre su implementación. El elevado volumen de denuncias recibidas, además de superar por mucho la capacidad de investigación de la Dirección del Trabajo, ha puesto en el centro de la discusión el <i>procedimiento de investigación y sanción</i>. Las empresas por su parte, ahora enfrentadas a denuncias reales, han transitado en estos meses desde las dudas iniciales hacia las propuestas de cambio, las que en términos generales apuntan a la flexibilización de algunas exigencias del procedimiento.</p>

	    <p>No hay una única forma de implementar la ley. Una empresa con un buen desarrollo organizacional tendrá como objetivo el cambio cultural, y probablemente, éste no será el primer desafío de esta naturaleza que afronta. El proyecto contará con el equipo idóneo y también los recursos necesarios. Sin embargo, la gran mayoría de las empresas no puede garantizar este estándar.</p>

	    <p>El deficiente estándar en la implementación de la ley se debe a dos causas principalmente:
	      <ul>
	        <li>Motivos <i>financieros</i>: la empresa no cuenta con los recursos necesarios.</li>
	        <li>Motivos <i>culturales</i>: la empresa no suscribe o rechaza el cambio cultural propuesto por la ley, probablemente porque considera que su cultura organizacional es suficientemente buena y, en consecuencia, implementará sólo lo necesario para no tener problemas.</li>
	      </ul>
	    </p>

	    <p>En este escenario, para muchas empresas, implementar consiste en <i>cumplir con la ley al menor costo posible</i>. Esta actitud, si bien no es la ideal, sí aporta al menos una metodología: en la medida que una empresa conoce <i>los costos asociados al no cumplimiento</i> de la ley podrá diseñar un modelo de implementación que reduzca o elimine el riesgo de incurrir en ellos. Esta información le permitirá también evaluar fundadamente la pertinencia de las inversiones asociadas.</p>

	    <p>Pongamos entonces nuestra atención en <i>los costos del incumplimiento</i>.</p>

		<h3 class="mt-3">Los costos del incumplimiento</h3>

		<p>El incumplimiento de la Ley 21.643 puede derivar en dos tipos de costos: <i>multas por infracciones</i> y las <i>consecuencias financieras de la judicialización de investigaciones</i>.</p>


		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<h4>Multas por infracciones</h4>
				<p>El monto de una multa asociada al incumplimiento de la ley 21.632 dependerá del tamaño de la empresa y de la gravedad de la falta. Para la evaluación de la gravedad se consideran antecedentes como reincidencia y número de trabajadores afectados, entre otros.</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/costo_multas.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Costo por infracción</div>
			</div>
		</div>

		<p>La Dirección del Trabajo ha establecido a la fecha 29 infracciones asociadas a esta ley:
			<ul>
				<li>7 que fiscalizan la existencia y puesta en marcha del <i>protocolo de prevención</i>.</li>
				<li>22 que fiscalizan la correcta ejecución del <i>procedimiento de investigación y sanción</i>.</li>
			</ul>
		</p>

		<p>Las siete primeras no debieran, tras un año de vigencia, representar riesgo alguno. Seis de ellas controlan que exista el protocolo de prevención y el procedimiento de investigación y sanción; que ambos documentos contengan los contenidos mínimos exigidos y que estén a disposición de todos los trabajadores. La séptima, fiscaliza el deber (de la empresa) de informar semestralmente cuáles son los canales de denuncia que disponen sus trabajadores. Es decir, una implementación muy básica de la ley. Nuestra preocupación debiera estar entonces, en las veintidós restantes.</p>

		<p>Es de esperar, que el número de infracciones se incremente en el tiempo, desarrollo que es propio de una aplicación gradual de la ley. Hoy no encontramos, por ejemplo, infracciones asociadas a la fiscalización de las capacitaciones que la ley declara obligatorias. Hoy, la preocupación es sin duda la correcta aplicación del procedimiento de investigación y sanción. Miremos más en detalle las veintidós infracciones que lo fiscalizan.</p>

		<h4>¿Es importante cumplir los plazos?</h4>

		<p>Sin duda es importante: seis de las veintidós infracciones los fiscalizan.</p>

		<h4>¿Si una empresa decide que sus denuncias sean siempre investigadas por la Dirección del Trabajo, ya no debe preocuparse por multas?</h4>

		<p>No, si la denuncia es presentada directamente en la Dirección del Trabajo hay al menos seis infracciones que podrían aún ser aplicadas a la empresa (y pueden llegar a siete si la empresa participa en un régimen de subcontratación). Esto se debe a que la responsabilidad de aplicar correcta y oportunamente las medidas de resguardo, medidas correctivas y las sanciones, siguen siendo responsabilidad de la empresa.</p>

		<p>Si la denuncia es recibida en la empresa para posteriormente ser derivada a la Dirección del Trabajo, el número de multas que podrían afectar a la empresa sube, al menos, a doce (pudiendo llegar a catorce si la empresa participa en un régimen de subcontratación).</p>

		<p>Y, por último, si es la empresa quien investiga la denuncia, el número de infracciones que podrían afectarla es al menos de diecisiete (pueden ser hasta veinte si la empresa participa en un régimen de subcontratación.)</p>

		<h4>¿Las empresas que participan de un régimen de subcontratación se exponen a un mayor número de multas?</h4>

		

		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<p>Efectivamente, de las veintidós infracciones que fiscalizan el procedimiento de investigación y sanción, cinco aplican sólo si la empresa participa en un régimen de subcontratación. Tres de ellas aplican sólo a empresas principales o usuarias y las dos restantes, a las empresas contratistas, subcontratistas o EST. Su distribución según la etapa en la que participe la empresa se muestra en la siguiente tabla:</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/tabla_pu.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Multas empresas con régimen de subcontratación</div>
			</div>
		</div>

		<p>La tabla muestra que una empresa principal o usuaria, frente a una denuncia que ocurra en el contexto del régimen de subcontratación debe preocuparse por dos multas más si es la entidad que recibe la denuncia y de una multa adicional, si es la entidad que investiga.</p>
		<p>Si se trata de una empresa contratista, subcontratista o EST, debe preocuparse de una multa más <i>siempre</i>, esto es, incluso si la denuncia es presentada directamente en la Dirección del Trabajo y, de una otra multa adicional, si es la entidad que investiga la denuncia.</p>

		<h3>Judicialización de investigaciones</h3>

		<p>La judicialización es una instancia posterior a la investigación a la cual un participante puede recurrir si no está conforme con las sanciones recibidas o si sintió vulnerados sus derechos fundamentales durante la investigación.</p>

		<p>Un juicio por vulneración de derechos fundamentales puede tener una cuantía de entre 6 y 11 remuneraciones brutas si es <i>a propósito del despido</i>; o montos variables si es <i>con relación laboral vigente</i>.</p>

		<p>Contar con un procedimiento de investigación y sanción de buen estándar, no evitará completamente la judicialización de investigaciones, pero sí debiera, al menos, evitar lo siguiente:
			<ul>
				<li>Que a propósito de una mala ejecución del procedimiento de investigación y sanción se llegue a una judicialización de la investigación.</li>
				<li>Que las medidas correctivas no aporten a la prevención de casos similares.</li>
			</ul>
		</p>

		<p>La ley exige explícitamente que todo el procedimiento de investigación y sanción ocurra en un ambiente de cuidado hacia los participantes, con garantías de confidencialidad y siempre incluyendo la perspectiva de género. Por ello, cobra especial relevancia la conformación y capacitación del equipo que asumirá la responsabilidad de la recepción e investigación de las denuncias.</p>

		<p>Si se trata de una empresa principal o usuaria, el equipo de trabajo e investigador tiene una importancia aún mayor pues es necesaria una coordinación de buen nivel con las empresas externas en la recepción de denuncias. Además, las exigencias adicionales respecto de la definición de medidas correctivas y sanciones al momento de redactar el informe de investigación requieren contar con un estándar significativamente mayor.</p>

		<p>Especial importancia en todo esto tiene el investigador asignado a la denuncia. Respecto de su perfil el reglamento establece: </p>

		<p class="px-5"><i>El empleador deberá designar preferentemente a una persona trabajadora que cuente con formación en materia de acoso, género o derechos fundamentales para llevar adelante la investigación.</i></p>

		<p>El riesgo de una posterior judicialización aumenta significativamente cuando la investigación es llevada por un investigador que no cumple con el perfil, razón por la cual, muchas empresas han optado por la externalización de sus investigaciones. Otras tantas, que no pueden financiar ninguna de las anteriores, simplemente derivan todas sus investigaciones a la Dirección del Trabajo.</p>

		<h3>La cultura de la prevención y el valor de la capacitación</h3>

		<p>El número de denuncias recibido durante este primer año establece con claridad que el acoso laboral, sexual y la violencia en el trabajo ejercida por terceros es un problema significativo al interior de nuestras empresas.</p>

		<p>Por ello, la mejor recomendación a la hora de diseñar una implementación de la ley es la de alinearse con sus objetivos. La explicación es obvia: en la medida que las denuncias disminuyen, los problemas lo hacen también.</p>

		<p>Activar el uso y la mejora continua del protocolo de prevención y, capacitar a todo el mundo para facilitar la comprensión y el desarrollo de las investigaciones, es una buena inversión. Prevenir es siempre mejor que curar.</p>

		<p class="text-center"><i class="bi bi-c-circle"></i> Equipo de LaborSafe</p>

	</div>
</div>