<%= render partial: 'home/box/blg_navbar' %>

<div class="row gx-1 mt-3 border rounded-4 fs-3 text-white" style="margin-left: 3%; margin-right: 3%;">

	<div class="text-center" style="padding-top: 3rem;padding-bottom: 20rem;background-image: url('<%= asset_path('artcls/lentes.png') %>'); background-size: cover; background-position: top;">
	    Ley 21.643 "Ley Karin": <br>El costo del incumplimiento y la importancia de una implementación efectiva
	    <div class="text-end2" style="font-size: 0.7rem;line-height: 1.5;">Agosto 2025</div>
	    <div class="text-end2" style="font-size: 0.7rem;line-height: 1.5;">Equipo LaborSafe</div>
	</div>


	<div class="mt-4 px-4 text-start text-secondary" style="font-size: 1rem;line-height: 1.5;color: #3c6e71;">
		<p>Tras un año de vigencia, la implementación de la ley 21.643 (Ley Karin) presenta nuevos desafíos. Un número significativo de empresas han recibido sus primeras denuncias, y las que no, empiezan a preguntarse si están preparadas operativamente para enfrentar una investigación. Los desafíos se concentran ahora, en la implementación operativa del <i>Procedimiento de investigación y sanción</i>.</p>

		<p class="objt_lnk">No hay una única forma de cumplir la ley: para algunas empresas el desafío consiste en lograr el cambio cultural buscado (<i>la prevención</i>), a otras, les bastará con cumplir con el mínimo necesario para no tener problemas. Y por <i>problemas</i> debemos entender <i>los costos asociados al incumplimiento de la ley</i>.</p>

		<h3 class="mt-3">Los costos del incumplimiento</h3>

		<p>El incumplimiento de la Ley 21.643 puede derivar en dos tipos de costos: <i>multas por infracciones</i> o, la <i>judicialización de investigaciones</i>.</p>


		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<h4>Multas por infracciones</h4>
				<p>La Dirección del Trabajo ha establecido a la fecha 29 infracciones asociadas a esta ley. 7 de ellas fiscalizan la implementación del protocol de prevención y las 22 restantes, el correcto funcionamiento del procedimiento de investigación y sanción. Las multas oscilan entre 3 y 60 UTM, dependiendo del tamaño de la empresa y la gravedad de la falta.</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/costo_multas.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Costo por infracción</div>
			</div>
		</div>

		<h4 class="mt-3">¿Por qué pueden multarme?</h4>

		<p>Cumplir con las 7 infracciones que fiscalizan la implementación del protocolo es simple: basta con contar con la documentación obligatoria, que se haya puesto a disposición de todos los trabajadores y cumplir con la obligación de informar los canales de denuncia semestralmente.</p>

		<p>Las 22 infracciones que fiscalizan el correcto funcionamiento del procedimiento de investigación y sanción, en cambio, requieren una mirada más cuidadosa.</p>

		<p>Lo primero que debemos comprender es que el número de infracciones de las cuales nos debemos preocupar dependerá del tipo de denuncia, no del tipo de empresa. 5 de las 22 infracciones son aplicables sólo a denuncias que involucran a más de una empresa (régimen de subcontratación), pero una empresa que participa en un régimen de subcontratación (cualquiera sea su rol), también recibirá denuncias en las cuales no estén involucrados empleados de otras empresas, las que deberán ser gestionadas como si no existiera el régimen de subcontratación.</p>

		<p>Desde otra perspectiva, podemos mirar las infraccciones en función de las entidades que participan de las distintas etapas del procedimiento:</p>
		
		Si la denuncia es presentada directamente en la Dirección del Trabajo, la empresa podría ser afectada por 5 infracciones (hay los que piensan que el número se reduce a cero), esto es porque la responsabilidad de la correcta y oportuna aplicación de las medidas de resguardo, correctivas y sanciones de la investigación siempre será de la empresa y la Dirección del Trabajo, por supuesto, lo fiscaliza.</p>

		<p>Si la denuncia es recibida en la empresa y posteriormente derivada a la Dirección del Trabajo, el número sube a 11. Esto aplica incluso respecto a las denuncias recibidas por empresas principales o usuarias, presentadas por empleados de empresas externas y sin importar cuál empresa tiene la competencia de investigar.</p>

		<p>Finalmente, si la denuncia es investigada por la empresa, el numero de infracciones que pueden afectarla llega a 17. Las 5 infracciones que restan para llegar a 22 son exclusivas de denuncias que ocurren en el contexto de régimen de subcontratación.</p>

		<h4 class="mt-3">Judicialización de investigaciones</h4>

		<p>La judicialización, es una instancia posterior a la investigación, a la cual un participante puede recurrir si no está conforme con las sanciones recibidas o, si sintió vulnerados sus derechos fundamentales durante la investigación.</p>

		<p>Un juicio por vulneración de derechos fundamentales puede tener una cuantía de entre 6 y 11 remuneraciones brutas si es <i>a propósito del despido</i> o montos variables si es <i>con relación laboral vigente</i>.</p>

		<p>Contar con un buen procedimiento de investigación y sanción no evitará totalmente la judicialización de investigaciones. Sí evitará algunas innecesarias, si cuenta con los protocolos adecuados.</p>

		<p>La recepción e investigación de denuncias en el contexto de un régimen de subcontratación representa, especialmente para las empresas principales o usuarias, un riesgo significativo de posibles infracciones y judicializaciones. En estos casos es importante contar con un buen estándar de colaboración en la recepción de denuncias y, la validación legal de las sanciones contenidas en el informe de investigación que afecten a empleados de empresas externas.</p>

		<h4 class="mt-3">El valor de una implementación efectiva</h4>

		<p>Lograr un buen estándar en la implementación de la ley requiere de un conocimiento acabado del protocolo de prevención y del reglamento que regula el procedimiento de investigación y sanción. Este es el insumo principal de un buen diseño y la garantía de que todos los detalles estarán cubiertos. Una vez resuelta la implementación, el buen estándar será responsabilidad exclusiva del equipo de trabajo.</p>

		<p>Dado que la ley exige explícitamente que todo el procedimiento de investigación y sanción ocurra en un ambiente de cuidado hacia los participantes, con garantías de confidencialidad y siempre incluyendo la perspectiva de género, cobra especial relevancia la conformación y capacitación del equipo que asumirá la responsabilidad de la recepción e investigación de las denuncias. Un buen equipo, capacitado y consciente de la importancia de su labor, evitará situaciones que puedan llevar a la judicialización de la investigación.</p>

		<p>Importancia especial tiene la elección del investigador. Respecto de su perfil el reglamento establece: <i>El empleador deberá designar preferentemente a una persona trabajadora que cuente con formación en materia de acoso, género o derechos fundamentales para llevar adelante la investigación</i>.</p>

		<p>El riesgo de una posterior judicialización aumenta significativamente cuando el investigador asignado no cumple con el perfil requerido, razón por la cual, muchas empresas han optado por la externalización de sus investigaciones y otras tantas, que no pueden financiar ninguna de las soluciones anteriores, simplemente derivan todas sus investigaciones a la Dirección del Trabajo.</p>

		<p>Por último, y muy importante. No olvidar que el objetivo central de la implementación de la ley es la prevención. Que una buena implementación se evidencia en la mejora continua de los ambientes de trabajo y no su deterioro. Que las malas prácticas y el mal uso de la ley, en cuanto potencian factores de riesgo psicosociales en la organizacion, también son materia de las conclusiones de una investigación y fundamento más que suficiente para adoptar medidas correctivas.</p>

		<p class="text-center"><i class="bi bi-c-circle"></i> Equipo de LaborSafe</p>

	</div>
</div>