<%= render partial: 'home/box/blg_navbar' %>

<div class="row gx-1 mt-3 border rounded-4 fs-3 text-white" style="margin-left: 3%; margin-right: 3%;">

	<div class="text-center" style="padding-top: 3rem;padding-bottom: 20rem;background-image: url('<%= asset_path('artcls/lentes.png') %>'); background-size: cover; background-position: top;">
	    Ley 21.643 "Ley Karin": <br>El costo del incumplimiento
	    <div class="text-end2" style="font-size: 0.7rem;line-height: 1.5;">Agosto 2025</div>
	    <div class="text-end2" style="font-size: 0.7rem;line-height: 1.5;">Equipo LaborSafe</div>
	</div>


	<div class="mt-4 px-5 text-start text-secondary" style="font-size: .9rem;line-height: 1.5;color: #3c6e71;">
	    <p>A un año de la entrada en vigencia de la Ley 21.643 (Ley Karin), comienzan a conocerse las primeras evaluaciones sobre su implementación. El elevado volumen de denuncias recibidas, además de superar por mucho la capacidad de investigación de la Dirección del Trabajo, ha puesto en el centro de la discusión el <i>procedimiento de investigación y sanción</i>. Las empresas por su parte, ahora enfrentadas a denuncias reales, han transitado en estos meses desde las dudas iniciales hacia las propuestas de cambio, las que en términos generales apuntan a la flexibilización de algunas exigencias del procedimiento.</p>

	    <p>Sin importar el tamaño de la empresa, o lo alineada que esté con el cambio cultural propuesto por la ley, la recepción de las primeras denuncias traerá consigo un aprendizaje importante. Aprendizaje que frecuentemente implicará adecuaciones y mejoras sobre la marcha: hay plazos que cumplir y multas que evitar. Es la hora de la verdad, el momento en el que se pone a prueba el estándar logrado en la implementación de la ley.</p>

	    <p>La implementación de la Ley 21.643 es compleja en muchos sentidos. Se trata de un cambio cultural significativo, prueba de ello es el número de denuncias recibidas, pero también es exigente en terminos financieros: para un número importante de empresas, la implementación de la ley en un buen estándar representa un costo que no pueden enfrentar completamente. Estas brechas pueden llegar a ser muy significativas.</p>

	    <p>Origen de las principales brechas en la implementación de la ley:
			<ul>
				<li><i>Financiera</i>: la empresa no cuenta con los recursos necesarios para garantizar un buen estándar.</li>
				<li><i>Cultural</i>: la empresa no suscribe o rechaza el cambio cultural propuesto por la ley, probablemente porque considera que su cultura organizacional es suficientemente buena o simplemente no le interesa.</li>
			</ul>
		</p>

		<p>Implementar un canal de denuncias, diseñar e implementar medidas de resguardo, contar con (al menos) un investigador con las competencias necesarias, cumplir con las exigencias formales de una investigación, entre otros, son desafíos aún presentes tras un año de vigencia de la ley. Su implementación o perfeccionamiento en el tiempo, si bien tendrá estándares distintos en cada empresa, buscará siempre satisfacer una exigencia mínima: <i>evitar los costos asociados al incumplimiento de la ley</i>.</p>

		<h3 class="mt-3">Los costos del incumplimiento</h3>

		<p>El incumplimiento de la Ley 21.643 puede derivar en dos tipos de costos:
			<ul>
				<li><i>Multas por infracciones.</i></li>
				<li><i>consecuencias financieras de la judicialización de investigaciones.</i></li>
			</ul>
		</p>

		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<h4>Multas por infracciones</h4>
				<p>El monto de una multa asociada al incumplimiento de la ley 21.632 dependerá del tamaño de la empresa y de la gravedad de la falta, la cual se evalúa considerando antecedentes como reincidencia y número de trabajadores afectados, entre otros.</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/costo_multas.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Costo por infracción</div>
			</div>
		</div>

		<p>La Dirección del Trabajo ha establecido a la fecha 29 infracciones asociadas a esta ley:
			<ul>
				<li>7 que fiscalizan la existencia y puesta en marcha del <i>protocolo de prevención</i>.</li>
				<li>22 que fiscalizan la correcta ejecución del <i>procedimiento de investigación y sanción</i>.</li>
			</ul>
		</p>

		<p>Las siete primeras no debieran, tras un año de vigencia, representar riesgo alguno. Seis de ellas fiscalizan: la existencia del <i>protocolo de prevención</i> y el <i>procedimiento de investigación y sanción</i>; que ambos documentos contengan los contenidos mínimos exigidos y que estén a disposición de todos los trabajadores. La séptima, fiscaliza el deber (de la empresa) de informar semestralmente cuáles son los canales de denuncia disponibles para sus trabajadores. Es decir, una implementación muy básica de la ley. Nuestra preocupación debiera estar entonces, en las veintidós restantes.</p>

		<p style="font-size: .7rem;line-height: 1.5;"><b>NOTA</b>: Es de esperar, que el número de infracciones se incremente en el tiempo, desarrollo que es propio de una aplicación gradual de la ley. Hoy no encontramos, por ejemplo, infracciones que fiscalicen la realización de las capacitaciones que la ley declara obligatorias.</p>

		<h5>¿Es importante cumplir los plazos?</h5>

		<p>Sin duda es importante: seis de las veintidós infracciones los fiscalizan.</p>

		<h5>¿Si una empresa decide que sus denuncias sean siempre investigadas por la Dirección del Trabajo, ya no debe preocuparse por multas?</h5>

		<p>No, si la denuncia es presentada directamente en la Dirección del Trabajo hay <i>al menos</i> seis infracciones que podrían aún ser aplicadas a la empresa (pueden llegar a siete si la empresa participa en un régimen de subcontratación). Esto se debe a que la responsabilidad de aplicar correcta y oportunamente las medidas de resguardo, medidas correctivas y las sanciones, será siempre de la empresa.</p>

		<p>Si la denuncia es recibida en la empresa para posteriormente ser derivada a la Dirección del Trabajo, el número de multas que podrían afectar a la empresa sube, al menos, a doce (pudiendo llegar a catorce si la empresa participa en un régimen de subcontratación).</p>

		<p>Por último, si es la empresa quien investiga la denuncia, el número de infracciones que podrían afectarla es al menos de diecisiete (pueden ser hasta veinte si la empresa participa en un régimen de subcontratación.)</p>

		<h5>¿Las empresas que participan de un régimen de subcontratación se exponen a un mayor número de multas?</h5>

		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<p>Efectivamente, de las veintidós infracciones que fiscalizan el procedimiento de investigación y sanción, cinco aplican sólo si la empresa participa en un régimen de subcontratación. Tres de ellas aplican sólo a empresas principales o usuarias y las dos restantes, a las empresas contratistas, subcontratistas o EST. Su distribución según la etapa en la que participe la empresa se muestra en la siguiente tabla:</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/tabla_pu.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Multas empresas con régimen de subcontratación</div>
			</div>
		</div>

		<p>La tabla muestra que una empresa principal o usuaria, frente a una denuncia que ocurra en el contexto del régimen de subcontratación debe preocuparse por dos multas más, si es la entidad que recibe la denuncia y de una multa adicional, si es la entidad que investiga.</p>

		<p>Si se trata de una empresa contratista, subcontratista o EST, debe preocuparse de una multa más <i>siempre</i>, esto es, incluso si la denuncia es presentada directamente en la Dirección del Trabajo y, de una otra multa adicional, si es la entidad que investiga la denuncia.</p>

		<p style="font-size: .7rem;line-height: 1.5;"><b>NOTA</b>: Una empresa que participa en un régimen de subcontratación puede ser afectada por estas infracciones adicionales sólo en las denuncias que ocurran en el contexto del régimen de subcontratación. Estas no afectarán a las denuncias que involucran exclusivamente a sus empleados.</p>

		<h3>Judicialización de investigaciones</h3>

		<p>La judicialización es una instancia posterior a la investigación, a la cual un participante puede recurrir si no está conforme con las sanciones recibidas o si sintió vulnerados sus derechos fundamentales durante la investigación.</p>

		<p>Un juicio por vulneración de derechos fundamentales puede tener una cuantía de entre 6 y 11 remuneraciones brutas si es <i>a propósito del despido</i>; o montos variables si es <i>con relación laboral vigente</i>.</p>

		<p>Contar con un procedimiento de investigación y sanción de buen estándar, no evitará completamente la judicialización de investigaciones, pero sí debiera:
			<ul>
				<li>Evitar que a propósito de una mala ejecución del procedimiento de investigación y sanción, se llegue a una judicialización de la investigación.</li>
				<li>A través de sus medidas correctivas, aportar significativamente a la prevención de casos similares.</li>
			</ul>
		</p>

		<p>La ley exige explícitamente que todo el procedimiento de investigación y sanción ocurra en un ambiente de cuidado hacia los participantes, con garantías de confidencialidad y siempre incluyendo la perspectiva de género. Por ello, cobra especial relevancia la conformación y capacitación del equipo que asumirá la responsabilidad de la recepción e investigación de las denuncias.</p>

		<p>Si se trata de una empresa principal o usuaria, el estándar del equipo tiene una importancia aún mayor:
		<ul>
			<li>La recepción de denuncias que ocurren en el contexto del régimen de subcontratación requiere una buena coordinación con las empresas externas.</li>
			<li>Respecto de la definición de medidas de resguardo, correctivas y sanciones al momento de redactar el informe de investigación requieren una evaluación de mayor complejidad.</li>
		</ul></p>

		<p>Especial importancia tiene el <i>investigador asignado a la denuncia</i>. Respecto de su perfil el reglamento establece: </p>

		<p class="px-5"><i>El empleador deberá designar preferentemente a una persona trabajadora que cuente con formación en materia de acoso, género o derechos fundamentales para llevar adelante la investigación.</i></p>

		<p>El riesgo de una posterior judicialización aumenta significativamente cuando la investigación es llevada por un investigador que no cumple con el perfil, razón por la cual, muchas empresas han optado por la externalización de sus investigaciones. Otras tantas, que no pueden financiar ninguna de las anteriores, simplemente derivan todas sus investigaciones a la Dirección del Trabajo.</p>

		<h3>El cambio cultural</h3>

		<p>El número de denuncias recibido durante este primer año establece con claridad que el acoso laboral, sexual y la violencia en el trabajo ejercida por terceros es un problema significativo al interior de nuestras empresas.</p>

		<p>Por ello, una buena recomendación, a la hora de diseñar o mejorar una implementación de la ley, es la de alinearse con sus objetivos. La explicación es obvia: en la medida que las denuncias disminuyen, los problemas lo hacen también. Prevenir es mejor que curar.</p>

		<p>Muchas empresas sienten que el verdadero desafío es <i>sobrevivir a la investigación de una denuncia</i>. El evidente deterioro de su organización tras la investigación, los conduce al juicio de que, lejos de aportar, la investigación profundizó sus problemas. La ley es mala, concluyen.</p>

		<p>Lo cierto es que su empresa no estaba preparada para una investigación. Hay una brecha cultural que resolver, lo que necesita es capacitación e involucramiento en el cambio cultural. Necesita estar preparada.</p>

		<p>Este es en tema importante que requiere ser profundizado, lamentablemente nos aleja del propósito de este artículo. Lo incluímos sólo para visibilizar el importante costo organizacional que puede tener no asumir el cambio cultural propuesto. Al fin y al cabo, es ese el sentido de la ley.</p>

		<p class="text-center"><i class="bi bi-c-circle"></i> Equipo de LaborSafe</p>

	</div>
</div>