<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<p><b>Acciones que determinan el cierre de la etapa de Recepción de la denuncia.</b></p>
	<ol>
		<li>Entregar toda la información obligatoria a la persona denunciante (si se trata de una denuncia presencial).</li>
		<li>Dependiendo del tipo de denuncia, registrar alguna de las siguientes fechas.
			<ul>
				<li>Fecha en la cual se notificó a la Dirección del Trabajo el inicio de la investigación local.</li>
				<li>Fecha en la cual la Dirección del Trabajo notifica a la empresa la recepción de una denuncia.</li>
				<li>Fecha del certificado en el cual la Dirección del Trabajo acusa recibo de la derivación que recibió.</li>
			</ul>
		</li>
	</ol>
	<p>Al ingresar alguna de las fechas anteriores, la plataforma dará por cerrada la etapa de Recepción de denuncia y evaluará en función de la información recibida, el cumplimiento del plazo de 3 días hábiles.</p>
</div>