<div class="px-3 text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Asignación del investigador a la denuncia.</h5>
	<p>Es proceso es muy simple:
		<ol>
			<li>En el encabezado del investigador, presionar el botón <i class="bi bi-plus-circle"></i> para asignar el investigador.</li>
			<li>Una vez en el formulario de asignación, aparecerá el primer investigador de la lista seleccionado por defecto, al hacer click sobre en nombre del investigador propuesto podrá ver la lista completa y seleccionar el deseado.</li>
			<li>Presionar el botón <b>Crear Investigador</b>.</li>
		</ol>
	</p>
</div>