<div class="ttl_app">

	<div class="ttl_ttl">
		<%= render partial: prtl_ttl, locals: {objeto: objeto} %>
	</div>
	<div class="ttl_lnks">
		<% unless prtl_lnks.blank? %>
			<%= render partial: prtl_lnks, locals: {objeto: objeto} %>
		<% end %>
	</div>

</div>