<div class="border-top2 p-3 text-center w-100">
    <div class="mt-4 d-flex justify-content-center">
        <%= image_tag 'logo/addt_a60.png', class: 'img-fluid', style: 'display: block;', alt: 'ADDT' %>
    </div>
    <h4 class="objt_lnk">
        Abogados derecho del trabajo<br>
        <%#= link_to 'www.erpmagistra.com', 'https://www.erpmagistra.com', target: '_blank' %>
    </h4>
</div>