<div class="my-5 mx-3 mx-md-4 mx-lg-5">
  <div class="border-top mb-1 p-2 text-center">
    <!-- Título fluido entre 1.25rem y 2rem -->
    <h3 style="font-size: clamp(1.25rem, 2.2vw + 0.5rem, 2rem);">ALIANZAS ESTRATÉGICAS</h3>
  </div>
  <div class="row gx-4 d-flex align-items-stretch">
    <div class="col-lg-6 col-xs-12 d-flex">
      <%= render partial: 'aplicacion/home/public/magistra' %>
    </div>
    <div class="col-lg-6 d-flex">
      <%= render partial: 'aplicacion/home/public/addt' %>
    </div>
  </div>
</div>