<div class="my-4 mx-3 mx-md-4 mx-lg-5">
	<div class="border rounded-2 mb-1 p-2 text-center">
		<h3>ALIANZAS ESTRATÉGICAS</h3>
	</div>
	<div class="row gx-1 d-flex align-items-stretch">
	    <div class="col-lg-6 col-xs-12 d-flex">
	        <%= render partial: 'aplicacion/home/public/magistra' %>
	    </div>
	    <div class="col-lg-6 d-flex">
	        <%= render partial: 'aplicacion/home/public/addt' %>
	    </div>
	</div>
</div>