<div class="border-top2 p-3 text-center w-100">
    <div class="d-flex justify-content-center">
        <%= image_tag 'logo/logo_magistra_a90.png', class: 'img-fluid', style: 'display: block;', alt: 'Magistra ERP' %>
    </div>
    <h5 class="objt_lnk">
        Magistra ERP<br>
        <%= link_to 'www.erpmagistra.com', 'https://www.erpmagistra.com', target: '_blank' %>
    </h5>
</div>