<%#= image_tag 'logo/logo_blue_40.webp', class: 'img-fluid' %>
<div class="px-4 fs-1">
	Gestione sus denuncias de la Ley 21.643<br>en una plataforma especializada
</div>

<!--div class="row gx-4 mt-5" style="margin: 1rem 5%;">
	<div class="col-12">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h4 class= "open-sans-regular">Plataforma especializada en la gestión integral del procedimiento de investigación y sanción establecido por la Ley N.º 21.643.</h4>
		</div>
	</div>
</div-->

<div class="row gx-4 mt-5" style="margin: 1rem 5%;">
	<div class="col-lg-4 col-xs-12">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h3>Externalización de investigaciones</h3>
		  <h6 class="open-sans-regular" style="font-size: 0.9rem;line-height: 1.5;">Servicio orientado a empresas cuyo volumen de denuncias no justifica la contratación de un investigador.</h6>
		</div>
	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h3>Auditoría de investigaciones</h3>
		  <h6 class="open-sans-regular" style="font-size: 0.9rem;line-height: 1.5;">Servicio dirigido a empresas que requieran revisar el cumplimiento legal y normativo de investigaciones ya realizadas.</h6>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h3>Consultoría y capacitación</h3>
		  <h6 class= "open-sans-regular text-start" style="font-size: 0.9rem;line-height: 1.5;">
		  	Nuestros servicios de consultoría y capacitación cubren integralmente todas las exigencias del procedimiento de investigación y sanción.
		  </h6>
		</div>
	</div>
</div>