<div align="center">
	<small><small>
	<% unless objeto.estado == 'realizado' %>
		<%= render partial: 'actividades/age_pendientes/list/elems/set_prioridad', locals: {objeto: objeto} %>
	<% end %>

	<%= link_to "/age_pendientes/#{objeto.id}/realizado_pendiente", title: "#{objeto.estado == 'pendiente' ? 'Marcar como realizada' : 'Marcar como pendiente' }", 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
		<% if objeto.estado == 'realizado' %>
			<i class="bi bi-arrow-left"></i> 
		<% else %>
			<i class="bi bi-check-lg"></i>
		<% end %>
	<% end %>
	</small></small>
</div>