<h4 class="text-center">Opciones de la empresa.</h4>

<p class="objt_lnk"><b>La empresa decide entre las siguientes opciones:</b>
	<ol>
		<li>La denuncia será derivada a la Dirección del Trabajo.</li>
		<li>La denuncia será investigada por la empresa.</li>
	</ol>
</p>