<% data ||= nil %>
<div class="mb-3 form-check">
  <%= form.check_box token, 
        class: "form-check-input", 
        data: data %>
  <%= form.label token, label, class: "form-check-label" %>
</div>