<%# dflt = action_name == 'new' ? Time.zone.now : form.object.send(token).presence %>
<% start_year_step 	||= 1 %>
<div class="mb-3">
	<%= form.label(token, label) %><br>
	<%= form.date_select(
    token,
    { 
      order: [:day, :month, :year],
      prompt: { day: 'Día', month: 'Mes', year: 'Año' },
      include_blank: true,
      start_year: Date.today.year - start_year_step,
#      selected: dflt  # Usa 'selected' en lugar de 'default'
    }
  ) %>
	<%#= form.date_select token, { default: dflt, order: [:day, :month, :year], prompt: { day: 'Día', month: 'Mes', year: 'Año' }, include_blank: true, start_year: Date.today.year - start_year_step} %>
</div>