<div class="form-floating mb-3">

    <%= form.number_field token, step: :any, class: "form-control", id: label.parameterize, placeholder: label %>
    <%= form.label token, label, for: label.parameterize %>

</div>