<div class="form-floating mb-3">

    <%= form.text_field token, class: "form-control", id: label.parameterize, placeholder: label %>
    <%= form.label token, label, for: label.parameterize %>

</div>
