<%= render prtl_name('servicios', 'shr', 'logo_org') %>
<h4>Audiencias pendientes</h4>

<% @coleccion['age_actividades'].each do |actvdd| %>
	<div class="row gx-1">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
	<%= render partial: prtl_name('age_actividades', 's_ln', 'objt'), locals: {objeto: actvdd, dir: 's_ln'} %>
<% end %>