<%= render prtl_name('servicios', 'shr', 'logo_org') %>
<h4>Audiencias pendientes</h4>

<% @coleccion['age_actividades'].each do |actvdd| %>
	<%= render partial: prtl_name('age_actividades', 's_ln', 'objt'), locals: {objeto: actvdd, clss: 'objt_ln', dir: 's_ln'} %>
<% end %>