<%= render prtl_name('servicios', 'shr', 'logo_org') %>
<h4>Audiencias pendientes</h4>

<% @coleccion['age_actividades'].each do |actvdd| %>
	<%= render partial: '0p/tabla/clss_dir_objt_ln', locals: {objeto: actvdd, clss: 'objt_ln', dir: 's_ln'} %>
<% end %>