<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'rep_archivos', ttl: 'Archivos de la versión', ownr: @objeto} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'rep_archivos'} %>
	</div>
	<div class="rght">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'cfg_valores', ttl: "Configuración de la versión", ownr: @objeto} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'cfg_valores'} %>
	</div>
</div>