<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: '¡Su cuenta ha espirado!'} do %>

	<p><b>Su cuenta ha exedido los días otorgados para su funcionamiento.</b></p>
	<p>Todo el contenido de su cuenta será próximamente eliminado.</p>
	
	<% unless admin? %>
		<p>Comuniquese con el administrador de la cuenta para resolver el problema.</p>
	<% end %>

<% end %>