<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: '¡Su cuenta está completa!'} do %>

	<p><b>Su cuenta ha utilizado el número de denuncias asignada a su producto.</b></p>
	
	<% unless admin? %>
		<p>Comuniquese con el administrador de la cuenta para resolver el problema.</p>
	<% end %>

<% end %>