<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: '¡Bienvenido a Laborsafe!'} do %>

	<p><b>Su cuenta de empresa aún no está operativa, debe completar la configuración inicial:</b></p>
	
	<ul>
		<% unless @objeto.investigadores? %>
			<li>Se debe ingresar al menos un investigador.</li>
		<% end %>

		<% if @objeto.plan_type == 'extendido' and @objeto.krn_empresa_externas.none? %>
			<li>Se debe ingresar al menos una empresa externa.</li>
		<% end %>

		<% unless @objeto.app_contactos.exists?(grupo: 'RRHH') %>
			<% if @objeto.verificacion_datos %>
			<li>Se debe ingresar al menos un contacto de RRHH.</li>
			<% end %>
		<% end %>
		<% unless @objeto.app_contactos.exists?(grupo: 'Apt') %>
			<% if @objeto.coordinacion_apt %>
			<li>Se debe ingresar al menos un contacto para atención psicológica temprana.</li>
			<% end %>
		<% end %>
		<% unless @objeto.app_contactos.exists?(grupo: 'Backup') %>
			<li>Se debe ingresar al menos un contacto para el respaldo de correos electrónicos.</li>
		<% end %>
	</ul>

	<% unless @objeto.verificacion_datos %>
		<p><i class="bi bi-lightbulb"></i> No está activada la verificación de datos de las personas participantes</p>
	<% end %>

	<% unless @objeto.coordinacion_apt %>
		<p><i class="bi bi-lightbulb"></i> No está activada la coordinación de atención psicológica temprana para las personas denunciantes</p>
	<% end %>

	<% unless admin? %>
		<p>Comuniquese con el administrador de la cuenta para resolver el problema.</p>
	<% end %>

	<p class="objt_lnk">Si esta es su primera experiencia en el ambiente <b>LaborSafe</b> le recomendamos visitar: 
	<%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'ambnt', dscrpcn: 'Configuración básica', tltp: 'Configuración básica', target: '_blank'} %></p>

<% end %>