<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: '¡Bienvenido a LABORSAFE!'} do %>

	<p><b>Su cuenta de empresa aún no está operativa, debe completar la configuración inicial:</b></p>
	
	<ul>
		<% unless @objeto.investigadores? %>
			<li>Se debe ingresar al menos un investigador.</li>
		<% end %>

		<% if @objeto.principal_usuaria %>
			<% unless @objeto.empresas_externas? %>
				<li>Se debe ingresar al menos una empresa externa.</li>
			<% end %>
		<% end %>
	</ul>

	<% unless admin? %>
		<p>Comuniquese con el administrador de la cuenta para resolver el problema.</p>
	<% end %>

	<p class="objt_lnk">Si esta es su primera experiencia en el ambiente <b>LaborSafe</b> le recomendamos visitar: 
	<%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'ambnt', dscrpcn: 'Configuración básica', tltp: 'Configuración básica', target: '_blank'} %></p>

<% end %>