<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'building', text: "Clientes por facturar", clr: app_color[:app]} %></h5>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'clientes', a: 'index'} %>
