<div class="row">
	<div class="col-lg-3 col-xs-12">
		<%= render partial: 'causas/partials/show_archivos', locals: {objeto: objeto} %>
		<hr>
		<%= render partial: 'causas/partials/show_enlaces', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-9">
	</div>
</div>
