<div class="row">
	<div class="col-lg-6 col-xs-12">



		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_repos', title: 'Documentos & archivos', link_new: nil} %>

		<%= render partial: 'clientes/partials/tab_seg_repositorio', locals: {objeto: objeto} %>


		<%#= render partial: 'recursos/app_enlaces/partials/show_enlaces', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-6">

		<%= render partial: 'clientes/partials/tab_seg_actividades', locals: {objeto: objeto} %>

	</div>
</div>
