<nav>

  <input id="hMenuBtn" type="checkbox" /> 
  <label for="hMenuBtn"></label>

	<% menu_left[sym].each do |area_menu| %>
		<% if area_menu[:condicion] %>

			<!-- DESPLIEGA UN MODELO -->
			<% unless area_menu[:titulo] == 'Tablas' %>

				<%= render partial: '0p/lmenu/modelos', locals: {area_menu: area_menu} %>

			<!-- DESPLIEGA TABLAS -->
			<% else %>

				<div class="itm_ttl">
					<i class="bi bi-<%=controller_icon['tablas']%>"></i> Tablas
				</div>

				<%= render partial: '0p/lmenu/tablas', locals: {area_menu: area_menu} %>

			<% end %>

		<% end %>
	<% end %>

</nav>