<div class="lmn_ttl">
  <%= render partial: '0capitan/lmenu/credenciales' %>
  <%#= render partial: '0capitan/lmenu/title' %>
</div>

<div class="lmn">
  <!--div class="lmn_prfl">
    <%#= render partial: '0capitan/lmenu/credenciales' %>
  </div-->

  <div class="lmn_lst">
    <%= render partial: '0p/lmenu/list', locals: {sym: sym} %>
  </div>

</div>