<div style="line-height: 13px; margin-bottom: -1em;">
	<small><small><small class="text-muted">
		<i class="bi bi-person-fill"></i> 
		<%= dog? ? 'dog' : ( admin? ? 'admin' : 'usuario' ) %> : 
		<%= perfil_activo.email %>
	</small></small></small>
</div>
<div style="margin-bottom: -1em;"><hr></div>