<% content_for :title, "Editing tar fecha calculo" %>

<h1>Editing tar fecha calculo</h1>

<%= render "form", tar_fecha_calculo: @tar_fecha_calculo %>

<br>

<div>
  <%= link_to "Show this tar fecha calculo", @tar_fecha_calculo %> |
  <%= link_to "Back to tar fecha calculos", tar_fecha_calculos_path %>
</div>
