<% content_for :title, "New tar fecha calculo" %>

<h1>New tar fecha calculo</h1>

<%= render "form", tar_fecha_calculo: @tar_fecha_calculo %>

<br>

<div>
  <%= link_to "Back to tar fecha calculos", tar_fecha_calculos_path %>
</div>
