<div class="my-1 p-1 bg-white border shadow" style="font-size: 14px;line-height: 1.3;">
	<%= render partial: 'control/shr/temas_lst' %>
</div>

<%= render partial: 'lgl/shr/actv_index', locals: {doc: @doc, prrfs: @prrfs} %>