<%= render partial: '0capitan/general/app_ttl', locals: {c: 'causas', title: "Causas", link: nil, tooltip: nil } %>

<div class="f_200pxlft_col">
  <div class="lft">
    <%= render partial: '0p/cmenu/cmenu', locals: { c: 'causas', tipo: tipo, estado: estado, path: path} %>
  </div>
  <div class="rght">
    <%= render partial: '0capitan/general/app_ttl', locals: {c: 'causas', title: "Causas #{cmenu_clss['causas'][:items][estado].downcase}", link: '/causas/new', tooltip: 'Agregar causa' } %>
    
    <%= render partial: '0p/tabla/tabla2', locals: {c: 'causas'} %>
  </div>
</div>