<div class="cs_ttl">
  <div class="ttl_ttl">
    <%= render partial: '0p/general/gly', locals: {gly: controller_icon['causas']} %>
    <%= "Causas #{cmenu_clss['causas'][:items][estado].downcase}" %>
  </div>
  <div class="ttl_lnks">
    <% if (check_crud('Causas') and (estado == first_st)) %>
      <%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/new", tooltip: 'Agregar Causa'} do %>
        <i class="bi bi-plus-circle"></i>
      <% end %>
    <% end %>
  </div>
</div>