<div class="mb-1">
  <%= form_with url: "/causas",
                method: :get,
                local: true do |f| %>

      <div class="input-group">
        <%= f.search_field :query,
                           placeholder: "Buscar…",
                           class: "form-control",
                           aria: { label: "Buscar" } %>

        <%= f.button type: "submit", class: "btn btn-primary" do %>
          <i class="bi bi-search"></i>   <%# icono de Bootstrap Icons %>
        <% end %>
      </div>

  <% end %>
</div>
