<p class="text-justify", style="font-size: 16px;">Esta tarea verifica las condiciones necesarias para el cierre de la gestión inicial.
</p>
<hr>
<ol>
	<li style="font-size: 14px;">Revisa que los archivos requeridos para el cierre se hayan subido o chequedo.</li>
	<li style="font-size: 14px;">Si la investigación será realizada por la empresa, registra la fecha en la cual se informa a la Dirección del Trabajo el inicio de la investigación.</li>
	<li style="font-size: 14px;">Si la denuncia fue recibida por la Dirección del Trabajo, registra la fecha de la notificación recibida.</li>
</ol>