<div class="cmn_ttl">
  <%= render partial: '0capitan/cmenu/title' %>
</div>

<div class="cmn">

	<div class="cmn_lst">
		<%= render partial: '0p/cmenu/list', locals: {c: c, estado: estado, tipo: tipo, path: path} %>
	</div>

</div>