<!-- Versión 2.0 -->
<div class="dropdown d-inline">
	<i class="bi bi-funnel" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu bg_tbl" aria-labelledby="dropdownMenuButton">
    	<% scp_menu[tkn].each do |itm| %>
    		<% unless @scp == scp_item[tkn][itm[:scp].to_sym] %>
    		<li style="font-size: 12px; line-height: 1.2;">
		        <small><a class="dropdown-item text-dark hover-text-light" href="<%=scp_lnk(tkn, objeto)%><%=itm[:scp]%>"><i class="bi bi-bookmark"></i> <%= scp_item[tkn][itm[:scp].to_sym] %></a></small>
    		</li>
    		<% end %>
    	<% end %>
    </ul>
</div>