<% if @rprt[:evlcn_ok] %>
<div class="my-1 border rounded-4">
	<div class="px-3 border-bottom bg_azul_claro clr_azul_oscuro" style="font-size: 1rem;">Investigación de la denuncia</div>

	<div class="px-3">

		<ul>
			<% if @rprt[:evlcn_ok] %>
				<li><%=@rprt[:evlcn_ok]%></li>
			<% end %>
		</ul>

	</div>
</div>
<% end %>