<p class="text-justify", style="font-size: 16px;">Esta tarea completa, si es necesario, la información requerida para el denunciante.
</p>
<hr>
<ol>
	<li style="font-size: 14px;"><b>Dirección de notificación</b>: se solicita sólo si se marco la opción <b>Aplica artículo 516 del Código del trabajo</b> en el formulario de ingreso.</li>
	<li style="font-size: 14px;"><b>Empleador</b>: se solicita sólo si se marco la opción <b>Empleado externo</b> en el formulario de ingreso.</li>
</ol>

<p class="text-justify", style="font-size: 14px;">Una vez completada la información adicional requerida, el denunciante mostrará un <b><i class="bi bi-check2-all"></i></b> señalando que la información del registro está completa (pero no verificada).
</p>