	<div class="row" style="line-height: 13px;">
		<div class="col-6" align='center'>
			<small><small>
			<% unless ['Audiencia', 'Hito'].include?(objeto.tipo) %>
				<% unless objeto.estado == 'realizada' or objeto.fecha < @hoy %>
					<%= render partial: 'actividades/age_actividades/list/elems/set_prioridad', locals: {objeto: objeto} %>
				<% end %>
				<%= link_to "/age_actividades/#{objeto.id}/realizada_pendiente?c=#{controller_name}", title: "#{objeto.estado == 'pendiente' ? 'Marcar como realizada' : 'Marcar como pendiente' }", 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
					<% if objeto.estado == 'realizada' %>
						<i class="bi bi-arrow-left"></i> 
					<% else %>
						<i class="bi bi-check-lg"></i>
					<% end %>
				<% end %>
			<% end %>
			</small></small>
		</div>
		<div class="col-6" align='center'>
			<small><small>
			<%= render layout: '0p/collapse/link', locals: {label: 'Info', objeto: objeto, tooltip: 'info'} do %>
				<i class="bi bi-info-circle"></i> info
			<% end %>
			<%= render layout: '0p/collapse/link', locals: {label: 'NuevoAntecedente', objeto: objeto, tooltip: 'Nuevo antecedente'} do %>
				<i class="bi bi-plus-circle"></i>
			<% end %>
			</small></small>
		</div>
	</div>
