<div class="dc_fl">
	<div class="fl">
		
		<i class="bi bi-list-check"></i>
		<%= dma_hm(mdds_lst.updated_at) %>
		<i class="bi bi-dot"></i>
		<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: mdds_lst, tltp: "Ver lista de modificaciones" } do %>
			Lista de modificaciones
		<% end %>

	</div>
	<div class="lnks">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: mdds_lst} %>
	</div>
</div>