<h1>Editing denunciado</h1>

<%= render "form", denunciado: @denunciado %>

<br>

<div>
  <%= link_to "Show this denunciado", @denunciado %> |
  <%= link_to "Back to denunciados", denunciados_path %>
</div>
