<div class="f_50lft_col">
  <div class="lft">
    <%= render partial: '0capitan/general/app_ttl', locals: {c: 'tar_aprobaciones', title: "Aprobaciones", link: nil, tooltip: nil } %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'tar_aprobaciones'} %>
  </div>
  <div class="rght">
    <%= render partial: '0capitan/general/app_ttl', locals: {c: 'tar_calculos', title: "Pagos sin aprobar", link: nil, tooltip: nil } %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'tar_calculos'} %>

    <%#= render partial: '0capitan/general/app_ttl', locals: {c: 'tar_facturaciones', title: "Pagos por aprobar", link: nil, tooltip: nil } %>

    <%#= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturaciones'} %>
  </div>
</div>