<div class="col-lg-3">
	<small><%= render partial: '0p/tabla/btns_orden', locals: {objeto: objeto} %></small>
</div>
<div class="col-lg-6">
	<small><%= link_to objeto.region, objeto %></small>
</div>
<div class="col-lg-3" align='right'>
	<small><small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small></small>
</div>