<div id="<%= dom_id act_referencia %>">
  <p>
    <strong>Act archivo:</strong>
    <%= act_referencia.act_archivo_id %>
  </p>

  <p>
    <strong>Ref type:</strong>
    <%= act_referencia.ref_type %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= act_referencia.ref_id %>
  </p>

</div>
