<% content_for :title, "Editing act referencia" %>

<h1>Editing act referencia</h1>

<%= render "form", act_referencia: @act_referencia %>

<br>

<div>
  <%= link_to "Show this act referencia", @act_referencia %> |
  <%= link_to "Back to act referencias", act_referencias_path %>
</div>
