<% content_for :title, "New act referencia" %>

<h1>New act referencia</h1>

<%= render "form", act_referencia: @act_referencia %>

<br>

<div>
  <%= link_to "Back to act referencias", act_referencias_path %>
</div>
