<% clccn = @objeto.krn_inv_denuncias %>

<div class="ms-4 objt_lnk" style="font-size: 12px;">

	<!-- Notificación: a menos que sea el investigador objetado -->
	<% unless clccn.first == objeto and clccn.count == 2 %>
		<div class="row gx-1">
			<div class="col-9">
				<% if objeto.pdf_registros.empty? %>
					Investigador aún no ha sido notificado a los participantes
				<% else %>
					Investigador ya fue notificado a los participantes
				<% end %>	
			</div>		
			<div class="col-3 text-end app_lnk">
				<% if objeto.pdf_registros.empty? %>
					<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_reportes/generate_and_send_report?oid=#{objeto.id}&rprt=invstgdr", data: {turbo_method: :get, turbo_confirm: 'Confirmar envío de email'}} do %>
						<i class="bi bi-envelope-at"></i> Notificar!
					<% end %>
				<% end %>
			</div>		
		</div>
	<% end %>

	<% if clccn.first == objeto %>
		<div class="row gx-1">
			<div class="col-9">
				<% unless clccn.count == 2 or @objeto.objcn_acogida or @objeto.objcn_rechazada or @objeto.fecha_trmn? %>
					<% if objeto.objetado %>
						Investigador objetado 
					<% else %>
						Investigador sin objeción 
					<% end %>
				<% else %>
					<% if @objeto.objcn_acogida %>
						Objeción acogida 
						<i class="bi bi-ban"></i>
					<% elsif @objeto.objcn_rechazada %>
						Objeción rechazada
						<i class="bi bi-check2-all"></i>
					<% end %>
				<% end %>	
			</div>		
			<div class="col-3 text-end app_lnk">
				<% unless clccn.count == 2 or @objeto.objcn_acogida or @objeto.objcn_rechazada or @objeto.fecha_trmn? %>
					<%= render partial: '0p/swtch', locals: {objeto: objeto, tkn: 'objetado', stts: ['no objetado', 'objetado'], glys: ['ban', 'square'], prmpt: objeto.objetado ? 'quitar objeción' : 'objetar'} %>
				<% end %>
			</div>		
		</div>
	<% end %>
</div>