<div class="row gx-1 text-center" style="margin-top: 6rem;margin-right: 5%;font-size: 24px; line-height: 1.5;">
	<div class="col-lg-8 col-xs-12">
		<!--div>
			<%#= image_tag 'enviar_correo.png', width: "100" %>
		</div-->
		<div class="my-3">
			<%= image_tag 'home/ntfccn_dnnc.png', width: "500" %>
		</div>
		<div style="margin-left: 20%;margin-right: 20%;font-size: 14px;line-height: 1.5;font-weight: normal;">
			Ejemplo de notificación de denuncia.
		</div>
	</div>
	<div class="col-lg-4">
		<%= image_tag 'ls_logo_100.png', width: "100" %>
		<div class="px-5" style="margin-top: 1rem;">
			Gestione la comunicación formal los participantes a través de correos electrónicos generados por la plataforma.
		</div>
	</div>
</div>