<div class="row gx-1 text-center" style="margin-top: 6rem;font-size: 24px; line-height: 1.5;">
	<div class="col-lg-4 col-xs-12">
		<div class="px-4" style="margin-top: 1rem;">
			Gestione la recepción de denuncias y toda la investigación desde una plataforma que lo guiará paso a paso a través del Procedimiento de Investigación y Sanción.
		</div>
	</div>
	<div class="col-lg-8">
		<div class="text-center">
			<%= image_tag 'ejemplo2.png', width: "600" %>
		</div>
	</div>
</div>