<div class="row gx-1 text-center" style="margin-top: 6rem;">
	<div class="col-lg-6 col-xs-12">
		<div class="text-center">
			<%= image_tag 'ls_logo_100.png', width: "100" %>
		</div>
		<div class="px-4 fs-3" style="margin-top: 1rem;">
			Gestione la recepción de denuncias y toda la investigación desde una plataforma que lo guiará paso a paso.
		</div>
	</div>
	<div class="col-lg-6">
		<div class="text-center">
			<%= image_tag 'home/Procedimiento.png', width: "400" %>
		</div>

	</div>
</div>
<div class="text-center">
	<%= image_tag 'ejemplo2.png', width: "700" %>
</div>