<div class="text-center" style="margin-top: 5rem;margin-bottom: 6rem;margin-left: 10%;margin-right: 10%;font-size: 24px; line-height: 1.5;">
	<div>
		<%= image_tag 'ls_logo_100.png', width: "100" %>
	</div>
	
	<div class="mt-2">
		Versión extendida para <b>empresas principales o usuarias.</b>
	</div>
	<div class="objt_lnk" style="font-size: 16px;line-height: 1.5;">
		<p>Contamos con un modelo de implementación que facilita la coordinación integral con empresas colaboradoras, incluyendo la capacitación de los equipos de todas las partes involucradas.</p> 
		<p>La versión extendida de nuestra plataforma permite recibir denuncias de trabajadores de empresas colaboradoras, así como registrar y gestionar investigaciones que involucren a participantes de distintas empresas, entre otras funcionalidades avanzadas.</p>
	</div>
</div>