<div class="row gx-1", style="padding: 3rem;">
	<div class="col-lg-4 col-xs-12">
		<%= render layout: 'aplicacion/publicos/home/public_home/laborsafe/prdct_pill', locals: {version: 'FLEXIBLE', price: 'UF 7', nota: 'Licencia anual'} do %>
			<ul>
				<li>Pensada para empresas pequeñas.</li>
				<li>Adquiera solo la capacidad que necesita.</i>
				<li>La licencia anual incluye una investigación completa.</li>
			</ul>
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render layout: 'aplicacion/publicos/home/public_home/laborsafe/prdct_pill', locals: {version: 'ESTÁNDAR', price: 'UF 60', nota: 'Licencia primer año', renovacion: 'Renovacion: UF 40'} do %>
			<ul>
				<li>Licencia anual con 10 investigaciones incluidas, capacitación y soporte técnico para acompañarlo en todo el proceso.</li>
			</ul>
		<% end %>
	</div>
	<div class="col-lg-4">
		<%= render layout: 'aplicacion/publicos/home/public_home/laborsafe/prdct_pill', locals: {version: 'EXTENDIDO', price: 'UF 120', nota: 'Licencia primer año', renovacion: 'Renovacion: UF 80'} do %>
			<ul>
				<li>Para empresas principales o usuarias.</li>
				<li>Licencia anual que incluye 10 investigaciones, consultoría de implementación, capacitación y soporte técnico dedicado.</li>
			</ul>
		<% end %>
	</div>
</div>