<!-- app/views/services/_formales.html.erb -->
<div class="card text-start text-secondary">
  <div class="card-body" style="font-size: 0.8rem;line-height: 1.5;">
    <h4 class="card-title mb-2">Asesoría legal.</h4>
    <p class="mb-0">Contamos con un equipo de abogados especialistas en derecho laboral.
      <ul>
        <li>Asesoría en aspectos específicos de la aplicación del procedimiento de investigación y sanción.</li>
        <li>Defensa en juicios por Ley Karin.</li>
      </ul>
    </p>
  </div>
</div>