<!-- app/views/services/_capacitacion.html.erb -->
<div class="card text-start text-secondary">
  <div class="card-body" style="font-size: 0.8rem;line-height: 1.5;">
    <h4 class="card-title mb-2">Capacitación.</h4>
    <p class="mb-0">Contamos con un experimentado grupo de relatores.
      <ul>
        <li>Capacitación en el procedimiento de investigación y sanción.</li>
        <li>Capacitación para investigadores.</li>
      </ul>
    </p>
  </div>
</div>