<!-- app/views/services/_formales.html.erb -->
<div class="card text-start text-secondary">
  <div class="card-body" style="font-size: 0.8rem;line-height: 1.5;">
    <h4 class="card-title mb-2">Externalización de investigaciones.</h4>
    <p class="mb-0">Consiste en la realización, por parte de un investigador de nuestro equipo, de las investigaciones que su empresa haya decidido realizar.</p>
    <p>Este servicio está disponible sólo para clientes de nuestra plataforma Laborsafe.</p>
    <p>Incluye la consultoría de implementación y la capacitación del equipo que se har'cargo de la recepción de denuncias.</p>
  </div>
</div>