<!-- app/views/services/_formales.html.erb -->
<div class="card text-start text-secondary">
  <div class="card-body" style="font-size: 0.8rem;line-height: 1.5;">
    <h4 class="card-title mb-2">Auditoría de exigencias formales</h4>
    <p class="mb-0">El registro de una denuncia en modo auditoría permite revisar todos los aspectos formales exigidos por la normativa:
      <ul>
        <li>Documentación obligatoria.</li>
        <li>Evidencia de la entrega de la información obligatoria.</li>
        <li>Notificaciones exigidas por la normativa.</li>
        <li>Evidencias de la aplicacición de medidas de resguardo y de su vigencia durante el tiempo exigido.</li>
        <li>Evidencias de la aplicacición de medidas correctivas y sanciones.</li>
        <li>Cumplimiento de plazos.</li>
      </ul>
    </p>
    <p>Esta modalidad se aplica a denuncias con procedimientos de investigación y sanción ya terminados.</p>
    <p>Se ajusta a los protocolos de auditoría y confidencialidad de cada empresa.</p>
  </div>
</div>