<!-- app/views/services/_formales.html.erb -->
<div class="card text-start text-secondary">
  <div class="card-body" style="font-size: 0.8rem;line-height: 1.5;">
    <h4 class="card-title mb-2">Consultoría de implementación.</h4>
    <p class="mb-0">Consultoría especializada en la implementación del procedimiento en empresas principales o usuarias.</p>
  </div>
</div>