<!-- app/views/services/_formales.html.erb -->
<div class="card text-start text-secondary">
  <div class="card-body" style="font-size: 0.8rem;line-height: 1.5;">
    <h4 class="card-title mb-2">Auditoría en aspectos legales.</h4>
    <p class="mb-0">Contamos con un equipo de abogados especialistas en derecho laboral, quienes realizarán una completa auditoría de los aspectos legales de la aplicación del procedimiento.
      <p>Este servicio es exclusivo para clientes de nuestra plataforma Laborsafe.</p>
    </p>
  </div>
</div>