<% notice ||= nil %>
<% alert ||= nil %>

<% if notice %>
	<div class="alert alert-success" role="alert" style="margin: 2px 0 2px 0;color: blue;">
	  <i class="bi bi-bell"></i> <%= notice %>
	</div>
<% end %>

<% if alert %>
	<div class="alert alert-danger" role="alert" style="margin: 2px 0 2px 0;color: red;">
	  <i class="bi bi-bell"></i> <%= alert %>
	</div>
<% end %>