<div class="ln_bjt_app">
	<div class="ln_nm">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: objeto, tooltip: 'Ver Causa'} do %>
			<%= objeto.lgl_documento %>
		<% end %> : 
	</div>
	<div class="ln_lnks">

		<% if objeto.archivo.present? and operacion? %>
			<%= link_to objeto.archivo.url, class: 'sb-link', target: :_blank, title: 'Archivo Demanda', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-paperclip"></i>
			<% end %>
		<% end %>
		<i class="bi bi-dot"></i>
		<% if operacion? %>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} if check_crud(objeto) %>
		<% end %>
	</div>
</div>