
<!-- set_tab( :monitor,  ['Proceso', 'Terminadas', 'Multas & Redacciones', 'Mensuales & Cargos'] )-->

<% if @tabs[token].count == 1 %>

  <%= render partial: '0p/general/icon_text', locals: {text: @tabs[token][0], gly: 'arrow-right', clr: cfg_color[:app]} %>

<% else %>
  <ul class="nav nav-tabs">

    <!-- TABS -->
    <% unless @tabs[token].blank? %>
      <!-- Recorre los TABS si no estan vaciós -->
      <% @tabs[token].each do |t| %>
        <li class="nav-item">
          <!-- Construye el TAB y destaca el que está activo -->
          <% if t.class.name == 'String' %>
            <%= link_to corrige(t), {controller: controller_name, action: action_name, html_options: get_html_opts(@options, token, t)}, class: "nav-link #{(t == @options[token] ? 'active' : '')}" %>
          <% else %>
            <% if t[1] %>
              <%= link_to corrige(t[0]), {controller: controller_name, action: action_name, html_options: get_html_opts(@options, token, t[0])}, class: "nav-link #{(t[0] == @options[token] ? 'active' : '')}" %>
            <% end %>
          <% end %>
        </li>

      <% end %>
    <% end %>

  </ul> 
<% end %>
</br>