<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comprobante de recepción de denuncia, ley 21.643.</title>
  </head>
  <body>

    <p>En cumplimiento del reglamento que regula el Procedimiento de Investigación y Sanción establecido en la Ley N° 21.643, se adjunta en formato PDF el comprobante de recepción de la denuncia que usted ha presentado.</p>
    <p>Agradecemos su confianza.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>

  </body>
</html>