<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comprobante de recepción de denuncia, ley 21.643.</title>
  </head>
  <body>
    <p>Cumpliendo con el reglamento que rige el Procedimiento de investigación y sanción de la ley 21.643, en el PDF Adjunto, encontrará el comprobante de recepción de la denuncia que usted ha presentado.</p>
    <p>Muchas Gracias.</p>

    <h4>Recepción de denuncias Ley 21.643</h4>
  </body>
</html>