<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coordinación atención psicológica temprana.</title>
  </head>
  <body>

    <p>En el archivo PDF adjunto encontrará el detalle de los participantes que requieren atención psicológica temprana. Rogamos coordinar su atención a la brevedad.</p>
    <p>Agradecemos su atención.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>

  </body>
</html>