<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Información obligatoria para personas denunciantes, ley 21.643.</title>
  </head>
  <body>
    <p>Cumpliendo con lo establecido en el reglamento que regula el Procedimiento de Investigación y Sanción de la Ley N° 21.643, en el PDF adjunto encontrará la información que debe ser entregada a las personas denunciantes al momento de presentar una denuncia.</p>
    <p>Muchas Gracias.</p>

    <h4>Recepción de denuncias Ley 21.643</h4>
  </body>
</html>