<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Derechos y obligaciones de los participantes.</title>
  </head>
  <body>
    <p>En el archivo PDF adjunto encontrará el detalle de los derechos y obligaciones establecidos en el reglamento que regula el Procedimiento de Investigación y Sanción.</p>
    <p>Agradecemos su atención.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>
  </body>
</html>