<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notificación de la derivación de denuncia.</title>
  </head>
  <body>
    <p>En el archivo PDF adjunto encontrará el detalle de la derivación correspondiente a la denuncia en la que usted participa.</p>
    <p>Agradecemos su atención.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>
  </body>
</html>