<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Verificación de datos y solicitud de Documentación.</title>
  </head>
  <body>
    <p>En el archivo PDF adjunto encontrará el detalle del requerimiento correspondiente.</p>
    <p>Agradecemos su atención.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>
  </body>
</html>