<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notificación de recepción de denuncia ley 21.643.</title>
  </head>
  <body>
    <p>En el archivo PDF adjunto encontrará la notificación de recepción de la denuncia presentada conforme a la Ley N° 21.643, en la cual usted figura como participante.</p>
    <p>Agradecemos su atención.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>
  </body>
</html>