<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Medidas de resguardo denuncia lay 21.643</title>
  </head>
  <body>
    <p>En el PDF Adjunto, encontrará las medidas de resguardo de la denuncia en la cual usted es participante.</p>
    <p>Muchas Gracias.</p>

    <h4>Recepción de denuncias Ley 21.643</h4>
  </body>
</html>