<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Medidas de resguardo denuncia lay 21.643</title>
  </head>
  <body>
    <p>En el archivo PDF adjunto encontrará el detalle de las medidas de resguardo adoptadas en relación con la denuncia en la que usted participa.</p>
    <p>Agradecemos su atención.</p>

    <h4>Recepción de Denuncias – Ley N° 21.643</h4>
  </body>
</html>