<div class="col-10">
	<small>
		<i class="bi bi-box-arrow-up-right"></i> 
		<% if objeto.enlace.present? %>
			<%= link_to objeto.enlace, class: 'sb-link', target: :_blank do %>
				<%= objeto.descripcion %> 
			<% end %>
		<% else %>
			<%= objeto.descripcion %> 
		<% end %>
	</small>
</div>
<div class="col-2" align="right">
	<small><small>
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</small></small>	
</div>
