<small>
	<% unless @licencia_activa %>
		<i class="bi bi-cone-striped text-danger"></i>
	<% end %>
	<i class="bi bi-box2"></i>
	<% if @licencia.plan == 'demo' %>
		<%= render layout: '0p/collapse/link', locals: {label: 'InfoProducto', objeto: nil, tooltip: 'Información del producto'} do %>
			<small>DEMO</small>
		<% end %>
	<% end %>

	<%# Renderiza el link SOLO si la condición es verdadera %>
	<%= link_to_if ((@licencia_activa  and @licencia.plan == 'demo') or current_usuario.dog?), "plan #{@objeto.plan_type == 'extendido' ? 'extendido' : 'estándar'}", "/empresas/#{@objeto.id}/swtch_plan_type", data: { turbo_method: :post, turbo_confirm: "¿Estás seguro?" } do %>
	  <span class="text-primary">plan <%= @objeto.plan_type == 'extendido' ? 'extendido' : 'estándar' %></span>
	<% end %>
</small>