<% content_for :title, "Editing doc pago" %>

<h1>Editing doc pago</h1>

<%= render "form", doc_pago: @doc_pago %>

<br>

<div>
  <%= link_to "Show this doc pago", @doc_pago %> |
  <%= link_to "Back to doc pagos", doc_pagos_path %>
</div>
