<p style="color: green"><%= notice %></p>

<% content_for :title, "Doc pagos" %>

<h1>Doc pagos</h1>

<div id="doc_pagos">
  <% @doc_pagos.each do |doc_pago| %>
    <%= render doc_pago %>
    <p>
      <%= link_to "Show this doc pago", doc_pago %>
    </p>
  <% end %>
</div>

<%= link_to "New doc pago", new_doc_pago_path %>
