<div id="<%= dom_id krn_modificacion %>">
  <p>
    <strong>Krn lst modificacion:</strong>
    <%= krn_modificacion.krn_lst_modificacion_id %>
  </p>

  <p>
    <strong>Krn medida:</strong>
    <%= krn_modificacion.krn_medida_id %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= krn_modificacion.detalle %>
  </p>

</div>
