<h1>Editing krn modificacion</h1>

<%= render "form", krn_modificacion: @krn_modificacion %>

<br>

<div>
  <%= link_to "Show this krn modificacion", @krn_modificacion %> |
  <%= link_to "Back to krn modificaciones", krn_modificaciones_path %>
</div>
