<div class="cl_ttl">
	<div class="ttl_ttl">
		<i class="bi bi-building"></i> 
		Cliente : 
		<%= objeto.razon_social %>
		<i class="bi bi-dot"></i>
		<%= objeto.d_rut %>
	</div>
	<div class="ttl_lnks">
		<% if dog?%>
			<i class="bi bi-dot"></i>
			<%= link_to "/servicios/organizacion?oid=#{objeto.id}", title: 'Organización', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-diagram-3"></i>
			<% end %>
		<% end %>
	</div>
</div>