<div class="mx-1 my-2 border rounded-4">
	<div class="row gx-1 p-2 border-bottom fw-bold" style="font-size: 1rem;">
		<div class="col-10">
			<i class="bi bi-caret-right-fill"></i> Reportes de denuncia	
		</div>
		<div class="col-2 text-end app_lnk">
			<% if current_usuario.admin? %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk:"/krn_reportes/generate_and_store_dnnc?oid=#{@objeto.id}&rprt=dnnc", tltp: 'Generar y almacenar reporte', data: {turbo_method: :get, turbo_confirm: 'Confirmar creación y almacenamiento'}} do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
			<% end %>
		</div>
		
	</div>
	<div class="py-2 px-3">
		<table class="table table-sm table-borderless table-striped table-hover">
			<tbody>
				<tr>
					<th>Fecha creación del reporte</th>
					<th></th>
				</tr>
				<% @rprts.each do |rprt| %>
					<tr>
					<td><%=dma_hm(rprt.created_at)%></td>
					<td class="text-end app_lnk">
						<!--%= link_to act_archivo_show_path(rprt),-->
						<%= link_to "/act_archivos/#{rprt.id}/show_pdf",
						            target: '_blank',
						            title:  "Ver #{ClssPrcdmnt.act_nombre['dnnc'].downcase}" do %>
						  <i class="bi bi-download"></i>
						<% end %>
						<%= render partial: '0p/tbl/lnk_eliminar', locals: {objeto: rprt}  if current_usuario.admin? %>
					</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>