<% content_for :title, "Editing cli aprobacion" %>

<h1>Editing cli aprobacion</h1>

<%= render "form", cli_aprobacion: @cli_aprobacion %>

<br>

<div>
  <%= link_to "Show this cli aprobacion", @cli_aprobacion %> |
  <%= link_to "Back to cli aprobaciones", cli_aprobaciones_path %>
</div>
