<p style="color: green"><%= notice %></p>

<% content_for :title, "Cli aprobaciones" %>

<h1>Cli aprobaciones</h1>

<div id="cli_aprobaciones">
  <% @cli_aprobaciones.each do |cli_aprobacion| %>
    <%= render cli_aprobacion %>
    <p>
      <%= link_to "Show this cli aprobacion", cli_aprobacion %>
    </p>
  <% end %>
</div>

<%= link_to "New cli aprobacion", new_cli_aprobacion_path %>
