<% content_for :title, "New cli aprobacion" %>

<h1>New cli aprobacion</h1>

<%= render "form", cli_aprobacion: @cli_aprobacion %>

<br>

<div>
  <%= link_to "Back to cli aprobaciones", cli_aprobaciones_path %>
</div>
