<div style="margin-left: 3%;">
	<%#= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_testigos', brdr_wdth: 2, ownr: objeto, fs: 6} %>
	<%= render partial: '0p/ttl_clss', locals: {source: 'krn_testigos', clss: :sub, dir: 'indx', hide_gly: true, ownr: objeto} %>
	<%= render partial: '0p/tbl_clss', locals: {clccn: objeto.krn_testigos, clss: :head, dir: 'list', typ: 'ln'} %>
</div>