<%= render partial: '0p/tbl_ttl', locals: {source: 'slides', ordr: true} %>

<!-- Foto de <a href="https://unsplash.com/es/@shimikumi32?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kumiko SHIMIZU</a> en <a href="https://unsplash.com/es/fotos/cielo-de-nubes-blancas-lNxMcE8mvIM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      -->

<!-- Foto de <a href="https://unsplash.com/es/@northernstatemedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sonny Mauricio</a> en <a href="https://unsplash.com/es/fotos/nubes-blancas-y-cielo-azul-durante-el-dia-kIr8e-01eAw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      -->

<!-- Foto de <a href="https://unsplash.com/es/@fakearthur?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ARTHUR YAO</a> en <a href="https://unsplash.com/es/fotos/una-vista-de-las-nubes-desde-una-ventana-de-avion-8P_8v-NKDrY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      -->

<!-- Foto de <a href="https://unsplash.com/es/@rroman429?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ionut Roman</a> en <a href="https://unsplash.com/es/fotos/cielo-limpio-9R4zfu700pA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
       -->

<!-- Investigacion Foto de <a href="https://unsplash.com/es/@amstram?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Scott Graham</a> en <a href="https://unsplash.com/es/fotos/hombre-escribiendo-en-papel-OQMZwNd3ThU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      -->

<!-- Capacitación Foto de <a href="https://unsplash.com/es/@sincerelymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sincerely Media</a> en <a href="https://unsplash.com/es/fotos/mujer-leyendo-libro-dGxOgeXAXm8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      -->