<p>La denuncia debe ser investigada por la empresa, recibir la derivación desde la empresa externa.</p>
<%= render partial: 'karin/prtls/drvr', locals: {color: 'success', objeto: @objeto, codigo: 'rcpcn_extrn'} %>