<%= render layout: 'cuentas/prtls/proceso/actn' do %>
	<p><b><i class="bi bi-chat-left-dots"></i> Entrega de información obligatoria a la persona denunciante.</b></p>

	<ol>
		<li class="mb-1">Le informo que tiene derecho a pedir que su denuncia sea derivada a la Dirección del Trabajo.</li>
		<li class="mb-1">Le informo que, en el trascurso de tres días hábiles desde la recepción de la denuncia, la empresa tiene el derecho de derivar la denuncia a la Dirección del Trabajo si lo estima conveniente. Decisión que, de ocurrir, se le informará por escrito.</li>
		<li class="mb-1">Le informo que si los hechos denunciados son constitutivos de delito, usted podrá denunciar ante el Ministerio Público, Carabineros de Chile o la Policía de Investigaciones, acción para la cual, nuestra empresa le brindará todas las facilidades necesarias.</li>
		<li class="mb-1">Le informo que nuestra empresa tiene la obligación de prestar atención sicológica temprana a todas las personas denunciantes, la cual será coordinada por nuestra empresa para que sea recibida por usted a la brevedad.</li>
		<li class="mb-1">Por último, le informo que nuestra empresa tiene la obligación de tomar Medidas de Resguardo para evitar que la investigación de esta denuncia tenga efectos negativos en las personas particpantes. Estas medidas serán definidas a la brevedad y le serán notificadas por escrito. La normativa vigente establece que es obligatorio para todos los participantes acatar estas medidas, así como tambien, colaborar con esta investigación.</li>
	</ol>
<% end %>

<!-- SE ENTREGÓ LA INFORMACION AL DENUNCIANTE -->
<%= render layout: 'cuentas/prtls/proceso/actn' do %>
	<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {fw: 'bold'} do %>
		<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :dnncnt_info_oblgtr, prmpt: 'Se entregó la información obligatoria a la persona denunciante.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['Información sin entregar', 'Enformación entragada']} %>
	<% end %>
<% end %>