<div class="add_box">
	<div class="hd">
		<i class="bi bi-plus-circle text-muted"></i>
	</div>
	<div class="lnks">
		<%= render partial: 'repositorios/shr/ctrl_documentos', locals: {objeto: objeto, pendientes: d_pendientes} %>
		<%= render partial: 'repositorios/shr/ctrl_archivos', locals: {objeto: objeto, pendientes: a_pendientes} %>
		<%= render partial: 'recursos/app_enlaces/partials/panel', locals: {objeto: objeto} %>
	</div>
</div>