<div class="add_box">
	<div class="hd">
		<i class="bi bi-plus-circle"></i>
	</div>
	<div class="lnks">
		<%= render partial: 'repositorios/app_documentos/partials/panel', locals: {objeto: objeto, pendientes: d_pendientes} %>
		<%= render partial: 'repositorios/app_archivos/partials/panel', locals: {objeto: objeto, pendientes: a_pendientes} %>
		<%= render partial: 'recursos/app_enlaces/partials/panel', locals: {objeto: objeto} %>
	</div>
</div>