<h6 class="text-info" align="center"><i class="bi bi-<%=controller_icon['app_documentos']%>"></i></h6>
<small>

<% pendientes.each do |doc_pendiente| %>
	<!-- Prueba de cambio de base a Contro Documento -->
	<% if check_tipo_usuario(doc_pendiente.visible_para) %>
			<i class="bi bi-arrow-left"></i>
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/control_documentos/#{doc_pendiente.id}/crea_documento_controlado?oclss=#{objeto.class.name}&oid=#{objeto.id}", tooltip: "Crea #{doc_pendiente.nombre} (vacío)" } do %>
			<%= doc_pendiente.nombre %>
		<% end %>
		</br>
	<% end %> 
<% end %>

<%= link_to "/app_documentos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
	<i class="bi bi-plus-circle"></i> 
	documento
<% end %>
</small>