<% unless objeto.tar_facturaciones.empty? %>
<small><small>
	<div class="row">
		<% objeto.tar_facturaciones.each do |facturacion| %>
			<div class="col-8">
				<i class="bi bi-dot"></i><%= facturacion.glosa %>	
			</div>
			<div class="col-4" align='right'>
				<%= s_pesos(facturacion.monto_pesos) %>	
			</div>
		<% end %>
	</div>
</small></small>
<% end %>