<%= render partial: 'tarifas/tar_aprobaciones/list/line_aprobacion', locals: {objeto: objeto} %>
<div style='line-height: 13px; padding-left: 1em;'>
	<%= render partial: 'tarifas/tar_aprobaciones/list/line_facturaciones', locals: {objeto: objeto} %>
</div>

