<%= render partial: '0capitan/general/app_ttl', locals: {c: 'tar_pagos', title: 'Autorización de pagos', link: nil, tooltip: nil } %>

<% unless objeto.tar_tarifa.blank? or objeto.tar_tarifa.tar_pagos.empty? %>
	<% objeto.tar_tarifa.tar_pagos.order(:orden).each do |pago| %>

		<div class="cntnt_box">
			<%= render partial: 'causas/shw/tarifa_pagos/aprobacion/encabezado', locals: {pago: pago, owner: objeto} %>
			<%= render partial: 'causas/shw/tarifa_pagos/aprobacion/detalle', locals: {pago: pago, owner: objeto} %>
		</div>

	<% end %>
<% end %>