<div class="ttl_app">
	<div class="ttl_ttl">
		<i class="bi bi-<%=controller_icon['tar_pagos']%>"></i> 
		Aprobación de pagos
	</div>
</div>

<% unless objeto.tar_tarifa.blank? or objeto.tar_tarifa.tar_pagos.empty? %>
	<% objeto.tar_tarifa.tar_pagos.order(:orden).each do |pago| %>

		<div class="objeto-box">
			<%= render partial: 'organizacion/servicios/aprobacion/encabezado_pago', locals: {objeto: pago, owner: objeto} %>
			<%= render partial: 'causas/shw/tarifa_pagos/comentarios_pago', locals: {pago: pago, causa: objeto } %>
		</div>

	<% end %>
<% end %>