<div class="p-2 border-start border-end border-bottom" style="margin-top: -1px">

	<%# Detalle de pagos de la CAUSA %>
	<%= render partial: 'causas/shw/tarifa_pagos/aprobacion', locals: {objeto: objeto} %>
	<hr>
	<%= render partial: 'causas/shw/tarifa_pagos/cuadratura', locals: {objeto: objeto} %>
	
</div>