<div class="row gx-1">
	<div class="col-3">
		<%= render partial: 'causas/shw/tarifa_pagos/tarifa', locals: {objeto: objeto} %>
	</div>
	<div class="col-9">
		<%= render partial: 'causas/shw/tarifa_pagos/aprobacion', locals: {objeto: objeto} %>
	</div>
</div>