<div class="f_300pxlft_col">
	<div class="lft">
		<%= render partial: 'causas/shw/tarifa_pagos/tarifa', locals: {objeto: objeto, tar_cliente: tar_cliente, tar_generales: tar_generales} %>

		<%= render partial: 'causas/shw/tarifa_pagos/pagos', locals: {objeto: objeto} %>
	</div>
	<div class="rght">
		<%= render partial: 'causas/shw/tarifa_pagos/aprobacion', locals: {objeto: objeto} %>
	</div>
</div>