<div class="cs_ttl">

	<div class="ttl_ttl">
		<i class="bi bi-<%=controller_icon['tar_facturaciones']%>"></i> 
		Pagos de la causa
	</div>
	<div class="ttl_lnks">
	</div>

</div>

<% unless objeto.tar_tarifa.blank? %>
	<% unless @coleccion['tar_facturaciones'].empty? %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturaciones'} %>
	<% end %>
<% end %>