<div style="padding-left: 1em">
	<small class="text-muted">
	<% list_tarifas.each do |tar| %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: "/causas/#{objeto.id}/asigna_tarifa?oid=#{tar.id}", tltp: 'Asignar Tarifa' } do %>
			<i class="bi bi-arrow-bar-left"></i>
			<%= tar.tarifa %>
		<% end %> 
		</br>
	<% end %>
	</small>
</div>