<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'css-tar_tarifas', ttl: 'Tarifa', ownr: objeto} %>

<div class="objeto-box">

	<% if @objeto.tar_tarifa.present? %>
		<%= render partial: 'causas/shw/tarifa_pagos/nombre_tarifa', locals: {objeto: objeto} %>
	<% else %>
		<p class="text-danger"><i class="bi bi-cone-striped"></i> Sin tarifa asignada</p>
	<% end %>

</div>