<%= render partial: 'home/public/prdcts/prfl_laborsafe' %>

<%= render partial: 'home/public/prdcts/artcl' %>


<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-6 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Versión extendida', gly: 'trophy', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
			Versión para empresas principales o usuarias.
		<% end %>
	</div>
	<div class="col-lg-6 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: ' Versión prepago', gly: 'coin', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
			Modelo de pago según demanda para empresas pequeñas.
		<% end %>
	</div>
</div>