<div class="row gx-1 my-2 text-center" style="margin: 0 10%;">
  <div class="col-lg-6 col-xs-12">
      <%= render partial: 'home/box/btn_requerimiento', locals: {align: 'center', pddng: 2} %>
  </div>
  <div class="col-lg-6">
      <%= render partial: 'home/box/btn_demo', locals: {align: 'end', pddng: 2} %>
  </div>
</div>

