<div class="row gx-1 my-2 text-center" style="margin: 0 10%;">
  <div class="col-lg-6 col-xs-12">
    <div class="p-3 border rounded-4 text-center fs-5">
      <p>Contacte a nuestros ejecutivos comerciales para más información.</p>
      <%= render partial: 'home/box/btn_requerimiento', locals: {align: 'center', pddng: 2} %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="p-3 border rounded-4 text-center fs-5">
      <p>Registre su empresa para acceder a una DEMO de Laborsafe.</p>
      <%= render partial: 'home/box/btn_demo', locals: {align: 'end', pddng: 2} %>
    </div>
  </div>
</div>