<div class="mt-5 px-3 border rounded-4" style="font-size: .8rem;margin: 0 5%;color: #3c6e71;">
	<h2 class="my-4 text-center">Procedimiento de investigación y sanción</h2>
	<p>El procedimiento de investigación y sanción en la Ley N° 21.643 es el conjunto de etapas y reglas que se deben seguir cuando se presenta una denuncia de acoso laboral, acoso sexual o violencia en el trabajo. El reglamento que fija las directrices para su aplicación fue emitido por el Ministerio del Trabajo y Previsión Social y publicado en el Diario Oficial el día 3 de julio de 2024.</p>
	<p>La ejecución del procedimiento es siempre una labor compartida entre la empresa y la Dirección del Trabajo, incluso cuando la denuncia es presentada directamente en esta última entidad. Se trata de 25 tareas que deben generar evidencia de su ejecución y de, aproximadamente, 50 documentos que deben ser controlados, de los cuales al menos 30 pueden ser generados automáticamente.</p>
	<p>Aspectos importantes a considerar a la hora de su implementación son los siguientes:</p>

	<div class="row gx-4">
		<div class="col-lg-6 col-xs-12">
			<h3>Confidencialidad</h3>
			<p>La implementación del procedimiento debe incluir un protocolo de confidencialidad para usuarios y participantes, indicando con precisión el nivel de acceso de cada uno a la información y documentos, y si corresponde aplicar previamente un procedimiento para resguardar la identidad de las personas involucradas.</p>
			<h3>Días hábiles</h3>
			<p>Con la excepción del plazo para aplicar las medidas correctivas y sanciones establecidas en informe de investigación, que es de 15 días corridos, todos los otros plazos se establecen en días hábiles. Lo cual significa que no se cuentan sábados ni domingos. Tampoco los feriados que caigan entre lunes y viernes. En la figura de abajo se muestran un ejemplo, que no contiene días feriados, donde se cuentan los 30 días de plazo para realizar la investigación.</p>
		</div>
		<div class="col-lg-6">
			<h3>Empresas principales o usuarias</h3>
			<p>El reglamento establece responsabilidades adicionales para las empresas que participan en un régimen de subcontratación:
				<ul>
					<li>La empresa principal o usuaria tiene la obligación de recibir denuncias de empleados de las empresas contratistas, subcontratistas y EST.</li>
					<li>La empresa principal o usuaria debe investigar las denuncias en las cuales estén involucrados trabajadores de más de una empresa.</li>
				</ul>
				Grantizar los estándares y plazos en la recepción e investigación de denuncias ocurridas en régimen de subcontratación está lejos de ser simple. En este contexto es importante contar con un modelo de implementación que considere estándares de coordinación y colaboración entre todas las empresas involucradas y la detección de casos complejos que pudieran requerir además, una revisión legal del informe de investigación previo a su remisión.
			</p>
		</div>
	</div>

	<div class="text-center"><%=image_tag 'home/diagrama.webp', class: 'img-fluid' %></div>
</div>