<div class="row gx-4 mt-3" style="margin: 1rem 5%;">
	<div class="col-12">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h3>Descubra cómo LaborSafe transforma la gestión de denuncias</h3>
		</div>
	</div>
</div>

<div class="row gx-4 mt-1" style="margin: 1rem 5%;">
	<div class="col-lg-4 col-xs-12">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h4>Frente a una denuncia</h4>
		  <ul class="text-start">
		    <li class="mb-2">Cumplimiento óptimo de plazos y documentación del procedimiento.</li>
		    <li class="mb-2">Generación automática del 80% de los documentos requeridos.</li>
		    <li class="mb-2">Envío automatizado de notificaciones e información a los participantes.</li>
		    <li>Anonimización automática y reporte de cumplimiento normativo.</li>
		  </ul>
		</div>
	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h4>Frente a una fiscalización</h4>
		  <ul class="text-start">
		    <li class="mb-2">Reporte completo de cumplimiento del procedimiento de investigación y sanción.</li>
		    <li class="mb-2">Generación automática de copias anonimizadas de denuncias y declaraciones.</li>
		    <li>Creación automática de un archivo PDF consolidado (versión anonimizada) con toda la documentación y evidencias del proceso.</li>
		  </ul>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="rounded-3 bg-gradient-blue-light pt-4 px-4">
		  <h4>Frente a una judicialización</h4>
		  <ul class="text-start">
		    <li class="mb-2">Reporte detallado de cumplimiento del procedimiento de investigación y sanción.</li>
		    <li class="mb-2">Auditoría integral de los aspectos normativos y legales del proceso.</li>
		    <li>Generación automática de un archivo PDF consolidado (versión sin anonimizar) con toda la documentación y evidencias del cumplimiento.</li>
		  </ul>
		</div>
	</div>
</div>