<%= render partial: 'home/public/prdcts/tres_prdcts' %>

<div class="bg-white mb-1 p1 txt_hght text-primary">
	<div style="padding-left: 3rem;">


		<%#= render partial: 'aplicacion/publicos/home/public_home/laborsafe/prdct' %>
		<%#= render partial: 'aplicacion/publicos/home/public_home/laborsafe/rcrss' %>

	</div>

</div>