<p><small><small><b>AGREGA DOCUMENTO</b></small></small></p>
<%= form_for :add_documento, url: "/hechos/#{objeto.id}/nuevo_documento" do |form| %>

	<%= render partial: '0p/form_fields/label', locals: {label: 'Nombre del documento', v: true} %>
	<div class="form-inline">
	<%= render partial: '0p/form_fields/text', locals: {form: form, token: :nombre} %>
	
	<button type="submit" class="btn btn-info">
	  <i class="bi bi-caret-right"></i>
	</button>
	</div>
	<small><small>Nombre debe ser único para la causa.</small></small></br>

<% end  %>