<!-- app/views/mailers/contexts/investigations/document/dnncnt_info_oblgtr_pdf.html.erb -->
<!-- NOTA: Sin <!DOCTYPE>, <html>, <head> ni <body> - eso lo provee el layout -->

<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>
<div class="text-center fs-5">
  Información obligatoria para personas denunciantes
</div>

<div class="row mt-5">
  <div class="col-6">
    Sr(a) <%= @prtcpnt.nombre %><br>
    PRESENTE
  </div>
  <div class="col-6 text-end">
    REFERENCIA:<br>
    Denuncia <%= @record.identificador %>
  </div>
</div>

<div class="mt-5" style='font-size: 14px; line-height: 1.5;'>
  <p>En el marco de la Ley 21.643, se establece la obligación de entregar a la persona denunciante la siguiente información:</p>
</div>

<div class="mb-1">
  <p><b>Derivación de la denuncia</b></p>
  <p>Sin perjuicio de que la persona denunciante puede presentar la denuncia directamente en la Dirección del Trabajo, al momento de presentarla en el canal de denuncias de su empresa puede solicitar que ésta sea derivada a la Dirección del Trabajo para su investigación, constituyendo ésto una exigencia que debe ser cumplida por la empresa.</p>

  <p>Respecto de las denuncias en las que la persona denunciante ha manifestado su deseo de que sea investigada por la empresa, esta última puede, por razones propias, derivar la denuncia para su investigación a la Dirección del Trabajo.</p>

  <p>En el caso particular de una empresa principal o usuaria, si la empresa no tiene competencia para investigar dicha denuncia, deberá solicitar a la persona denunciante elegir entre su empleador o la Dirección del Trabajo como destinatario de la derivación de la denuncia.</p>
</div>

<div class="mb-1">
  <p><b>Confidencialidad</b></p>
  <p>Todos los participantes de una denuncia tienen la obligación de garantizar la confidencialidad de toda la información relativa al procedimiento de investigación y sanción.</p>
  <p>En el caso de la empresa, esta obligación se extiende a todos los empleados que puedan tener acceso a la información y, en forma especial, a quienes participan en el canal de recepción de denuncias y al investigador asignado.</p>
</div>

<div class="mb-1">
  <p><b>Medidas de resguardo</b></p>
  <p>El reglamento establece la obligación de implementar medidas de resguardo para los participantes del procedimiento de investigación.</p>
  <p>Estas medidas deben ser implementadas de forma inmediata una vez recibida la denuncia, pueden ser definidas o modificadas por la Dirección del Trabajo y, si no son suficientes para garantizar los objetivos del resguardo, deben ser complementadas.</p>
</div>

<div class="mb-1">
  <p><b>Colaboración de los participantes</b></p>
  <p>Los participantes tienen la obligación de colaborar con el procedimiento de investigación y sanción.</p>
</div>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <%# if @sign_url.present? %>
    <% if false %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
