<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
</div>

<div class="text-center fs-5">
  Designación del investigador<br>
  Denuncia <%= @record.identificador %>
</div>

<% dsgncn = @ntfcdr.krn_investigador.krn_textos.find_by(codigo: 'txt_dsgncn') %>

<% if dsgncn %>
<p><%= dsgncn.contenido.to_s.html_safe %></p>
<% end %>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if false %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
