<hr>
<div class="p-1" style="font-size: 10px; line-height: 1.2;">
	<div>
		<b><%= objt.hlp_nota %></b>
	</div>
	<div class="">
		<%= objt.texto.html_safe %>
	</div>
	<div class="text-end">
		<b><%= objt.referencia %></b>
	</div>
</div>