<% if seguridad_desde('nomina') %>
	<% unless @m.blank? or @e.blank? %>
		<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'table', text: m_to_name(@m), clr: config[:color][:app]} %></h5>

		<%= render partial: '0p/tabla/tabla', locals: {c: @m.tableize} %>
	<% else %>
		Sin información pare desplegar
	<% end %>
<% end %>
