<div class="row">
	<div class="col-10">
		<small>
			<b><%= objeto.tipo_causa.tipo_causa %></b></br>
			<small class="text-muted"><%= s_p100(objeto.tar_base_variable, 2) %></small>
		</small>		
	</div>
	<div class="col-2" align='right'>
		<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
	</div>
</div>
