<% if objeto.tar_cuotas.empty? %>
	<!-- Boton para PAGO único -->
	<% if owner.pago_generado(objeto).blank? %>
		<div style="line-height: 13px">
		</br>
		<p><%= link_to 'Generar pago', "/tar_facturaciones/crea_facturacion?owner_class=#{owner.class.name}&owner_id=#{owner.id}&pid=#{objeto.id}", class: 'btn btn-primary btn-sm' %></p>
		</div>
    <% end %>
<% else %>
	<!-- Boton para CUOTAS -->
	<% objeto.tar_cuotas.order(:orden).each do |cuota| %>
		<% if owner.pago_generado(cuota).blank? %>
			<div style="line-height: 13px">
			</br>
			<p><%=cuota.orden%><%= link_to "Generar pago cuota #{cuota.orden}", "/tar_facturaciones/crea_facturacion?owner_class=#{owner.class.name}&owner_id=#{owner.id}&cid=#{cuota.id}", class: 'btn btn-primary btn-sm' %></p>
			</div>
		<% else %>
			Pago generado el <%= dma(owner.pago_generado(cuota).created_at) %></br>
	    <% end %>
	<% end %>
<% end %>
