<div class="f_200pxlft_col">
	<div class="lft">
		<%= image_tag 'logo_tyc.png', size: "50x50" %>	
	</div>
</div>

<div style="padding-left: 1em; padding-right: 1em,">
	<h3>
		Aprobación de pagos : <%= dma(objeto.fecha) %>
	</h3>

	<h5>
		<i class="bi bi-building"></i>
		<%= objeto.cliente.razon_social %> 
	</h5>
</div>