<%= render prtl_name('servicios', 'shr', 'logo_org') %>

<div style="padding-left: 1em; padding-right: 1em,">
	<h3>
		Aprobación de pagos : <%= dma(objeto.fecha) %>
	</h3>

	<h5>
		<i class="bi bi-building"></i>
		<%= objeto.cliente.razon_social %> 
	</h5>
</div>