<h1>Editing krn empresa externa</h1>

<%= render "form", krn_empresa_externa: @krn_empresa_externa %>

<br>

<div>
  <%= link_to "Show this krn empresa externa", @krn_empresa_externa %> |
  <%= link_to "Back to krn empresa externas", krn_empresa_externas_path %>
</div>
