<div class="text-start text-secondary app_lnk">
	<div class="text-center" style="padding-top: 3rem;padding-bottom: 20rem;background-image: url('<%= asset_path(img) %>'); background-size: cover; background-position: top;">
	</div>

	<div class="p-3 fs-4">
		<span style="font-size: 0.8rem;"><%= tema %></span><br>
		<%= ttl %>
	</div>
    <div class="text-center" style="font-size: 0.7rem;line-height: 1.5;">Agosto 2025 | Equipo LaborSafe</div>

	<div class="p-3">
		<% if prtl?('home', "artcls/#{tkn}", 'abstrct') %>
			<%= render partial: "aplicacion/home/artcls/#{tkn}/abstrct", locals: {tkn: tkn} %>
	    <% end %>
	</div>

    <div class="text-end">
    </div>

</div>