<div id="<%= dom_id procedimiento %>">
  <p>
    <strong>Procedimiento:</strong>
    <%= procedimiento.procedimiento %>
  </p>

  <p>
    <strong>Tipo procedimiento:</strong>
    <%= procedimiento.tipo_procedimiento_id %>
  </p>

</div>
