<div class="f_50_col">
  <div class="lft">
    <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'procedimientos', ttl: "Procedimientos", ownr: nil } %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'procedimientos'} %>
  </div>
  <div class="rght">
    <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tipo_procedimientos', ttl: "Tipos de Procedimiento", ownr: nil } %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'tipo_procedimientos'} %>
  </div>
</div>

