<% if pago.valor.blank? %>
	<hr>

	<div class="ln_app">
		<div class="ln_nm">
			<b>Detalle aplicación de tarifa</b>
		</div>
	</div>
	<% unless pago.tar_comentarios.empty? %>
		<% pago.tar_comentarios.order(:orden).each do |comentario| %>

			<% if comentario.formula.blank? or calcula2(comentario.formula.strip, causa, pago) %>
				<%= render partial: 'causas/shw/tarifa_pagos/display_comentario', locals: {comentario: comentario, causa:causa, pago: pago} %>
			<% end  %>
			
		<% end %>
	<% end %>
		
<% end %>