<div class="g_cllps">
	<%= form_for :form_tar_facturacion, url: "/causas/#{causa.id}/input_tar_facturacion?pid=#{pago.id}" do |form| %>

		Fecha UF del pago:
		</br>
		<%= render partial: '0p/form_fields/date', locals: { form: form, token: :fecha_uf } %>
		</br>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right icon-white"></i>
		</button>

	<% end  %>
</div>