<p style="color: green"><%= notice %></p>

<h1>Krn testigos</h1>

<div id="krn_testigos">
  <% @krn_testigos.each do |krn_testigo| %>
    <%= render krn_testigo %>
    <p>
      <%= link_to "Show this krn testigo", krn_testigo %>
    </p>
  <% end %>
</div>

<%= link_to "New krn testigo", new_krn_testigo_path %>
