<h1>Verifique su correo electrónico para activar su solicitud</h1>
<p>¡Muchas gracias por contactarnos!</p>
<p>Ha solicitado contacto comercial a través de nuestra plataforma. Para activar nuestra respuesta, es requisito verificar su dirección de correo electrónico.</p>
<p>Por favor, verifique su dirección de correo presionando el siguiente enlace:</p>
<%= link_to 'Verificar su correo', @verification_url %>

<p><em>Este enlace tendrá validez por 24 horas.</em></p>