<h1>Verifica tu correo electrónico para activar tu solicitud</h1>
<p>¡Muchas gracias por contactarnos!</p>
<p>Has solicitado contacto comercial a través de nuestra plataforma. Para activar nuestra respuesta, es requisito verificar tu dirección de correo electrónico.</p>
<p>Por favor, verifica tu dirección de correo presionando el siguiente enlace:</p>
<%= link_to 'Verificar mi correo', @verification_url %>

<p><em>Este enlace tendrá validez por 24 horas.</em></p>