<p>La creación de canales de denuncia, el diseño e implementación de medidas de protección, disponer al menos de un investigador cualificado y cumplir con los requisitos formales de una investigación son retos que siguen vigentes tras un año de la ley. La evolución y perfeccionamiento de estos procesos, aunque con estándares distintos según la empresa, debe satisfacer una exigencia mínima: evitar los <i>costos derivados del incumplimiento</i>.
<%= render layout: '0p/tltp_lnk', locals: {lnk: "/artcls/#{tkn}", tltp: 'Ir al artículo'} do %>
  <span style="font-size: 0.8rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
<% end %>
</p>