<div class="row">
	<div class="col-8">
		<!-- ICONO SEGÚN TIPO DE ACTIVIDAD -->
		<% if objeto.tipo == 'Audiencia' %>
			<i class="bi bi-bank2"></i>
		<% elsif objeto.tipo == 'Hito' %>
			<i class="bi bi-alarm"></i>
		<% elsif objeto.tipo == 'Reunión' %>
			<i class="bi bi-people"></i>
		<% elsif objeto.tipo == 'Tarea' %>
			<i class="bi bi-check2-square"></i>
		<% end %> 
		<%= controller_name == 'age_actividades' ? hm(objeto.fecha) : dma_hm(objeto.fecha) %>
		<%= objeto.ownr.causa %>
		<% if objeto.estado == 'realizada' %>
			<i class="bi bi-check-lg"></i>
		<% elsif objeto.estado == 'cancelada' %>
			<i class="bi bi-x-lg"></i>
		<% elsif objeto.estado == 'suspendida' %>
			SUSPENDIDA
		<% end %>
	</div>
	<div class="col-4">
		<%= objeto.age_actividad %>
	</div>
</div>

