<h4 class="text-info">
	<i class="bi bi-geo-alt"></i>
	<%= "Región : #{@objeto.region}" %>
</h4>

<h5 class="text-info">
	<i class="bi bi-geo-alt"></i>
	Comunas 
	<%= link_to "/regiones/#{@objeto.id}/comunas/new" do %>
		<i class="bi bi-plus-circle"></i>
	<% end %>
</h5>


<%= render partial: '0p/tabla/tabla', locals: {c: 'comunas'} %>