<nav class="appMenu">
  <input id="hMenuBtn" type="checkbox" /> 
  <label for="hMenuBtn"></label>
  <ul id="hMenu" class="menuVerti">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Buscador</a></li>
    <li><a href="#"">F.A.Q.</a></li>  
    <li><a href=" #">Utilidades ▼</a>
      <ul class="appSubMenu">
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Favoritos ►</a>
          <ul class="appSubMenu">
            <li><a href="#">Favorito 1</a></li>
            <li><a href="#">Favorito 2</a>
              <ul class="appSubMenu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Buscador</a></li>
                <li><a href="#"">F.A.Q.</a></li>  
                <li><a href=" #">Utilidades ▼</a>
                  <ul class="appSubMenu">
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Favoritos ►</a>
                      <ul class="appSubMenu">
                        <li><a href="#">Favorito 1</a></li>
                        <li><a href="#">Favorito 2</a>
                          <ul class="appSubMenu">
                            <li><a href="#">Favorito 3</a></li>
                            <li><a href="#">Favorito 4</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Promotores</a></li>
                    <li><a href="#">Geolocalizador</a></li>
                  </ul>
                </li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Entrar</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Promotores</a></li>
        <li><a href="#">Geolocalizador</a></li>
      </ul>
    </li>
    <li><a href="#">Registro</a></li>
    <li><a href="#">Entrar</a></li>
  </ul>
</nav>