<small>
<div class="list-item">

	<%= render partial: 'tarifas/tar_facturaciones/list/pago', locals: {objeto: objeto} %>

	<%= render partial: 'tarifas/tar_facturaciones/list/owner', locals: {objeto: objeto} %>

	<%= render partial: 'tarifas/tar_facturaciones/list/bottom_links', locals: {objeto: objeto} %>

</div>
</small>