<div class="app_bjt">
	<%= render partial: 'clientes/list/bjt', locals: {objeto: objeto} %>
	
	<%= render partial: 'clientes/list/wrnngs', locals: {objeto: objeto} %>

	<%= render partial: 'notas/shr/notas_pendientes', locals: {objeto: objeto} %>
</div>