<%= render partial: '0p/general/head_objt', locals: {clss: 'prtcpnts_objt' ,objeto: objeto, ownr: @objeto} %>

<% unless objeto.diat_diep? %>
	<div class="dlg_bsc">
		<i class="bi bi-bug"></i>
		Falta evidencia de Atención psicológica temprana obligatoria. Subir evidencia.
	</div>
<% end %>

<% if objeto.empleado_externo and (not objeto.emprs_extrn_prsnt?) %>
	<div class="dlg_bsc">
		<i class="bi bi-bug"></i>
		La persona denunciante depende de otro empleador, el que debe ser identificado.
	</div>
<% end %>

<% if objeto.articulo_516 and (not objeto.direccion_notificacion.present?) %>
	<div class="dlg_bsc">
		<i class="bi bi-bug"></i>
		La persona denunciante no tiene acceso a correo electrónico, se debe registrar su dirección de notificación.
	</div>
<% end %>

<div class="dsply">
	<%= render partial: prtl_name('krn_denunciantes', 'list', 'cllps'), locals: {objeto: objeto} %>
</div>