<div class="border rounded-2 my-1">
	<div class="p-2 bg_azul_claro" style="font-size: 1rem;">
		Asignar investigador a la denuncia:
	</div>
	<div>
		<%= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_inv_denuncias', blngs: @objeto, fs: 6} %>
		<%= render partial: '0p/tbl/tbl_clccn', locals: {source: 'krn_inv_denuncias', clccn: @objeto.krn_inv_denuncias.order(:created_at), typ: 'ln', crud: 'lnks', new_hnt: true} %>

		<% if prtl?(@objeto, 'hlp', 'invstgdrs') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_invstgdrs", ttl: "Asignación del Investigador", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'invstgdrs') %>
			<% end %>
		<% end %>
	</div>
</div>