<div class="border rounded-2 my-1">
	<div class="p-2 bg_azul_claro" style="font-size: 1rem;">
		Instrucciones para el agendamiento y toma de declaraciones:
	</div>
	<div class="p-2">
		<ol>
			<li>Debe ir al tab <i>Participantes</i>.</li>
			<li>Debe agendar la declaración de cada participante.</li>
			<li>Debe subir la declaración firmada de cada participante.</li>
		</ol>
		<p>Una vez realizado esto con cada participante la plataforma le permitirá seguir con el procedimiento.</p>
	</div>
</div>