<% if tab_participantes? %>
	<%= render layout: 'karin/krn_denuncias/shw/proceso/tsk_tmplt', locals: {ttl: 'Entregar comprobante de rececpión de denuncia y subirlos firmados.', gly: 'lightbulb'} do %>

		<ol>
			<li>Enviar el comprobante de rececpión de denuncia a la persona denunciante.</li>
			<li>Subir a la plataforma el comprobante firmado por la persona denunciante.</li>
		</ol>

	<% end %>
<% end %>