<% if tab_participantes? %>
	<%= render layout: 'karin/krn_denuncias/shw/proceso/tsk_tmplt', locals: {ttl: 'Entregar la información obligatoria a la persona denunciante.', gly: 'lightbulb'} do %>

		<ol>
			<li>Verificar el correo electrónico de la persona denunciante.</li>
			<li>Enviar correo electrónico con la información obligatoria.</li>
		</ol>

		<div class="my-2 text-secondary" style="font-size: 0.7rem;">
			<i class="bi bi-check2-all"></i> Los datos ingresados de los participantes cumplen con los requisitos mínimos para continuar con el proceso.
		</div>
	<% end %>
<% end %>