<% if tab_proceso? %>
	<%= render layout: 'karin/krn_denuncias/shw/proceso/tsk_tmplt', locals: {ttl: 'Redactar y subir el informe de investigación.', gly: 'lightbulb'} do %>

		<ol>
			<li>Redactar informe de investigación.</li>
			<li>Subir informe de investigación a la plataforma.</li>
		</ol>

	<% end %>
<% end %>