<div class="border rounded-2 my-1">
	<div class="p-2 bg_azul_claro" style="font-size: 1rem;">
		Cierre de la investigación:
	</div>
	<div>
		<%= render partial: '0p/proc/etp_frm', locals: {etp: @kproc.etapa, objeto: @objeto, code: 'fecha_trmn', plz_fld: true} %>
	</div>
</div>