<div class="row gx-1">
  <div class="col-2">
    <%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :rut, label: 'Cédula de identidad' } %>
  </div>
  <div class="col-5">
    <%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :nombre, label: 'Nombre completo' } %>
  </div>
  <div class="col-5">
    <%#= render partial: '0p/lbld_inpts/email', locals: { form: form, token: :email, label: 'Email personal' } %>
  </div>
</div>