<div class="row">
	<div class="col-lg-6 col-xs-12">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_detalle_cuantias', title: 'Detalles de cuantía', link_new: "/tar_detalle_cuantias/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_detalle_cuantias'} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tribunal_cortes', title: 'Tribunal/Cortes', link_new: "/tribunal_cortes/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tribunal_cortes'} %>
	</div>
</div>