<div class="row">
	<div class="col-lg-6 col-xs-12">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tipo_causas', title: 'Tipo causas', link_new: "/tipo_causas/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tipo_causas'} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tipo_asesorias', title: 'Tipo Asesorías', link_new: "/tipo_asesorias/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tipo_asesorias'} %>
	</div>
</div>