<li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: "/servicios/aprobacion?indice=#{objt.id}", clss: 'dropdown-item'} do %>
    Ver aprobación
  <% end %>
</li>

<% unless controller_name == 'clientes' %>
  <li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: "/clientes/#{objt.cliente.id}", tltp: objt.cliente.razon_social, clss: 'dropdown-item'} do %>
    Ir al cliente
  <% end %>
  </li>
<% end %>

<% unless objt.act_archivo&.pdf&.attached? %>
  <li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: generar_pdf_reportes_path(modelo: 'tar_aprobacion', id: objt.id), tltp: objt.cliente.razon_social, clss: 'dropdown-item', data: { turbo_method: :post } } do %>
    Generar PDF
  <% end %>
  </li>
<% end %>

<% unless objt.tar_calculos.any? %>

  <!--li><hr class="dropdown-divider"></li-->
  <%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
  <%#= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

  <li><hr class="dropdown-divider"></li>

  <%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>

<% end %>