<div class="px-3 text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Termino de la investigación</h5>
	<p>El término de la investigación tiene las siguientes tareas:</p>
	<ul>
		<li>Evaluación de todas las declaraciones teniendo a la vista todos los antecedente que exige la ley.</li>
		<li>Redactar el informe de a investigación.</li>
		<li>Redactar las medidas correctivas y sanciones de la investigación.</li>
		<li>Registrar la fecha en la que se terminó la investigación.</li>
	</ul>

	<h5>Archivos requeridos en esta etapa.</h5>
	<ol>
		<li><b>Informe de la investigación.</b></li>
		<li><b>Medidas correctivas y sancione de la investigación.</b></li>
	</ol>
</div>