<div class="card rounded-0 h-100">
	<%= link_to root_path do %>
	<%= image_tag HImagen.find_by(nombre: img_name).imagen(nil).imagen.half.url, class: "card-img img-fluid rounded-0" unless HImagen.find_by(nombre: img_name).blank? %>
	<% end %>
  <div class="card-img-overlay">
	<small><a href="#" class="btn btn-primary">Leer</a></small>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <%= link_to '¿Cuáles son los principales elementos de un contrato?', root_path, class: 'link-invisible' %>
    </h4>
    <p class="card-text">
      Guía práctica para revisar/revisar un contrato.
    </p>
    <small><i><p class="text-muted">- Solange Mena</p></i></small>
  </div>
</div>
