<h1>¡Bienvenido a LABORSAFE!</h1>
<p>El proceso de registro de su empresa ha finalizado exitosamente.</p>
<p>Ingrese a la plataforma utilizando las siguientes credenciales:</p>
<p>Correo electrónico: <%= @email %></p>
<p>Contraseña: <%= @password %></p>

<p>Para sus primeros pasos en LaborSafe, consulte:</p>
<ul>
	<li><%= link_to 'Configuración básica', 'https://www.laborsafe.cl/hlp_ayudas/ambnt' %></li>
	<li><%= link_to 'Ejemplo de denuncia simple', 'https://www.laborssafe.cl/hlp_ayudas/dnnc_smpl' %></li>
</ul>

<b>¡Muchas gracias!</b>