<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<p><b>El investigador debe agendar y realizar las declaraciones de todos los participantes de la denuncia.</b></p>
	<p>En su planificación debe considerar que tanto las personas denunciantes como denunciadas pueden aportar con testigos al momento de prestar su declaración.</p>
</div>