<div class="px-3 text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Agendamiento de las declaraciones.</h5>
	<p>El agendamiento de las declaraciones debe considera dos rondas de declaraciones:</p>
	<ol>
		<li>Agendamiento de las declaraciones de todos los participantes registrados en la denuncia.</li>
		<li>Agendamiento de las declaraciones de todos los testigos que sean incorporados como tales en las declaraciones de las personas denunciantes y denunciadas.</li>
	</ol>
	<p>La fechas definidas para la declaración de los participantes deben ser informadas por escrito con la anticipación necesaria.</p>

	<h5>Toma de declaraciones.</h5>
	<p>Recomendamos contar con un protocolo de preguntas que, previa revisión, garantice el cumplimiento de todos los estandares exigidos por la ley.</p>
	<p>las declaraciones de los participantes, deben ser <b>firmadas por el declarante</b> en todas sus hojas.</p>

	<h5>Uso de la plataforma.</h5>
	<p>Las declaraciones se agendan en área de trabajo <b>Participantes</b>.</p>
	<p>Bajo el nombre del participante, encontrará el encabezado <b>Agenda de declaraciones</b> con el correspondiente botón <i class="bi bi-plus-circle"></i> (a la derecha) que le dará acceso al formulario para crear la cita.</p>
	<p>El formulario de agendamiento es simple, sólo se debe llenar la fecha y hora elegida y guardar.</p>

	<p>Al completar el agendamiento, verá aparecer al final de la página, en la sección <b>Documentos obligatorios</b> los archivo:</p>
	<ol>
		<li><b>Declaración del participante</b></li>
		<li><b>Antecedentes entregados por el participante (lista)</b>, donde se pueden subir archivos que hayan sido proporcionados por el participante como antecedentes que apoyen su declaración.</li>
	</ol>
	<p>Es obligatorio subir la declaración, no así los antecedentes.</p>

	<p><b>Para agendar y ejecutar las declaraciones de los testigos, se debe ingresar a cada testigo y gestionar, tal como se hizo con las personas denunciantes y denunciadas, cada declaración.</b></p>

	<p>Para la plataforma, la declaración estará tomada, una vez se haya subido el archivo <b>Declaración del participante</b>.</p>

</div>