<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<p><b>Agendamiento de las declaraciones.</b></p>
	<p>El agendamiento de las declaraciones debe considera dos rondas de declaraciones:</p>
	<ol>
		<li>Agendamiento de las declaraciones de todos los participantes registrados en la denuncia.</li>
		<li>Agendamiento de las declaraciones de todos los testigos que sean incorporados como tales en las declaraciones de las personas denunciantes y denunciadas.</li>
	</ol>
	<p>La notificación de las fechas de declaración deben ser realizadas por escrito a todos los participantes.</p>

	<p><b>Toma de declaraciones.</b></p>
	<p>Recomendamos contar con un protocolo de preguntas que, previa revisión, garantice el cumplimiento de todos los estandares exigidos por la ley.</p>
	<p>las declaraciones de los participantes, deben ser firmadas por el declarante en todas sus hojas.</p>

	<p><b>Uso de la plataforma.</b></p>
	<p>Para agendar una declaración se debe acceder al participante que se citará, para ello se debe hacer click en el nombre del participante, lo que nos dará acceso a toda su información.</p>
	<p>Ya ubicado en la página del participante, encontrará, bajo la información del participante, el encabezado de la agenda de declaraciones del perticipante. Como siempre, a la derecha del encabezado encontrará el botón que le permitirá agregar el agendamiento.</p>
	<p>El formulario de agendamiento es simple, sólo se debe llenar la fecha y hora agendada y guardar.</p>

	<p>Al completar el agendamiento, verá aparecer al final de la página, en la sección <b>Archivos requeridos</b> los archivo:</p>
	<ol>
		<li><b>Declaración del participante</b></li>
		<li><b>Antecedentes entregados por el participante (lista)</b>, donde se pueden subir archivos que hayan sido proporcionados por el participante como antecedentes que apoyen su declaración.</li>
	</ol>
	<p>Es obligatorio subir la declaración, no así los antecedentes.</p>

	<p><b>Para agendar y ejecutar las declaraciones de los testigos, se debe ingresar a cada testigo y gestionar, tal como se hizo con las personas denunciantes y denunciadas, cada declaración.</b></p>

	<p><b>Cierre de la declaración.</b></p>
	<p>Una vez se haya subido el archivo con la declaración, aparecerá en el extremo izquierdo del agendamiento un boton (cuadrado) que se debge utilizar para marcar la declaración como <b>realizada</b></p>
	<p>Esta marca le permite a la plataforma determinar cuando se termina la etapa de agendamiento y toma de declaraciones.</p>
	<p>En la vista principal de la denuncia, en la medida que cada persona denunciante o denunciada termine su declaración y se termine además la declaración de todos sus testigos, aparecerá un botón para dar por cerrada la etapa de todas sus declaraciones.</p>
</div>