<h3>Tabla de hechos</h3>
<h4><%= @objeto.cliente.razon_social %></h4>
<h4><%= "#{@objeto.rit} : #{@objeto.causa}" %></h4>
<br>
<small>Bajo la descripción de cada hecho, responda si el hecho es o no es efectivo. De no ser efectivo, detalle el hecho real. La documentación necesaria para respaldar cada afirmación es solicitada en an el documento adjunto : 'Documenttación solicitada'</small>
<br>
<% @objeto.hechos.order(:orden).each do |hchs| %>
	<p><b><%= hchs.hecho.blank? ? "Hecho Nº #{hchs.orden}" : hchs.hecho %></b></p>
	<br>
	<p><%=hchs.descripcion%></p>
	<br>
	<br>
	<br>
	<br>
	<br>
<% end %>