<h3>Tabla de hechos</h3>
<h4><%= @objeto.cliente.razon_social %></h4>
<h4><%= "#{@objeto.rit} : #{@objeto.causa}" %></h4>
<br>
<small>Bajo la descripción de cada hecho indique si es o no efectivo, redacte su propio relato y proporcione antecedentes adicionales sobre el mismo. Además, por favor envíenos la documentación que acredita su version.</small>
<br>
<% @objeto.hechos.order(:orden).each do |hchs| %>
	<p><b><%= hchs.hecho.blank? ? "Hecho Nº #{hchs.orden}" : hchs.hecho %></b></p>
	<br>
	<p><%=hchs.descripcion%></p>
	<br>
	<br>
	<br>
	<br>
	<br>
<% end %>