<div id="<%= dom_id doc_nota %>">
  <p>
    <strong>Ownr type:</strong>
    <%= doc_nota.ownr_type %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= doc_nota.ownr_id %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= doc_nota.nota %>
  </p>

</div>
