<!-- Despliega el botón a menos que esté en la página del botón -->
<!-- las lineas comentadas borran el botón if_current -->
<% data ||= nil %>
<% mthd ||= :get %>
<li class="nav-item <%= 'active' if active %>">
	<%= link_to link, method: mthd, data: data, class: 'nav-link', data_toggle: "tooltip", data_placement: "bottom", title: tooltip do %>
		<%= render partial: '0p/navbar/gly_nm', locals: {gly: gly, nombre: nombre} %>
	<% end %>
</li>