<li class="nav-item dropdown ml-auto">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= nombre %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

    <small><%= link_to 'Tarifas Base', '/tar_tarifas', class: "dropdown-item" %></small>
    <small><%= link_to 'Facturas', '/tar_facturas', class: "dropdown-item" %></small>

  </div>
</li>
