<li class="nav-item dropdown ml-auto">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bi bi-link-45deg"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

    <% unless AppEnlace.where(owner_id: nil).empty? %>
      <% AppEnlace.where(owner_id: nil).each do |enlace| %>
        <small><%= link_to enlace.descripcion, enlace.enlace, target: :_blank, class: "dropdown-item" %></small>
      <% end %>
    <% end %>
    <% if usuario_signed_in? and perfil_activo.present? %>
      <% unless perfil_activo.app_enlaces.empty? %>
        <div class="dropdown-divider"></div>
        <% perfil_activo.app_enlaces.each do |enlace| %>
          <small><%= link_to enlace.descripcion, enlace.enlace, target: :_blank, class: "dropdown-item" %></small>
        <% end %>
      <% end %>
    <% end %>

  </div>
</li>
