<li class="nav-item <%= 'active' if active %> ">
<%= button_to link, method: :delete, form_class: "inline-form", class: "no_btn" do %>
    <%= render partial: '0p/navbar/gly_nm', locals: {gly: gly, nombre: nombre} %>
<% end %>
</li>