<div class="row gx-1">
	<div class="col-lg-6 col-xs-12">
		<%= render partial: 'actividades/shr/bjt_agenda', locals: {objeto: @objeto} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: 'repositorios/shr/repositorio', locals: {objeto: @objeto, d_pendientes: @d_pendientes, a_pendientes: @a_pendientes} %>
	</div>
</div>