<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Remisión del informe de la Investigación a la Dirección del Trabajo.</h6>
	<p>Se debe registrar la fecha en la cual se envió el informe de la investigación a la Dirección del Trabajo.</p>

	<h6>Recepción del informe de la Investigación desde la Dirección del Trabajo.</h6>
	<p>Si la investigación fue realizada por la Dirección del Trabajo, se registra la fecha en la cual se recibió el informe de la investigación desde la Dirección del Trabajo.</p>
</div>