<div style='padding-left: 1em; padding-right: 1em; line-height: 13px;'>

	<small><small>
	<div class="row">
		<div class="col-10">
			<i class="bi bi-arrow-right"></i> 
			<% case @h_pagos[objeto.id][:origen_fecha_pago] %>
			<% when 'TarUfFacturacion' %>
				UF definida para este pago.
			<% when 'TarPago' %>
				UF definida por la fecha de aprobación.
			<% when 'Asesoria' %>
				UF definida en la asesoría.
			<% when 'Today' %>
				Cálculo realizado con la UF del día.
			<% end %> 
			( <%= dma(objeto.fecha_calculo) %> )

		</div>
		<div class="col-2" align='right'>
			<b><%= objeto.uf_calculo.blank? ? 'UF no encontrada' : s_pesos2(objeto.uf_calculo.valor) %></b>
		</div>
	</div>

	</small></small>
</div>