<div class="row gx-1 bg_sub_tbl m-1 p-1 objt_lnk" style="font-size: 14px; line-height: 1.2;">
	<div class="col-8">
		<%= render partial: '0p/prtls/dsply', locals: {objt: objt, dir: 'list', prtl: 'objt'} %>
	</div>
	<div class="col-4 text-end">
		<%= render partial: '0p/objt/info_lnk', locals: {objt: objt} %>
		<%= render partial: '0p/prtls/dsply', locals: {objt: objt, dir: 'list', prtl: 'lnks'} %>
	</div>
</div>

<%= render partial: '0p/objt/info_dsply', locals: {objt: objt} %>