<div class="my-1 shadow bg-white border rounded-2" id="cid_<%=objt.id%>">
	<%= render partial: '0p/objt/objt', locals: {objt: objt} %>

	<%= render partial: '0p/prtls/dsply', locals: {objt: objt, dir: 'list', prtl: 'cllps_dsply'} %>
	<%= render partial: '0p/prtls/dsply', locals: {objt: objt, dir: 'list', prtl: 'dtl'} %>

</div>