<div class="row">
    <div class="col-7"></div>
    <div class="col-5">
        <div class="app_box">
            <small>
            <ul>
                <li>
                    <%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/age_actividades/new#{ownr_prms(ownr)}&k=prprtr", tltp: nil} do %>
                        <i class="bi bi-plus-circle"></i> Audiencia preparatoria
                    <% end %>
                </li>
                <li>
                    <%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/age_actividades/new#{ownr_prms(ownr)}&k=jc", tltp: nil} do %>
                        <i class="bi bi-plus-circle"></i> Audiencia de juicio
                    <% end %>
                </li>
                <li>
                    <%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/age_actividades/new#{ownr_prms(ownr)}&k=unc", tltp: nil} do %>
                        <i class="bi bi-plus-circle"></i> Audiencia única
                    <% end %>
                </li>
            </ul>
            <hr>
            <ul>
                <li>
                    <%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/age_actividades/new#{ownr_prms(ownr)}&k=rnn", tltp: nil} do %>
                        <i class="bi bi-plus-circle"></i> Reunión
                    <% end %>
                </li>
            </ul>
            </small>
        </div>
    </div>
</div>