<div class="row gx-1">
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :lgl_tipo_entidad_id, colection: LglTipoEntidad.all.order(:lgl_tipo_entidad).collect { |te| [te.lgl_tipo_entidad, te.id] }, label: 'Tipo de entidad' } %>
	</div>
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :dependencia, sel_list: ['Empresa', 'Trabajadores', 'Mixta'], label: 'Dependencia' } %>
	</div>
	<div class="col-lg-6">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :lgl_entidad, label: 'Entidad' } %>
	</div>
</div>