<div id="<%= dom_id lgl_entidad %>">
  <p>
    <strong>Lgl entidad:</strong>
    <%= lgl_entidad.lgl_entidad %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= lgl_entidad.tipo %>
  </p>

  <p>
    <strong>Dependencia:</strong>
    <%= lgl_entidad.dependencia %>
  </p>

</div>
