<h1>Editing lgl entidad</h1>

<%= render "form", lgl_entidad: @lgl_entidad %>

<br>

<div>
  <%= link_to "Show this lgl entidad", @lgl_entidad %> |
  <%= link_to "Back to lgl entidades", lgl_entidades_path %>
</div>
