<p style="color: green"><%= notice %></p>

<h1>Lgl entidades</h1>

<div id="lgl_entidades">
  <% @lgl_entidades.each do |lgl_entidad| %>
    <%= render lgl_entidad %>
    <p>
      <%= link_to "Show this lgl entidad", lgl_entidad %>
    </p>
  <% end %>
</div>

<%= link_to "New lgl entidad", new_lgl_entidad_path %>
