<b>
<div class="row p-1 gx-1 px-2" style="font-size: 12px; line-height: 1.2;">
	<div class="col-<%=controller_name == 'causas' ? 9 : 10%>">
		Demandante
	</div>
	<div class="col-2 text-end">
		Remuneración
	</div>
	<% if controller_name == 'causas' %>
		<div class="col-1 text- end">
		</div>
	<% end %>
</div>
</b>