<!-- TH -->
<div class="ln_vlr_cnt">
	<div class="ln_nm">
		<b>Item</b>
	</div>
	<div class="ln_mnt1">
		<% if controller_name == 'causas' %>
			<b>Tarifa</b>
		<% end %>
	</div>
	<div class="ln_mnt2">
		<b>Cuantía</b>
	</div>
	<div class="ln_lnks"></div>
</div>