<div class="text-center" style="padding-top: 3rem;padding-bottom: 20rem;background-image: url('<%= asset_path('artcls/costos_1920.webp') %>'); background-size: cover; background-position: center;">
</div>