		<h3 class="mt-3">Los costos del incumplimiento</h3>

		<p>El incumplimiento de la Ley 21.643 puede derivar en dos tipos de costos:
			<ul>
				<li><i>Multas por infracciones.</i></li>
				<li><i>Consecuencias financieras de la judicialización de investigaciones.</i></li>
			</ul>
		</p>

		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<h4>Multas por infracciones</h4>
				<p>Como es habitual, el monto de una multa dependerá del tamaño de la empresa y de la gravedad de la falta, entre otros.</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/costo_multas.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Costo por infracción</div>
			</div>
		</div>

		<p>A la fecha existen 29 infracciones asociadas a esta ley:
			<ul>
				<li>7 que fiscalizan la existencia y puesta en marcha del <i>protocolo de prevención</i>.</li>
				<li>22 que fiscalizan la correcta ejecución del <i>procedimiento de investigación y sanción</i>.</li>
			</ul>
		</p>

		<p>Las primeras siete no debieran representar un riesgo relevante para aquellas empresas que hayan implementado correctamente las acciones y generado la documentación exigida por la ley. Seis de ellas en términos generales fiscalizan (1) la existencia del <i>protocolo de prevención</i> y el <i>procedimiento de investigación y sanción</i>; (2) que ambos documentos contengan los contenidos mínimos exigidos y (3) que estén a disposición de todos los trabajadores. La séptima, fiscaliza el deber (de la empresa) de informar semestralmente cuáles son los canales de denuncia disponibles para sus trabajadores. Es decir, se trata de una exigencia que puede cumplirse con una implementación muy básica de la ley. Nuestra preocupación debiera estar entonces, en las 22 restantes.</p>

		<p style="font-size: .7rem;line-height: 1.5;"><b>NOTA</b>: Es de esperar que en el futuro haya multas que fiscalicen específicamente otros aspectos de la ley, evolución propia de una aplicación gradual. Actualmente, por ejemplo, no se registran infracciones específicas vinculadas a la realización de las capacitaciones que la normativa declara obligatorias, aunque sí existe una multa genérica por incumplimiento del reglamento (decreto 21) y al reglamento interno de orden higiene y seguridad.</p>

		<h5>¿Es importante cumplir los plazos?</h5>

		<p>Sin duda es importante: seis de las veintidós infracciones los fiscalizan.</p>

		<h5>¿Si una empresa decide que sus denuncias sean siempre investigadas por la Dirección del Trabajo, ya no debe preocuparse por multas?</h5>

		<p>La respuesta es claramente negativa. Incluso si la <b>denuncia es presentada directamente en la Inspección del Trabajo</b>, existen al menos seis infracciones que aún podrían ser detectadas en la empresa (llegando a siete en caso de participar en un régimen de subcontratación). Esto porque la responsabilidad de aplicar de manera correcta y oportuna las medidas de resguardo, medidas correctivas y sanciones recae siempre en la empresa.</p>

		<p>Si la denuncia es recibida por la empresa y posteriormente derivada a la Dirección del Trabajo, el número de posibles infracciones aumenta: al menos doce (o catorce, si existe régimen de subcontratación).</p>

		<p>Por último, si es la empresa quien investiga la denuncia, el número de multas que podrían cursarle son al menos de diecisiete (llegando hasta veinte si la empresa participa en un régimen de subcontratación.)</p>

		<h5>¿Las empresas en régimen de subcontratación se exponen a un mayor número de multas?</h5>

		<div class="row gx-1 mb-2">
			<div class="col-lg-6 col-xs-12 mt-3">
				<p>Efectivamente, de las veintidós infracciones que se fiscalizan en relación al procedimiento de investigación y sanción, cinco aplican sólo si la empresa participa en un régimen de subcontratación. Tres de ellas aplican sólo a empresas principales o usuarias y las dos restantes, a las empresas contratistas, subcontratistas o EST. Su distribución se muestra en la siguiente tabla:</p>
			</div>
			<div class="col-lg-6 pt-3">
				<div class="text-center">
					<%= image_tag 'artcls/tabla_pu.png', class: 'img-fluid' %>
				</div>
				<div class="text-center">Tabla: Multas empresas con régimen de subcontratación</div>
			</div>
		</div>

		<p>La tabla evidencia que una empresa principal o usuaria, frente a una denuncia, debe asegurarse de cumplir con dos obligaciones adicionales cuando actúa como entidad receptora de la denuncia, y con una obligación más cuando asume el rol de entidad investigadora.</p>

		<p>Si se trata de una empresa contratista, subcontratista o EST, recae sobre ella una exigencia adicional en todos los casos —incluso cuando la denuncia es presentada directamente en la Dirección del Trabajo— y otra exigencia extra cuando asume el rol de entidad investigadora de la denuncia.</p>

		<p style="font-size: .7rem;line-height: 1.5;"><b>NOTA</b>: Una empresa que participa en un régimen de subcontratación puede verse afectada por estas infracciones adicionales únicamente en las denuncias que se originen en el marco de dicho régimen. Estas no aplican a aquellas denuncias que involucren exclusivamente a sus propios trabajadores.</p>

		<h3>Judicialización de investigaciones</h3>

		<p>La judicialización constituye una instancia a la que puede recurrir cualquier participante que no esté conforme con las sanciones impuestas o que considere vulnerados sus derechos fundamentales durante la investigación.</p>

		<p>Un juicio por vulneración de derechos fundamentales puede implicar mayores costos para la empresa, ya que puede conllevar el pago de una indemnización especial —equivalente a entre seis y once remuneraciones brutas— cuando se relaciona con un despido, además de las indemnizaciones propias de un despido injustificado. En caso de mantenerse vigente la relación laboral, los montos son variables. Adicionalmente, el tribunal podría condenar al pago de otras indemnizaciones, como aquellas asociadas al daño moral.</p>

		<p>Contar con un procedimiento de investigación y sanción de buen estándar, no evitará por completo la judicialización de los casos, pero sí debiera:
			<ul>
				<li>Evitar que una mala ejecución del procedimiento de investigación y sanción, de origen a la judicialización del caso.</li>
				<li>Aportar significativamente a la prevención de situaciones similares a través de la adopción de medidas correctivas.</li>
			</ul>
		</p>

		<p>La ley exige explícitamente que todo el procedimiento de investigación y sanción ocurra en un ambiente de cuidado hacia los participantes, con garantías de confidencialidad y siempre incluyendo la perspectiva de género. Por ello, cobra especial relevancia la conformación y capacitación del equipo que asumirá la responsabilidad de la recepción e investigación de las denuncias.</p>

		<p>Si se trata de una empresa principal o usuaria, el estándar del equipo tiene una importancia aún mayor:
		<ul>
			<li>La recepción de denuncias que ocurren en el contexto del régimen de subcontratación requiere una buena coordinación con las empresas externas.</li>
			<li>La definición de medidas de resguardo, correctivas y sanciones al momento de redactar el informe de investigación requieren una evaluación de mayor complejidad.</li>
		</ul></p>

		<p>La persona que se asigna a la investigación reviste especial importancia. En cuanto a su perfil, el reglamento establece lo siguiente: </p>

		<p class="px-5"><i>El empleador deberá designar preferentemente a una persona trabajadora que cuente con formación en materia de acoso, género o derechos fundamentales para llevar adelante la investigación.</i></p>

		<p>El riesgo de una posterior judicialización aumenta significativamente cuando la investigación es llevada por una persona que no cumple con el perfil. Por esta razón, muchas empresas han optado por la externalización de sus investigaciones mientras que otras, que no cuentan con los recursos para ello, simplemente derivan todas sus investigaciones a la inspección del trabajo.</p>

		<h3>El cambio cultural</h3>

		<p>La cantidad de denuncias recibidas durante este primer año demuestran con claridad que el acoso laboral, sexual y la violencia en el trabajo ejercida por terceros son problemas significativos al interior de las empresas.</p>

		<p>Por ello, una buena recomendación, a la hora de diseñar o mejorar la implementación de la ley, es la de alinearse con sus objetivos. La explicación es obvia: en la medida que las denuncias disminuyen, también lo hacen los problemas. En definitiva, prevenir es siempre mejor que curar.</p>

		<p>Muchas empresas sienten que el verdadero desafío es sobrevivir a la investigación de una denuncia. El evidente deterioro de su organización tras la investigación los conduce al juicio de que, lejos de aportar, la investigación profundizó sus problemas. La ley es mala, concluyen.</p>

		<p>Lo cierto es que si la empresa no estaba preparada para enfrentar una investigación, hay una brecha cultural que resolver. Lo que necesita es capacitación e involucramiento en el cambio cultural. Necesita estar preparada.</p>

		<p>Este es un tema relevante que merece una reflexión más profunda, probablemente su propio artículo. Lo incluimos para visibilizar el importante costo organizacional que implica no asumir el cambio cultural propuesto. Al fin y al cabo, es ese el verdadero sentido de la ley.</p>
