<p>A un año de la entrada en vigencia de la Ley N.º 21.643 (Ley Karin), comienzan a conocerse las primeras evaluaciones sobre su implementación. Tal como se había anticipado, el elevado volumen de denuncias recibidas ha generado importantes consecuencias: ha superado con creces la capacidad de investigación de la Dirección del Trabajo y ha situado en el centro del debate el procedimiento de investigación y sanción. En este contexto, han surgido diversas propuestas de ajuste, que en términos generales se orientan a flexibilizar algunas de las exigencias del procedimiento.</p>

<p>Sin importar el tamaño de la empresa, o lo alineada que esté con el cambio cultural propuesto por la ley, la recepción de las primeras denuncias trajó consigo un aprendizaje importante. Aprendizaje que frecuentemente implicó adecuaciones y mejoras sobre la marcha: hay plazos que cumplir y multas que evitar. Es la hora de la verdad, el momento en el que se pone a prueba el estándar logrado en la implementación de la ley.</p>

<p>La implementación de la Ley 21.643 es compleja en muchos sentidos. Se trata de un cambio cultural significativo, prueba de ello es el número de denuncias recibidas, pero también es exigente en términos financieros: para un número importante de empresas, la implementación de la ley en un buen estándar representa un costo que no pueden enfrentar completamente. Estas brechas pueden llegar a ser muy significativas.</p>

<p>Origen de las principales brechas en la implementación de la ley:
  <ul>
    <li><i>Financieras</i>: La gran mayoría de las empresas no cuentan con los recursos necesarios para garantizar un estándar adecuado, en la práctica esto ha derivado en que las pequeñas empresas realicen solo un cumplimiento formal de la norma, sin generar un cambio sustantivo.</li>
    <li><i>Culturales</i>: algunas organizaciones no han asumido o no adhieren al cambio cultural que la ley busca promover, ya sea porque consideran que su propia cultura organizacional ya es suficiente o, simplemente, porque no lo consideran prioritario.</li>
  </ul>
</p>

<p>Crear un canal de denuncias, diseñar e implementar medidas de resguardo, contar con -al menos- un investigador con las competencias necesarias, cumplir con las exigencias formales de una investigación, entre otros, son desafíos aún presentes tras un año de vigencia de la ley. Su implementación o perfeccionamiento en el tiempo, si bien tendrá estándares distintos en cada empresa, buscará siempre satisfacer una exigencia mínima: <i>evitar los costos asociados al incumplimiento de la ley</i>.
<%= render layout: '0p/tltp_lnk', locals: {lnk: '/krn_csts', tltp: 'Ir al artículo'} do %>
    <span style="font-size: 0.9rem;"><i class="bi bi-cursor"></i> Ir al artículo</span>
  <% end %>
</p>