<%= render partial: prtl_name(@objeto, 'shw/proceso', 'drvcns_invstgdrs') %>

<% if @objt['fl_prnncmnt?'] and @objeto.fl_last_date('dnnc_mdds_sncns') %>

	<%= render layout: 'cuentas/prtls/proceso/actn' do %>

		<% if @objeto.fl_last_date('dnnc_mdds_sncns') %>
			<%= render partial: 'cuentas/prtls/proceso/fact', locals: {txt: "Fecha evidencia más reciente: #{dma(@objeto.fl_last_date('dnnc_mdds_sncns'))}"} %>
			<div class="border rounded-2">
				<%= render partial: '0p/proc/etp_frm', locals: {etp: @etp_last, objeto: @objeto, code: 'fecha_cierre', plz_fld: true} %>
			</div>
		<% end %>

	<% end %>

<% end %>