<h5>Botón resumen del procedimiento</h5>

<p>A medida que vamos ingresando información en la denuncia, o avanzando en el proceso según el <i>Procedimiento de Investigación y Sanción</i>, la plataforma va agregando a este reporte el detalle de cada acción realizada.</p>
<p>Si consultamos el resumen en este momento veremos lo siguiente:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_4.png', width: "600" %>
</div>

<p>El resumen comienza con el detalle de la información que hasta el momento se ha ingresado de la denuncia. Nos cuenta que <b>Aún no se ingresa información de ninguno de los participantes</b>, que aún no se ha terminado ninguna etapa y que no se ha subido ningún archivo aún a la <b>Documentación obligatoria</b>. Particularmente, muestra que está pendiente subir la <b>Denuncia</b>, la cual está señalada como <b>pendiente</b>, y que no se han subido anexos a la denuncia (opcionales).</p>