<h4>Crear una nueva denuncia</h4>

<p>Al presionar el botón <i class="bi bi-plus-circle"></i> a la derecha del encabezado <b>Denuncias</b>, accederá al formulario de ingreso de denuncia.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_2.png', width: "600" %>
</div>

<p>A la derecha del encabezado del formulario, en contrará el botón <i class="bi bi-arrow-left"></i>, el cual le permite volver a la lista de denuncias sin crear la denuncia, si lo que desea es abortar el ingreso.</p>

<p>El formulario contiene tres tipos de campos: dos de <i>ingreso</i>, cuatro de <i>selección</i> y uno <i>opcional</i>.</p>

<p>Los dos superiores son campos de <i>ingreso de información</i>: la <i>fecha y hora</i> en la que fue presentada/enviada la denuncia y el <i>identificador</i> de la denuncia.</p> 
<p>El identificador es propio de cada empresa. Por ejemplo, una empresa podría utilizar los apellidos de las personas denunciantes y denunciados para construir el identificador: <b>"Perez - Rivera"</b>. Otra empresa utilizará un identificador compuesto: <b>"L-2-2025"</b>, que identifica la denuncia por acoso laboral Nº 2 del año 2025, etc. <b>El ingreso de un identificador de la denuncia es obligatorio</b></p>

<p>Los campos de selección son:
	<ul>
		<li><b>Motivo de la denuncia</b> cuyas opciones son:
			<ol>
				<li>Acoso laboral</li>
				<li>Acoso sexual</li>
				<li>Violencia en el trabajo ejercida por terceros</li>
			</ol>
		</li>
		<li><b>Receptor de la denuncia</b>: cuyas opciones son:
			<ol>
				<li>Empresa</li>
				<li>Dirección del Trabajo</li>
				<li>Empresa externa (aparece solo si la empresa es principal o usuaria)</li>
			</ol>
		</li>
		<li><b>Canal de denuncia</b>: cuyas opciones son:
			<ol>
				<li>Presencial</li>
				<li>Correo electrónico</li>
				<li>Plataforma</li>
			</ol>
		</li>
		<li><b>Quien denuncia</b>: cuyas opciones son:
			<ol>
				<li>Denunciante</li>
				<li>Representante</li>
			</ol>
		</li>
	</ul>
</p>

<p>Finalmente, el campo <b>Formato de la denuncia</b>, es un campo opcional pues aparece solo si se seleccionó la opción <b>Presencial</b> en el campo <i>Canal de denuncia</i>, ya que una denuncia <i>presencial</i> puede ser presentada por <i>escrito</i> o en forma <i>verbal</i>.</p>

<p>Para conocer en detalle los campos, sus opciones y todos los campos opcionales presione, en la parte inferior derecha del formulario, el link <b>¿Necesita ayuda para llenar este formulario?</b></p>

<p>Una vez completado el formulario y presionado el botón <b>Crear denuncia</b>, la plataforma creará la denuncia y le presentará la página en la cual se debe ingresar la información de las personas denunciantes y denunciadas y, si es el caso, la información de los testigos que pueda presentar la persona denunciante.</p>