<h5>Descripción del ambiente</h5>

<p>La creación de la denuncia conduce de manera automática a su interior, en particular a la vista <i>Participantes</i>.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_3.png', width: "700" %>
</div>

<p>El encabezado de la denuncia muestra el <i>identificador de la denuncia</i> (Denuncia simple) y, a su derecha, dos botones representados por íconos:</p>
<ol>
	<li><i class="bi bi-house-door"></i>: Dirige al inicio de la cuenta, es decir, a la <i>tabla de denuncias</i>.</li>
	<li><i class="bi bi-chat-left-text"></i>: Permite agregar <b>notas a la denuncia</b>. Estas notas tienen carácter informativo o de apoyo a la gestión de los usuarios, sin incidir en el desarrollo del procedimiento.</li>
</ol>

Debajo del encabezado se encuentra la barra de navegación de la denuncia, donde el tab activo indica que estamos en la opción <b>Participantes</b>. Este es uno de los tres apartados disponibles:</p>
<ul>
	<li><b>Proceso</b>: registra las acciones e información que reflejan el estado de avance del <i>Procedimiento de Investigación y Sanción</i>.</li>
	<li><b>Participantes</b>: concentra toda la gestión relativa a las personas involucradas en la denuncia.</li>
	<li><b>Recursos</b>: reúne dos funcionalidades de uso general:
		<ul>
			<ol>
				<li><b>Cumplimiento formal de la denuncia</b>: genera un reporte con el detalle de todas las acciones realizadas durante el procedimiento. Puede emitirse en cualquier momento.</li>
				<li><b>Generación de documentos combinados</b>: permite consolidar en un único archivo PDF todos los documentos cargados a la denuncia.</li>
			</ol>
		</ul>
	</li>
</ul>

<p>Finalmente, la vista despliega un mensaje que invita a ingresar la información de los participantes, junto con el <i>encabezado de la lista de personas denunciantes</i> y el <i>encabezado de la lista de personas denunciadas</i>.</p>