<h5>Descripción del ambiente</h5> 
<p>Al crear una denuncia, la plataforma dirige automáticamente a su interior, específicamente a la pestaña <i>Participantes</i>.</p> 

<div class="mb-2 text-center"> 
	<%= image_tag 'hlp/dnnc_smpl_03.png', width: "700" %> 
</div> 

<p>El encabezado muestra el identificador de la denuncia, en este caso <i>Denuncia simple</i>, y, a su derecha, dos botones representados por íconos:</p> 
<ol> 
	<li><i class="bi bi-house-door"></i>: Regresa al inicio de la cuenta.</li> 
	<li><i class="bi bi-chat-left-text"></i>: Permite agregar <b>notas a la denuncia</b>. Estas notas tienen carácter informativo o de apoyo a la gestión y no inciden en el desarrollo del procedimiento.</li> 
</ol> 

<p>Debajo del encabezado se encuentra la barra de navegación de la denuncia, donde la pestaña activa indica que estamos en la sección <b>Participantes</b> de la denuncia. Este es uno de los tres apartados disponibles:</p> 

<ul> 
	<li><b>Proceso</b>: registra las acciones e información que reflejan el avance del <i>Procedimiento de Investigación y Sanción</i>.</li> 
	<li><b>Participantes</b>: reúne todas las operaciones relacionadas con las personas involucradas en la denuncia.</li> 
	<li><b>Recursos</b>: agrupa dos funcionalidades de uso transversal: 
		<ol> 
			<li><b>Cumplimiento formal de la denuncia</b>: genera un reporte con el detalle de todas las acciones realizadas durante el procedimiento. Puede emitirse en cualquier momento.</li> 
			<li><b>Generación de documentos combinados</b>: permite consolidar en un único archivo PDF todos los documentos cargados a la denuncia.</li> 
		</ol> 
	</li> 
</ul> 

<p>El ícono <i class="bi bi-arrow-right"></i> señala la pestaña en la que existe una tarea pendiente, indicando cuándo es necesario cambiar de sección para continuar con el flujo de trabajo.</p> 

<p>Finalmente, debajo de la barra de navegación aparece un mensaje encabezado por el ícono <i class="bi bi-lightbulb"></i>, que describe la acción que corresponde realizar. En este caso: <i>Ingresar los datos de los participantes registrados en la denuncia</i>. Bajo este mensaje se detallan las tareas que implica esta acción.</p>