<h5>Ingreso de personas denunciantes, denunciadas y testigos</h5>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_3.png', width: "700" %>
</div>

<p>A la derecha de los encabezados correspondientes podemos encontrar dos botónes de íconos:
	<ul>
		<li><i class="bi bi-question-circle"></i>: nos lleva a la ayuda que describe la información y funcionalidad asociada al despliege de un registro de denunciante/denunciado.</li>
		<li><i class="bi bi-plus-circle"></i>: nos permite agregar una persona denunciante/denunciada.</li>
	</ul>
</p>

<p>La plataforma exige registrar al menos a una persona denunciante antes de poder ingresar los datos de una persona denunciada. Por esta razón, únicamente el primer encabezado dispone de un botón de ingreso al inicio. De manera recíproca, tampoco será posible eliminar a la única persona denunciante registrada si ya existe alguna persona denunciada en la lista.</i></p>

<p><b>Denuncias con múltiples personas denunciantes</b></p>
<p>Aunque el reglamento no contempla expresamente la posibilidad de que una denuncia sea presentada por más de una persona denunciante, consideramos natural su implementación por las siguientes razones:
	<ol>
		<li>El reglamento dispone que el sindicato de la empresa puede presentar una denuncia en representación de la persona denunciante. En ese contexto, resulta razonable entender que dicha representación pueda extenderse a varias personas denunciantes.</li>
		<li>Dividir una denuncia conjunta en tantas denuncias como denunciantes existan no solo incrementa la carga administrativa y multiplica las declaraciones de testigos, sino que también dificulta la definición de medidas correctivas y sanciones. Esto podría generar situaciones en que una misma persona denunciada reciba más de una sanción por hechos que forman parte de un mismo caso.</li>
	</ol>
</p>

<p>Al presionar el botón <i class="bi bi-plus-circle"></i> para ingresar una persona denunciante accederemos al siguiente formulario:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_4.png', width: "700" %>
</div>

<p><b>NOTA</b>: El campo <i>Empleado externo</i> de la segunda línea del formulario, se despliega únicamente si se trata de una empresa principal o usuaria, la cual está obligada a recibir denuncias de personas trabajadoras de empresas con las cuales tenga un régimen de subcontratación.</p>

<p>La mayoría de los datos solicitados se explican sólo, por ello sólo haremos algunas observaciones:
	<ol>
		<li>La <b>cédula de identidad será verificada</b> por la plataforma, utilizando para ello el dígito verificador.</li>
		<li><b>Aplica el artículo 516 del Código del Trabajo</b>: Se marca este campo <b>si la persona denunciante NO tiene ni usa correo electrónico</b>, en este caso la ley obliga que toda la información y notificaciones del procedimiento se le envíen por correo certificado. Al seleccionar este campo aparecerá en el formulario un campo adicional para que se ingrese la dirección que se usará para estos efectos.</li>
		<li><b>Aplica el artículo 4 inciso primero del Código del Trabajo</b>: Se marca este campo <b>si la persona trabajadora tiene un cargo de gerencia</b>, situación en la cual es obligatorio derivar la denuncia a la Dirección del Trabajo.</li>
	</ol>
</p>

<p>El ingreso de las personas denunciadas y de los testigos es similar al ingreso de la persona denunciante. Una vez ingresada la información que se tiene al momento de la denuncia, la página queda más o menos como muestra la siguiente imagen:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_5.png', width: "700" %>
</div>

<p>La plataforma asume por defecto que el ingreso de una denuncia se realiza con la persona denunciante presente. Por ello, prioriza las acciones que resultan pertinentes en ese contexto, y posterga aquellas que no requieren de su participación.</p>

<p>La vista muestra ahora en su parte superior tres mensajes:
	<ul>
		<li>Los datos ingresados de los participantes cumplen con las exigencias mínimas para continuar con el proceso.</li>
		<li>Para activar el envío de información y notificaciones debe verificar el correo electrónico de los participantes.</li>
		<li>Es obligación entregar información a la persona denunciante acerca de su derecho a elegir la entidad investigadora. Envíe dicha información por correo electrónico para contar con evidencia de la entrega de esta información.</li>
	</ul>
</p>

<p>El ingreso de datos contenidos en la denuncia es la primera tarea en su recepción, pero.</p>

<p>La imagen superior muestra en primer lugar el mensaje "<i>La información contenida en los registros de los participantes cumple con el estándar mínimo necesario para continuar con la recepción de la denuncia</i>. <b>Ir a Proceso</b>"</p>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size: 0.7rem; line-height: 1.5;">
	<p><b>Información parcial</b></p>
	<p>El reglamento permite que la información proporcionada en la denuncia respecto de la persona denunciada esté incompleta, pues no es exigible que la persona denunciante conozca el RUT o la dirección de correo personal de la persona denunciante, por ejemplo.</p>
	<p>La información faltante debe ser completada antes de realizar alguna de las siguientes acciones: 
		<ul>
			<li>Informar a la Dirección del Trabajo el inicio de la investigación</li>
			<li>Derivar la denuncia a la Dirección del Trabajo</li>
		</ul>
	</p>
	<p>La plataforma cuenta con un reporte que se envía por correo electrónico al contacto de recursos humanos registrado, solicitando que se verifiquen y completen los datos de los participantes de la denuncia. El botón (<i class="bi bi-envelope-at"></i>) para enviar dicho correo electrónico se encuentra sobre el encabezado de las presona(s) denunciante(s), a la derecha de la frase <i>Solicitud de verificación de información</i></p>
	<p></p>
	<p>Esta verificación y eventual complementación de información debe ser realizada siempre.</p>
</div>

<p>Hemos ingresado los datos de una persona denunciante quien proporcionó los datos de un testigo, y de una persona denunciada. Como podemos ver en la imagen anterior, hemos ingresado todos los datos solicitados.</p>

<p>El registro de cada participante despliega su cédula de identidad y su nombre y a su derecha, verá los botones que permiten modificar o eliminar el registro.</p>
<p>Bajo el nombre de cada participante encontrará dos advertencias:
<ul>
	<li><i class="bi bi-cone-striped text-danger"></i> <i>Email con link de verificación de correo electrónico.</i> <i class="bi bi-clipboard-check text-primary"></i> <i class="text-primary">Auditar!</i> y <i class="bi bi-envelope-at text-primary"></i> <i class="text-primary">Enviar</li>
	<li></i><i class="bi bi-cone-striped text-danger"></i> No se puede enviar información al participante (verificar correo electrónico).</li>
</ul> </p>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size:10px; line-height: 1.5;">
	<p><b>Verificación de correo electrónico del participante</b></p>
	<p>El reglamento establece que <b>toda la información debe ser enviada al correo electrónico personal de cada participante</b>. Para garantizar el éxito de este envío, la plataforma cuenta con un mecanismos para verificar estas direcciones de correo:
		<ol>
			<li>Al presionar el botón <i class="bi bi-envelope-at text-primary"></i> <i class="text-primary">Enviar</i>, la plataforma enviará un correo electrónico al participante con un link, que les permitirá verificar la dirección de correo entregada.</li>
			<li>Una vez verificada la dirección de correo del participante la plataforma registrará el correo como verificado lo cual habilitará el envío de información y notificaciones.</li>
		</ol>
	</p>
</div>

<p>El link <i class="bi bi-clipboard-check text-primary"></i> <i class="text-primary">Auditar!</i> en este caso particular, permite contarle a la plataforma directamente que el la dirección de correo electrónico está correcta. Esta es la modalidad de <i>auditoría formal</i>.</p>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size:10px; line-height: 1.5;">
	<p><b>Auditoría formal</b></p>
	<p>El modo de <i>auditoría formal</i> es una funcionalidad disponible en dos contextos de una denuncia:
		<ul>
			<li><i>Información enviada por correo electrónico desde la plataforma</i>: en este contexto sirve permite marcar directamente en la plataforma, que el correo electrónico se envió sin haberlo enviado.</li>
			<li><i>Documentación que debe ser subida a la plataforma</i>: en este contexto permite marcar directamente en la plataforma que el archivo existe, sin necesidad de subirlo.</li>
		</ul>
	</p>
	<p>Esta propiedad es útil en diversos contextos:
		<ul>
			<li>Para auditar investigaciones ya realizadas. En estos casos, dado que e procedimiento ya se realizó, no tiene sentido enviar correos electrónicos a los participantes, tampoco darse el trabajo de subir toda la documentación, basta con verificar lo que está hecho y lo que no.</li>
			<li>Para manejar excepciones. Por ejemplo, al ingresar una investigación en curso, la información ya enviada por correo se auditará para no tener que enviarla nuevamente. Otro ejemplo importante, es el caso en el que alguno de los participantes solicita que toda la información se le envió por correo certificado.</li>
		</ul>
	</p>
</div>

<!--p>Bajo la advertencia de verificación y sólo en el caso de las personas denunciantes, veremos una segunda advertencia: <i class="bi bi-cone-striped text-danger"></i> <i>Se debe enviar la información obligatoria por correo electrónico.</i> seguida del botón <i class="bi bi-envelope-at text-primary"></i> <i class="text-primary">Enviar!</i></p>

<p>El reglamento establece la entrega de <i>información obligatoria</i> a la persona denunciante al momento de recibir la denuncia. Si la denuncia es presentada en forma verbal la información se entregará verbalmente y se dejará registro de ello en la carpeta, de otro modo, como en este ejemplo, la plataforma habilitará este botón para que sea enviada por correo.</p-->

<p>Solo las personas denunciantes y denunciadas cuentan con un encabezado que les permite <b>agregar testigos</b>.</p>
<p>Solo las personas denunciantes tienen (en esta etapa del procedimiento) una lista de <b>Documentación obligatoria</b>, que contiene un link para subir documentación que respalde haber recibido <b>Atención psicológica temprana</b>.</p>

<p>Por simplicidad, en este ejemplo se ingresó la información mínima requerida para avanzar en el proceso, de no ser así, la plataforma desplegará las advertencias correspondientes.</p>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size: 0.7rem; line-height: 1.5;">
	<p><b>Orden de las tareas en la plataforma</b></p>
	<p>El orden en el que presentamos las tareas de ingreso de la denuncia <b>considera la posibilidad de que esta labor sea realizada mientras la persona denunciante está presencialmente entregando su denuncia</b>, por ello, las tareas que no requieren la participación de la persona denunciante, como el envío de la solicitud de información a RRHH, se postergan hasta finalizar la participación de la persona denunciante</p>
</div>

<p>Una vez concluido el ingreso de los datos de los participantes se debe continuar con el procedimiento de recepción, para ello no dirigimos a la página <i>Proceso</i>, ya sea seleccionando la opción en el menú desplegable o utilizando el link del mensaje desplegado.</p>