<h5>Descripción del ambiente</h5>

<p>La denuncia se encuentra creada y estamos dentro de su sección Participantes. Antes de continuar, revisemos las características de este espacio de trabajo.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_3.png', width: "700" %>
</div>

<p>En la parte superior un mensaje nos notifica que la <i>denuncia fue exitosamente creada</i>.</p>

<p>El encabezado de la denuncia despliega el <i>identificador de la denuncia</i> (Denuncia simple) y a su derecha, muestra dos botones caracterizados por un ícono:
	<ol>
		<!--li><i class="bi bi-trash"></i> : Visible sólo para el administrador de la cuenta, este botón le permite borrar el contenido de una denuncia.</li-->
		<li><i class="bi bi-house-door"></i> : Nos conduce al home de la cuenta, o equivalentemente, a la <i>tabla de denuncias</i>.</li>
		<li><i class="bi bi-chat-left-text"></i> : Nos permite agregar <b>notas a la denuncia</b>. Estas notas son solo informativas o de apoyo a la gestión de los usuarios de la plataforma, no afectan en forma alguna el curso del procedimiento.</li>
	</ol>
</p>

<p>Bajo el encabezado de la denuncia, el tab seleccionado nos cuenta que estamos en la opción <b>Participantes</b> del detalle de la denuncia. Esta es una e tres opciones disponibles:
	<li><b>Proceso</b> : en esta vista de la denuncia se registran las acciones e información que definen el estado de avance del <i>Procedimiento de Investigación y Sanción.</i></li>
	<li><b>Participantes</b> : en esta página se gestiona todo lo relativo a los participantes.</li>
	<li><b>Recursos</b> : en esta vista se gestionan dos recursos de uso general:
		<ul>
			<ol>
				<li>Cumplimiento formal de la denuncia: este reporte contiene un detalle de todas las acciones realizadas en el curso del procedimiento. Este reporte se puede emitir en cualquier momento.</li>
				<li> Generación de documentos combinados : esta funcionalidad permite reunir en un sólo documento PDF, todos los documentos que se han subido a la denuncia.</li>
			</ol>
		</ul>
	</li>
</p>

<p> Finalmente la vista nos muestra un mensaje que nos insta a ingresar la información de los participantes; el <i>encabezado de la lista de personas denunciantes</i> y el <i>encabezado de la lista de personas denunciadas</i>.</p>