<h5>Descripción del ambiente</h5>

<p>La denuncia fue creada y nos encontramos al interior de la denuncia, específicamente en una página que se llama <b>Participantes</b>. Antes de continuar revisemos las características de este ambiente de trabajo.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_3.png', width: "600" %>
</div>

<p>En la parte superior, ya que acabamos de crear la denuncia, un mensaje nos notifica que la <b>Denuncia fue exitosamente creada</b>.</p>

<p>El encabezado de la denuncia despliega el <i>identificador de la denuncia</i> y a su derecha, muestra tres botones caracterizados por un ícono:
	<ol>
		<!--li><i class="bi bi-trash"></i> : Visible sólo para el administrador de la cuenta, este botón le permite borrar el contenido de una denuncia.</li-->
		<li><i class="bi bi-house-door"></i> : Nos conduce al home de la cuenta, o equivalentemente, a la <i>tabla de denuncias</i>.</li>
		<li><i class="bi bi-chat-left-text"></i> : Nos permite agregar <b>notas a la denuncia</b>. Estas notas son solo informativas o de apoyo a la gestión de los usuarios de la plataforma, no afectan en forma alguna el curso del procedimiento.</li>
	</ol>
</p>

<p>Bajo el encabezado de la denuncia, a la izquierda, nos encontramos con el <i>Menú desplegable de la denuncia</i> que, como se aprecia en la imagen, se encuentra en la opción <b>Participantes</b>. En el mismo nivel a la derecha, encontramos el botón <i class="bi bi-file-earmark-ppt"></i> que despliega un resumen del <i>Estado del procedimiento</i> el cual mostrará las acciones que se han realizado en la denuncia en forma simple y esquematizada.</p>

<p>El menú desplegable de la denuncia tiene sólo dos opciones:
	<ol>
		<li><b>Proceso</b> : en esta página se registran las acciones e información que definen el estado del <i>Procedimiento de Investigación y Sanción.</i></li>
		<li><b>Participantes</b> : en esta página se gestiona todo lo relativo a los participantes.</li>
		<!--li><b>Reportes</b> : en esta página se gestionan los reportes y notificaciones que se distribuyen por correo electrónico a los participantes.</li-->
	</ol>
</p>
<p>Las opciones del menú se despliegan al hacer click sobre el nombre la opción desplegada.</p>


<p>El despliegue de la página <b>Participantes</b> nos muestra un mensaje que nos insta a ingresar la información de los participantes; el <i>encabezado de la lista de personas denunciantes</i> y el <i>encabezado de la lista de personas denunciadas</i>.</p>