<div class="mx-4" style="font-size: .7rem;line-height: 1.5;">
	<% unless objt.detalle.blank? %>
		<div><i class="bi bi-arrow-return-right"></i> <%= objt.detalle %></div>
	<% end %>
	<div><i class="bi bi-arrow-return-right"></i> <%= objt.tipo %> : <%= s_moneda(objt.moneda, objt.monto) %></div>
</div>