<div id="<%= dom_id age_usu_nota %>">
  <p>
    <strong>Age usuario:</strong>
    <%= age_usu_nota.age_usuario_id %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= age_usu_nota.nota_id %>
  </p>

</div>
