<h1>Editing age usu nota</h1>

<%= render "form", age_usu_nota: @age_usu_nota %>

<br>

<div>
  <%= link_to "Show this age usu nota", @age_usu_nota %> |
  <%= link_to "Back to age usu notas", age_usu_notas_path %>
</div>
