<div class="border rounded-2 my-1">
	<div class="p-2 bg_azul_claro" style="font-size: 1rem;">
		<i class="bi bi-cone-striped text-danger"></i> Deshacer ultimas acciones:
	</div>
	<div>

		<%= render layout: 'cuentas/prtls/proceso/wrp_lnk_proceso' do %>
			<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :dnncnt_investigacion_local, prmpt: 'La persona denunciante expresa su voluntad de que la investigaci칩n sea llevada a cabo por la empresa.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['No ser치 investigaci칩n local', 'Investigaci칩n local']} %>
		<% end %>

	</div>
</div>