<div class="ttl_app">
	<div class="ttl_ttl">
		<i class="bi bi-journal-text"></i> 
		Denuncia : 
		<%= objeto.motivo_denuncia.motivo_denuncia %>
		<i class="bi bi-dot"></i>
		<%= dma_hm(objeto.fecha_hora) %>
	</div>
	<div class="ttl_lnks">
	</div>
</div>