<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Formulario base</h6>
	<ul>
		<%= render partial: 'karin/prtls/prtcpnts/hlp/dtl_1' %>
		<li><b>Relación laboral con la persona denunciante:</b>.</li>
		<li><b>Aplica artículo 4 inciso primero del Código del Trabajo:</b>. El participante tiene un cargo de gerente.</li>
	</ul>
	<%= render partial: 'karin/prtls/prtcpnts/hlp/dtl_2' %>
</div>