<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Registro de la fecha del pronunciamiento de la Dirección del Trabajo.</h6>
	<p>Si la investigación fue realizada por la empresa, una vez enviado el informe de investigación y las medidas y sanciones a la Dirección del Trabajo, esta tiene un plazo de 30 días para pronunciarse, pudiendo corregir o complementar las medidas y sanciones propuestas</p>

	<p>Si la Dirección del Trabajo no envía su pronunciamiento en el plazo de 30 días hábiles, la empresa debe dar por aprobado el informe de investigación y las medidas y sanciones adoptadas.</p>

	<p>En la plataforma se debe registrar la fecha de recepción del pronunciamiento o, en su defecto, registrar que el plazo para el pronunciamiento se cumpió sin recibirlo.</p>
</div>