<div class="row gx-0">
	<div class="col-3">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :rut, label: 'RUT/Cédula de identidad' } %>
	</div>
	<div class="col-9">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :razon_social, label: 'Razon social/Nombre completo' } %>
	</div>
</div>