<%= form_for :rgstr, url: "/empresas/registro" do |form| %>

	<%= render partial: '0p/frm_flds/text', locals: { form: form, token: :rut, label: 'RUT de la empresa' } %>
	<%= render partial: '0p/frm_flds/text', locals: { form: form, token: :razon_social, label: 'Razon social de la empresa' } %>
	<%= render partial: '0p/frm_flds/email', locals: { form: form, token: :email_administrador, label: 'Email del administrador de la cuenta' } %>

	<div>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right icon-white"></i> Registrar
		</button>
	</div>

<% end  %>