<div class="open-sans-regular text-start" style="font-size: 0,8rem;">
	<h5>Versión demostrativa de LaborSafe</h5>

	<h6>Propósito</h6>
	<p>La versión demostrativa de LaborSafe tiene como objetivo permitir la evaluación de la plataforma desde la experiencia real del usuario.</p>

	<h6>Capacidad y vigencia</h6>

	<p>SLa cuenta demostrativa estará vigente por diez días, contados desde la fecha de registro, y permitirá gestionar hasta cinco denuncias. Si desea extender el período de uso, puede solicitarlo a través de nuestro Contacto comercial.</p>
	
	<h5>Usuario administrador</h5>

	<p>El formulario de registro contiene los datos con los que se creará el usuario administrador de la cuenta. La activación de la cuenta se realizará una vez verificado el correo electrónico de dicho usuario.</p>

	<p>En su calidad de administrador, este usuario tiene acceso a la totalidad de las funcionalidades de la plataforma. Esto facilita la evaluación integral del sistema, pero no refleja las limitaciones y alcances propios de los distintos roles de usuario. La versión demostrativa permite crear nuevos perfiles para realizar pruebas con diferentes niveles de acceso.</p>

	<h5>Restricción en el envío de correos electrónicos</h5>

	<p>Si bien la mayoría de los correos generados por LaborSafe se emiten automáticamente bajo un estricto modelo de confidencialidad, esta función se encuentra restringida en la versión demostrativa. Dicha restricción no impide completar el registro completo del procedimiento. Si desea realizar una prueba operativa de envío de correos, puede solicitar su habilitación a nuestro equipo comercial.</p>

	<h5>Confidencialidad de la información</h5>

	<p>LaborSafe incorpora múltiples mecanismos para resguardar la confidencialidad de la información almacenada y enviada. No obstante, el uso responsable del contenido ingresado durante la evaluación es de exclusiva responsabilidad del usuario administrador. Si desea probar la plataforma con un caso real, recomendamos coordinar previamente una inducción al uso seguro con nuestro equipo comercial.</p>
</div>