<%# app/views/users/_verification_message.html.erb %>
<div id="verification_message">
  <p>Hemos enviado un correo de verificación a <%= @user.email %>. Por favor revisa tu bandeja de entrada.</p>
</div>