<div class="f_200pxlft_col">
  <div class="lft">
    <%#= render partial: '0p/cmenu/cmenu', locals: { c: 'clientes', tipo: @tipo, estado: @estado, path: @path} %>
  </div>
  <div class="right">
      <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'empresas', ttl: "Empresas registradas", ownr: nil} %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'empresas'} %>
  </div>
</div>