<small>
<div class="row">
  <div class="col-lg-4 col-xs-12">
      <b>NORMA LEGAL INFRINGIDA Y SANCIONATORIA</b>: </br>
      <small><%= objeto.normas %></small></br>
      <b>CRITERIOS (NATURALEZA+AFECTACIÓN)</b>: </br>
      <small><%= objeto.criterios %></small></br>
  </div>
  <div class="col-lg-4 col-xs-12">
      <b>HECHO INFRACCIONAL (TIPIFICACIÓN)</b>: </br>
      <small><%= objeto.tipificacion %></small></br>
  </div>
  <div class="col-lg-4">
      <b>DETERMINACIÓN DEL MONTO DE LA MULTA (UTM)</b>: </br>
      <%= render partial: 'dt/dt_infracciones/list/tabla_multas', locals: {objeto: objeto} %>
  </div>
</div>
</small>