<table class="table table-striped table-sm">
  <thead>
    <tr>
      <td><i><small>Tamaño Empresa</small></i></td>
      <td><i><small>Leve</small></i></td>
      <td><i><small>Grave</small></i></td>
      <td><i><small>Gravísima</small></i></td>
    </tr>
  </thead>

  <tbody>
    <!-- Opción para evitar escribir el parcial _modelo.html.erb en cada controlador-->
    <% objeto.dt_multas.order(:orden).each do |multa| %>
      <tr>
        <td><i><small><%= multa.tamanio %></small></i></td>
        <td><i><small><%= multa.leve %></small></i></td>
        <td><i><small><%= multa.grave %></small></i></td>
        <td><i><small><%= multa.gravisima %></small></i></td>
      </tr>
    <% end  %>
  </tbody>
</table>