<h4 class="text-center">Recepción de denuncia que debe ser investigada en una empresa externa.</h4>

<p class="objt_lnk"><b>La persona denunciante debe decidir entre las siguientes opciones:</b>
	<ol>
		<li>Derivar la denuncia a su empleador.</li>
		<li>Derivar la denuncia a la Dirección del Trabajo.</li>
	</ol>
</p>