<h4 class="text-center">Derivación por artículo 4 inciso primero.</h4>

<p class="objt_lnk"><b>Para alguna de las personas denunciantes o denuciadas aplica el artículo 4 inciso primero del Código del Trabajo (tiene un cargo gerencial).</b></p>
<p>El reglamento establece que es obligatoria su derivación a la Dirección del Trabajo.</p>