<div class="objeto-box">
<div class="ln_app">
	<div class="ln_nm">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: objeto, tooltip: 'Ver denuncia'} do %>
			<%= objeto.denunciado %>
		<% end %>
	</div>
	<div class="ln_lnks">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>
</div>