<p class="text-justify", style="font-size: 16px;">Esta etapa abarca todas las tareas propias de la investigaci贸n de la denuncia.
</p>
<p class="text-justify", style="font-size: 14px;">En el caso de investigaciones realizadas por la Direcci贸n del Trabajo, no se despliegan las tareas detalladas a continuaci贸n. Solo se despliega el encabezado para mostrar el plazo comprometido para su ejecuci贸n.
</p>
<hr>

<ol>
	<% CtrEtapa.find_by(codigo: 'etp_invstgcn').tareas.ordr.each do |tar| %>
		<li style="font-size: 14px;"><%= tar.tarea %></li>
	<% end %>
</ol>

