<h1>Editing pro etapa</h1>

<%= render "form", pro_etapa: @pro_etapa %>

<br>

<div>
  <%= link_to "Show this pro etapa", @pro_etapa %> |
  <%= link_to "Back to pro etapas", pro_etapas_path %>
</div>
