<div class="actv_ttl">
	<div class="ttl">
		<i class="bi bi-arrow-right"></i> <b>Sanciones de la investigación</b>
	</div>
	<div class="lnks">
		<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/krn_lst_medidas/new#{ownr_prms(objeto)}&t=Sancion", tltp: "Agregar lista de sanciones" } do %>
			<i class="bi bi-plus-circle"></i>
		<% end %>
	</div>
</div>

<% @sncns.each do |lst| %>
	<%= render partial: prtl_name('krn_lst_medidas', 'shw', 'shw_objt'), locals: {ownr: objeto, mdds_lst: lst, typ: lst.tipo} %>
<% end %>