<div class="actv_ttl">
	<div class="ttl">
		<i class="bi bi-arrow-right"></i> <b>Testigos</b>
	</div>
	<div class="lnks">
		<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/krn_testigos/new#{ownr_prms(objeto)}", tltp: "Agregar testigo" } do %>
			<i class="bi bi-plus-circle"></i>
		<% end %>
	</div>
</div>
<% objeto.krn_testigos.rut_ordr.each do |tstg| %>
	<%= render partial: prtl_name('krn_testigos', 'list', 'objeto'), locals: {objeto: tstg} %>
<% end %>