<%= render partial: '0capitan/general/app_ttl', locals: {c: 'asesorias', title: "Asesorías", link: nil, tooltip: nil } %>

<div class="f_200pxlft_col">
  <div class="lft">

    <%= render partial: '0p/cmenu/cmenu', locals: { c: 'asesorias', tipo: tipo, estado: estado, path: path} %>

  </div>
  <div class="rght">

    <%= render partial: '0capitan/general/app_ttl', locals: {c: 'asesorias', title: "Asesorias #{cmenu_clss['asesorias'][:items][estado]}", link: "/asesorias/new", tooltip: 'Agregar asesoría' } %>

    <%= render partial: '0p/tabla/tabla2', locals: {c: 'asesorias'} %>

  </div>
</div>