<div class="g_cllps">
	<h6>Nuevo Hecho</h6>
	<%= form_for :nuevo_hecho, url: "/causas/#{objeto.id}/nuevo_hecho" do |form| %>

		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :hecho } %>

		<%= render partial: '0p/lbld_inpts/text_area', locals: { form: form, token: :descripcion, label: 'Descripción' } %>
		
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right"></i>
		</button>

	<% end  %>
</div>