<p><b>Comprobante de recepción de denuncia Ley 21.643</b></p>

<p>De conformidad con el reglamento del Procedimiento de Investigación y Sanción de la Ley N° 21.643, en el archivo PDF adjunto encontrará el comprobante de recepción de su denuncia.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>