<p><b>Agendamiento de declaración - Ley 21.643</b></p>

<p>Junto con saludar, informo que, en el marco del procedimiento de investigación regulado por la Ley N° 21.643, se ha programado su declaración.</p>

<p>Agradecemos confirmar la recepción de este correo al la dirección de correo del(a) investigador asignado(a).</p>

<p>Investigación – Ley N° 21.643</p>