<p><b>Agendamiento de declaración del participante. Ley 21.643</b></p>
<p>En el archivo PDF adjunto encontrará la citación para la toma de su declaración respecto a la investigaci{on en la cual participa.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>
