<p><b>Información obligatoria para personas denunciantes</b></p>

<p>De conformidad con lo establecido en el reglamento que regula el Procedimiento de Investigación y Sanción de la Ley N° 21.643, en el archivo PDF adjunto encontrará la información que debe ser entregada a usted al momento de presentar una denuncia.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>