<p><b>Derechos y obligaciones de los participantes</b></p>

<p>En el archivo PDF adjunto encontrará el detalle de los derechos y obligaciones establecidos en el reglamento que regula el Procedimiento de Investigación y Sanción.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>