<p><b>Notificación de la derivación de denuncia</b></p>
<p>La denuncia en la cual usted es participante ha sido derivada. En el archivo PDF adjunto encontrará el detalle de esta derivación.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>