<p><b>Notificación de recepción de denuncia ley 21.643</b></p>
<p>En el archivo PDF adjunto encontrará la notificación de recepción de la denuncia recibida, en la cual usted figura como participante.</p>
<p>Cualquier duda respecto a esta notificación, le rogamos comunicarse con nuestro canal de denuncia.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>