<p><b>Notificación de asignación de investigador</b></p>
<p>En el archivo PDF adjunto encontrará el detalle de la asignación del investigador correspondiente a la denuncia en la que usted participa.</p>
<p>Agradecemos su atención.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>