<p><b>Notificación de asignación de investigador – Ley N° 21.643</b></p>
<p>De nuestra consideración:</p>
<p>Informamos que, en el marco del procedimiento de investigación en curso, se ha designado a la persona que actuará como investigador(a).</p>
<p>En el archivo adjunto encontrará los datos correspondientes.</p>

<p>Agradecemos su atención.</p>

<p>Sin otro particular, le saluda atentamente,<br>Recepción de Denuncias – Ley N° 21.643</p>