<p><b>Notificación de Medidas de resguardo - ley 21.643</b></p>
<p>En el archivo PDF adjunto encontrará el detalle de las medidas de resguardo adoptadas en relación con la denuncia en la que usted participa.</p>

<p>Recepción de Denuncias – Ley N° 21.643</p>