<p><b>Declaración - Ley 21.643</b></p>
<p>En el archivo PDF adjunto encontrará el acta de la declaración presentada por usted.</p>
<p>Por favor revísela detalladamente y, de no tener observaciones, devuelvala firmada en todas sus hojas a nuestro canal de denuncias.</p>


<p>Recepción de Denuncias – Ley N° 21.643</p>