@use '00p_config' as cnfg;
@use 'bscs';

.bg_blue {
	background-color: cnfg.$ls_blue_1; /* Color personalizado */
	color: white;
	@include bscs.a_hover(white, cnfg.$pltt_5);
}

.bg_tbl {
	background-color: cnfg.$ls_blue_2; /* Color personalizado */
	color: white;
	@include bscs.a_hover(white, cnfg.$pltt_5);
}

.bg_sub_tbl {
	background-color: cnfg.$pltt_7; /* Color personalizado */
//	color: white;
	@include bscs.a_hover(black, cnfg.$pltt_5);
}

.app_lnk {
   	@include bscs.a_hover(cnfg.$pltt_2, cnfg.$pltt_5);
}

.fnt_arial {
   	font-family: Arial;
}

// TABLA CON LÍNEAS MÁS PEQUEÑAS

.table-ssm td, .table-smaller-cells th {
    padding: 0.10rem; /* Ajusta el valor según necesites */
}

// TXT

.txt_hght {
	line-height: 1.2;
	font-size: 35px;
}

.txt_mdm {
	line-height: 1.2;
	font-size: 25px;
}

.txt_smll {
	line-height: 1.2;
	font-size: 16px;
}