$primary: #3c87b3;
$secondary: #2ba27c;
$support: #ffa000;

$h_nvbr_mrgn: 0;
$h_nvbr_pddng: 0;

// @include mrgn_pddng($mrgn, $pddng);
// @include brd($brd:wdth, $brd_rds, $brd_clr);
// @include bx($bg_clr);
// @include bx_shdw;
// @include ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// @include grd($grd_tc, $grd_gap);
// @include grd_ncol($nth);
// @include a_hover($lnk_clr, $hvr_clr);
@import "bscs";

// Función para el manejo de background_image
	@function svgColor($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}

@mixin prdct_bsc($clr_bg, $tc_lyt) {
	padding: 1rem;
	background-color: $clr_bg;
	@include grd($tc_lyt, 0);
}

@mixin prdct_2clmns($jstfy_slf) {
	.hm_lft {
		padding-top: 2rem;
		@include grd_ncol(1);
   	justify-self: $jstfy_slf;
	}

	.hm_rght {
		padding-top: 2rem;
		@include grd_ncol(2);
   	justify-self: $jstfy_slf;
	}
}

@mixin prdct_3clmns($clr_bg) {
	.hm_lft {
		@include grd_ncol(1);
   	justify-self: center;
   	background-color: $clr_bg;
	}

	.hm_mddl {
		@include grd_ncol(2);
   	justify-self: center;
   	background-color: $clr_bg;
	}

	.hm_rght {
		@include grd_ncol(3);
   	justify-self: center;
   	background-color: $clr_bg;
	}
}

@mixin prdct_ttl_bsc($clr, $ln_hght, $ln_sz) {
	padding: 1rem 1rem 5px 1rem;
	text-align: center;
	color: $clr;
	line-height: $ln_hght;
	font-weight: bold;
	font-size: $ln_sz;
}

// PRDCTS

.hm_prdct_head {
	@include prdct_bsc(white, 70% 30%);
	@include prdct_2clmns(center);
}

.hm_prdct_txt {
	@include prdct_bsc(white, 70% 30%);
	@include prdct_2clmns(start);
}

.hm_prdct_2clmns {
	@include prdct_bsc(white, 50% 50%);
	@include prdct_2clmns(center);
}

.hm_prdct_dtl {
	@include prdct_bsc(white, 33% 33% 33%);
	@include prdct_3clmns(#153969);
}

.hm_prdct_httl {
	@include prdct_ttl_bsc(#153969, 140px, 120px)
}

.hm_prdct_ttl {
	@include prdct_ttl_bsc(#153969, 45px, 40px)
}

.hm_prdct_sttl {
	@include prdct_ttl_bsc(#718bab, 30px, 25px)
}

.hm_txt_bdy {
	padding: 1rem;
	background-color: white;
//	color: #000000;
}

.hm_htxt {
	padding: 0 1rem 0 1rem;
	text-align: center;
	line-height: 105px;
	font-weight: bold;
	font-size: 100px;
}

.hm_mtxt {
	padding: 0 1rem 0 1rem;
	text-align: left;
	line-height: 32px;
	font-weight: bold;
	font-size: 30px;
	color: #718bab;
}

.hm_txt {
	padding: 1rem 5% 0 5%;
	text-align: justify;
//	text-align: left;
	line-height: 20px;
//	font-weight: bold;
	font-size: 16px;
//	color: #718bab;
	color: #153969;
}

.hm_rgstr {
	line-height: 25px;
	font-size: 12px;
}

.prdct_nm {
	background-color: #718bab;
	color: white;
	line-height: 30px;
	font-size: 25px;
	.nm {

	}
}
.hm_clmn {
	padding: 20px;
	margin: 1px;
  float: left;
  width: 33%;
	@include brd(1px, 6px, #153969);
  background-color: #153969;
	line-height: 40px;
	font-weight: bold;
	font-size: 30px;
  text-align: center;
  color: white;
}

/* Clear floats after the columns */
.hm_ln:after {
  content: "";
  display: table;
  clear: both;
}

// HOME

.hm_bnnr {
 position: sticky;
 z-index: 5;
 top:0;
 width:100%;
	background-color: $p_blue;
	padding: 1rem;
//	color: $txt_gray;
	color: white;
	@include a_hover(white, $pltt_5);
	@include grd(200 auto 200, 0);

	.hm_bnnr_icn {
		@include grd_ncol(1);
   	justify-self: start;

		a:hover {
			position: relative;
			left: 2px;
			bottom: 2px;
	    text-decoration: none;
		}
	}

	.hm_bnnr_mddl {
		@include grd_ncol(2);
   	justify-self: center;
   	font-weight: bold;
	}

	.hm_bnnr_mn {
		@include grd_ncol(3);
   	justify-self: end;

		text-align: right;
		font-size: 16px;
		.mn_itm {
			display: inline;
			margin-left: 1em;
			@include a_hover(white, $pltt_5);
			a:hover {
				position: relative;
				left: 2px;
				bottom: 2px;
	      text-decoration: none;
			}
		}
	}
}

.hm_bnnr_ttl {
	padding-top: 2rem;
	text-align: center;
	font-size: 40px;
}

.hm_bnnr_txt {
	padding-top: 1rem;
	text-align: center;
	font-size: 13px;
}

.hm_prdct {
	padding: 1rem;
	background-color: white;
	color: $txt_gray;
	@include a_hover($blue_2, gray);
	@include grd(50% 50%, 0);

	text-align: center;

	.p_lft {
		@include grd_ncol(1);
   	justify-self: center;


   	.icn {
   	}
   	.prdct {
			line-height: 1.2;
   		font-size: 25px;
   		font-weight: bold;

   	}
 		.prdct_ttl {
   		font-size: 35px;
   		line-height: 40px;
   		font-weight: bold;
 		}
 		.prdct_nt {
   		font-size: 14px;
 		}
	}

	.p_rght {
		@include grd_ncol(2);
   	justify-self: center;

   	.icn {
   	}

 		.prdct_ttl {
   		font-size: 35px;
   		line-height: 40px;
   		font-weight: bold;
 		}
 		.rgstr {
   		line-height: 25px;
   		font-size: 12px;
 		}
	}
}

.hm_lst_chck {
	padding: 1rem 0 2rem 0;
	.hm_chck {
		padding: 0 1rem 1rem 10%;
		color: $blue_2;

		line-height: 1.6;
		font-size: 20px;
		font-weight: bold;
	}
}

.hm_p_ttl {
	text-align: center;
	line-height: 1.2;
	font-size: 25px;
}

.hm_p_txt {
	padding-top: 1rem;
	text-align: center;
	font-size: 13px;
}

.hm_fttr {
	padding: 1rem;
	background-color: $p_blue;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: center;
}

// TTLS
.hm_1_ttl {
	margin-top: 2rem;
	padding: 1rem;
	font-size: 50px;
	font-weight: bold;
	color: $primary;
	text-align: center;
}

.hm_2_ttl {
//	margin-top: 2rem;
	padding: 1rem;
	font-size: 35px;
	font-weight: bold;
	color: $primary;
	text-align: center;
}

.hm_3_ttl {
//	margin-top: 2rem;
	padding: 1rem;
	line-height: 1.2;
	font-size: 25px;
//	font-weight: bold;
	color: $primary;
	text-align: center;
}

.hm_bx {
	padding: 10%;
}

.hm_img_bx {
	margin: 0 auto;
	padding: 10%;
	text-align: center;
  z-index: -1;
}

.hm_1_p {
	padding: 1rem 10% 1rem 10%;
	line-height: 1.2;
	font-size: 20px;
//	font-weight: bold;
	color: $primary;
	text-align:  justify;
}

.hm_2_p {
	padding: 1rem 10% 1rem 10%;
	line-height: 1.2;
	font-size: 25px;
//	font-weight: bold;
	color: $primary;
	text-align:  justify;
}

//---------------------------------------------------------------- VERIFICAR
.hm_main {
	padding: 1rem;
	color: $blue_3;
	min-height: 80vh;
}

.hm_ttl {
	margin: 1rem 0 1rem 0;
	padding: .3rem;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 10px;
	border-color: $blue_3;
 	border-radius: 10px;
	background-color: $blue_2;
	text-align: center;
	color: white;
	.icon {
	    z-index: 100;
		position: absolute;
		color: white;
	}
}

.hm_hbox {
	display: table;
	width: 100%;
	margin: 1rem 0 1rem 0;
	.hm_prdct {
		display: table-cell;
		padding: .5rem;
		border-style: solid;
		border-width: 10px 2px 10px 2px;
		border-color: $blue_4;
	 	border-radius: 10px;

	 	.ttl {
	 		padding: .5rem;
	 		text-align: center;
	 		font-size: 25px;
	 	}
		.icon {
	    z-index: 100;
			position: absolute;
			font-size: 20px;
		}

		p {
			padding: 1em;
		}

		&:hover {
			background-color: $blue_2;
			color: white;
			position: relative;
			left: 3px;
			bottom: 3px;
		}
	}

}

#Docs {
	background-image: url('o_documentos.png');
	background-size: cover;
}

#Caps {
	background-image: url('o_capacitacion.png');
	background-size: cover;
}

#Inv {
	background-image: url('o_investigacion.png');
	background-size: cover;
}

.prdct_box {
	margin: 1rem 0 1rem 0;
	padding: .3rem;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 10px;
	border-color: $blue_3;
 	border-radius: 10px;
	background-image: url('blue_bg.png');
	background-size: cover;
	.ttl {
		padding: 1rem;
		text-align: center;
		font-size: 30px;
	}
	.txt {
		padding: 1rem;
	}
}

* {
  box-sizing: border-box;
}