$primary: #3c87b3;
$secondary: #2ba27c;
$support: #ffa000;

// mrgn_pddng($mrgn, $pddng);
// brd($brd:wdth, $brd_rds, $brd_clr);
// bx($bg_clr);
// bx_shdw;
// ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// @include grd($grd_tc, $grd_gap);
// @include grd_ncol($nth);
// @include a_hover($lnk_clr, $hvr_clr);
@import "bscs";

// Función para el manejo de background_image
@function svgColor($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}

// NAVBAR

$h_nvbr_mrgn: 0;
$h_nvbr_pddng: 0;

// HOME

.hm_bnnr {
 position: sticky;
 top:0;
 width:100%;
	background-color: white;
//	margin: 0 3% 0 3%;
	padding: 1rem;
//  height: 16vh;
//  max-height: 600px;
	color: $blue_2;
	@include a_hover($blue_2, gray);
	@include grd(200 auto 200, 0);

	.hm_bnnr_icn {
		@include grd_ncol(1);
   	justify-self: start;

		a:hover {
			position: relative;
			left: 2px;
			bottom: 2px;
	    text-decoration: none;
		}
	}

	.hm_bnnr_mddl {
		@include grd_ncol(2);
   	justify-self: center;
	}

	.hm_bnnr_mn {
		@include grd_ncol(3);
   	justify-self: end;

		text-align: right;
		font-size: 16px;
		.mn_itm {
			display: inline;
			margin-left: 1em;
			@include a_hover($blue_2, gray);
			a:hover {
				position: relative;
				left: 2px;
				bottom: 2px;
	      text-decoration: none;
			}
		}
	}
}

.hm_bnnr_ttl {
	text-align: center;
	font-size: 40px;
}

.hm_bnnr_txt {
	padding-top: 1rem;
	text-align: center;
	font-size: 13px;
}

.hm_prdct {
//  height: 24vh;
//  max-height: 600px;
	padding: 2rem 1rem 3rem 1rem;
//	background-color: white;
	color: $blue_2;
	@include a_hover($blue_2, gray);
	@include grd(50% 50%, 0);

	.p_lft {
		@include grd_ncol(1);
   	justify-self: center;
 		display: grid;

 		text-align: center;

   	.icn {
   	}
   	.prdct {
			line-height: 1.2;
   		font-size: 25px;
   		font-weight: bold;

   	}
 		.prdct_nt {
	 		text-align: center;
   		font-size: 14px;
 		}
	}

	.p_rght {
		@include grd_ncol(2);
   	justify-self: center;
	}
}

.hm_lst_chck {
	padding: 1rem 0 2rem 0;
	.hm_chck {
		padding: 0 1rem 1rem 10%;
	//	background-color: white;
		color: $blue_2;

		line-height: 1.6;
		font-size: 20px;
		font-weight: bold;
	}
}

.hm_p_ttl {
	text-align: center;
	line-height: 1.2;
	font-size: 25px;
}

.hm_p_txt {
	padding-top: 1rem;
	text-align: center;
	font-size: 13px;
}

.hm_fttr {
	padding: 1rem;
	background-color: #19237B;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: center;
}

//---------------------------------------------------------------- VERIFICAR
.hm_main {
	padding: 1rem;
	color: $blue_3;
	min-height: 80vh;
}

.hm_ttl {
	margin: 1rem 0 1rem 0;
	padding: .3rem;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 10px;
	border-color: $blue_3;
 	border-radius: 10px;
	background-color: $blue_2;
//		position: relative;
	text-align: center;
	color: white;
	.icon {
	    z-index: 100;
		position: absolute;
		color: white;
	}
}

.hm_hbox {
	display: table;
	width: 100%;
	margin: 1rem 0 1rem 0;
	.hm_prdct {
		display: table-cell;
		padding: .5rem;
		border-style: solid;
		border-width: 10px 2px 10px 2px;
		border-color: $blue_4;
	 	border-radius: 10px;

	 	.ttl {
	 		padding: .5rem;
	 		text-align: center;
	 		font-size: 25px;
	 	}
		.icon {
	    z-index: 100;
			position: absolute;
			font-size: 20px;
		}

		p {
			padding: 1em;
		}

		&:hover {
			background-color: $blue_2;
			color: white;
			position: relative;
			left: 3px;
			bottom: 3px;
		}
	}

}

#Docs {
	background-image: url('o_documentos.png');
	background-size: cover;
}

#Caps {
	background-image: url('o_capacitacion.png');
	background-size: cover;
}

#Inv {
	background-image: url('o_investigacion.png');
	background-size: cover;
}

.prdct_box {
	margin: 1rem 0 1rem 0;
	padding: .3rem;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 10px;
	border-color: $blue_3;
 	border-radius: 10px;
	background-image: url('blue_bg.png');
	background-size: cover;
	.ttl {
		padding: 1rem;
		text-align: center;
		font-size: 30px;
	}
	.txt {
		padding: 1rem;
	}
}

// antiguo qstn_bx
.qstn_box {
	margin: 1rem 0 0 0;
//	color: $blue_1;
	.qstn {
	padding: .7rem;
		border-left-style: solid;
		border-top-style: solid;
		border-right-style: solid;
		border-width: 4px;
		border-color: $blue_3;
	 	border-radius: 30px 30px 0 0;
	 	background-color: $blue_4;
	font-size: 18px;
	}
	.answ {
	padding: .7rem;
		border-left-style: solid;
		border-bottom-style: solid;
		border-right-style: solid;
		border-width: 4px;
		border-color: $blue_3;
	 	border-radius: 0 0 30px 30px;
	font-size: 14px;
	}
}

* {
  box-sizing: border-box;
}

body {
//  min-height: 100vh;
//  font-family: "Baloo 2", sans-serif;
}
