@use '00p_config' as cnfg;

// GNRL

.wht_area {
	background-color: white;
}


.txt_hght {
	line-height: 1.2;
	font-size: 35px;
}

.txt_mdm {
	line-height: 1.2;
	font-size: 25px;
}

.txt_smll {
	line-height: 1.2;
	font-size: 16px;
}

.clr_prmry {
	color: cnfg.$ls_blue_1;
}

//---------------------------------------------------------------- VERIFICAR

* {
  box-sizing: border-box;
}