@use '00p_config' as cnfg;
@use 'bscs';

$objt_mrgn: 4px 0 0 0;
$objt_pddng: .5rem;
$objt_brd_wdth: 1px;
$objt_brd_typ: solid;
$objt_brd_clr: cnfg.$pltt_8;
$objt_brd_rds: 3px;

@mixin objt_bsc {
	@include bscs.mrgn_pddng($objt_mrgn, $objt_pddng);
	@include bscs.brd_ln($objt_brd_wdth, $objt_brd_typ, $objt_brd_clr, $objt_brd_rds);
	background-color: white;
}

.objt {
	@include objt_bsc;
	.ln {
		font-size: 14px;
	}
	.dtl {
		padding-left: 2rem;
		font-size: 12px;
	}
	.dsply {
		line-height: 16px;
		font-size: 10px;
	}
	.lst {
		line-height: 12px;
	}
}