$shw_mrgn: 0;
$shw_pddng: 0;

$shw_brd_wdth: 1px;
$shw_brd_typ: solid;
$shw_brd_clr: $pltt_5;
$shw_brd_rds: 3px;

$shw_ln_bg_clr: $pltt_7;
$shw_ln_tc: 50% 50%;
$shw_ln_gp: 0;

@import "bscs";

@mixin shw_bsc {
	@include mrgn_pddng($shw_mrgn, $shw_pddng);
	@include brd_ln($shw_brd_wdth, $shw_brd_typ, $shw_brd_clr, $shw_brd_clr, $shw_brd_rds);
	background-color: white;
}

@mixin shw_ln_bsc {
	background-color: $shw_ln_bg_clr;
	@include grd($shw_ln_tc, $shw_ln_gp);
	font-size: 14px;
}

.shw_flds_lst {
	@include shw_bsc;
	.shw_ln {
		@include shw_ln_bsc;
		.fld {
			padding-left: 1rem;
	        @include grd_ncol(1);
	        justify-self: start;
		}
		.vl {
			// Dependiendo del tipo de campo se alinea esta columna
			padding-right: 1rem;
	        @include grd_ncol(2);
//	        justify-self: end; 	
		}
	}
}