$actv_mrgn: 2px 0 2px 0;
$actv_pddng: 2px 1rem 2px 1rem;

$qstn_brd_wdth: 1px;
$qstn_brd_typ: solid;
$qstn_brd_clr: $blue_cnv;
$qstn_brd_rds: 15px;

@import "bscs";

@mixin dc_fl_bsc($clr_bg, $clr) {
	margin: $actv_mrgn;
	padding: $actv_pddng;
	background-color: $clr_bg;
	@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $clr_bg, 20px);
	font-size: 14px;
	color: $clr;
	@include grd(auto 50px, 0);
	.fl {
        @include grd_ncol(1);
    	justify-self: start;
	}
	.lnks {
	    @include grd_ncol(2);
    	justify-self: end;
	}
}

@mixin dc_fl_lst_bsc($clr_bg, $clr) {
	margin: $actv_mrgn;
	font-size: 14px;
	.dc_nm {
		padding: $actv_pddng;
		@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $clr_bg, 20px 20px 0 0);
		background-color: $clr_bg;
		color: $clr;
		@include grd(auto 50px, 0);
		.fl {
	        @include grd_ncol(1);
	    	justify-self: start;
		}
		.lnks {
		    @include grd_ncol(2);
	    	justify-self: end;
		}
	}
	.lst {
		padding: $actv_pddng;
		@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 0 0 20px 20px);
		background-color: $pltt_9;
		font-weight: lighter;
	}
}

@mixin ttl_bsc {
	padding: $actv_pddng;
	@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 10px);
	@include grd(auto 100px, 0);
	.ttl {
        @include grd_ncol(1);
    	justify-self: start;
	}
	.lnks {
	    @include grd_ncol(2);
    	justify-self: end;
    	@include a_hover(white, gray);
	}
}

@mixin qstn_bx_bsc($clr_bg, $clr) {
	margin: $actv_mrgn;
	font-size: 16px;
	.qstn {
		@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 20px 20px 0 0);
		padding-left: 8rem;
		background-color: $clr_bg;
		color: $clr;
		font-weight: bold;
	}
	.optns {
		@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 0 0 20px 20px);
		padding: $actv_pddng;
		background-color: white;
		text-align: left;
		color: $pltt_2;

		@include grd(150px auto, 0);
		.typ {
	        @include grd_ncol(1);
        	justify-self: start;
		}
		.lnks {
    	    @include grd_ncol(2);
        	justify-self: start;
		}
	}
}

.prmpt_ttl {
	@include ttl_bsc;
	background-color: white;
	color: orange;
}

.get_dttm {
	margin: $actv_mrgn;
	padding: 10px 1rem 5px 1rem;
	background-color: $pltt_8;
	font-size: 16px;
	text-align: left;
	@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 20px);
}

.actv_objt {
	margin: $actv_mrgn;
	padding: $actv_pddng;
	background-color: $pltt_6;
	@include brd_ln(2px, $qstn_brd_typ, $qstn_brd_clr, 5px);
	font-size: 16px;
	@include grd(auto 100px, 0);
	.a_objt {
        @include grd_ncol(1);
    	justify-self: start;
    	font-weight: bold;
	}
	.a_lnks {
	    @include grd_ncol(2);
    	justify-self: end;
	}
}

.actv_ttl {
	padding: $actv_pddng;
	@include brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 10px);
	background-color: blue_5;
	color: blue;
	@include grd(auto 100px, 0);
	.ttl {
        @include grd_ncol(1);
    	justify-self: start;
	}
	.lnks {
	    @include grd_ncol(2);
    	justify-self: end;
	}
   	@include a_hover(blue, $blue_4);
}

.actv_indnt {
	padding-left: 15px;
}

.form-actv_box {
	padding-top: 5px;
}

// CLSS
