@use '00p_config' as cnfg;
@use 'bscs';

$actv_mrgn: 2px 0 2px 0;
$actv_pddng: 2px 1rem 2px 1rem;

$qstn_brd_wdth: 1px;
$qstn_brd_typ: solid;
$qstn_brd_clr: cnfg.$blue_cnv;
$qstn_brd_rds: 15px;

.actv_ttl {
	padding: $actv_pddng;
	@include bscs.brd_ln($qstn_brd_wdth, $qstn_brd_typ, $qstn_brd_clr, 10px);
	background-color: blue_5;
	color: blue;
	@include bscs.grd(auto 100px, 0);
	.ttl {
        @include bscs.grd_ncol(1);
    	justify-self: start;
	}
	.lnks {
	    @include bscs.grd_ncol(2);
    	justify-self: end;
	}
   	@include bscs.a_hover(blue, cnfg.$blue_4);
}
