$lyt_mrgn: 3%;
$lyt_ovr_mrgn: $lyt_mrgn;
$lyt_nvbr_mrgn: $lyt_mrgn;
$lyt_bdy_mrgn: $lyt_mrgn;
$clr_1: #21618c;
$clr_2: #4a235a;
$clr_3: #154360;
$clr_4: #eaecee;
$clr_5: #d5d8dc;
$clr_6: #abb2b9;

:root {
	--clr_fr_cs: #1e0342; /* first */
	--clr_sc_cs: #0e46a3; /* second */
	--clr_th_cs: #9ac8cd; /* third */
	--clr_ob_cs: #e1f7f5; /* objeto */
}