/* LMENU */

.cmn {
    margin: 0;
    padding-bottom: 10px;
    background-color: $pltt_8;
    border: 1px solid $pltt_7;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif;

    .cmn_lst {
        line-height: 18px;
        font-size: 13px;

        ul {
            margin: 0;
            padding: 0;
            display: block;       
            list-style: none;

            a {
                padding: 3px 20px;
                display: block;       
                text-decoration: none;
                color: $pltt_2; 
            }

            a:hover {
                color: white;
                background-color: $pltt_5;
            }
        }

        .itm_slctd {
            padding-left: 20px;
            background-color: $pltt_4;
            color: $pltt_9;
            font-weight: bold;

            a {
                padding: 3px 20px;
                display: block;       
                text-decoration: none;
                color: $pltt_9; 
            }

            a:hover {
                color: white;
                background-color: $pltt_5;
            }
        }
    }
}

/* DISTRIBUCION DEL MENU */

/* Distribución horizontal */
.menuHoriz li {
  float: left;    
  display: block;   
}  

/* Distribución vertical */
.cmn_verti li {
  /* Tenía un ancho determinado para que no fuera necesario usar div */
  /* width: 10em; */
  height: 2em;
  display: block;   
  text-align: left;
}

/* Submenú infinito */
.appSubMenu {
  position: fixed;
  display: none !important;    
  background-color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.55);
}

/* Submenú infinito hover */
li:hover > .appSubMenu {
  display: block !important;    
}

/* Submenú infinito enlaces hover  */
.appSubMenu a:hover {
  background-color: #d5d8dc;
}

/* Submenú infinito posicionamiento vertical */
.cmn_verti .appSubMenu {
  left: 8em;
  position: absolute !important;
}  