/* LAYOUT */

$lyt_mrgn: 3%;
$lyt_ovr_mrgn: $lyt_mrgn;
$lyt_nvbr_mrgn: $lyt_mrgn;
$lyt_bdy_mrgn: $lyt_mrgn;
$clr_1: #21618c;
$clr_2: #4a235a;
$clr_3: #154360;
$clr_4: #eaecee;
$clr_5: #d5d8dc;
$clr_6: #abb2b9;

/* APP */

$app_bg: #003285;
$app_clear: #615EFC;
$sub_bg: #5C88C4;
$app_fnt: 'Raleway', sans-serif;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}