/* mid window */

/* LAYOUT INDEX */

.mid_w {
	margin: 10px 0;
	background-color: white;
	display: grid;
	grid-template-columns: auto auto;
    grid-gap: 2px;
    justify-items: stretch;

    .lft {
    	margin: 0;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .rght {
	    grid-column-start: 2;
	    grid-column-end: 3;
    }

}

.doscpx_w {
	margin: 10px 0;
	background-color: white;
	display: grid;
	grid-template-columns: 200px auto;
    grid-gap: 2px;
    justify-items: stretch;

    .lft {
    	margin: 0;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .right {
	    grid-column-start: 2;
	    grid-column-end: 3;
    }

}

.mn_rght_w {
	margin: 10px 0;
	background-color: white;
	display: grid;
	grid-template-columns: auto 200px;
    grid-gap: 2px;
    justify-items: stretch;

    .lft {
    	margin: 0;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .right {
	    grid-column-start: 2;
	    grid-column-end: 3;
    }

}

.m_rght_w {
	margin: 10px 0;
	background-color: white;
	display: grid;
	grid-template-columns: auto auto;
    grid-gap: 2px;
    justify-items: stretch;

    .lft {
    	margin: 0;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .right {
	    grid-column-start: 2;
	    grid-column-end: 3;
    }

}

.chng_st {
	margin-bottom: 10px;
	background-color: #abb2b9;
	line-height: 20px;
	font-size: 13px;
    font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 100px auto;
    grid-gap: 2px;
    justify-items: stretch;

    .st {
    	margin: 0;
    	padding-left: 1em;
		color: black;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .lnks {
    	color: white;
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;

    	a {
    		color: white;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}

.titulo {
	padding: 1em;
	box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: #eaf2f8;
	border-color: #000000;
	margin-bottom: 1em;
	border-radius: 3px 3px 3px 3px;
    font-family: 'Lexend', sans-serif;
}