$w_bg: white;
$w_grp_gap: 4px;
$auto: auto;

// -------------------------------------------

// mrgn_pddng($mrgn, $pddng);
// brd($brd_wdth, $brd_rds, $brd_clr);
// bx($bg_clr);
// bx_shdw;
// ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// grd($grd_tc, $grd_gap);
// grd_ncol($nth);
// a_hover($lnk_clr, $hvr_clr);
@import "bscs";

// bjt_bx($brd_wdth, $brd_rds, $brd_clr, $bg_clr)
@import "bjt";

// NO sé porque lo pide, si lo saco, reclama!!
// @include ln_ttl_lnks($c_lnks, $c_hvr);
@import "ttl_lnks";

// NOTA BASE
@mixin nt_bsc {
	@include mrgn_pddng(3px, 0 10px 0 10px);
	@include bx_shdw;
	.nt {
		font-size: 12px;
	}
}

.app_bjt {
	@include bjt_bx(1px, 6px 6px 6px 6px, $pltt_5, white);
}

/* BOXS */
@mixin box_bsc($brd_clr, $bg_clr, $padd) {
    margin-bottom: 4px;
    border: 1px solid $brd_clr;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    padding: $padd;
    background-color: $bg_clr;
}

.app_box {
	@include box_bsc($app_brd_clr, white, 5px);
    color: black;
}

.cntnt_box {
	@include box_bsc($app_brd_clr, white, 10px);
    color: black;
}

.prrf_box {
	@include box_bsc($app_brd_clr, white, 10px);
    color: black;
	font-size: 13px;
}

/* ELEMENTOS */

.add_box {
	background-color: white;
	color: #2980b9;

	.hd {
		background-color: #eaecee;
		margin-bottom: 4px;
		padding: 1em;
	    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
		text-align: center;
	}

	.lnks {
		background-color: #eaecee;
	    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
		padding: 1em;

    	a {
    		color: d5d8dc;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
	}
}

.chng_st {
	margin-bottom: 10px;
	background-color: #abb2b9;
	line-height: 20px;
	font-size: 13px;
    font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 100px auto;
    grid-gap: 2px;
    justify-items: stretch;

    .st {
    	margin: 0;
    	padding-left: 1em;
		color: black;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .lnks {
    	color: white;
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;

    	a {
    		color: white;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}

.g_ttl {
	padding: 1em;
	box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: #C738BD;
	border-color: #000000;
	margin-bottom: 1em;
	border-radius: 3px 3px 3px 3px;
    font-family: 'Lexend', sans-serif;
    color: white;
}

.g_cllps {
	@include mrgn_pddng(1em 0 1em 0, 14px);
	@include brd(1px, 4px 4px 4px 4px, $pltt_6);
	font-size: 13px;
}

.img_frm {
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #ffffff;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}

.lbjt_box {
	padding-left: 10px;
	padding-right: 10px;
    background-color: #ffffff;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

// NOTAS Y WARNINGS

.app_nt_g {
	@include brd(1px, 6px 6px 6px 6px, $app_nt_green);
	@include nt_bsc;
}

.app_nt_y {
	@include brd(1px, 6px 6px 6px 6px, $app_nt_yellow);
	@include nt_bsc;
}

.app_nt_r {
	@include brd(1px, 6px 6px 6px 6px, $app_nt_red);
	@include nt_bsc;
}

.dv_scrll {
  background-color: white;
  box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
  width: auto;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  font-size: 14px;
  padding: 20px;
}