$w_bg: white;
$w_grp_gap: 4px;
$auto: auto;

// @include ln_ttl_lnks($c_lnks, $c_hvr);
@import "ttl_lnks";

@mixin app_nt_base {
	padding-left: 10px;
	padding-right: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	font-size: 12px;
	@include ln_ttl_lnks(black, white);
}

/* BOXS */

@mixin box_bsc($brd_clr, $bg_clr, $padd) {
    margin-bottom: 4px;
    border: 1px solid $brd_clr;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    padding: $padd;
    background-color: $bg_clr;
}

.app_box {
	@include box_bsc($app_brd_clr, white, 5px);
    color: black;
}

.cntnt_box {
	@include box_bsc($app_brd_clr, white, 10px);
    color: black;
}

/* ELEMENTOS */

.add_box {
	background-color: white;
	color: #2980b9;

	.hd {
		background-color: #eaecee;
		margin-bottom: 4px;
		padding: 1em;
	    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
		text-align: center;
	}

	.lnks {
		background-color: #eaecee;
	    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
		padding: 1em;

    	a {
    		color: d5d8dc;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
	}
}

.chng_st {
	margin-bottom: 10px;
	background-color: #abb2b9;
	line-height: 20px;
	font-size: 13px;
    font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 100px auto;
    grid-gap: 2px;
    justify-items: stretch;

    .st {
    	margin: 0;
    	padding-left: 1em;
		color: black;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .lnks {
    	color: white;
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;

    	a {
    		color: white;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}

.g_ttl {
	padding: 1em;
	box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: #C738BD;
	border-color: #000000;
	margin-bottom: 1em;
	border-radius: 3px 3px 3px 3px;
    font-family: 'Lexend', sans-serif;
    color: white;
}

.g_cllps {
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
	padding: 14px;
	background-color: white;
	color: black;
	font-size: 13px;
}

.img_frm {
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #ffffff;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}

.lbjt_box {
	padding-left: 10px;
	padding-right: 10px;
    background-color: #ffffff;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

// NOTAS

.app_nt_g {
    border: 2px solid $app_nt_green;
    @include app_nt_base;
}

.app_nt_y {
    border: 2px solid $app_nt_yellow;
    @include app_nt_base;
}

.app_nt_r {
    border: 2px solid $app_nt_red;
    @include app_nt_base;
}