@use '00p_config' as cnfg;
@use 'bscs';

 /* LMENU */

@mixin mn_ttl($pdd, $fnt_sz) {
    margin-bottom: 4px;
    border: 1px solid cnfg.$pltt_7;
    border-radius: 3px 3px 3px 3px;
    background-color: white;
    padding: $pdd;
    font-size: $fnt_sz;
    text-align: center;
    color: cnfg.$pltt_5;

    @include bscs.a_hover(cnfg.$pltt_4, cnfg.$pltt_6);
}

.crdncls {
    background-color: cnfg.$ls_blue_1;
    line-height: 1.2;
    font-size: 14px;
    color: white;
    @include bscs.a_hover(white, cnfg.$pltt_6);
}

.enlcs {
    background-color: cnfg.$ls_blue_1;
    line-height: 1.2;
    font-size: 14px;
    color: white;
    @include bscs.a_hover(white, cnfg.$pltt_1);
}

.cmn_ttl {
    @include mn_ttl(1em .5em .5em .5em, 14px)
}

.lmn {
    border: 1px solid cnfg.$pltt_7;
    border-radius: 3px 3px 3px 3px;
    background-color: cnfg.$pltt_8;  // Es el color gris que está debajo de los ítems
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    margin-bottom: 2px;
    font-family: 'Raleway', sans-serif;

    /* PERFIL */
    .lmn_prfl {
        padding: 10px 20px 10px 20px;
        line-height: 16px;
        background-color: cnfg.$pltt_9;
        color: cnfg.$pltt_4;
        font-size: 14px;

        @include bscs.a_hover(cnfg.$pltt_4, cnfg.$pltt_2);
    }

    .lmn_lst {
        padding: 3px 0px 3px;
        line-height: 18px;
        font-size: 13px;

        .itm_ttl {
            padding: 5px 20px;
            background-color: white;
            color: cnfg.$pltt_1;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0;
            display: block;       
            list-style: none;

            a {
                padding: 3px 20px;
                display: block;       
                text-decoration: none;
                color: cnfg.$pltt_2; 
            }

            a:hover {
                color: white;
                background-color: cnfg.$pltt_5;
            }
        }

        .itm_slctd {
            padding-left: 30px;
            background-color: cnfg.$pltt_4;
            color: cnfg.$pltt_9;
            font-weight: bold;

            a {
                padding: 3px 20px;
                display: block;       
                text-decoration: none;
                color: cnfg.$pltt_9; 
            }

            a:hover {
                color: white;
                background-color: cnfg.$pltt_5;
            }
        }
    }
}

/* DISTRIBUCION DEL MENU */

/* Distribución horizontal */
.menuHoriz li {
  float: left;    
  display: block;   
}  

/* Distribución vertical */
.lmn_verti li {
  /* Tenía un ancho determinado para que no fuera necesario usar div */
  /* width: 10em; */
  height: 2em;
  display: block;   
  text-align: left;
}

/* Submenú infinito */
.appSubMenu {
  position: fixed;
  display: none !important;    
  background-color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.55);
}

/* Submenú infinito hover */
li:hover > .appSubMenu {
  display: block !important;    
}

/* Submenú infinito enlaces hover  */
.appSubMenu a:hover {
  background-color: #d5d8dc;
}

/* Submenú infinito posicionamiento vertical */
.lmn_verti .appSubMenu {
  left: 8em;
  position: absolute !important;
}  

/* BOTON HAMBURGUESA */
/* Botón tipo hamburguesa en pantallas pequeñas */
#hMenuBtn {
  display: none;    
}

/* Menú hamburguesa */
@media (max-width: 768px) {
  #hMenu {
    display: none;
  }
  #hMenuBtn + label {   
    color: white;           
    cursor: pointer;        
    padding: 0 0.5em;   
    display: inline-block;  
  }
  #hMenuBtn + label:hover {
    background-color: green;
  } 
  #hMenuBtn + label::before {
    content: "☰";
    font-size: 2rem;
    line-height: 1em;    
  }
  #hMenuBtn:checked ~ #hMenu {
    display: block; 
  }
}  