// mrgn_pddng($mrgn, $pddng);
// brd($brd_wdth, $brd_rds, $brd_clr);
// bx($bg_clr);
// bx_shdw;
// ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// grd($grd_tc, $grd_gap);
// grd_ncol($nth);
// a_hover($lnk_clr, $hvr_clr);
@import "bscs";

 /* LMENU */

@mixin mn_ttl($pdd, $fnt_sz) {
    margin-bottom: 4px;
    border: 1px solid $c_mn_brd;
    border-radius: 3px 3px 3px 3px;
    background-color: $c_mn_ttl_bg;
    padding: $pdd;
    font-size: $fnt_sz;
    text-align: center;
    color: $c_mn_ttl_fnt;

    @include a_hover($c_mn_ttl_lnk, $c_mn_ttl_hvr);
}

/* TITULO */
.lmn_ttl {
    @include brd_ln(1px, solid, #2a6f97, 3px);
    @include mrgn_pddng(3px 1px, 10px 20px 10px 20px);
    background-color: #2a6f97;
    line-height: 18px;
    font-size: 16px;
    color: white;
    @include a_hover(white, $pltt_6);
}

.cmn_ttl {
    @include mn_ttl(1em .5em .5em .5em, 14px)
}

.lmn {
    margin: 0;
    border: 1px solid $c_mn_brd;
    border-radius: 3px 3px 3px 3px;
    background-color: $c_mn_bg;  // Es el color gris que está debajo de los ítems
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    margin-bottom: 2px;
    font-family: 'Raleway', sans-serif;

    /* PERFIL */
    .lmn_prfl {
        padding: 10px 20px 10px 20px;
        line-height: 16px;
        background-color: $c_mn_usr_bg;
        color: $c_mn_usr_fnt;
        font-size: 14px;

        @include a_hover($c_mn_usr_lnk, $c_mn_usr_hvr);
    }

    .lmn_lst {
        padding: 3px 0px 3px;
        line-height: 18px;
        font-size: 13px;

        .itm_ttl {
            padding: 5px 20px;
            background-color: white;
            color: $c_mn_ttl_fnt;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0;
            display: block;       
            list-style: none;

            a {
                padding: 3px 20px;
                display: block;       
                text-decoration: none;
                color: $c_mn_itm_lnk; 
            }

            a:hover {
                color: white;
                background-color: $c_mn_itm_hvr;
            }
        }

        .itm_slctd {
            padding-left: 30px;
            background-color: $c_mn_sltd_bg;
            color: $c_mn_sltd_fnt;
            font-weight: bold;

            a {
                padding: 3px 20px;
                display: block;       
                text-decoration: none;
                color: $c_mn_sltd_lnk; 
            }

            a:hover {
                color: white;
                background-color: $c_mn_sltd_hvr;
            }
        }
    }
}

/* DISTRIBUCION DEL MENU */

/* Distribución horizontal */
.menuHoriz li {
  float: left;    
  display: block;   
}  

/* Distribución vertical */
.lmn_verti li {
  /* Tenía un ancho determinado para que no fuera necesario usar div */
  /* width: 10em; */
  height: 2em;
  display: block;   
  text-align: left;
}

/* Submenú infinito */
.appSubMenu {
  position: fixed;
  display: none !important;    
  background-color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.55);
}

/* Submenú infinito hover */
li:hover > .appSubMenu {
  display: block !important;    
}

/* Submenú infinito enlaces hover  */
.appSubMenu a:hover {
  background-color: #d5d8dc;
}

/* Submenú infinito posicionamiento vertical */
.lmn_verti .appSubMenu {
  left: 8em;
  position: absolute !important;
}  

/* BOTON HAMBURGUESA */
/* Botón tipo hamburguesa en pantallas pequeñas */
#hMenuBtn {
  display: none;    
}

/* Menú hamburguesa */
@media (max-width: 768px) {
  #hMenu {
    display: none;
  }
  #hMenuBtn + label {   
    color: white;           
    cursor: pointer;        
    padding: 0 0.5em;   
    display: inline-block;  
  }
  #hMenuBtn + label:hover {
    background-color: green;
  } 
  #hMenuBtn + label::before {
    content: "☰";
    font-size: 2rem;
    line-height: 1em;    
  }
  #hMenuBtn:checked ~ #hMenu {
    display: block; 
  }
}  