$ttl_ln_hght: 40px;

$nav_grd_tc: 50px auto 50px;
$nav_gap: 0;


/* PARTIALS */

// grd($grd_tc, $grd_gap);
// grd_frm($mrgn, $bg_color, $grap);
// grd_ncol($nth);
@import "grids";

// a_hover($clr, $hvr_clr);
@import "a_hover";

/* TITULOS */
@mixin ttl_hd($grd_tc) {
	@include grd_frm($ttl_mrgn, $c_ttl_bg, $ttl_gap);
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	color: $c_ttl_fnt;
    font-family: $app_fnt;
    font-weight: bold;
	grid-template-columns: $grd_tc;
}

@mixin ttl_cols($grd_tc) {
	@include ttl_hd($grd_tc);
	line-height: $ttl_ln_hght;

    .ttl_ttl {
    	@include grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
    }

    .ttl_lnks {
    	@include grd_ncol(2);
    	padding-right: 1em;
    	justify-self: end;
    }
   	@include a_hover($c_ttl_lnk, $c_ttl_hvr);
}

@mixin nav_cols($grd_tc) {
	@include ttl_hd($grd_tc);
	line-height: $ttl_ln_hght;
    justify-items: center;

    .bck {
    	@include grd_ncol(1);
    	padding-left: 10px;
    	justify-self: start;
    }

    .info {
    	@include grd_ncol(2);
    }

    .nxt {
    	@include grd_ncol(3);
    	padding-right: 10px;
    	justify-self: end;
    }
   	@include a_hover($c_ttl_lnk, $c_ttl_hvr);
}

@mixin ttl_bsc($lnks_wdth) {
	@include grd_frm($ttl_mrgn, $app_bg, ttl_gap);
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	color: white;
    font-family: $app_fnt;
    font-weight: bold;
	grid-template-columns: auto $lnks_wdth;
}

@mixin ttl_fill($bg_color, $lnks_wdth, $ln_hght, $a_clr, $hvr_clr) {
	@include ttl_bsc($lnks_wdth, );
	background-color: $bg_color;
	line-height: $ln_hght;

    .ttl_ttl {
    	@include grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
    }

    .ttl_lnks {
    	@include grd_ncol(2);
    	padding-right: 1em;
    	justify-self: end;

	   	@include a_hover($a_clr, $hvr_clr)
    }
}


/// Parametrizada con variables
.ttl_nav {
	@include nav_cols($app_nav_tc);
}

.ttl_app {
	@include ttl_cols($app_ttl_tc);
}

.ttl_auto {
	@include ttl_cols(auto auto);
}


.ttl_clear {
	@include ttl_fill($app_clear, 100px, 40px, white, gray);
}
.ttl_wdth {
	@include ttl_fill($app_bg, 300px, 40px, white, gray);
}

.ttl_sub {
	@include ttl_fill($app_bg, 50px, 25px, white, gray);
}

.ttl_prnt {
	@include ttl_fill(white, 300px, 40px, black, gray);
    border: 1px solid $app_brd_clr;
    border-radius: 3px 3px 3px 3px;
    color: black;
}

.cttl_sub {
	padding: 5px 0 5px 0;
	text-align: center;
	background-color: $app_clear;
	color: white;
	font-weight: bold;
}