$ttl_ln_hght: 40px;

/* PARTIALS */

// mrgn_pddng($mrgn, $pddng);
// brd($brd_wdth, $brd_rds, $brd_clr);
// bx($bg_clr);
// bx_shdw;
// ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// grd($grd_tc, $grd_gap);
// grd_ncol($nth);
// a_hover($lnk_clr, $hvr_clr);
@import "bscs";

/* TITULOS */

@mixin clss_ttl_bsc($grd_tc, $clr_bg, $clr) {
	@include mrgn_pddng($ttl_mrgn, $ttl_padd);
	@include brd(1px, 3px 3px 3px 3px, c_ttl_brd);
	@include bx($clr_bg);
	@include bx_shdw;
	@include grd(auto auto, $ttl_gap);
	@include ln_fnt($ttl_ln_hght, $app_fnt, 16px, $clr);
    font-weight: bold;
}

@mixin ttl_2clmns {
	.ttl_ttl {
		@include grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
	}
	.ttl_lnks {
		@include grd_ncol(2);
    	justify-self: end;
	}
}

@mixin ttl_bsc2($grd_tc) {
	@include mrgn_pddng($ttl_mrgn, $ttl_padd);
	@include brd(1px, 3px 3px 3px 3px, c_ttl_brd);
	@include bx($c_ttl_bg);
	@include bx_shdw;
	@include grd(auto auto, $ttl_gap);
	@include ln_fnt($ttl_ln_hght, $app_fnt, 16px, $c_ttl_fnt);
    font-weight: bold;
}

@mixin ttl_nm_lnks($grd_tc) {
	@include ttl_bsc2($grd_tc);
	.ttl_ttl {
		@include grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
	}
	.ttl_lnks {
		@include grd_ncol(2);
    	justify-self: end;
	}
   	@include a_hover($c_ttl_lnk, $c_ttl_hvr);
}

//---------------------------------------------- LINE

@mixin ttl_ln_bsc($grd_tc, $brd_rds, $ln_hght, $fnt_sz) {
	@include mrgn_pddng($ttl_mrgn, $ttl_padd);
	@include brd(2px, $brd_rds, $pltt_6);
	@include bx($pltt_9);
	@include bx_shdw;
	@include grd(auto auto, $ttl_gap);
	@include ln_fnt($ln_hght, $app_fnt, $fnt_sz, $pltt_4);
    font-weight: bold;
	.ttl_ttl {
		@include grd_ncol(1);
    	justify-self: start;
	}
	.ttl_lnks {
		@include grd_ncol(2);
    	justify-self: end;
	}
   	@include a_hover($pltt_4, $pltt_6);
}

// ---------------------------------------------- NAV

@mixin nav_cols2($grd_tc) {
	@include brd(1px, 3px 3px 3px 3px, c_ttl_brd);
	@include ttl_bsc2($grd_tc);
    justify-items: center;
	.bck {
		@include grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
	}
	.info {
		@include grd_ncol(2);
	}
	.nxt {
		@include grd_ncol(3);
    	justify-self: end;
	}
   	@include a_hover($c_ttl_lnk, $c_ttl_hvr);
}
// -------------------------------------------------- PRNT

@mixin ttl_prnt($grd_tc, $brd_rds, $ln_hght, $fnt_sz) {
	@include mrgn_pddng($ttl_mrgn, $ttl_padd);
	@include brd(2px, $brd_rds, $pltt_6);
	@include bx(white);
	@include bx_shdw;
	@include grd(auto auto, $ttl_gap);
	@include ln_fnt($ln_hght, $app_fnt, $fnt_sz, $pltt_4);
	color: black;
    font-weight: bold;
	.ttl_ttl {
		@include grd_ncol(1);
    	justify-self: start;
	}
	.ttl_lnks {
		@include grd_ncol(2);
    	justify-self: end;
	}
   	@include a_hover($pltt_4, $pltt_6);
}

// ------------------------------------------------------------------------------------

.ttl_nav {
	@include nav_cols2($app_nav_tc);
}

.ttl_app {
	@include ttl_nm_lnks($app_ttl_tc);
}

.ttl_top {
	@include ttl_ln_bsc(auto auto, 10px 10px 3px 3px, 30px, 14px)
}

.ttl_ln {
	@include ttl_ln_bsc(auto auto, 10px 10px 10px 10px, 30px, 14px)
}

.ttl_smll_ln {
	@include ttl_ln_bsc(auto auto, 10px 10px 10px 10px, 20px, 12px)
}

.ttl_bttn {
	@include ttl_ln_bsc(auto auto, 3px 3px 10px 10px, 30px, 14px)
}

.ttl_prnt {
	@include ttl_prnt(auto auto, 3px 3px 3px 3px, 40px, 14px)
}

// CLSS_TTL

.scndry_ttl {
	@include clss_ttl_bsc($app_ttl_tc, $blue_4, blue);
	@include ttl_2clmns;
   	@include a_hover(blue, $blue_3);
}

.thrd_ttl {
	@include clss_ttl_bsc($app_ttl_tc, $blue_5, blue);
	@include ttl_2clmns;
   	@include a_hover(blue, $blue_3);
}