/* ELEMENTOS BASE PARA EL MANEJO DE TABLAS */

$app_ln_bg: white;
$app_ln_gp: 0;
$app_font: 'Raleway', sans-serif;
$app_ln_hght: 14px;
$app_ln_txt_hght: 13px;
$app_ln_padd: 0 10px 0 10px;
$app_fnt_size: 14;

$tb_font: Arial;
$ln_vlr_cnt_gtc: auto 150px 150px;

@import "a_hover";

@mixin ln_bsc($ln_bg, $font_family, $font_size) {
	margin: 0;
	padding: $app_ln_padd;
	background-color: $ln_bg;
	line-height: $app_ln_hght;
	font-size: $font_size;
    font-family: $font_family;
	display: grid;
	grid-gap: $app_ln_gp;
	color: black;
}

@mixin ln_ncol($nth) {
    grid-column-start: $nth;
    grid-column-end: $nth + 1;
}

@mixin bx_shdw {
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
}

@mixin ln_2_col($lft, $rght, $fnt_size) {
    @include ln_bsc($app_ln_bg, $app_font, $fnt_size);
	grid-template-columns: $lft $rght;
    justify-items: stretch;

    .ln_lft {
    	@include ln_ncol(1);
    	justify-self: start;
    }
    .ln_rght {
    	@include ln_ncol(2);
    	justify-self: end;
    }
    @include a_hover(black, gray);
}

@mixin ln_3_col($lft, $mddl, $rght, $fnt_size) {
	@include ln_bsc($app_ln_bg, $app_font, $fnt_size);
	grid-template-columns: $lft $mddl $rght;
    justify-items: stretch;

    .ln_lft {
    	@include ln_ncol(1);
    	justify-self: start;
    }
    .ln_mddl {
    	@include ln_ncol(2);
    }
    .ln_rght {
    	@include ln_ncol(3);
    	justify-self: end;
    }
    @include a_hover(black, gray);
}

@mixin ln_3_clss {
    .ln_lft {
    	@include ln_ncol(1);
    	justify-self: start;
    }
    .ln_mddl {
    	@include ln_ncol(2);
    }
    .ln_rght {
    	@include ln_ncol(3);
    	justify-self: end;
    }
    @include a_hover(black, gray);
}

@mixin ln_3_cols($gtc, $fnt_size) {
	@include ln_bsc($app_ln_bg, $tb_font, $fnt_size);
	grid-template-columns: $gtc;
    justify-items: stretch;

    @include ln_3_clss;
}

.ln_app {
	@include ln_2_col(auto, 50px, 13px);
}

// Usados en despliegue de un pago
.ln_hd {
    @include ln_2_col(auto, auto, 16px);
}
.ln_dtll {
    @include ln_2_col(auto, auto, 12px);
}


/* ln de TarValorCuantia */
.ln_vlr_cnt {
	@include ln_3_cols($ln_vlr_cnt_gtc, 13px);
}

.nl_vlr_cnt_smll {
    @include ln_3_cols($ln_vlr_cnt_gtc, 11px);
}