:root {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// CAMBIOS : Agregué 'Raleway' y baje line--height a 120%
body {
  font: 1em/160% 'Raleway', sans-serif;
  background-color: var(--co-body-bg);
  color: var(--co-body-text);
}