@use 'config' as cnfg;
@use 'bscs';

// bjt_bx($brd_wdth, $brd_rds, $brd_clr, $bg_clr)
// @use "bjt"

@mixin bjt_bx($brd_wdth, $brd_rds, $brd_clr, $bg_clr) {
	@include bscs.mrgn_pddng(0 0 4px 0, 10px);
	@include bscs.brd($brd_wdth, $brd_rds, $brd_clr);
	@include bscs.bx($bg_clr);
	@include bscs.bx_shdw;
	.txt {
		font-size: 13px;
		padding: 0 1em 0 2em;
	}
	.wrnngs {
		margin: 2px 0 0 0;
		padding-left: 2em;
		font-size: 12px;
		line-height: 14px;
		color: cnfg.$red_1;
	}
}
