// PALETA SEGUN AI

$azul_principal: #0087cb;
$amarillo_dorado: #eba300;
$amarillo_brillante: #ffc300;

$gris_claro: #f5f5f5;
$gris_claro2: #eaeaea;
$azul_oscuro: #002b4d;
$azul_claro: #e6f4fa;
$beige_claro: #fff7e0;

$gris_oscuro: #333333;
$gris_oscuro2: #222222;


// COLORS

// LABORSAFE
$ls_blue_1: #005A9C;
$ls_blue_2: #0087CB;

// CANVA, Los GRAY estan en 08p_procs
$blue_cnv: #153969;

// RED
$red_1: #ef6351;
$red_2: #f38375;
$red_3: #f7a399;
$red_4: #fbc3bc;
$red_5: #ffe3e0;

// BLUE
$p_blue: #2a6f97;

$blue_1: #5465ff;
$blue_2: #788bff;
$blue_3: #9bb1ff;
$blue_4: #bfd7ff;
$blue_5: #e2fdff;

// Gris del más oscuro al más claro
$pltt_1: #212529;
$pltt_2: #343a40;
$pltt_3: #495057;
$pltt_4: #6c757d;
$pltt_5: #adb5bd;
$pltt_6: #ced4da;
$pltt_7: #dee2e6;
$pltt_8: #e9ecef;
$pltt_9: #f8f9fa;

/* LAYOUT */

$app_fnt: 'Raleway', sans-serif;

html {
  text-size-adjust: 100%;        /* estándar */
  -webkit-text-size-adjust: 100%;/* Safari/iOS */
}

html, body {
  -webkit-font-smoothing: antialiased; /* WebKit */
  -moz-osx-font-smoothing: grayscale;  /* Firefox en macOS */
  text-rendering: optimizeLegibility;  /* sugerencia genérica */
}
