@use 'config' as cnfg;
@use 'bscs';

// @include ln_ttl_lnks($c_lnks, $c_hvr);
// @use "ttl_lnks";

@mixin ln_ttl_lnks($c_lnks, $c_hvr) {
	.ttl_lnks {
		@include bscs.grd(auto auto, 0);
	    justify-items: stretch;

	    .ttl {
	    	@include bscs.grd_ncol(1);
	    	justify-self: start;
	    }

		.lnks {
			@include bscs.grd_ncol(2);
	    	justify-self: end;
	    }

	    @include bscs.a_hover($c_lnks, $c_hvr)
	}
}