</* ENCABEZADO MENU */

.appMenuHeader {
    background-color: #1f618d;
    padding-top: 5%;
    padding-bottom: 0;
    color: white;
    font-size: 13px;
}

.appMenuTitle {
  padding: 10px;
  text-align: center;
  font-size: 20px;    
}

.appMenuTitle a {
  color: black;
  text-decoration: none;
}

.appMenuTitle a:hover {
  color: gray;
}

.appMenuCredenciales {
  margin-bottom: -5px;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 16px;
  font-size: 13px;    
}
.appMenuCredenciales a {
  color: black;
  text-decoration: none;
}

.appMenuCredenciales a:hover {
  color: gray;
}

/* Título tabla */
.appMenuTitulo {
  padding-left: 1em;
  padding-top: .5em;
  height: 2em;
  display: block; 
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

/* texto con ítem disable */
.appMuenuTextItem {
  padding-left: 2em;
  padding-top: .5em;
  height: 2em;
  display: block; 
  text-align: left;
  font-weight: bold;
  color: blue;
}

/* texto con ítem disable */
.appMuenuTablaTitulo {
  padding-left: 1em;
  padding-top: .5em;
  height: 2em;
  display: block; 
  text-align: left;
  font-weight: bold;
}

/* texto con ítem disable */
.appMuenuTextTabla {
  padding-left: 1em;
  padding-top: .5em;
  height: 2em;
  display: block; 
  text-align: left;
  font-weight: bold;
  color: blue;
}



/* MANEJO MENU */

.appMenu {
    margin: 0;
    padding-bottom: 2em;
    /* padding: 0, 0, 2em, 0; */
    display: block;	
    font-size: 13px;    
    overflow: hidden;
    background-color: white;    
    /* font-family: Arial, Helvetica, sans-serif;     */
    font-family: 'Raleway', sans-serif;
  }
  /* Contenedores <ul> */
  .appMenu ul {
    margin: 0;
    padding: 0;
    display: block;	    
    list-style: none;
  }  
  /* Enlaces */
  .appMenu a {
    color: black;	
    display: block;	    
    padding: 0.6em 0.8em;	
    text-decoration: none;
  }
  /* Enlaces hover */
  .appMenu a:hover {
    background-color: #d5d8dc;
  }
  /* Distribución horizontal */
  .menuHoriz li {
    float: left;    
    display: block;	
  }  
  /* Distribución vertical */
  .menuVerti li {
    /* Tenía un ancho determinado para que no fuera necesario usar div */
    /* width: 10em; */
    height: 2em;
    display: block;	
    text-align: left;
  }

  /* Submenú infinito */
  .appSubMenu {
    position: fixed;
    display: none !important;    
    background-color: white;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.55);
  }
  /* Submenú infinito hover */
  li:hover > .appSubMenu {
    display: block !important;    
  }
  /* Submenú infinito enlaces hover  */
  .appSubMenu a:hover {
    background-color: #d5d8dc;
  }
  /* Submenú infinito posicionamiento vertical */
  .menuVerti .appSubMenu {
    left: 8em;
    position: absolute !important;
  }  
  /* Botón tipo hamburguesa en pantallas pequeñas */
  #hMenuBtn {
    display: none;	
  }
  /* Menú hamburguesa */
  @media (max-width: 768px) {
    #hMenu {
      display: none;
    }
    #hMenuBtn + label {	
      color: white;		    
      cursor: pointer;		
      padding: 0 0.5em;	
      display: inline-block;	
    }
    #hMenuBtn + label:hover {
      background-color: green;
    }	
    #hMenuBtn + label::before {
      content: "☰";
      font-size: 2rem;
      line-height: 1em;    
    }
    #hMenuBtn:checked ~ #hMenu {
      display: block;	
    }
  }  