
// mrgn_pddng($mrgn, $pddng);
// brd($brd:wdth, $brd_rds, $brd_clr);
// bx($bg_clr);
// bx_shdw;
// ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// grd($grd_tc, $grd_gap);
// grd_ncol($nth);
// a_hover($lnk_clr, $hvr_clr);
// @import "bscs";


// @include ln_ttl_lnks($c_lnks, $c_hvr);
@import "ttl_lnks";

@mixin dia_hd($d_bg, $d_fnt, $d_brd) {
	@include mrgn_pddng(0 0 4px 0, 10px);
	@include brd(1px, 3px 3px 3px 3px, $d_brd);
	@include bx($d_bg);
	@include bx_shdw;
	font-size: 15px;
	color: $d_fnt;

	.ttl {
    	font-weight: bold;
    	@include grd(auto 100px, 0);
	    justify-items: stretch;

	    .lft {
	    	@include grd_ncol(1);
	    	justify-self: start;
	    }

		.rght {
	    	@include grd_ncol(2);
	    	justify-self: end;
	    }
	}
}

// No incluimos a_hover para que los botones se vieran azules
@mixin ac_dtll($c_lnks, $c_hvr) {
	@include ln_ttl_lnks($c_lnks, $c_hvr);
	.dscrpcn {
		font-weight: bold;
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}
}

@mixin ac_bjt_bs($c_bg, $c_brd) {
	padding: 10px;
	margin-bottom: 4px;
    border: 1px solid $c_brd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $c_bg;
	font-size: 13px;
}

/* LAYOUT OBJETO */

// dia_hd($d_bg, $d_fnt, $d_brd)

.d_dyf {
	@include dia_hd($red_4, $red_1, $red_5);
}

.d_s {
	@include dia_hd($red_5, $red_2, $red_5);
}

.d_h {
	@include dia_hd($blue_5, $blue_1, $blue_5);
}

.ac_bjt {
	@include ac_bjt_bs($pltt_9, $pltt_7);
	@include ac_dtll(black, gray);
}

.pndt_bjt {
	@include ac_bjt_bs($pltt_8, $pltt_7);
	@include ac_dtll(black, gray);
}