/* --clr-[fr sc th ob]-cs */

$cs_fr: #1e0342;
$cs_sc: #0e46a3;
$cs_th: #9ac8cd;
$cs_ob: #f4f6f6;

$cs_tc: auto auto;

//$hc_bg: #bbd0ff;
$hc_bg: #00b4d8;
$at_bg: #d2e9e9;

@import "grids";
// grd($grd_tc, $grd_gap);
// grd_frm($bg_color, $grap);
// grd_ncol($nth);

// a_hover($clr, $hvr_clr);
@import "a_hover";

@mixin cs_bsc($bg_clr, $ln_hght, $clr, $fnt_sz) {
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $bg_clr;
    font-family: 'Raleway', sans-serif;
	line-height: $ln_hght;
	color: $clr;
    font-size: $fnt_sz;
}

@mixin cs_tmplt($bg_clr, $ln_hght, $clr, $fnt_sz, $a_clr, $hvr_clr) {
	@include cs_bsc($bg_clr, $ln_hght, $clr, $fnt_sz);
	@include grd($cs_tc, 0px);

    .ttl_ttl {
    	padding-left: 1em;
		@include grd_ncol(1);
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
		@include grd_ncol(2);
    	justify-self: end;

		@include a_hover($a_clr, $hvr_clr);
    }
}

.tm {
	@include cs_bsc($cs_sc, 40px, white, 15px);
	@include grd($cs_tc, 0px);

    .ttl_ttl {
    	padding-left: 1em;
		@include grd_ncol(1);
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
		@include grd_ncol(2);
    	justify-self: end;

		@include a_hover(white, gray);
    }
}

.hc {
	@include cs_tmplt($hc_bg, 30px, white, 13px, white, gray);
}

// Antecedentes
.at {
	@include cs_tmplt($at_bg, 30px, black, 13px, $cs_sc, gray);
}

.innr_dscpcn {
	background-color: #bbd0ff;
	padding: 0 4em 0 4em;
    font-size: 13px;
}

.innr_ntcdnts {
	background-color: #d2e9e9;
	padding: 0 2em 0 8em;
    font-size: 13px;
}

.innr_rchv {
	background-color: $cs_ob;
	line-height: 20px;
	color: $cs_sc;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
	display: grid;
	grid-template-columns: auto auto;
    grid-gap: 1em;

    .ttl_ttl {
    	padding-left: 3em;
	    grid-column-start: 1;
	    grid-column-end: 2;
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;
    	justify-self: end;

    	a {
    		color: $cs_sc;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}

/* LAYOUT OBJETO */

.cs {
	padding: 10px;
    border: 1px solid #c4dfdf;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $cs_ob;
	font-size: 13px;

	.ttl {
    	font-weight: bold;
		display: grid;
		grid-template-columns: auto 100px;
	    grid-gap: 10px;
	    justify-items: stretch;

	    .ttl_ttl {
		    grid-column-start: 1;
		    grid-column-end: 2;
	    	justify-self: start;

	    }

	    .ttl_lnks {
			font-size: 10px;
		    grid-column-start: 2;
		    grid-column-end: 3;
	    	justify-self: end;
	    }

    	a {
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}

}