@use 'config' as cnfg;
@use 'bscs';


// @include ln_ttl_lnks($c_lnks, $c_hvr);
@use "ttl_lnks";

@mixin dia_hd($d_bg, $d_fnt, $d_brd) {
	@include bscs.mrgn_pddng(0 0 4px 0, 10px);
	@include bscs.brd(1px, 3px 3px 3px 3px, $d_brd);
	@include bscs.bx($d_bg);
	@include bscs.bx_shdw;
	font-size: 15px;
	color: $d_fnt;

	.ttl {
    	font-weight: bold;
    	@include bscs.grd(auto 100px, 0);
	    justify-items: stretch;

	    .lft {
	    	@include bscs.grd_ncol(1);
	    	justify-self: start;
	    }

		.rght {
	    	@include bscs.grd_ncol(2);
	    	justify-self: end;
	    }
	}
}

// No incluimos a_hover para que los botones se vieran azules
@mixin ac_dtll($c_lnks, $c_hvr) {
	@include ttl_lnks.ln_ttl_lnks($c_lnks, $c_hvr);
	.dscrpcn {
		font-weight: bold;
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}
}

@mixin ac_bjt_bs($c_bg, $c_brd) {
	padding: 10px;
	margin-bottom: 4px;
    border: 1px solid $c_brd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $c_bg;
	font-size: 13px;
}

/* LAYOUT OBJETO */

// dia_hd($d_bg, $d_fnt, $d_brd)

.d_dyf {
	@include dia_hd(cnfg.$red_4, cnfg.$red_1, cnfg.$red_5);
}

.d_s {
	@include dia_hd(cnfg.$red_5, cnfg.$red_2, cnfg.$red_5);
}

.d_h {
	@include dia_hd(cnfg.$blue_5, cnfg.$blue_1, cnfg.$blue_5);
}

.ac_bjt {
	@include ac_bjt_bs(cnfg.$pltt_9, cnfg.$pltt_7);
	@include ac_dtll(black, gray);
}

.pndt_bjt {
	@include ac_bjt_bs(cnfg.$pltt_8, cnfg.$pltt_7);
	@include ac_dtll(black, gray);
}