
.devise-box {
    border: 1px solid #d5d8dc;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    padding: 1em;
    margin-bottom: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

/* COLLAPSE */

.cllps-display {
    padding-left: 2em; padding-right: 1em;
    padding: 1em;
    margin-top: 2px;
    margin-bottom:10px;
    background-color: #ffffff;
    border: 1px solid #d1f2eb;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 15px;
}

/* TABS */

/* NO FUNCIONAN LOS COLORES PERO EVITA QUE SEA BLANCO COMO EN NAVBAR */
.nav-tabs > li.active > a {
  color: #0b5345;
  font-size: 16px;
}

.nav-tabs > li > a {
  color: #575757;
}

/* SHOW */

.show-title {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #eaf2f8;
    border-color: #000000;
    margin-bottom: 1em;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}

/* TABLA - LIST - OBJETO */

.list-box {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #ffffff;
    margin-bottom: -8px;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}

.objeto-box {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #f8f9f9;
    margin-bottom: 2px;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}



.paginate-box {
    padding-left: 1em; padding-right: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #a2d9ce;
    margin-bottom: 2px;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}

/* ELEMENTO */

.elemento-box {
    padding: 1em;
    margin-bottom: .5em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #f8f9f9;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}
