/* --clr-[fr sc th ob]-cs */

$as_fr: #952323;
$as_sc: #a73121;
$as_th: #dad4b5;
$as_ob: #f2e8c6;

// -------------------------------------------

// mrgn_pddng($mrgn, $pddng);
// brd($brd_wdth, $brd_rds, $brd_clr);
// bx($bg_clr);
// bx_shdw;
// ln_fnt($ln_hght, $fnt_fmly, $fnt_sz, $fnt_clr);
// grd($grd_tc, $grd_gap);
// grd_ncol($nth);
// a_hover($lnk_clr, $hvr_clr);
@import "bscs";

// bjt_bx($brd_wdth, $brd_rds, $brd_clr, $bg_clr)
@import "bjt";

/* LAYOUT OBJETO */

@mixin as_bjt_bs($c_bg, $c_brd) {
	padding: 10px;
	margin-bottom: 4px;
    border: 1px solid $c_brd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $c_bg;
	font-size: 13px;
}

@mixin as_dtll($c_lnks, $c_hvr) {
	@include ln_ttl_lnks($c_lnks, $c_hvr);
	.dscrpcn {
		font-weight: bold;
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}
}

.as_bjt {
	@include bjt_bx(1px, 6px 6px 6px 6px, $pltt_5, white);
}