@use '00p_config' as cnfg;
@use 'bscs';
@use "bx_bs";

$cs_sc: #0e46a3;
$cs_ob: #f4f6f6;

$cs_tc: auto auto;

.cs_box {
	@include bx_bs.bx_bs(cnfg.$pltt_9, cnfg.$pltt_7, 13px);
}




@mixin cs_bsc($bg_clr, $ln_hght, $clr, $fnt_sz) {
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $bg_clr;
    font-family: 'Raleway', sans-serif;
	line-height: $ln_hght;
	color: $clr;
    font-size: $fnt_sz;
}

@mixin cs_tmplt($bg_clr, $ln_hght, $clr, $fnt_sz, $a_clr, $hvr_clr) {
	@include cs_bsc($bg_clr, $ln_hght, $clr, $fnt_sz);
	@include bscs.grd($cs_tc, 0px);

    .ttl_ttl {
    	padding-left: 1em;
		@include bscs.grd_ncol(1);
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
		@include bscs.grd_ncol(2);
    	justify-self: end;

		@include bscs.a_hover($a_clr, $hvr_clr);
    }
}

.tm_bjt {
	@include cs_bsc(cnfg.$pltt_6, 40px, cnfg.$pltt_3, 15px);
	@include bscs.grd($cs_tc, 0px);

    .ttl_ttl {
    	padding-left: 1em;
		@include bscs.grd_ncol(1);
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
		@include bscs.grd_ncol(2);
    	justify-self: end;

		@include bscs.a_hover(cnfg.$pltt_3, gray);
    }
}

.hc_bjt {
	@include cs_tmplt(cnfg.$pltt_7, 30px, cnfg.$pltt_4, 13px, cnfg.$pltt_4, gray);
}

// Antecedentes
.at_bjt {
	@include cs_tmplt(cnfg.$pltt_9, 20px, black, 13px, cnfg.$pltt_4, gray);
}

.innr_dscpcn {
	background-color: cnfg.$pltt_8;
	padding: 0 3em 0 3em;
    font-size: 13px;
}

.innr_rchv {
	background-color: $cs_ob;
	line-height: 20px;
	color: $cs_sc;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
	display: grid;
	grid-template-columns: auto auto;
    grid-gap: 1em;

    .ttl_ttl {
    	padding-left: 3em;
	    grid-column-start: 1;
	    grid-column-end: 2;
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;
    	justify-self: end;

    	a {
    		color: $cs_sc;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}

/* LAYOUT OBJETO */

.cs {
	margin-bottom: 3px;
	padding: 10px;
    border: 1px solid #c4dfdf;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $cs_ob;
	font-size: 13px;

	.ttl {
    	font-weight: bold;
		display: grid;
		grid-template-columns: auto 100px;
	    grid-gap: 10px;
	    justify-items: stretch;

	    .ttl_ttl {
		    grid-column-start: 1;
		    grid-column-end: 2;
	    	justify-self: start;

	    }

	    .ttl_lnks {
			font-size: 10px;
		    grid-column-start: 2;
		    grid-column-end: 3;
	    	justify-self: end;
	    }

    	a {
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}

}