@use 'config' as cnfg;
@use 'bscs';
@use "bx_bs";

$cs_sc: #0e46a3;
$cs_ob: #f4f6f6;

$cs_tc: auto auto;

// Antecedentes
.innr_rchv {
	background-color: $cs_ob;
	line-height: 20px;
	color: $cs_sc;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
	display: grid;
	grid-template-columns: auto auto;
    grid-gap: 1em;

    .ttl_ttl {
    	padding-left: 3em;
	    grid-column-start: 1;
	    grid-column-end: 2;
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;
    	justify-self: end;

    	a {
    		color: $cs_sc;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}