/* LMENU */

.lmenu-box {
    border: 1px solid #d1f2eb;
    border-radius: 3px 3px 3px 3px;
    /* background-color: #e8f8f5; */
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    margin-bottom: 2px;
    padding: 0em;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.lmenu-list {
    margin-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    font-size: 16px;
}

.lmenu-box:hover .lmenu-list {
    display: block;
}

.lmenu-list a {
    /* padding: 12px 16px; */
    color: black;
    text-decoration: none;
}

.lmenu-list a:hover {
    color: white;
    background-color: gray;
}

.lmenu-secondary-box {
    border: 1px solid #d1f2eb;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    margin-bottom: 2px;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.lmenu-usuario {
    margin-bottom: -5px;
    padding-left: 10%;
    line-height: 16px;
}
.lmenu-usuario a {
    color: white;
    text-decoration: none;
}

.lmenu-usuario a:hover {
    color: #85c1e9;
}

/* DROPDOWN ENLACES */

.enlaces-drpdwn {
    /* desplazamiento desde la izquierda */
    /* left: 10%; */
    /* text-align: center; */
    position: relative;
    display: inline-block;
}

.enlaces-drpdwn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.enlaces-drpdwn:hover .enlaces-drpdwn-content {
    display: block;
}

.enlaces-drpdwn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.enlaces-drpdwn-content a:hover {
    color: blue;
    background-color: #f1f1f1;
}

/* TAXONOMIA */

.tax-titulo {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #fcfcfc;
    border-color: #000000;
    margin-bottom: 1em;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Lexend', sans-serif;
}

.tax-box {
    padding: 1em;
    margin-bottom: 4px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #fcfcfc;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}

/* DIA */

.dia-box {
    padding: 1em;
    margin-bottom: 4px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #e1f5fe;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}