/* --clr-[fr sc th ob]-cs */

$as_fr: #952323;
$as_sc: #a73121;
$as_th: #dad4b5;
$as_ob: #f2e8c6;

/* TITULO */
.as_ttl {
	margin-bottom: 10px;
	background-color: $as_fr;
	line-height: 40px;
	color: white;
    font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: auto auto;
    grid-gap: 1em;

    .ttl_ttl {
    	padding-left: 1em;
	    grid-column-start: 1;
	    grid-column-end: 2;
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 1em;
	    grid-column-start: 2;
	    grid-column-end: 3;
    	justify-self: end;

    	a {
    		color: white;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }

}

/* LAYOUT OBJETO */

.as {
	padding: 10px;
    border: 1px solid $cs_th;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $as_ob;
	font-size: 13px;

	.ttl {
    	font-weight: bold;
		display: grid;
		grid-template-columns: auto 100px;
	    grid-gap: 10px;
	    justify-items: stretch;

	    .ttl_ttl {
		    grid-column-start: 1;
		    grid-column-end: 2;
	    	justify-self: start;

	    }

	    .ttl_lnks {
			font-size: 10px;
		    grid-column-start: 2;
		    grid-column-end: 3;
	    	justify-self: end;
	    }

    	a {
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}

}