@use 'config' as cnfg;
@use 'bscs';


.lgl_prrf {
	background-color: white;
	@include bscs.bx_shdw;
	margin-bottom: 3px;
	padding: 1rem;
	.lnks {
		@include bscs.a_hover(cnfg.$pltt_3, gray);
		@include bscs.ln_fnt(15px, cnfg.$app_fnt, 10px, cnfg.$pltt_3);
	}
	.prrf {
		@include bscs.ln_fnt(118px, cnfg.$app_fnt, 15px, cnfg.$pltt_3);
	}
}