
$cl_fr: #627254;

@mixin cl_bjt_bs($c_bg, $c_brd) {
	padding: 10px;
	margin-bottom: 4px;
    border: 1px solid $c_brd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	background-color: $c_bg;
	font-size: 13px;
}

@mixin cl_dtll($c_lnks, $c_hvr) {
	@include ln_ttl_lnks($c_lnks, $c_hvr);
	.dscrpcn {
		font-weight: bold;
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}
}

.cl_bjt {
	@include cl_bjt_bs($c_cl_bg, $c_cl_brd);
	@include cl_dtll(black, gray);
}

/* LAYOUT INDEX */

.cl_lyt_ndx {
	margin: 10px 0;
	background-color: white;
	color: $cl_fr;
    font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 200px auto;
    grid-gap: 2px;
    justify-items: stretch;

    .mn {
    	margin: 0;
	    grid-column-start: 1;
	    grid-column-end: 2;
    }

    .dsply {
	    grid-column-start: 2;
	    grid-column-end: 3;
    }

}