/* AGENDA */

.age-titulo {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #2471a3;
    border-color: #000000;
    margin-bottom: 1em;
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-family: 'Lexend', sans-serif;
}

.age-titulo a {
    color: white;
}

.age-titulo a:hover {
    color: yellow;
}

.dia-box {
    padding: 0;
    margin: 0;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    border-radius: 3px 3px 3px 3px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
} 

.dia-titulo {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1px;
    border: 1px solid #7fb3d5;
    border-radius: 3px 3px 3px 3px;
    background-color: #d6eaf8;
    font-weight: 1000;
}

.act-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    border: 1px solid #7fb3d5;
    border-radius: 3px 3px 3px 3px;
    background-color: white;
}

/* TAXONOMIA */

.tax-titulo {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #fcfcfc;
    border-color: #000000;
    margin-bottom: 1em;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Lexend', sans-serif;
}

.tax-box {
    padding: 1em;
    margin-bottom: 4px;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #fcfcfc;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}