.img-text-container {
  position: relative;
}

.inner {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 30px;
  margin-bottom: 0;
}