
.ubuntu-sans-normal {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.ubuntu_titulo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; /* Bold */
}

.ubuntu_subtitulo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500; /* Medium */
}
