@use 'config' as cnfg;
@use 'bscs';

// BACKGROUND

.bg_gray {
	background-color: #dee2e6; /* Color personalizado */
	color: cnfg.$pltt_4;
	@include bscs.a_hover(cnfg.$pltt_4, cnfg.$pltt_5);
}

.bg_blue {
	background-color: cnfg.$ls_blue_1; /* Color personalizado */
	color: white;
	@include bscs.a_hover(white, cnfg.$pltt_5);
}

.bg_tbl {
	background-color: cnfg.$ls_blue_2; /* Color personalizado */
	color: white;
	@include bscs.a_hover(white, cnfg.$pltt_5);
}

.bg_sub_tbl {
	background-color: cnfg.$pltt_7; /* Color personalizado */
//	color: white;
	@include bscs.a_hover(black, cnfg.$pltt_5);
}

.bg-black {
  background-color: black !important;
}

// LINKS

.navbar_lnk {
   	@include bscs.a_hover(cnfg.$pltt_4, cnfg.$pltt_6);
}

.app_lnk {
   	@include bscs.a_hover(cnfg.$pltt_2, cnfg.$pltt_5);
}

.objt_lnk {
   	@include bscs.a_hover(cnfg.$blue_1, cnfg.$blue_3);
}

.artcl_lnk {
    @include bscs.a_hover(cnfg.$pltt_5, cnfg.$pltt_4);
}

.app_fnt {
   	font-family: cnfg.$app_fnt;
}

.fnt_arial {
   	font-family: Arial;
}

// TABLA CON LÍNEAS MÁS PEQUEÑAS

.table-ssm td, .table-smaller-cells th {
    padding: 0.10rem; /* Ajusta el valor según necesites */
}

// TXT

.txt_hght {
	line-height: 1.2;
	font-size: 35px;
}

.txt_mdm {
	line-height: 1.2;
	font-size: 25px;
}

.txt_smll {
	line-height: 1.2;
	font-size: 16px;
}

// Manejo de lo :hover de los dropdowns
.dropdown-menu .dropdown-item {
    transition: all 0.3s ease; /* Transición para efectos suaves */
}
.dropdown-menu .dropdown-item:hover {
    background: linear-gradient(90deg, cnfg.$pltt_4, cnfg.$pltt_5) !important;
    color: white !important;
    padding-left: 20px; /* Desplaza el texto */
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
}

// Textos que se desplazan en el home
/* Efecto de movimiento al hacer hover */
.hover-move-right:hover {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

/* Estilo opcional para el tooltip */
.tooltip-inner {
  max-width: 200px;
  padding: 0.5rem 1rem;
  background-color: #333;
}

/* Efecto de movimiento al hacer hover */
.icon-title-hover:hover .icon-hover,
.icon-title-hover:hover .title-hover {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

/* Estilo para el tooltip blanco */
.white-tooltip .tooltip-inner {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 300px;
  padding: 10px;
  font-size: 0.9rem;
}

.white-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: white;
}

.zoom-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 0;
}

.zoom-box:hover {
  transform: scale(1.1);
  z-index: 10; /* lo pone por encima de los adyacentes */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.btn-grow {
  transition: transform 0.2s ease-in-out;
}

.btn-grow:hover {
  transform: scale(1.1); /* ajusta el 1.1 al tamaño que quieras */
}
