@use 'config' as cnfg;

/* NAVBAR */

#navbar-logo:hover {
	position: relative;
	left: 3px; /* adjust this value to move the title closer to the top */
	bottom: 3px; /* adjust this value to move the title closer to the top */
}

.nav-item {
	a:hover {
		position: relative;
		left: 3px; /* adjust this value to move the title closer to the top */
		bottom: 3px; /* adjust this value to move the title closer to the top */
	}
}

//---------------------------------------------------------------- VERIFICAR

* {
  box-sizing: border-box;
}

// --------------------------------------------------------------- REGISTRO DE EMPRESAS

/* app/assets/stylesheets/pages.scss */
#registration-form {
//  max-width: 400px;
  background: white;
//  border-radius: 8px;
}

#registration-form .field {
  margin-bottom: 1rem;
}

#registration-form input[type="email"] {
  width: 100%;
  padding: 0.5rem;
}

#registration-form .error-messages {
  color: #dc3545;
  margin-bottom: 1rem;
}

#registration-form .success-message {
  color: #28a745;
}