@use 'config' as cnfg;
@use 'bscs';

$gray_1: #718bab;
$gray_2: #c0cfe1;
$gray_3: #dee1ef;

$elmnt_mrgn: 3px 0 3px 0;
$elmnt_pddng: 3px 1rem 2px 1rem;

@mixin p_nm_lnks {
	.nm {
		@include bscs.grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
	}
	.lnks {
		@include bscs.grd_ncol(2);
    	justify-self: end;
	}
}

@mixin elmnt_bsc($clr_bg, $clr) {
	@include bscs.mrgn_pddng($elmnt_mrgn, $elmnt_pddng);
	@include bscs.brd_ln(1px, solid, $clr_bg, 20px);
	background-color: $clr_bg;
	color: $clr;
	font-size: 16px;
}

@mixin trsh_ln {
	@include bscs.grd(auto 20% 20%, 0);
	.answ {
        @include bscs.grd_ncol(1);
    	justify-self: start;
	}
	.pstfx {
        @include bscs.grd_ncol(2);
    	justify-self: start;
	}
	.trsh {
	    @include bscs.grd_ncol(3);
    	justify-self: end;
	}
}

@mixin ttl_objt_bsc($clr_bg, $clr) {
	@include bscs.mrgn_pddng($elmnt_mrgn, $elmnt_pddng);
	background-color: $clr_bg;
	@include bscs.bx_shdw;
	@include bscs.a_hover($clr, cnfg.$blue_3);
	@include bscs.grd(auto auto, 0);
	line-height: 30px;
	font-size: 16px;
	color: $clr;
    font-weight: bold;
}

@mixin p_ttl_bsc($brdr_clr, $clr_bg, $clr) {
	@include ttl_objt_bsc($clr_bg, $clr);
	@include bscs.brd_ln(4px, solid, $brdr_clr, 3px);
}

@mixin p_ttl_bttm_bsc($brdr_clr, $clr_bg, $clr) {
	@include ttl_objt_bsc($clr_bg, $clr);
	border-bottom: 5px solid $brdr_clr;
}

@mixin ttl_2clmns {
	.ttl_ttl {
		@include bscs.grd_ncol(1);
    	padding-left: 1em;
    	justify-self: start;
	}
	.ttl_lnks {
		@include bscs.grd_ncol(2);
    	justify-self: end;
	}
}

@mixin p_objt_bsc($brdr_clr, $clr_bg, $clr) {
	@include ttl_objt_bsc($clr_bg, $clr);
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: $brdr_clr;
}

.dlg_bsc {
	margin: 2px;
	padding: .5rem 1rem;
	@include bscs.brd_ln(1px, solid, red, 10px);
	color: red;
}


// CLSS

.dc_fl {
	@include elmnt_bsc($gray_3, cnfg.$blue_cnv);
	@include bscs.a_hover(cnfg.$blue_cnv, $gray_1);
	@include trsh_ln;
}

.no_dc_fl {
	@include elmnt_bsc(#d8e2dc, red);
	@include bscs.a_hover(red, cnfg.$red_3);
	@include trsh_ln;
}

// REVISAR
.opt_dc_fl {
	@include elmnt_bsc(cnfg.$blue_cnv, white);
	@include bscs.a_hover(white, $gray_1);
	@include trsh_ln;
}

// TTLS

.shw_ttl {
	@include p_ttl_bsc(cnfg.$p_blue, cnfg.$p_blue, white);
	@include ttl_2clmns;
}

.prtcpnts_ttl {
	@include p_ttl_bttm_bsc($gray_2, $gray_3, cnfg.$blue_cnv);
	@include ttl_2clmns;
}

// OBJTS

.prtcpnts_objt {
	@include p_objt_bsc($gray_2, $gray_3, cnfg.$blue_cnv);
	@include p_nm_lnks;
}
