@use 'config' as cnfg;

$rp_bg: black;
$rp_text: #5b2c6f;

/* TITULO */
.rp_ttl {
	margin-bottom: 10px;
	background-color: $rp_bg;
	line-height: 40px;
	color: white;
    font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    .ttl_ttl {
    	padding-left: 2em;
	    grid-column-start: 1;
	    grid-column-end: 2;
    	justify-self: start;
    }

    .ttl_lnks {
    	padding-right: 10px;
	    grid-column-start: 2;
	    grid-column-end: 3;
    	justify-self: end;

    	a {
    		color: white;
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
    }
}

/* LAYOUT OBJETO */

.rp {
	margin: 0;
    /* border: 1px solid white;
    border-radius: 3px 3px 3px 3px; */
	background-color: #eeeeee;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
	font-size: 13px;

	.ttl {
		padding: 2px 0px 2px 10px;
		color: $rp_text;
		display: grid;
		grid-template-columns: auto auto;
	    grid-gap: 10px;
	    justify-items: stretch;

	    .ttl_ttl {
		    grid-column-start: 1;
		    grid-column-end: 2;
	    	justify-self: start;

	    }

		.ttl_lnks {
			padding-right: 10px;
		    grid-column-start: 2;
		    grid-column-end: 3;
	    	justify-self: end;
	    }

    	a {
            text-decoration: none;
    	}

    	a:hover {
    		color: gray;
    	}
	}

	.cllps {
		padding: 14px;
    	background-color: white;
    	color: black;
		font-size: 10px;
	}

}