@use 'config' as cnfg;
@use 'bscs';

/* ELEMENTOS BASE PARA EL MANEJO DE TABLAS */

$app_tb_fnt: Arial;
$app_ln_padd: 2px 10px 2px 10px;    
$app_ln_hght: 14px;
$app_ln_gp: 0;

// -------------------------------------------

@mixin ln_bsc_prprty($clr_bg, $fnt_fmly, $fnt_sz) {
    @include bscs.mrgn_pddng(0, $app_ln_padd);
    @include bscs.bx($clr_bg);
    @include bscs.ln_fnt($app_ln_hght, $fnt_fmly, $fnt_sz, black)
}

@mixin ln_nm_lnks($lnk_clr, $hvr_clr) {
    @include bscs.grd(auto 100px, $app_ln_gp);
    .ln_nm {
        @include bscs.grd_ncol(1);
        justify-self: start;
    }
    .ln_lnks {
        @include bscs.grd_ncol(2);
        justify-self: end;
    }
    @include bscs.a_hover($lnk_clr, $hvr_clr);
}

@mixin ln_ord_nm_lnks($lnk_clr, $hvr_clr) {
    @include bscs.grd(50px auto 100px, $app_ln_gp);
    .ln_order {
        @include bscs.grd_ncol(1);
        justify-self: start;
    }
    .ln_nm {
        @include bscs.grd_ncol(2);
        justify-self: start;
    }
    .ln_lnks {
        @include bscs.grd_ncol(3);
        justify-self: end;
    }
    @include bscs.a_hover($lnk_clr, $hvr_clr);
}

@mixin ln_2auto($lnk_clr, $hvr_clr) {
    @include bscs.grd(auto auto, $app_ln_gp);
    .ln_nm {
        @include bscs.grd_ncol(1);
        justify-self: start;
    }
    .ln_lnks {
        @include bscs.grd_ncol(2);
        justify-self: end;
    }
    @include bscs.a_hover($lnk_clr, $hvr_clr);
}

@mixin ttl_2auto($lnk_clr, $hvr_clr) {
    @include bscs.grd(auto auto, $app_ln_gp);
    .ttl_lft {
        @include bscs.grd_ncol(1);
        justify-self: start;
    }
    .ttl_rght {
        @include bscs.grd_ncol(2);
        justify-self: end;
    }
    @include bscs.a_hover($lnk_clr, $hvr_clr);
}

// -------------------------------------------

.ln_app {
    @include ln_bsc_prprty(white, cnfg.$app_fnt, 13px);
    @include ln_nm_lnks(blue, gray);
}

.ln_bjt_app {
    @include ln_bsc_prprty(cnfg.$pltt_8, cnfg.$app_fnt, 14px);
    @include ln_2auto(blue, gray);
}

.ln_ordr {
    @include ln_bsc_prprty(white, $app_tb_fnt, 13px);
    @include ln_ord_nm_lnks(blue, gray);
}


// Cajas de tablas y objetos

.objeto-box {
    padding: 1em;
    box-shadow: 10px 10px 18px -12px rgba(166,153,166,1);
    background-color: #f8f9f9;
    margin-bottom: 2px;
    border: 1px solid #f2f4f4;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Raleway', sans-serif;
}