<div class="ms-4 app_lnk">
	<%= render layout: '0p/tltp_lnk', locals: {lnk: '/hlp_ayudas/rgstr_emprs', tltp: 'Registro de empresa'} do %>
		<i class="bi bi-cursor"></i> Registro de empresa
	<% end %>
</div>
