<div id="<%= dom_id krn_lst_modificacion %>">
  <p>
    <strong>Ownr:</strong>
    <%= krn_lst_modificacion.ownr_id %>
  </p>

  <p>
    <strong>Emisor:</strong>
    <%= krn_lst_modificacion.emisor %>
  </p>

</div>
