<h1>New krn lst modificacion</h1>

<%= render "form", krn_lst_modificacion: @krn_lst_modificacion %>

<br>

<div>
  <%= link_to "Back to krn lst modificaciones", krn_lst_modificaciones_path %>
</div>
