<div class="row gx-1">
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :m_banco_id, colection: MBanco.all.order(:m_banco).collect { |banco| [banco.m_banco, banco.id] }, prompt: 'Banco', label: 'Banco' } %>
	</div>
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :m_cuenta, label: 'Cuenta' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :m_modelo_id } %>
