<div class="add_box">

	<div class="hd">
		<i class="bi bi-plus-circle"></i>
	</div>

	<div class="lnks">

		<% if objeto.class.name == 'Causa' and operacion? %>
			<% unless @audiencias_pendientes.empty? %>
				<% @audiencias_pendientes.each do |pendiente| %>
					<small class="text-muted">
					<%= render layout: '0p/collapse/link', locals: {label: pendiente.split(' ').join('_'), objeto: nil, tooltip: "Agregar #{pendiente}"} do %>
						<i class="bi bi-plus-circle"></i>
						<%= pendiente %></br>
					<% end %>

					</small>
				<% end %>
			<% end %>
			<hr>
		<% end %>

		<small>
		<% ['Hito', 'Reunión', 'Tarea'].each do |tipo| %>
			<% unless ['Reunión', 'Tarea'].include?(tipo) and finanzas? %>
				<%= render layout: '0p/collapse/link', locals: {label: tipo, objeto: nil, tooltip: "Agregar #{tipo}"} do %>
					<i class="bi bi-plus-circle"></i>
					<%= tipo %></br>
				<% end %>
			<% end %>
		<% end %>
		</small>
	</div>

</div>