<div class="<%= clss_dia(objeto[:dia]) %>">
	<div class="ttl">
		<div class="lft">
			<%= dma(objeto[:dia]) %>
		</div>
		<div class="rght">
			<%= nombre_dia(objeto[:dia]) %>
		</div>
	</div>
</div>

<% objeto[:actividades].each do |actividad| %>
	<% unless actividad.privada and actividad.app_perfil_id != perfil_activo.id %>
		<%= render partial: 'actividades/shr/bjt_ctvdd', locals: {objeto: actividad, usuarios: usuarios} %>
	<% end %>
<% end %>
