<% if publico? %><div class='container'><% end %>
<div class="row">
	<div class="imagen-banner">
		<%= render partial: '0p/home/over_card', locals: {nombre: 'OverCard'} %>
	</div>
	<div class="texto-banner">
		<h6>Abogados</h6><h3>Derecho del trabajo</h3>
	</div>
</div>
<% if publico? %></div><% end %>