<% if usuario_signed_in? %>

	<div class="mn_itm">
		<%= render layout: '0p/layout/tltp_dlt', locals: {lnk: destroy_usuario_session_path, tltp: nil} do %>
			<i class="bi bi-door-open"></i> Salir
		<% end %>
	</div>

<% else %>

	<div class="mn_itm">
		<%#= render layout: '0p/layout/tooltip_link', locals: {link: '/app_mensajes/new', tooltip: nil} do %>
			<!--i class="bi bi-envelope"></i-->
		<%# end %>
	</div>
	<div class="mn_itm">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: '/usuarios/sign_in', tooltip: nil} do %>
			<i class="bi bi-person"></i> Ingresar
		<% end %>
	</div>
	<div class="mn_itm">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: '/usuarios/sign_up', tooltip: nil} do %>
			<i class="bi bi-person-plus"></i> Registro
		<% end %>
	</div>

<% end %>