<%= render partial: '0p/ttl_sub_tbl', locals: {source: 'rep_archivos', lnks: 'ttl'} %>

<table class="table table-sm table-borderless table-striped table-hover">
	<tbody>
		<% @etps.each do |etp| %>
			<% etp.tareas.ordr.each do |tar| %>

				<% unless tar.rep_doc_controlados.empty? %>
					<% tar.rep_doc_controlados.ordr.each do |dc| %>
						<% if ownr.send("fl_#{dc.codigo}?") or ownr.fl?(dc.codigo) %>
							<% if dc.multiple == true %>
								<%= render partial: '0p/proc/dcs', locals: {dc: dc, fls: ownr.fls(dc), ownr: ownr, trsh_cndtn: trsh_cndtn(tar, ownr)} %>
							<% else %>
								<%= render partial: '0p/proc/dc', locals: {dc: dc, fl: ownr.fl(dc), ownr: ownr, trsh_cndtn: trsh_cndtn(tar, ownr)} %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

			<% end %>
		<% end %>
	</tbody>
</table>
