<% clr ||= 'primary' %>

<% unless objeto.drvcn?(codigo) %>
	<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {clr: clr} do %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_derivaciones/new#{blngs_prms(objeto)}&cdg=#{codigo}", tltp: nil} do %>
			<div class="d-flex justify-content-start gap-1">
				<i class="bi bi-cursor"></i> 
				<h6><b><%= drvcn_text[codigo.to_sym][:prmpt] %></b></h6>
			</div>
		<% end %>
	<% end %>
<% end %>