<% unless @etps_trmnds.empty? %>
<div class="mt-1 bg-white shadow rounded p-2">
	<table class="table table-ssm table-borderless table-striped table-hover">
		<tbody>

			<% @etps_trmnds.each do |etp_trmnd| %>
				<tr style="font-size: 15px;">
					<td class="app_lnk" style="padding-left: 1rem;">
						<b><%= etp_trmnd[:etapa] %></b>
					</td>
					<td class="app_lnk" style="text-align: right; padding-right: 1rem;">
						<div class="text-<%=etp_trmnd[:plz_ok] ? 'primary' : 'danger'%>">
						<% if etp_trmnd[:plz_ok] %>
							<i class="bi bi-calendar-check"></i>
						<% else %>
							<i class="bi bi-calendar-x text-danger"></i>
						<% end %>
						<%= dma(etp_trmnd[:plz]) %>
						</div>
					</td>
				</tr>
			<% end %>

		</tbody>
	</table>
</div>
<% end %>