<% unless @etp_last.blank? or @tar_last.blank? %>

	<% if prtl?(ownr, "proc/#{@tar_last.codigo}", 'nts') or (@tar_cntrl_hsh[@tar_last.codigo][:frms] and @tar_last.dsply?(@objeto)) or prtl?(ownr, "proc/#{@tar_last.codigo}", 'chlds') %>

		<div class="mt-1 bg-white shadow rounded p-2">

			<% if prtl?(ownr, "proc/#{@tar_last.codigo}", 'nts')  %>
				<%= render partial: prtl_name(ownr, "proc/#{@tar_last.codigo}", 'nts'), locals: {objeto: @tar_last, ownr: ownr} %>
			<% end %>

			<% if @tar_cntrl_hsh[@tar_last.codigo][:frms] and @tar_last.dsply?(@objeto) %>
				<%= render partial: prtl_name('tareas', 'code', 'dtll'), locals: {objeto: @tar_last, ownr: ownr} if @tar_last.dsply?(ownr) %>
			<% end %>

			<!-- CHLDS -->
			<% if prtl?(ownr, "proc/#{@tar_last.codigo}", 'chlds')  %>
				<%= render partial: prtl_name(ownr, "proc/#{@tar_last.codigo}", 'chlds'), locals: {objeto: @tar_last, ownr: ownr} %>
			<% end %>
		</div>

	<% end %>
<% end %>