<%= render '0capitan/layouts/title_box' do %>

	<div class=" row text-info">
		<div class="col-2" align='center'>
			<% unless @objeto == @primer_mes %>
				<%= link_to @anterior do %>
					<i class="bi bi-chevron-double-left"></i>
				<% end %>
			<% end %>
		</div>
		<div class="col-8" align='center'>
			<%= "#{@objeto.cal_annio.cal_annio} #{nombre_mes[@objeto.cal_mes]}" %>
		</div>
		<div class="col-2" align='center'>
			<% unless @objeto == @ultimo_mes %>
				<%= link_to @siguiente do %>
					<i class="bi bi-chevron-double-right"></i>
				<% end %>
			<% end %>
		</div>
	</div>

<% end %>
