<div class="col-6 py-1" style="background-color: #023e8a;color: white;">
	Característica
</div>
<div class="col-2 py-1 text-center" style="background-color: #023e8a;color: white;">
	BÁSICO
</div>
<div class="col-2 py-1 text-center" style="background-color: #023e8a;color: white;">
	ESTÁNDAR
</div>
<div class="col-2 py-1 text-center" style="background-color: #023e8a;color: white;">
	EXTENDIDO
</div>