<%= render partial: '0p/ttl_shw', locals: {objt: @objeto} %>
<div class="my-1 p-2 bg-white border shadow">
	<%= @objeto.lgl_parrafo %>
</div>
<%= render partial: '0p/tbl/tbl', locals: {source: 'lgl_citas'} %>