<% if usuario_signed_in? and (not current_usuario.confirmed?) %>
	<div class="ms-5">
		<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: 'Error de acceso', firma: true} do %>
			<h4>¡Sólo nos falta un paso para completar tu registro!</h4>
			<p>Te hemos enviado un email con un link que nos permitirá verificar tu dirección de correo electrónico.</p>
			<p>¡Muchas Gracias!</p>
		<% end %>
	</div>
<% else %>
	<div class="ms-5">
		<%= render layout: 'cuentas/prtls/msgg', locals: {ttl: 'Error de acceso', firma: true} do %>

			<p><i class="bi bi-cone-striped text-danger"></i> Esta página no existe o requiere un usuario autenticado/verificado</p>

			<p>Comuniquese con el administrador de la plataforma.</p>

		<% end %>
	</div>
<% end %>