<div id="<%= dom_id lgl_n_empleado %>">
  <p>
    <strong>Lgl n empleados:</strong>
    <%= lgl_n_empleado.lgl_n_empleados %>
  </p>

  <p>
    <strong>N min:</strong>
    <%= lgl_n_empleado.n_min %>
  </p>

  <p>
    <strong>N max:</strong>
    <%= lgl_n_empleado.n_max %>
  </p>

</div>
