<p style="color: green"><%= notice %></p>

<h1>Lgl n empleados</h1>

<div id="lgl_n_empleados">
  <% @lgl_n_empleados.each do |lgl_n_empleado| %>
    <%= render lgl_n_empleado %>
    <p>
      <%= link_to "Show this lgl n empleado", lgl_n_empleado %>
    </p>
  <% end %>
</div>

<%= link_to "New lgl n empleado", new_lgl_n_empleado_path %>
