<%= link_to root_path do %>
	<h3 class="text-info" align="center"><%= app_sigla %></h3>
<% end %>
<%= render partial: '0capitan/lmenu/usuario_activo' %>

<%= render partial: '0capitan/app/drpdwns/enlaces_drpdwn', locals: {toggle: 'Enlaces', menus: v_enlaces} %>