<div class="appMenuHeader">
	<%= render partial: '0capitan/lmenu/title' %>
	<%= render partial: '0capitan/lmenu/credenciales' %>
	<div style="margin-bottom: -7px; padding-left: 1em; padding-right: 1em;"><hr></div>
</div>