<div class="<%= action_name == tabla[1] ? 'itm_slctd' : 'itm' %>"  style="padding-left: 2em;">
	<%= link_to "/tablas/#{tabla[1]}" do %>
		<% if action_name == tabla[1] %>
			<i class="bi bi-arrow-right"></i> 
		<% end %>
		<%= tabla[0] %>
	<% end %>
</div>