<div style="padding-left: 2em;">
	<% if action_name == tabla[1] %>
		<div class="itm_slctd">
			<i class="bi bi-arrow-right"></i> 
			<%= tabla[0] %>
		</div>
	<% else %>
		<%= link_to "/tablas/#{tabla[1]}" do %>
			<%= tabla[0] %>
		<% end %>
	<% end %>
</div>