<div class="<%= link_model(controller_name) == modelo ? 'itm_slctd' : 'itm' %>">
	<%= link_to model_link(modelo) do %>
		<% if link_model(controller_name) == modelo %>
			<i class="bi bi-arrow-right"></i> 
		<% end %>
		<i class="bi bi-<%=controller_icon[modelo.tableize]%>"></i>
		<%= modelo_item(modelo) %>
	<% end %>
</div>