<div class="appMenuBox">

  <%= render partial: '0capitan/lmenu/header' %>

  <%= render partial: '0capitan/lmenu/lmenu_list', locals: {menu_left: menu_left, sym: sym} %>

    <!--ul class="appSubMenu">
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Favoritos ►</a>
        <ul class="appSubMenu">
          <li><a href="#">Favorito 1</a></li>
          <li><a href="#">Favorito 2</a>
            <ul class="appSubMenu">
              <li><a href="#">Favorito 3</a></li>
              <li><a href="#">Favorito 4</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Promotores</a></li>
      <li><a href="#">Geolocalizador</a></li>
    </ul-->

</div>