<div style="line-height: 13px; margin-bottom: -1em;">
	<small><small><small class="text-muted">
		<i class="bi bi-person-fill"></i> 
		<%= dog? ? 'dog' : ( admin? ? 'admin' : 'usuario' ) %> : 
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/app_recursos/password_recovery?uid=#{current_usuario.id}", tooltip: 'Cambio de contraseña'} do %>
			<%= perfil_activo.email %>
		<% end %>
		<% if dog? %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/app_recursos/usuarios", tooltip: "Lista de usuarios"} do %>
				<i class="bi bi-people"></i>
				Usuarios
			<% end %>
		<% end %>
	</small></small></small>
</div>
<div style="margin-bottom: -1em;"><hr></div>