<div class="border-start border-secondary-subtle border-5 my-2" style="font-size: 0.7rem; line-height: 1.5;">
	<div class="border-end border-top border-bottom py-1 px-2">
		<p style="font-size: 0.8rem;line-height: 1.5;"><b><%= ttl %></b></p>
		<div style="font-size: 0.7rem;line-height: 1.5;"><%= yield %></div>
	</div>
</div>