<%= image_tag 'krn_nvbr.png' %>

<div class="mx-4 pt-1 border border-5 rounded-pill text-center">
	<h2>Ayuda de LABORSAFE</h2>
</div>

<div class="mx-4 my-4 row gx-3">
	<div class="col-4">
		<%= render partial: prtl_name('hlp_ayudas', 'prtls', 'indx') %>
	</div>
	<div class="col-8">
		<%= render partial: prtl_name('hlp_ayudas', 'home', @hlp) %>
	</div>
</div>