<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Información que se debe entregar obligatoriamente a la (las) persona(s) denunciante(s).</h5>
	<p>Le informo que tenemos la obligación de proporcionar atención sicológica temprana a las personas denunciantes. Pera ello cordinaremos directamente con la institución correspondiente, la evaluación de su pertinencia y su ejecución si la evaluación así lo establece.</p>
	<p>Le informo también que tenemos la obligación de tomar medidas de resguardo, las cuales tienen el objetivo de evitar la revictimización de los denunciantes y cualquier consecuencia negativa que se pudiera asociar a la presentación de esta denuncia.</p>

	<p>Es deber de las personas denunciantes y denunciadas, aplicar rigurosamente las medidas de resguardo establecidas en virtud de esta investigación.</p>
	<p>Si las medidas aplicadas no fueran suficientes, tenemos el deber de definir medidas complementarias que permitan garantizar su objetivo.</p>
	<p>Una vez informemos las medidas de resguardo adoptadas a la Dirección del Trabajo, ellos tienen la facultad de modificar y/o complementarlas con las que ellos estimen pertinentes dados los antecedentes.</p>
	<p>Finalmente, tenemos la obligación de informale por escrito todas las deciciones que se tomen en relación a esta denuncia y de registrar por escrito en el informe de investigación todos los hechos que ocurran durante la realización de la investigación.</p>
</div>