<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Información que se debe entregar obligatoriamente a la (las) persona(s) denunciante(s).</h5>
	<p>Tenemos la obligación de proporcionarle <b>Atención sicológica temprana</b> a las personas denunciantes. Pera ello cordinaremos directamente con la institución correspondiente la evaluación de su pertinencia y su realización si la evaluación así lo determina.</p>
	<p>Tenemos la obligación de tomar inmediatamente <b>Medidas de resguardo</b>, las cuales tienen como objetivo evitar la revictimización de las personas denunciantes y cualquier consecuencia negativa que se pueda asociar a la presentación de esta denuncia.</p>

	<p>Es deber de las personas denunciantes y denunciadas, <b>aplicar rigurosamente las medidas de resguardo establecidas</b> en virtud de esta investigación.</p>

	<p>Si las medidas aplicadas no fueran suficientes, tenemos el deber de definir <b>medidas complementarias</b> que permitan garantizar su objetivo.</p>

	<p>Una vez informadas las medidas de resguardo adoptadas a la Dirección del Trabajo, dicha institución tienen la <b>facultad de modificar y/o complementarlas</b> con las que ellos estimen pertinentes dados los antecedentes de la denuncia.</p>

	<p>Finalmente, tenemos la obligación de <b>informar por escrito</b> todas las deciciones que se tomen en relación a esta denuncia y de <b>registrar por escrito</b> en el informe de investigación todos los hechos que ocurran durante la realización de la investigación.</p>
</div>