<div class="px-3 text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Entrega final de información a la persona denunciante.</h5>
	<p>Se debe entregar a la persona denunciantes información acerca de las sigueintes tareas el procedimiento:</p>
	<ul>
		<li>Proporcionar Atención Sicológica Temprana.</li>
		<li>Definir e implementar de inmediato Medidas de resguardo, las que le serán notificadas por escrito.</li>
	</ul>

	<h5>Dependiendo del tipo de denuncia, registrar alguna de las siguientes fechas:</h5>
	<ol>
		<li>Fecha en la cual se notificó a la Dirección del Trabajo el inicio de la investigación local.</li>
		<li>Fecha del certificado en el cual la Dirección del Trabajo acusa recibo de la derivación que recibió.</li>
		<li>Fecha en la cual la Dirección del Trabajo notifica a la empresa la recepción de una denuncia.</li>
	</ol>
	<p>La primera fecha será utilizada (si se optó por investigar en la empresa) para verificar el cumplimiento del plazo de la etapa de Recepción de la denuncia.</p>
	<p>En los casos 2. y 3. la denuncia será investigada por la Dirección del Trabajo.</p>
	<p>En el caso 2. la fecha ingresada (certificado) reemplaza a la fecha de recepción de la denuncia para el cálculo del plazo de investigación. </p>
</div>