<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<p>En la recepción de una denuncia en forma presencial, en este momento se debe informar a la persona denunciante las acciones que la empresa tomará con un plazo máximo de 3 días hábiles</p>
	<ul>
		<li>Proporcionar Atención Sicológica Temprana.</li>
		<li>Definir e implementar de inmediato Medidas de resguardo, las que le serán notificadas por escrito.</li>
	</ul>
	<p><b>Registrar la acción que determina el cierre de la etapa de Recepción de la denuncia.</b></p>
	<p>Dependiendo del tipo de denuncia, registrar alguna de las siguientes fechas:</p>
	<ol>
		<li>Fecha en la cual se notificó a la Dirección del Trabajo el inicio de la investigación local.</li>
		<li>Fecha del certificado en el cual la Dirección del Trabajo acusa recibo de la derivación que recibió.</li>
		<li>Fecha en la cual la Dirección del Trabajo notifica a la empresa la recepción de una denuncia.</li>
	</ol>
	<p>La fecha que se ingrese será utilizada para verificar el cumplimiento del plazo de la etapa de Recepción de la denuncia. Cuando la denuncia haya sido presentada en la Dirección del Trabajo, se evaluará el cumplimiento de dicha institución.</p>
	<p>En los casos 2. y 3. la denuncia será investigada por la Dirección del Trabajo, El registro de la denuncia permitirá el control de las tareas que le corresponden a la empresa y para dar seguimiento a las tareas realizadas por la Dirección del Trabajo.</p>
	<p>En el caso 2. la fecha ingresada (certificado) reemplaza a la fecha de recepciónde la denuncia para el cálculo del plazo de investigación. </p>
</div>