<% unless controller_name == 'servicios' %>
  <div class="p-3 mt-3 border-top text-center bg_gray2" style="font-size: 1rem">
    <%= image_tag logo_path, alt: "Logo", class: 'img-fluid' %>
    <!--p><%#= 'contacto@addt.cl' %></br><i class="bi bi-telephone"></i> +56 2 3375 8020</p-->
  </div>
<% end %>