<% if notice or alert %>
	<% if notice %>
		<div  class="lyt_notice">
			<i class="bi bi-bell"></i> <%= notice %>
		</div>
	<% end %>

	<% if alert %>
		<div  class="lyt_error">
			<i class="bi bi-exclamation-diamond"></i> <%= alert %>
		</div>
	<% end %>
<% end %>