<% if notice or alert %>
<div class="shadow bg-white rounded">
	<% if notice %>
		<div  class="noticia p-2 bg-primary text-white">
			<i class="bi bi-bell"></i> <%= notice %>
		</div>
	<% end %>

	<% if alert %>
		<div  class="noticia p-2 bg-primary text-white">
			<i class="bi bi-exclamation-diamond"></i> <%= alert %>
		</div>
	<% end %>
</div>
<% end %>