<% if notice or alert %>
	<% if notice %>
		<!--div class="alert alert-success" role="alert" style="margin: 2px 0 2px 0;color: blue;"-->
		<div class="px-3 py-2 rounded-4 text-primary bg_azul_claro" role="alert" style="margin: 2px 0 2px 0;">
		  <i class="bi bi-bell"></i> <%= notice %>
		</div>
	<% end %>

	<% if alert %>
		<!--div class="alert alert-danger" role="alert" style="margin: 2px 0 2px 0;color: red;"-->
		<div class="px-3 py-2 rounded-4 text-danger bg_rojo_claro" role="alert" style="margin: 2px 0 2px 0;">
		  <i class="bi bi-bell"></i> <%= alert %>
		</div>
	<% end %>
<% end %>