<div class="col-lg-2">
	<%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto} %>
</div>
<div class="col-lg-8">
	<% if objeto.tipo == 'Multiple' %>
		<i class="bi bi-list"></i> 
	<% end %>
	<%= objeto.audiencia %>
</div>
<div class="col-lg-2" align='right'>
	<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small>
</div>