<h1>Editing respuesta</h1>

<%= render "form", respuesta: @respuesta %>

<br>

<div>
  <%= link_to "Show this respuesta", @respuesta %> |
  <%= link_to "Back to respuestas", respuestas_path %>
</div>
