<!-- 'home/box/_prdct_line.html.erb' -->

<% rndd ||= nil %>
<div class="col-lg-4 col-xs-6">
    <div class="p-1 border rounded-4 zoom-box" style="background-color: <%=clr%>;">
        <%= txt %>
    </div>
</div>