<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: 'aplicacion/tablas/shr/ttl_new', locals: {c: 'age_usuarios', title: 'Usuarios de la agenda', tooltip: 'Agrega usuario', link: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'age_usuarios'} %>
	</div>
	<div class="rght">
	</div>
</div>