<div class="f_50lft_col">
	<div class="lft">
    	<%= render partial: '0capitan/general/app_ttl', locals: {c: 'tar_detalle_cuantias', title: "Items de cuantía", link: '/tar_detalle_cuantias/new', tooltip: 'Agrega ítem de cuantía' } %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_detalle_cuantias'} %>
	</div>
	<div class="rght">
    	<%= render partial: '0capitan/general/app_ttl', locals: {c: 'tribunal_cortes', title: "Juzgados", link: '/tribunal_cortes/new', tooltip: 'Agrega tribunal' } %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tribunal_cortes'} %>
	</div>
</div>