<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_detalle_cuantias', ttl: "Items de cuantía", ownr: nil} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_detalle_cuantias'} %>
	</div>
	<div class="rght">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tribunal_cortes', ttl: "Juzgados", ownr: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tribunal_cortes'} %>
	</div>
</div>