<div class="f_50lft_col">
	<div class="lft">
	</div>
	<div class="rght">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tipo_denunciados', ttl: 'Tipos de denunciado', ownr: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tipo_denunciados'} %>
	</div>
</div>