<div class="row">
  <div class="col-lg-3 col-xs-12">
    <%= render partial: 'aplicacion/tablas/menu_tablas' %>
  </div>
  <div class="col-lg-9">
    <%= render partial: "aplicacion/tablas/partials/#{menu_tablas[@indice][1]}" %>
  </div>
</div>