<div class="row">
  <div class="col-lg-3 col-xs-12">
	<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tablas', title: 'Menú tablas', link_new: nil} %>

  	<div class="shadow p-3 mb-3 bg-white rounded">
    	<%= render partial: 'aplicacion/tablas/menu_tablas' %>
	</div>
  </div>
  <div class="col-lg-9">
    <%= render partial: "aplicacion/tablas/partials/#{menu_tablas[@indice][1]}" %>
  </div>
</div>