<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: 'aplicacion/tablas/shr/ttl_new', locals: {c: 'tar_tarifas', title: 'Tarifas causas', tooltip: 'Agrega tarifa ', link: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_tarifas'} %>
	</div>
	<div class="rght">
		<%= render partial: 'aplicacion/tablas/shr/ttl_new', locals: {c: 'tar_servicios', title: 'Tarifas asesorías', tooltip: 'Agrega tarifa ', link: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_servicios'} %>
	</div>
</div>