<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: '0p/app/ttl_tbl', locals: {source: 'tipo_causas', ownr: nil} %>
	</div>
	<div class="rght">
		<%= render partial: '0p/app/ttl_tbl', locals: {source: 'tipo_asesorias', ownr: nil} %>
		<%= render partial: '0p/app/ttl_tbl', locals: {source: 'tipo_cargos', ownr: nil} %>
	</div>
</div>