<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: '0p/app/ttl_tbl', locals: {source: 'tar_uf_sistemas', ownr: nil} %>
	</div>
	<div class="rght">
		<%= render partial: '0p/app/ttl_tbl', locals: {source: 'regiones', ownr: nil} %>
	</div>
</div>