<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: 'aplicacion/tablas/shr/ttl_new', locals: {c: 'tar_uf_sistemas', title: 'UF del día', tooltip: 'Agrega UF del día', link: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_uf_sistemas'} %>
	</div>
	<div class="rght">
		<%= render partial: 'aplicacion/tablas/shr/ttl_new', locals: {c: 'regiones', title: 'Regiones', tooltip: 'Agrega región', link: nil} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'regiones'} %>
	</div>
</div>