<div class="g_cllps">
	<h6>Crea archivo usual</h6>
	<% archivos_controlados_disponibles.each do |control| %>
		<% unless objeto.app_archivos.map {|arch| arch.app_archivo}.include?(control.nombre) %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/crea_archivo_controlado?cid=#{control.id}", tooltip: 'Selecciona archivo' } do %>
				<div style="padding-left: 3em;">
				<small><small>
				<%= render partial: 'repositorios/control_documentos/list/line_descripcion', locals: {objeto: control} %></br>
				</small></small>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
