<div class="g_cllps">
	<h6>Nuevo antecedente solicitado</h6>
	<%= form_for :nuevo_antecedente, url: "/hechos/#{objeto.id}/nuevo_antecedente" do |form| %>

		<%#= render partial: '0p/form_fields/label', locals: { form: form, label: 'Materia', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :solicitud } %>
		
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right"></i>
		</button>

	<% end  %>
</div>