<% if controller_name == 'servicios' %>
	Detalle Cuantía</br>
<% end %>

<small><small>
	<%= render partial: 'causas/partials/datos_cuantia/th_cuantias' %>

<!-- Detalles de cuantía -->
<div class="row text-muted">
	<% objeto.valores_cuantia.each do |vc| %>
		<%= render partial: 'causas/partials/datos_cuantia/line_cuantia', locals: {objeto: objeto, vc: vc, valores_cuantia: valores_cuantia} %>
	<% end %>
</div>

<% if objeto.cuantia_modificada? %>
	<i class="bi bi-cone-striped"></i> Esta cuantía ha sido modificada!
<% end %>
</small></small>