<div class="col-<%= controller_name == 'causas' ? '6' : '9' %>">
	<%= render partial: 'causas/partials/datos_cuantia/nombre_cuantia', locals: {objeto: objeto, vc: vc, valores_cuantia: valores_cuantia} %>
</div>
<div class="col-3" align='right'>
	<%= render partial: 'causas/partials/datos_cuantia/cuantia_honorarios', locals: {objeto: objeto, vc: vc, valores_cuantia: valores_cuantia} %>
</div>
<% if controller_name == 'causas' %>
	<div class="col-3" align='right'>
		<%= render partial: 'causas/partials/datos_cuantia/cuantia_real', locals: {objeto: objeto, vc: vc, valores_cuantia: valores_cuantia} %>
	</div>
<% end %>