<div class="doscpx_w">
	<div class="lft">
		<%= render partial: 'causas/partials/datos_cuantia/datos', locals: {objeto: objeto, variables: variables} %>
	</div>
	<div class="rght">
		<%= render partial: 'causas/partials/datos_cuantia/cuantia', locals: {objeto: objeto, variables: variables, valores_cuantia: valores_cuantia} %>
	</div>
</div>