<div class="row">
	<div class="col-lg-4 col-xs-12">
		<%= render partial: 'causas/partials/datos_cuantia/datos', locals: {objeto: objeto, variables: variables} %>
	</div>
	<div class="col-lg-8">
		<%= render partial: 'causas/partials/datos_cuantia/cuantia', locals: {objeto: objeto, variables: variables, valores_cuantia: valores_cuantia} %>
	</div>
</div>