<%# app/views/user_mailer/verification_email.html.erb %>
<h1>Verifique su correo electrónico</h1>
<p>¡Bienvenido a LABORSAFE!</p>
<p>Su empresa ha sido registrada en nuestra plataforma y usted ha sido registrado como el primer administrador de la cuenta.</p>
<p>Para activar su cuenta, por favor verifique su dirección de correo presionando el siguiente enlace:</p>
<%= link_to 'Verificar su correo', @verification_url %>

<p>Una vez verificada la dirección de correo electrónico, recibirá un correo con las credenciales necesarias para ingresar a su cuenta.</p>