<h6 class="text-info" align="center"><i class="bi bi-<%=controller_icon['app_archivos']%>"></i></h6>
<small>
<% pendientes.each do |a_pendiente| %>
	<!-- Prueba de cambio de base a Contro DOcumento -->
	<%= link_to "/control_documentos/#{a_pendiente.id}/crea_documento_controlado?oclss=#{objeto.class.name}&oid=#{objeto.id}", title: 'Crea documento vacío', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
		<i class="bi bi-arrow-left"></i>
		<%= a_pendiente.nombre %>
	<% end %> 
	</br>
<% end %>

<%= link_to "/app_archivos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
	<i class="bi bi-plus-circle"></i> 
	archivo
<% end %>
</small>