	<h2>Atenci贸n psicol贸gica temprana.</h2>

	<p>Solicitamos coordinar a la brevedad atenci贸n psicol贸gica temprana para la(s) siguiente(s) personas trabajadoras:</p>

	<table class="pdf-minimal">
	<thead>
	</thead>
	<tbody>
		<%= render partial: 'rprts/krn_reportes/dnnc/dnncnts', locals: {objeto: @objeto} %>
	</tbody>
	</table>