<h2>Información obligatoria para la persona denunciante, Ley 21.643 (ley Karin)</h2>

<p>Denuncia presentada el <%= dma_hm(@objeto.fecha_hora) %></p>

<p>El reglamento que rige el <i>procedimiento de investigación y sanción</i> establece la obligatoriedad de entregar la siguiente información a las personas denunciantes:</p>

<p><b><i class="bi bi-chat-left-dots"></i> Entrega de información obligatoria a la persona denunciante.</b></p>

<ol>
	<li class="mb-1">Le informo que tiene derecho a pedir que su denuncia sea derivada a la Dirección del Trabajo a momento de presentar su denuncia. El plazo para ejercer este derecho es de tres días hábiles contados desde la presentación de la denuncia.</li>
	<li class="mb-1">Le informo que, en el trascurso de tres días hábiles desde la recepción de la denuncia, la empresa tiene el derecho de derivar la denuncia a la Dirección del Trabajo si lo estima conveniente. Decisión que, de ocurrir, se le informará por escrito.</li>
	<li class="mb-1">Le informo que si los hechos denunciados son constitutivos de delito, usted podrá denunciar ante el Ministerio Público, Carabineros de Chile o la Policía de Investigaciones, acción para la cual, nuestra empresa le brindará todas las facilidades necesarias.</li>
	<li class="mb-1">Le informo que nuestra empresa tiene la obligación de prestar atención sicológica temprana a todas las personas denunciantes, la cual será coordinada por nuestra empresa para que sea recibida por usted a la brevedad.</li>
	<li class="mb-1">Por último, le informo que nuestra empresa tiene la obligación de tomar Medidas de Resguardo para evitar que la investigación de esta denuncia tenga efectos negativos en las personas particpantes. Estas medidas serán definidas a la brevedad y le serán notificadas por escrito. La normativa vigente establece que es obligatorio para todos los participantes acatar estas medidas, así como tambien, colaborar con esta investigación.</li>
</ol>