<h2>Notifivcación de derivación de la denucnia</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= dstntr[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que con fecha <%=dma(@objeto.fecha)%>, la denuncia en la cual usted participa en calidad de <%=dstntr[:rol]%>, ha sido derivada según el siguiente concepto: <%=@objeto.motivo%></p>

<p>Estaremos encantados de resolver cualquier duda respeto a la presente notificación.</p>


<h4>Recepción de denuncias ley 21.643</h4>