<!--div style="margin-left: 1cm; margin-right: 1cm;"-->
	<h2>Verificaci贸n de datos de los participantes y solicitud de documentaci贸n.</h2>

	<p>Solicitamos verificar y completar la informaci贸n de los trabajadores presentados a continuaci贸n:</p>

	<table class="pdf-minimal">
	<thead>
	</thead>
	<tbody>
		<%= render partial: 'rprts/krn_reportes/dnnc/prtcpnts', locals: {objeto: @objeto} %>
	</tbody>
	</table>

<!--/div-->