<h2>Notifivcaci贸n de asignaci贸n de investigador a la denuncia.</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= dstntr[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que el(la) Sr(a) <%=dstntr[:invstgdr][:nombre]%> ha sido asignado como investigador de la denuncia en la cual participa en calidad de <%=dstntr[:rol]%>.</p>

<p>Estaremos encantados de resolver cualquier duda respeto a la presente notificaci贸n.</p>

<p>Recepci贸n de Denuncias</p>