<%= render '0capitan/layouts/box_title' do %>

	<div class=" row text-info">
		<div class="col-2" align='center'>
			<% unless @annio_activo.cal_annio == @primer_annio %>
				<%= link_to "/tablas?tb=3&a=#{@annio_activo.cal_annio - 1}" do %>
					<i class="bi bi-chevron-double-left"></i>
				<% end %>
			<% end %>
		</div>
		<div class="col-8" align='center'>
			<i class="bi bi-calendar"></i>
			Año <%= @annio_activo.cal_annio %>
		</div>
		<div class="col-2" align='center'>
			<% unless @annio_activo.cal_annio == @ultimo_annio %>
				<%= link_to "/tablas?tb=3&a=#{@annio_activo.cal_annio + 1}" do %>
					<i class="bi bi-chevron-double-right"></i>
				<% end %>
			<% end %>
		</div>
	</div>

<% end %>
