<%# app/views/user_mailer/verification_email.html.erb %>
<h1>Verifica tu correo electrónico</h1>
<p>¡Bienvenido a LABORSAFE!</p>
<p>Haz clic en el siguiente enlace para verificar tu dirección de correo como administrador de la cuenta:</p>
<%= link_to 'Verificar mi correo', @verification_url %>