<%# app/views/user_mailer/verification_email.html.erb %>
<h1>Verifica tu correo electrónico</h1>
<p>¡Bienvenido a LABORSAFE!</p>
<p>Su empresa ha sido registrada en nuestra plataforma y usted ha sido registrado como el primer administador de la cuenta.</p>
<p>Para activar su cuenta por favor verifique su dirección de correo presionando siguiente link:</p>
<%= link_to 'Verificar mi correo', @verification_url %>

<p>Una vez verificada la dirección de correo electrónico, recibirá un correo electrónico con las credenciales necesarias para ingresar a su cuenta.</p>