<h1>¡Bienvenido a LABORSAFE!</h1>
<p>El proceso de registro de su empresa ha terminado exitosamente.</p>
<p>Ingrese a la plataforma utilizando las siguientes credenciales:</p>
<p>Email 	  : <%= @email %></p>
<p>Contraseña : <%= @password %></p>

<b>¡Muchas gracias!</b>