<h1>¡Bienvenido a LaborSafe!</h1>
<p>El proceso de registro de su empresa ha terminado exitósamente.</p>
<p>Ingrese a la plataforma utilizando las siguientes credenciales:</p>
Email 	  : <%= @attrbts['email_administrador'] %></br>
Contraseña: RUT de la empresa sin puntos ni guión.

¡Muchas gracias!