<div align="center">
	<%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto} %>
</div>
<small>
	<% if objeto.ultima_cuota %>
		( última )
	<% end %>
	<%= objeto.tar_cuota %></small>
<div align="center">
	<small><small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small></small>
</div>