<div id="<%= dom_id com_documento %>">
  <p>
    <strong>Titulo:</strong>
    <%= com_documento.titulo %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= com_documento.doc_type %>
  </p>

  <p>
    <strong>Issued on:</strong>
    <%= com_documento.issued_on %>
  </p>

</div>
