<h4><i class="bi bi-diagram-3"></i> <%= perfil_activo.blank? ? 'Usuario no registrado' : perfil_activo.email %></h4>
<div class='row'>
	<div class='col-md-2'>
		<% if seguridad_desde('nomina') %>
			<%= render partial: 'estados/st_bandejas/partials/bandeja' %>
		<% else %>
			Permisos de usuario insuficiente
		<% end %>
	</div>
	<div class='col-md-10'>
		<%= yield  if seguridad_desde('nomina')%>
	</div>
</div>
