<% unless controller_name == 'servicios' %>
  <div class="p-3 mt-3 text-center bg_gray" style="font-size: 16px">
    <%= image_tag (krn_routes? or not_authenticate_routes?) ? 'krn_nvbr.png' : 'addt_foot.png' %></br>
    <%= 'contacto@addt.cl' unless krn_routes? %>
  </div>
<% end %>