<% unless controller_name == 'servicios' %>
  <div class="p-3 mt-3 text-center bg_blue" style="font-size: 16px; font-weight: bold; color: white;">
    <%= image_tag 'logo_bajo.png', style: 'height:50px;width:auto;' %></br>
    contacto@addt.cl
  </div>
<% end %>