<div class="p-0 app_fnt" style="height: 100%;min-height: 80em;">

	<div style="margin-left: 10%;margin-right: 10%;">
		<%#= render partial: 'layouts/partials/notice_alert' %>
		<%= yield %>
	</div>

</div>