<% if lyt_navbar %>
	<div style="padding-left: <%=lyt_navbar_padd%>%; padding-right: <%=lyt_navbar_padd%>%; margin-bottom: 4px;">
		<div class="container-fluid">
			<div class="navbar-box">
				<%= render partial: '0p/navbar/navbar'  %>
			</div>
		</div>
	</div>
<% end %>