<div class="container-fluid" style='margin-top: 0em; margin-bottom: 0em'>
<div class="row  justify-content-center" style='margin-top: 0em; margin-bottom: 0em'>
	<div class="col-10">
		<%= render partial: '0p/navbar/navbar', locals: {color: 'light'} %>
	</div>
</div>
</div>