<% unless controller_name == 'servicios' %>
	<div class="hm_bnnr">
		<div class="hm_bnnr_icn">
			<%= render layout: '0p/layout/tooltip_link', locals: {link: root_path, tooltip: nil} do %>
				<%= image_tag 'logo_bajo.png', style: 'height:50px;width:auto;' %>
			<% end %>
		</div>
		<div class="hm_bnnr_mddl">
			<div class="hm_bnnr_ttl">
				Abogados derecho del trabajo</br>
			</div>
			<div class="hm_bnnr_txt">
				ASESORÍA
				<i class="bi bi-dot icon-blue"></i>
				SERVICIOS
				<i class="bi bi-dot icon-blue"></i>
				CAPACITACIÓN
			</div>
		</div>
		<div class="hm_bnnr_mn">
			<%= render partial: 'layouts/home/partials/bnnr_mn' %>
		</div>
	</div>
<% end %>