<div class='row'>
	<div class='col-md-4'>
		<% if seguridad_desde(@lista.acceso) and (@lista.activa or seguridad_desde(@lista.acceso)) %>
			<%= render partial: '0p/sidelist/sidelist', locals: {sb_list: @sb_elementos, name_list: @sb_name, sb_link: @sb_link } %>
		<% else %>
			No cuenta con permisos para desplegar este menú o el menú fue desactivado
		<% end %>
	</div>
	<div class='col-md-8'>
		<%= yield if (seguridad_desde(@lista.acceso) and (@lista.activa or seguridad_desde(@lista.acceso))) %>
	</div>
</div>
