<!-- TITULO -->
<% if ['Bandejas', 'Menu', 'Mensajes'].include?(get_layout) %>
<h4>
<% case get_layout %>
<% when 'Bandejas' %>
	<i class="bi bi-diagram-3"></i>
	<% if partial?('capitan', 'layout', 'bandejas_title') %>
		<%= render partial: get_partial('capitan', 'layout', 'bandejas_title') %>
	<% elsif partial?('st_bandejas', 'partials', 'lyt_title') %>
		<%= render partial: get_partial('st_bandejas', 'partials', 'lyt_title') %>
	<% end %>
<% when 'Menu' %>
<% when 'Mensajes' %>
	<i class="bi bi-envelope"></i>
	<% if partial?('capitan', 'layout', 'mensajes_title') %>
		<%= render partial: get_partial('capitan', 'layout', 'mensajes_title') %>
	<% elsif partial?('app_mensajes', 'partials', 'lyt_title') %>
		<%= render partial: get_partial('app_mensajes', 'partials', 'lyt_title') %>
	<% end %>
<% end %>
</h4>
<% end %>