<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head_div', locals: {title: 'Laborsafe'} %>

  <body>

    <%# CONTEXTOS %>
    <%# public, pltfrm, invstgcns, srvcs %>

    <%= render partial: 'layouts/invstgcns/navbar', locals: {logo_path: "logo/logo_60.png"} %>

    <%= render partial: 'layouts/main' %>

    <%= render partial: 'layouts/partials/footer', locals: {logo_path: "logo/logo_60.png"} unless controller_name == 'servicios' %>

  </body>

</html>
