<% if ownr.krn_declaraciones.any? %>
	<% ownr.krn_declaraciones.fecha_ordr.each do |dclrcn| %>
		<div class="row gx-1">
			<div class="col-10"><%= dma_hm(dclrcn.fecha) %> : <%= dclrcn.ownr.nombre %></div>
			<div class="col-2">

				<% if dclrcn.pdf_registros.empty? %>
					Sin notificar
				<% else %>
					<i class="bi bi-check2-all"></i> Notificada
				<% end %>

			</div>
		</div>
	<% end %>
<% else %>
	<i class="bi bi-cone-striped text-danger"></i> Sin declaraciones agendadas
<% end %>