<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<p>Entendemos como documentación obligatoria, aquella que el reglamento establece como tal y toda aquella necesaria para cumplir con el registro de hechos que deben constar en la <i>carpeta de investigación</i>.</p>
	<p>Separamos la documentación obligatoria en dos grupos:
		<ol>
			<li>Documentación de la denuncia.</li>
			<li>Documentación de los participantes.</li>
		</ol>
	</p>
	<h6><b>Documentación de la denuncia</b>:</h6>
	<p>Los archivos de la denuncia son aquellos que no requieren ser relacionados con un participante en particular y por lo tanto, se controlan en el <i>proceso de la denuncia</i>.</p>
	<ol>
		<li><b>Denuncia</b>: Documento presentado por la persona denunciante que contiene la denuncia.
			<ul>
				<li>Solicitado cuando la denuncia se presenta por escrito.</li>
				<li>No registra fecha. En la denuncia se registra la fecha de recepción de la denuncia</li>
			</ul>
		</li>
		<li><b>Acta de la denuncia firmada y timbrada</b>: Documento confeccionado por la persona que recibe la denuncia, que contiene la denuncia.
			<ul>
				<li>Solicitado cuando la denuncia se presenta en forma verbal.</li>
				<li>No registra fecha. En la denuncia se registra la fecha y hora de recepción de la denuncia</li>
				<li>La persona denunciante debe firmar cada hoja del acta y debe estar timbrada por la empresa.</li>
			</ul>
		</li>
		<li><b>Otros anexos de la denuncia (opcional)</b>: Lista de archivos que contiene los documentos que la persona presentó como antecedentes que respaldan su denuncia.
			<ul>
				<li>En cada documento se registra la fecha de emisión del documento.</li>
			</ul>
		</li>
		<li><b>Documento que respalda la representación del denunciante</b>: Documento que otorga la representación de la persona denunciante a un tercero o a su sindicato.
			<ul>
				<li>Se solicita solo si la denuncia es presentada por un representante.</li>
			</ul>
		</li>
		<li><b>Notificación de denuncia recibida en la Dirección del Trabajo</b>: Documento que notifica a la empresa que la Dirección del Trabajo recibió directamente una denuncia e informa de las medidas de resguardo definidas para su inmediata aplicación.
			<ul>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Certificado de recepción de la derivación emitido por la Dirección del Trabajo</b>: Documento emitido por la Dirección del Trabajo en el que se acusa recibo de la recepción de la denuncia que se les derivó.
			<ul>
				<li>Se solicita solo si la denuncia fue derivada a la Dirección del Trabajo.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Medidas de resguardo</b>: Lista de archivos que contiene todas las medidas de resguardo (y sus correcciones) adoptadas para el resguardo de las personas denunciantes.
			<ul>
				<li>Puede haber más de una y pueden ser emitidas por distintas empresas y la Dirección del Trabajo.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Resolución a la objeción de imparcialidad</b>: Documento que contiene la resolución de la empresa respecto a la objeción de imparcialidad contra el investigador asignado, presentada por alguno de los participantes.
			<ul>
				<li>Se solicita solo si se ha presentado la objeción de imparcialidad.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Antecedentes de la objeción de imparcialidad</b>: Lista de documentos que contienen los antecedentes que fundamentan la objeción de imparcialidad. Es obligatorio presentar antecedentes.
			<ul>
				<li>Se solicita solo si se ha presentado la objeción de imparcialidad.</li>
				<li>Se registra la fecha de cada documento.</li>
			</ul>
		</li>
		<li><b>Evaluación de la denuncia</b>: Documento que contiene la evaluación que el investigador asignado realizó de la denuncia.
			<ul>
				<li>Todas las denuncias deben ser evaluadas.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Denuncia corregida</b>: Documento que contiene la denuncia en la que la persona denunciante resolvió las observaciones presentadas por el investigador asignado.
			<ul>
				<li>Se solicita solo si la evaluación de la denuncia realizada por el investigador asignado no fue satisfactoria.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Informe de la investigación</b>: Documento redactado por el investigador que contiene la evaluación de las pruebas y declaraciones, sus concluciones, las medidas correctivas y las sanciones adoptadas.
			<ul>
				<li>Puede ser emitido por la empresa o por la Dirección del Trabajo.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Medidas correctivas (opcional)</b>: Documento que contiene las medidas correctivas que se concluyen de la investigación.
			<ul>
				<li>Se usa solo si se trata de un documento distinto al informe de la investigación.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Sanciones de la investigación (opcional)</b>: Documento que contiene las sanciones que se concluyen de la investigación.
			<ul>
				<li>Se usa solo si se trata de un documento distinto al informe de la investigación.</li>
				<li>Se registra la fecha del documento.</li>
			</ul>
		</li>
		<li><b>Pronunciamiento de la Dirección del Trabajo.</b></li>
		<li><b>Evidencias de la implementación de las medidas y sanciones</b>: Lista de documentos que contiene las evidencias de la aplicación de las medidas correctivas y las sanciones que determinó la investigación.
			<ul>
				<li>Se registra la fecha de cada documento.</li>
			</ul>
		</li>
	</ol>

	<h6><b>Documentación de los participantes</b>:</h6>
	<ol>
		<li><b>Documentación atención sicológica temprana</b> (de la(s) persona(s) denunciante(s)) </li>
		<li><b>Declaración del participante</b>.</li>
	</ol>
</div>