<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Formulario base</h6>
	<ul>
		<li><b>Fecha y hora de la denuncia:</b> Se refiere a la fecha y hora en la cual se recibió la denuncia. Solo en caso de tratarse de una denuncia verbal es obligatorio registrar la hora. Recomendamos registrar siempre.</li>
		<li><b>Identificador de la denuncia:</b> Tiene el propósito de simplificar la identificación de la denuncia. Cada empresa puede definir su propio identificador, se recomienda usar un criterio definido con anterioridad.</li>
		<li><b>Motivo de la denucia:</b> Se trata de un campo de selección. Al presionar sobre el campo se despliegan las opciones: <i>Acoso laboral</i>, <i>Acoso sexual</i> y <i>Violencia en el trabajo ejercida por terceros</i></li>
		<li><b>Receptor de la denuncia:</b> (campo de selección) Se trata de la entidad que recibe la denuncia: <i>Empresa (la propia empresa)</i>, <i>Dirección del Trabajo</i> o <i>Empresa externa</i> (cuando la empresa tiene el rol de empresa principal o usuaria).</li>
		<li><b>Canal de denuncia:</b> (campo de selección) Se trata de los distintos canales con los que cuenta la empresa para recibir denuncias: <i>Presencial</i>, <i>Correo electrónico</i> y <i>Plataforma</i></li>
		<li><b>Quien denuncia:</b> (campo de selección) Este campo nos permite diferenciar denuncias que han sido presentadas por un representante de la persona denunciante, sus opciones son: <i>Denunciante</i> y <i>Representante</i></li>
	</ul>
	<h6>Campos condicionales</h6>
	<ul>
		<li><b>Empresa que recibió la denuncia:</b> Se despliega sólo si en el campo <i>Receptor de la denuncia</i> se seleccionó <i>Empresa externa</i>. En él se debe seleccionar la empresa que recibió la denuncia. Esto requiere que la empresa externa haya sido previamente registrada.</li>
		<li><b>Formato de la denuncia:</b> Se despliega cuando en el campo <i>Canal de la denuncia</i> se seleccionó <i>Presencial</i>. Las opciones desplegadas en este campo son: <i>Escrita</i> y <i>Verbal</i>.</li>
		<li><b>Representante del denunciante:</b> Se despliega cuando en el campo <i>Quien denuncia</i> se seleccionó <i>Representante</i>. En este campo se debe registrar la identificación de la persona que representa a la o las personas denunciantes.</li>
	</ul>
</div>