<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Gestión de las derivaciones</h6>
	<p>Para gestionar una derivación sólo se requiere registrar la fecha en la cual se realizó la derivación.</p>
	<p>La plataforma ofrece derivaciones para cada caso, evaluando el contexto de la denuncia.</p>
</div>