<div class="text-start px-2" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>3 días hábiles.</b></h6>

	<p>La etapa de <i>Recepción de la denuncia</i> comienza en el momento que se recibe la denuncia y considera todas las obligaciones que se deben cumplir en el plazo de 3 días hábiles.</p>

	<p>En esta etapa se deberá:</p>

	<p><b>Registrar la denuncia</b>: se debe registrar toda la información contenida en la denuncia.</p>
	<ol>
		<li>Crear la denuncia en el sistema.</li>
		<li>Ingresar los datos de las personas denunciantes, denunciadas y testigos (si los detalla).</li>
		<li>NOTA 1: Está permitido ingresar información parcial de las personas denunciadas y testigos, la empresa deberá posteriormente completarla adecuadamente.</li>
		<li>NOTA 2: Si la denuncia es presentada en forma presencial y verbal. Se debe registrar debe confeccionar un acta que contenga toda la información entregada por la persona denunciante, la que deberá leer y firmar en todas sus páginas.</li>
	</ol>
	<p><b>Resolver posibles derivaciones</b>:</p>
	<ol>
		<li>Si por su naturaleza la denuncia debe ser derivada obligatoriamente a la Dirección del Trabajo, informar al denunciante y explicar el mótivo de la derivación.</li>
		<li>Informar a la persona denunciante su derecho a solicitar la derivación de la denuncia a la Dirección del Trabajo.</li>
		<li>Informar a la persona denunciante el derecho de la empresa de derivar la denuncia a la Dirección del Trabajo (dentro de los tres días hábiles siguientes a su recepción). Situación que de ocurrir se le informará por correo electrónico.</li>
		<li>NOTA: Si se trata de una empresa principal o usuaria y la persona denunciante pertenece a una empresa externa: si todos los participantes de la denuncia pertenecen a la misma empresa, la persona denunciante debe elegir si la denuncia se derivará a su empleador o a la Direción del Trabajo. Si los participantes pertenecen a distintas empresas, la responsabilidad de investigar es de la empresa y el protocolo es identico al que se emplea para los propios empleados.</li>
	</ol>
	<p><b>Proporcionar Atención Sicológica Temprana a la persona denunciante</b>:</p>
	<p><b>Medidas de resguardo</b>: informar, definir y aplicar las medidas de resguardo.</p>
	<ol>
		<li>Informar a la persona denunciante que la empresa tiene el deber de tomar Medidas de resguardo en forma inmediata, explicar su finalidad y que se les informará a todos los particpantes por escrito.</li>
		<li>Informar a la persona denunciante que es deber de todos los participantes acatar las Medidas de resguardo.</li>
		<li>Definir las Medidas de resguardo, aplicarlas e informarlas a los participantes. </li>
	</ol>
	<p><b>Realizar la derivación de la denuncia (si corresponde)</b>: informara los participantes por escrito y registrar las fechas correspondientes.</p>
	<p><b>Informar a la Dirección del Trabajo el inicio de la Investigación (si corresponde)</b>: informara los participantes por escrito y registrar la fecha.</p>

	<p><b>NOTA:</b> Si la denuncia fur presentada en la Dirección del Trabajo, se debe ingresar la denuncia y subir los archivos de respaldo. Además se deben aplicar e informar las Medidas de resguardo establecidas por la Dirección del Trabajo.</p>

	<p><b>Archivos requeridos en la recepción de la denuncia</b></p>
	<ol>
		<li><b>Denuncia</b> o <b>Acta de la denuncia</b> según corresponda.</li>
		<li><b>Antecedentes de la denuncia ( lista ) (opcional)</b> se refiere a documentación que se adjunta a la demanda por la persona denunciante.</li>
		<li><b>Medidas de resguardo ( lista )</b>.</li>
		<li><b>DIAT/DIEP para intervención psicológica temprana</b>.</li>
	</ol>
</div>