<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>15 días corridos.</b></h6>

	<p>Si la investigación la realizó la empresa, el plazo se calcula dedede la fecha de recepción del pronunciamiento de la Dirección del Trabajo o de la fecha de vencimiento del plazo del pronunciamiento.</p>
	<p>Si la investigación se realizó en la Dirección del Trabajo, el plazo se cuenta a partir de la fecha de recepción del informe de investigación emitido por la Dirección del Trabajo.</p>

	<p>En esta etapa se realizan las siguientes tareas</p>
	<ol>
		<li>Se suben la evidencia de la aplicación de todas las medidas correctivas y sanciones de la investigación.</li>
		<li>Se marca la investigación como <b>finalizada</b>.</li>
	</ol>
</div>