<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>30 días hábiles.</b></h6>

	<p>La etapa de <i>Invesatigación</i> comienza en la mayoría de los casos el día que se recibe la denuncia, solo hay una excepción: si la denuncia es derivada a la Dirección del Trabajo, el plazo se contabiliza a partir de la fecha que tiene el certificado de recepción emitido por la Dirección del Trabajo.</p>

	<p>Una vez completadas todas las tereas de la etapa, se da por terminada la etapa al cumplirse alguna de las siguientes acciones:</p>

	<ul>
		<li>En el caso de una <i>investigación local</i>, cuando se ingresa la fecha en la cual se informó a la Dirección del Trabajo, el inicio de la investigación.</li>
		<li>Si se ha optado, por cualquier motivo, <i>derivar la denuncia a la Dirección del Trabajo</i>, cuando se registra la fecha del certificado de recepción emitido por la Dirección del Trabajo acusando recibo de la derivación. En este caso, a partir de esta fecha se cuentan los 30 días hábiles de plazo para la investigación.</li>
		<li>Si la denuncia se presentó directamente a la Dirección del Trabajo, la plataforma considera terminada la etapa en cuanto la información de los participantes ingresada se marca como revisada.</li>
		<li>Esta etapa considera el registro de todas las <i>derivaciones</i> que puedan haber ocurrido antes de resolver la entidad encargada de la investigación.</li>
	</ul>
</div>