<div class="text-start px-2" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>3 días hábiles.</b></h6>

	<p>La etapa de <i>Recepción de la denuncia</i> comienza en el momento que se recibe la denuncia y considera todas las obligaciones que se deben cumplir en el plazo de 3 días hábiles.</p>

	<p><small>Esta es la primera etapa  del <i>Procedimiento de Investigación y Sanción</i>. La plataforma le proporcionará, a medida que avance en el ingreso de la información:
		<ul>
			<li>La explicación detallada de lo que deberá realizar.</li>
			<li>Las opciones que puede tomar en virtud de la información que contiene la denuncia.</li>
			<li>Los textos de la información que obligatoriamente se le debe entregar a la persona denunciante al momento de recibir la denuncia.</li>
			<li>La posibilidad de deshacer la última acción que realizó en el procedimiento o instrucciones para realizarlo.</li>
			<li>Un resumen del cumplimiento de los plazos de las etapas del procedimiento ya terminadas.</li>
			<li>El detalle de la documentación obligatoria subida o pendiente de subir a la plataforma,
		</ul>
	</small></p>

	<p>En esta etapa se deberá:</p>

	<p><b>Ingresar la denuncia</b>:</p>
	<ol>
		<li>Ingresar la denuncia en la plataforma.</li>
		<li>Ingresar los datos de las personas denunciantes, denunciadas y testigos (si los detalla la denuncia).</li>
		<small>
		<li><b>NOTA 1</b>: Está permitido que la persona denunciante presente información parcial de las personas denunciadas y testigos, la empresa deberá posteriormente completarla adecuadamente.</li>
		<li><b>NOTA 2</b>: Si la denuncia es presentada en forma presencial y verbal. Se debe confeccionar un acta que contenga toda la información entregada por la persona denunciante. la persona denunciante deberá leer y firmar el acta en todas sus páginas y ser timbrada por la empresa.</li>
		</small>
	</ol>
	<p><b>Recepción presencial</b>:</p>

	<p>Lo primero que hará la plataforma es desplegar la <b>información que es obligatorio entregar a la persona denunciante</b> al momento de presentar la denuncia presencialmente.</p>

	<p>A continuación, dadas las <b>opciones manifestadas por la persona denunciante</b> se definirán las posibles derivaciones de la denuncia.</p>

	<p><b>Proporcionar Atención Psicológica Temprana a la persona denunciante</b>:</p>

	<p>Esta es una obligación de la empresa, la que debe ser coordinada inmediatamente una vez recibida la denuncia. Esta coordinación la realiza el encargado asignado por la empresa para este propósito y a la plataforma sólo se suben los archivos que respaldan su cumplimiento.</p>

	<p><b>Esta es la última tarea de la etapa que requiere la presencia de la persona denunciante. Con esto se da por concluida la recepción presencial.</b></p>

	<p><b>Medidas de resguardo.</b></p>

	<p>La empresa debe, también en forma inmediata, <b>definir y aplicar las Medidas de Resguardo</b> que se aplicarán a los participantes.</p>

	<p><b>Realizar la derivación de la denuncia (si la denuncia será derivada)</b>: informara los participantes por escrito y registrar las fechas correspondientes en la plataforma.</p>

	<p><b>Informar a la Dirección del Trabajo el inicio de la Investigación (si la investigación será realizada por la empresa)</b>, informar a los participantes por escrito y registrar la fecha en la plataforma.</p>

	<p><b>NOTA:</b> Si la denuncia fue presentada en la Dirección del Trabajo, se debe ingresar la denuncia y subir los archivos de respaldo. Además se deben aplicar e informar las Medidas de resguardo establecidas por la Dirección del Trabajo.</p>

	<p><b>Subir la documentación obligatoria solicitada por la plataforma.</b></p>
	
</div>