<div class="text-start px-2" style="font-size: 14px; line-height: 1.5;">
	<h5>Investigación realizada en la empresa</h5>
	<p>Se registra la fecha en la cual se envió el informe de investigación con sus medidas correctivas y sanciones respectivas a la Dirección del Trabajo.</p>

	<h5>Investigación realizada en Dirección del Trabajo</h5>
	<p>Se registra la fecha en la cual se recibió el informe de investigación con sus medidas correctivas y sanciones respectivas desde la Dirección del Trabajo.</p>
</div>