<div class="text-start px-2" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>3 días hábiles.</b></h6>

	<p>La etapa de <i>Recepción de la denuncia</i> comienza en el momento que se recibe la denuncia y considera todas las obligaciones que se deben cumplir en el plazo de 3 días hábiles.</p>

	<p><small>La plataforma le proporcionará, a medida que avance en el ingreso de la información:
		<ul>
			<li>La explicación detallada de lo que deberá realizar.</li>
			<li>Las opciones que puede tomar en virtud de la información que contiene la denuncia.</li>
			<li>Si se trata de una tarea que puede ser realizada en presencia de la persona denunciante, le proporcionará los textos de la información que obligatoriamente se le debe entregar al momento de recibir y registrar una denuncia.</li>
			<li>La posibilidad de deshacer diectamente el último paso que hizo en el procedimiento o instrucciones para realizarlo.</li>
			<li>Un reporte del cumplimiento de los plazos de las etapas del procedimiento ya terminadas.</li>
			<li>El detalle de la documentación obligatoria subida o pendiente de subir a la plataforma,
		</ul>
	</small></p>

	<p>En esta etapa se deberá:</p>

	<p><b>Ingresar la denuncia</b>: se debe registrar toda la información contenida en la denuncia.</p>
	<ol>
		<li>Ingresar la denuncia en la plataforma.</li>
		<li>Ingresar los datos de las personas denunciantes, denunciadas y testigos (si los detalla la denuncia).</li>
		<small>
		<li><b>NOTA 1</b>: Está permitido que la persona denunciante presente información parcial de las personas denunciadas y testigos, la empresa deberá posteriormente completarla adecuadamente.</li>
		<li><b>NOTA 2</b>: Si la denuncia es presentada en forma presencial y verbal. Se debe confeccionar un acta que contenga toda la información entregada por la persona denunciante. la persona denunciante deberá leer y firmar el acta en todas sus páginas y ser timbrada por la empresa.</li>
		</small>
	</ol>
	<p><b>Resolver posibles derivaciones de la denuncia.</b>:</p>

	<p>Considerando las condiciones particulares de la denuncia, la plataforma le entregará las opciones de derivación disponibles.</p>
	<small>
	<p><b>NOTA:</b> Recuerde que, la empresas con el rol de empresa principal o usuaria, tiene la responsabilidad de recibis denuncias de personas participantes cuyo empleador sea una empresa externa relacionada. Sin importar si tiene o no la responsabilidad de investigar dicha denuncia.</p>
	</small>

	<p><b>Proporcionar Atención Sicológica Temprana a la persona denunciante</b>:</p>
	<p><b>Definir, informar y aplicar las medidas de resguardo.</b></p>
	<p><b>Realizar la derivación de la denuncia (si corresponde)</b>: informara los participantes por escrito y registrar las fechas correspondientes.</p>
	<p><b>Informar a la Dirección del Trabajo el inicio de la Investigación (si corresponde)</b> e informar a los participantes por escrito y registrar la fecha.</p>

	<p><b>NOTA:</b> Si la denuncia fue presentada en la Dirección del Trabajo, se debe ingresar la denuncia y subir los archivos de respaldo. Además se deben aplicar e informar las Medidas de resguardo establecidas por la Dirección del Trabajo.</p>

	<p><b>Subir la documentación obligatoria solicitada por la plataforma.</b></p>
</div>