<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>30 días hábiles.</b></h6>

	<p>Esta etapa sólo se activa si la investigación se realizó por la empresa.</p>
	<p>Su proposito es controlar el plazo de 30 días hábiles definido para recibir el pronunciamiento de la Dirección del Trabajo.</p>
	<ol>
		<li>Si el pronunciamiento se recibe se registra la fecha.</li>
		<li>Si no se recibe en el plazo se registra que el plazo venció.</li>
	</ol>
</div>