<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>30 días hábiles.</b></h6>

	<p>La etapa de <i>Invesatigación</i> comienza en la mayoría de los casos el día que se recibe la denuncia. Solo cuando la denuncia es derivada a la Dirección del Trabajo, el plazo se contabiliza a partir de la fecha que tiene el certificado de recepción emitido por la Dirección del Trabajo.</p>

	<p>Las tareas que se deben realizar durante esta etapa son las siguientes:</p>
	<ol>
		<li><b>Asignar el investigador a la denucia</b>: Si bien esta terea pertenece a esta tarea, la opción para asignar el investigador está activada desde antes para las empresas que lo asignan en la etapa de recepción.</li>
		<li>Gestionar la objeción del investigador, si es presentada.</li>
		<li><b>Evaluar la denuncia</b>: El investigador debe evaluar dos aspectos de la denuncia:
			<ol>
				<li>Que la denuncia esté completa.</li>
				<li>Que la denuncia no presenten inconsistencias.</li>
			</ol>
			si alguno de los aspectos evaluados no es satisfactorio, el investigador devolverá la denuncia a la persona denunciante con las obsrvaciones. El investigador definirá un plazo para que la denuncia corregida sea entregada.
		</li>
		<li>Agendar y realizar las reuniones para tomar declaración a todos los participantes. Para la planificación considerar que las personas denunciantes y denunciadas pueden aportar testigo al momento de declarar.</li>
		<li>Terminar la investigación.</li>
	</ol>

	<p><b>Gestión de la objeción al investigador.</b></p>

	<p>Desde la notificación del investigador asignado, la cual debe hacerse por escrito, hasta la declaración de las personas denunciantes y denunciadas, es posible que alguno de los participantes presente una objeción al investigador asignado.</p>

	<p>Los requisitos necesarios para presentar una objeción al investigador son los siguientes:</p>
	<ol>
		<li>Sólo se puede presentar una objeción por <b>imparcialidad del investigador</b></li>
		<li>La objeción debe ser acompañada de <b>antecedentes objetivos</b>, no baste el juicio emitido por el participante</li>
	</ol>

	<p>Los siguientes pasos son los siguientes:</p>
	<ol>
		<li>Las objeciones que cumplan con los requisitos serán evaluadas por la empresa, la que determinará si se acoge o no.</li>
		<li>La resolución emitida por la empresa debe ser notificada por escrito a los participantes.</li>
		<li>Si la notificación es acogida, la empresa deberá asignar un segundo investigador.</li>
	</ol>
</div>