<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Plazo de la etapa: <b>15 días corridos.</b></h6>

	<p>Si la investigación la realizó la empresa, el plazo se calcula desde la fecha de recepción del pronunciamiento de la Dirección del Trabajo o desde la fecha de vencimiento del plazo del pronunciamiento.</p>
	<p>Si la investigación se realizó en la Dirección del Trabajo, el plazo se cuenta a partir de la fecha de recepción del informe de investigación emitido por la Dirección del Trabajo.</p>

	<p>En esta etapa se realizan las siguientes tareas:</p>
	<ol>
		<li>Se sube la evidencia de la aplicación de todas las medidas correctivas y sanciones de la investigación.</li>
		<li>Se registra la fecha de <b>cierre del procedimiento de investigación y sanción</b>.</li>
	</ol>
</div>