<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Asignación del investigador</h6>
	<p>Los pasos para asignar al investigador son los siquientes:</p>
	<ol>
		<li>Bajo las listas de personas denunciantes y denunciadas encontrará el encabezado de la lista de investigadores. En el extremo derecho, señalado por un mensaje, encontrará un boton con un signo más que le permitirá acceder al formulario para asignar al investigador.</li>
		<li>En el formulario encontrará sólo un campo donde se selecciona de una lista de investigadores registrados, al que se asignará a la investigación.</li>
		<li>La asignación del investigador debe ser notificada por escrito a los participantes.</li>
		<li>En el extremo derecho de la línea que muestra al investigador reción asignado encontrará, además de los botones para modificar o eliminar esta asignación, un botón que permite marcar al investigador como <b>objetado</b>, lo cual se debe hacer si es este el caso. Una vez estén avanzadas las declaraciones este botón desaparecerá.</li>
	</ol>
	
	<p><b>Gestión de la objeción al investigador.</b></p>

	<p>Desde la notificación del investigador asignado, la cual debe hacerse por escrito, hasta la declaración de las personas denunciantes y denunciadas, es posible que alguno de los participantes presente una objeción al investigador asignado.</p>

	<p>Los requisitos necesarios para presentar una objeción al investigador son los siguientes:</p>
	<ol>
		<li>Sólo se puede presentar una objeción por <b>imparcialidad del investigador</b></li>
		<li>La objeción debe ser acompañada de <b>antecedentes objetivos</b>, no baste el juicio emitido por el participante</li>
	</ol>

	<p>Los siguientes pasos son los siguientes:</p>
	<ol>
		<li>Las objeciones que cumplan con los requisitos serán evaluadas por la empresa, la que determinará si se acoge o no.</li>
		<li>La resolución emitida por la empresa debe ser notificada por escrito a los participantes.</li>
		<li>Si la notificación es acogida, la empresa deberá asignar un segundo investigador.</li>
	</ol>
</div>