<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Gestión de investigadores asignados.</h5>
	<p>A la derecha del nombre del investigador asignado encontrará tres botones, señalados con sus correspondientes íconos:
		<ol>
			<li><i class="bi bi-square"></i> para marcar el investigador como <b>objetado</b>. Una vez presionado el ícono cambiará a <i class="bi bi-ban"></i>.Para deshacer la objeción del investigador sólo se debe presionar nuevamente el ícono.</li>
			<li><i class="bi bi-pencil"></i> para editar (modificar) el investigador asignado.</li>
			<li><i class="bi bi-trash"></i> para eliminar el investigador asignado.</li>
		</ol>
	</p>

	<h5>Objeción de imparcialidad al investigador asignado.</h5>
	<p>Sólo se puede objetar el primer investigador asignado a la denuncia.</p>

	<p>Una vez notificadas las personas denunciantes y denunciadas respecto al investigador asignado a la denuncia, es posible que alguno de los participantes presente una objeción al investigador asignado.</p>

	<p>Si bien el reglamento establece que esta objeción puede ser presentada al momento de declarar, es recomendable que la empresa posibilite la presentación de la objeción antes de la declaración para que el participante no tenga que presentar la objeción al investigador al cual objeta.</p>

	<p>Los requisitos necesarios para presentar una objeción al investigador son los siguientes:</p>
	<ol>
		<li>Únicamente se puede presentar una objeción por <b>imparcialidad del investigador</b>.</li>
		<li>La objeción debe ser acompañada de <b>antecedentes objetivos</b>, no basta el juicio emitido por el participante.</li>
	</ol>

	<p>La objeción será procesada de la siguiente forma:</p>
	<ol>
		<li>Aquellas objeciones que cumplan con los requisitos serán evaluadas por la empresa, la que determinará si se acoge o no.</li>
		<li>La resolución a la objeción emitida por la empresa deberá ser notificada por escrito a los participantes.</li>
		<li>Si la notificación es acogida, la empresa deberá asignar un segundo investigador. Si es rechazada, el investigador asignado continuará con la investigación.</li>
		<li>Para agregar el segundo investigador, debe agregar un segundo investigador utilizando el procedimiento antes descrito. No se debe borrar el primero. El reglamento establece que se debe dejar constancia por escrito en la investigación del cambio.</li>
	</ol>
</div>