<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Gestión de investigadores</h6>
	<ul>
		<li>La asignación de un investigador se realiza sólo en el caso de que se optó por realizar una investigación en la misma empresa (local).</li>
		<li>Si la empresa ha acogido la objeción presentada respecto al investigador asignado, es posible asignar un segundo investigador a la denuncia.</li>
	</ul>
	<h6>Objeción del investigador</h6>
	<ul>
		<li>Cualquiera de los participantes puede presentar una objeción (de imparcialidad) al investigador asignado a la investigación. Esta objeción se podrá presentar desde el momento de la notificación de su asignación hasta el momento de prestar declaración.</li>
		<li>El participante que presente la objeción de imparcialidad tiene la obligación de presentar antecedentes que fundamenten su objeción.</li>
		<li>La empresa evaluará la objeción en función de los antecedentes presentados.</li>
		<li>Si la empresa acoge la objeción, deberá asignar un nuevo investigador a la denuncia.</li>
	</ul>
</div>