<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Aplica para personas denunciantes, denunciadas y testigos asociados a los primeros</h6>
	<p>En las listas en la que se datallen participantes su información se desplegará (de izquierda a derecha) de la siguiente forma: </p>
	<ol>
		<li><b>Íconos que representan su estado.</b></li>
		<li><b>Cédula de identidad del participante.</b></li>
		<li><b>Nombre del participante.</b></li>
		<li><b>Íconos de modificación y/o eliminación de la información del particiapnte.</b> Desplegados a la izquierda del registro.</li>
	</ol>
	<h6><b>Íconos que representan el estado de la información del participante.</b></h6>
	<p> Son dos íconos que se se presentan siempre a la izquierda de la cédula de identidad del participante.</p>
	<p><b>Estado de la información del participante.</b></p>
	<ul>
		<li><b><i class="bi bi-bug"></i></b> : La información básica del participante está incompleta.</li>
		<li><b><i class="bi bi-check"></i></b> : La información básica del participante está completa, pero no ha sido revisada y validada.</li>
		<li><b><i class="bi bi-check-all"></i></b> : Información del participante está verificada.</li>
	</ul>
	<p><b>Marcar la(s) declaración(es) del denunciante como <i>Realizada(s)</i>.</b> Este ícono aparece a la izquierda del ícono anterior y muestra, en el caso de los testigos, que su declaración se ha marcado como <i>Realizada</i>. En el caso de participantes denunciantes o denunciados, muestra que sus respectivas declaraciones y las de sus testigos ya han sido realizadas.</p>
	<ul>
		<li><b><i class="bi bi-square"></i></b> : La información básica del participante ha sido verificada y espera que se marquen como realizadas sus declaraciones.</li>
		<li><b><i class="bi bi-check-square"></i></b> : La declaración del participante y de sus testigos, si los tiene, han sido realizadas.</li>
	</ul>

	<h6>Funcionalidad de los íconos.</h6>
	<ul>
		<li><b><i class="bi bi-check"></i> <small><i class="bi bi-arrow-left-right"></i></small> <i class="bi bi-check-all"></i></b> : Al presionar estos íconos se cambia el estado de revisión, de sin revisión a revisado y viseversa.</li>
		<li><b><i class="bi bi-square"></i> <small><i class="bi bi-arrow-left-right"></i></small> <i class="bi bi-check-square"></i></b> : Al presionar estos íconos se cambia el estado de declaración(es) realizada(s), de no realizada(s) a realizada(s) y viseversa.</li>
	</ul>
</div>