<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Aplica para personas denunciantes, denunciadas y testigos asociados a los primeros</h6>
	<p>En las listas en la que se datallen participantes su información se desplegará (de izquierda a derecha) de la siguiente forma: </p>
	<ol>
		<li><b>Íconos que representan su estado.</b></li>
		<li><b>Cédula de identidad del participante.</b></li>
		<li><b>Nombre del participante.</b></li>
		<li><b>Íconos de modificación y/o eliminación de la información del particiapnte.</b> Desplegados a la izquierda del registro.</li>
	</ol>
	<h6><b>Íconos que representan el estado de la información del participante.</b></h6>
	<p> Son dos íconos que se se presentan siempre a la izquierda de la cédula de identidad del participante.</p>
	<p><b>Estado de la información del participante.</b></p>
	<ul>
		<li><b><i class="bi bi-bug"></i></b> : La información básica del participante está incompleta.</li>
		<li><b><i class="bi bi-check"></i></b> : La información básica del participante está completa, pero no ha sido revisada y validada.</li>
		<li><b><i class="bi bi-check-all"></i></b> : Información del participante está verificada.</li>
	</ul>
</div>