<div class="text-start" style="font-size: 14px; line-height: 1.5;">

	<h6><b>Información que se debe entregar obligatoriamente a la (las) persona(s) denunciante(s).</b></h6>
	<h5>Derecho de la persona denunciante a decidir la derivación de la denuncia.</h5>
	<p><b>Denuncias que debe investigar la empresa.</b></p>
	<p>Le informo que usted tiene el derecho de pedir que su denuncia sea derivada para su investigación a la Dirección del Trabajo una vez hayamos terminado su recepción.</p>

	<p><b>Denuncias que debe investigar una empresa externa.</b></p>
	<p>Le informo que usted debe elegir donde se derivará su denuncia: a su empleador o a la Dirección del Trabajo.</p>

	<h5>Derecho de la empresa a derivar a la Dirección del Trabajo..</h5>
	<p>Le informo que, la empresa tiene el derecho a derivar su denuncia a la Dirección del Trabajo dentro del plazo de tres días a contar de la fecha de su recepción.</p>

</div>