<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h5>Información que se debe entregar obligatoriamente a la (las) persona(s) denunciante(s).</h5>
	<p><b>Derecho a decidir la derivación de la denuncia, para empleados de la empresa.</b></p>
	<p>Le informo que usted tiene el derecho de pedir que su denuncia sea derivada para su investigación a la Dirección del Trabajo una vez hayamos terminado su recepción.</p>
	<p>Le informo además de que, si decide que la investigación sea realizada por la empresa, la empresa tiene el derecho a derivar la investigación a la Dirección del TRabajo, si así lo estima necesario.</p>

	<p><b>Derecho a decidir la derivación de la denuncia, para empleados de una empresa externa.</b></p>
	<p>Le informo que usted tiene el derecho de elegir que su denuncia se derive para su investigación a su empleador o a la Dirección del Trabajo, una vez sea recibida por nosotros.</p>
</div>