<div class="px-3 text-start" style="font-size: 14px; line-height: 1.5;">
	<p>Si se trata de una <b>denuncia presentada en forma presencial</b>, se debe informar a la persona denunciante acerca de sus derechos en relación a las derivaciones.</p>

	<h5>Empresas principales o usuarias</h5>
	<p>Las empresas principales o usuarias tienen la obligación de recibir denuncias presentadas por personas denunciantes de distinto empleador. Esta situación se puede presentar en dos escenarios:</p>
	<ul>
		<li><b>Los participantes de la denuncia pertenecen todos a la misma empresa externa:</b> En este caso la responsabilidad de investigar es de la empresa externa. Una vez recibida la denuncia la persona denunciante debe decidir si la denuncia será derivada a su empleador o a la Dirección del Trabajo.</li>
		<li><b>Los participantes de la denuncia pertenecen a diferentes empresas:</b> En este caso la responsabilidad de investigar es de la empresa principal o usuaria. La persona denunciante tiene el derecho de decidir si la investigación será realizada por la empresa principal o será derivada a la Direccion del Trabajo.</li>
	</ul>

	<h5>Casos de derivación posibles</h5>
	<p><b>Derivaciones a la Dirección del Trabajo.</b></p>
	<ul>
		<li>Es obligatorio derivar la denuncia a la Dirección del Trabajo si para alguno de los participantes aplica el artículo 4 inciso primero del código del Trabajo. Esto ocurre si dicho participante tiene un cargo gerencial.</li>
		<li>El denunciante puede manifestar, al momento de presentar su denuncia, su voluntad de que una vez recibida la denuncia por la empresa, se derive a la Dirección del Trabajo.</li>
		<li>A pesar de que la persona denunciante haya manifestado su decisión de que la denuncia sea investigada en la empresa, ésta última, tiene el derecho a derivar la denuncia a la Dirección del Trabajo si así lo estima necesario dentro del plazo de tres días hábiles a partir de su recepción.</li>
	</ul>
	<p><b>Derivaciones hacia una empresa externa.</b></p>
	<ul>
		<li>Tratándose de una persona denunciante cuyo empleador es una empresa externa y siendo todos los participantes de la denuncia empleados de dicha empresa. La denuncia se debe derivar al empleador de la persona denunciante sólo si ésta manifiesta su deseo que así se haga.</li>
	</ul>
	<p><b>Recepción de una derivación desde una empresa externa.</b></p>
	<ul>
		<li>Para empresas principales u usuarias, esta opción debe estar disponible para recibir denuncias presentadas en una empresa externa cuando la responsabilidad de investigar sea de la empresa principal o usuaria. </li>
	</ul>
</div>