<div class="text-start" style="font-size: 14px; line-height: 1.5;">
	<h6>Casos de derivación posibles</h6>
	<p><b>Derivaciones a la Dirección del Trabajo.</b></p>
	<p>NOTA: Si la empresa cumple el rol de empresa principal o usuaria, tiene el deber de investigar las denuncias en las que los participantes relacionados con los hechos pertenezcan a distintas empresas.</p>
	<ul>
		<li>El reglamento establece que es obligatorio derivar la denuncia a la Dirección del Trabajo si para alguno de los participantes aplica el artículo 4 inciso primero del código del Trabajo. Esto ocurre si dicho participante tiene un cargo gerencial.</li>
		<li>El denunciante puede manifestar, al momento de presentar su denuncia, su voluntad de que una vez recibida la denuncia por la empresa, ésta la derive a la Dirección del Trabajo.</li>
		<li>A pesar de que la persona denunciante haya manifestado su decisión de que la denuncia sea investigada en la empresa, ésta última, tiene el derecho a derivar la denuncia a la Dirección del Trabajo si así lo estima necesario.</li>
		<li>Si la empresa cumple el rol de empresa principal o usuaria, tiene el deber de recibir denuncias de los empleados de las empresas relacionadas con ella a través de este rol. Si se trata de una denuncia que debe ser investigada por el empleador de la persona denunciante, la empresa debe derivar la denuncia a la Dirección del Trabajo, si la persona denunciante manifiesta su deseo de que así sea.</li>
	</ul>
	<p><b>Derivaciones a una empresa externa.</b></p>
	<ul>
		<li>Si la empresa cumple el rol de empresa principal o usuaria, tiene el deber de recibir denuncias de los empleados de las empresas relacionadas con ella a través de este rol. Si se trata de una denuncia que debe ser investigada por el empleador de la persona denunciante, la empresa debe derivar la denuncia al empleador de la persona denunciante, si la persona denunciante manifiesta su deseo de que así sea.</li>
	</ul>
	<p><b>Recepción de derivación desde una empresa externa.</b></p>
	<ul>
		<li>Si la empresa cumple el rol de empresa principal o usuaria, tiene el deber de investigar las denuncias en las que los participantes relacionados con los hecho pertenezcan a distintas empresas. En este caso es probable que, en primera instancia, la denuncia sea presentada por la persona denunciante a su empleador, una empresa externa. En este caso, la empresa externa derivará la denuncia a la empresa.</li>
	</ul>
</div>