<div class="px-3 text-start" style="font-size: 14px; line-height: 1.5;">
	<p>Lo primera que hará en esta tarea será entregar la información que, segun el reglamento, es obligación entregar a la persona denunciante.</p>

	<p>Una vez entregada toda la información obligatoria, la plataforma le ayudará a evaluar todas las posibles derivaciones de la denuncia.</p>

	<p><b>Atención Sicológica Temprana</b></p>

	<p>Habiendo terminado de entrevistar a la persona denunciante, se debe coordinar la atención sicológica temprana con la institución administradora del seguro correspondiente. Esta es la última acción que se realiza en presencia de la persona denunciante.</p>

	<p><b>Medidas de Resguardo</b></p>

	<p>Se deben  definir, comunicar y aplicar las medidas de resguardo para los participantes.</p>

	<p><b>Verificación de la información de los participantes</b></p>

	<p>Recuerde que antes de realizar efectivamente la derivación o informar el inicio de la investigación a la Dirección del Trabajo, debe verificar y completar (si es necesario), toda la información de los participantes de la denuncia.</p>

	<p>Esta verificación podría cambiar el destina de la denuncia o siginificar el rechazo de la derivación por no cumplir con elmínimo de información exigida por la Dirección del Trabajo.</p>

	<p><b>Derivar la denuncia o informar el inicio de la investigación a la Dirección del Trabajo según corresponda.</b></p>

	<p><b>Registrar las fechas en la plataforma según corresponda.</b></p>

</div>