<h4 class="text-center">Pronunciamiento de la Dirección del Trabajo</h4>

<% unless @objt['on_dt?'] %>
	<p>La Dirección del Trabajo tiene un plazo de 30 días hábiles para pronunciarse respecto al infome de investigación enviado.
		<ul>
			<li>Registre la fecha de recepción del pronunciamiento de la Dirección del Trabajo.</li>
			<li>Si se cumple el plazo de 30 días sin recibir el pronunciamiento, se da por aprobado el informe de investigación con sus medidas correctivas y sanciones.</li>
		</ul>
	</p>
<% end %>